<!--venda_category temp=stry_subindex,ref=musiccenter,rec=scat,cacheall=1-->
<style>
.musiccenter{
	width:384px;
	margin:0px 0 0 29px;
	padding:0;
}
div.box-music-center {
	font-family: Courier New ,Times;
	width:829px;
}
.desc-spacing{margin-top:10px;margin-bottom:10px;}
.list-spacing{margin-top:30px;}
.desc-bottom-line{padding-bottom:15px;border-bottom:1px solid #3fbe93}

.musiccenter-image{width:130px;background-color:red;}
.musiccenter-button{padding: 6px 0 0 0;text-align:center;}
.desc{
	width:241px;
	margin:0;
	padding:0 0 0 3px;
}
.desc h2{
	color:#1d79a8;
	font-size:.9em;
	font-weight:bold;
	margin:0 0 8px 0;
	padding:0 0 8px 0;
	border-bottom:2px solid #1d79a8;
}
.desc p{
	font-family:courier new;
	font-size:.9em;
	color:#939393;
	margin:0;
	padding:0;
}
</style>

<venda_detblock>
	<div class="left"><div class="musiccenter">
		<div class="left">
			<div class="musiccenter-image"><a href="#" title="click for more information"><venda_media rec=stry1,type=movie-swf-pict,key=thumb,border=0,alt=<venda_stryname1>></a></div>
			<div class="musiccenter-button"><a href="#" title="click for more information"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_moreinformation.gif" border=0 alt="more information"></a></div>
		</div>
		<div class="right"><div class="desc"><h2><venda_stryname1></h2>
		<p><venda_strydesc11></p>
		</div></div>
	</div></div>
</venda_detblock>


<div class="box-music-center">
<h1 class="musiccenter"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/hdr_musiccenter.gif" alt="MUSIC CENTER"></h1>
<div class="left"><div class="musiccenter"><div><venda_media rec=scat,type=movie-swf-pict,key=desc,border=0,alt=<venda_scatname>></div><div><venda_scatsdesc></div></div></div>
<venda_detail>
</div>
