<!--venda_category temp=stry_subindex,ref=musiccenter,rec=scat,cacheall=1-->
<venda_detblock>
	<div class="left"><div class="musiccenter list-spacing">
		<div class="left">
		<div class="musiccenter-image">
			<venda_block label=116,strykey21=null><a href="<venda_dispview stry=<venda_stryref1>>"></venda_block label=116>
			<venda_block label=117,strykey21=notnull><a href="<venda_strykey21>" title="purchase CD" target="_blank"></venda_block label=117>
			<venda_block label=4,med-thumb1=notnull>
			<img src="<venda_media rec=stry1,type=movie-swf-pict,key=thumb,img=no>" title="<venda_stryname1>" width="130px" border="0">
			</venda_block label=4>
			<venda_block label=5,med-thumb1=null>
				Sorry - No Image Available
			</venda_block label=5>
			</a></div>
			
			<div class="musiccenter-button">
			<venda_block label=114,strykey21=notnull><a href="<venda_strykey21>" title="purchase CD" target="_blank"></venda_block label=114>
			<venda_block label=115,strykey21=null><a href="<venda_dispview stry=<venda_stryref1>>" title="purchase CD"></venda_block label=115><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_purchasecd.jpg" border=0 alt="purchase CD"></a>
			</div>
		</div>
		<div class="right"><div class="desc"><h2><venda_stryname1></h2>
		<p><venda_strydesc11></p>
		</div></div>
	</div></div>
	
 <script> 
   if (((<venda_itemcount1>+1)%2)==0) { 
           document.write ("<br class='clear-all'>"); 
           } 
 </script> 

</venda_detblock>

<div class="heading-all marginleft29">
<h1><venda_scatname></h1>
<div class="underline"><p></p></div>
</div>
<div class="box-music-center ">
<div class="left"><div class="musiccenter desc-bottom-line"><div class="desc-spacing"><venda_media rec=scat,type=movie-swf-pict,key=desc,border=0,alt=<venda_scatname>></div><div><venda_scatsdesc></div></div></div>
<venda_detail>
</div>
