<venda_detblock>
<venda_block label=78,invtref1!=giftcert>
<li><a href="<venda_dispview invt=<venda_invtref1>>"><venda_block label=4,med-thumb1=notnull><venda_media rec=invt1,type=movie-swf-pict,key=thumb,border=0,width=67,height=103,alt=<venda_invtname1>></venda_block label=4><venda_block label=5,med-thumb1=null><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/noimage_thu.jpg" alt="<venda_invtname1>" border="0"></venda_block label=5></a></li>
</venda_block label=78>
</venda_detblock>

<!--venda_block label=440,reltot!=0-->
<venda_block label=440,rectot=notnull>
	<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/hdr_moreideas.gif" alt="MORE IDEAS" border="0">
	<ul id="moreideas"><venda_detail></ul>
</venda_block label=440>