<div class="mini">

    <a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" id="showminicart" title="VIEW BASKET">View Basket</a>

     <venda_block label=321,qty&gt;0>
        <a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" id="showminicart2" title="VIEW BASKET">
         <img alt="VIEW BASKET" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_basketnew.gif" border="0"></a>
     </venda_block label=321>
             
     <venda_block label=322,qty=0,qty=null,operator=or>
         <a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" id="showminicart2" title="VIEW BASKET">
           <img alt="VIEW BASKET" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_basketnew.gif" border="0"></a>
     </venda_block label=322>
          
      <a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" class="item">
      
      <venda_block label=466,cartitemtotal=0><span class="bracket">(</span>0<span class="bracket">)</span> items 
      <span class="total"><venda_total></span>
      </venda_block label=466>
      
      <venda_block label=465,cartitemtotal!=0>
       <span class="bracket">(</span><venda_cartitemtotal><span class="bracket">)</span> Item<venda_block label=20,cartitemtotal!=1>s</venda_block label=20>
        <span class="total"><venda_total></span>
      </venda_block label=465>         
       </a>
       
</div><!-- mini -->
