	<venda_detblock>
	<tr>
		<td><a href="<venda_codehttps>?ex=co_wizr-reminder&bsref=<venda_bsref>&step=editusext&usxtgroup=<venda_usxtgroup>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_editreminder.gif" alt="Edit Reminder" border="0"></a></td>
		<td><venda_recfname> <venda_reclname>'s <venda_remtype></td>
		<td><venda_remday> <venda_remmonth> <venda_remyear></td>
		<td><a href="<venda_codehttps>?ex=co_wizr-reminder&bsref=<venda_bsref>&step=delusext&usxtgroup=<venda_usxtgroup>&order1=remmonth&order2=remday&subgroup=4"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_deletereminder.gif" alt="Delete Reminder" border="0"></a></td>
	</tr>
	</venda_detblock>

<!-- start of listing reminders -->
<h1>Reminders</h1>
<p><strong>Never forget an important date again, let us send you an email reminder.</strong></p>
<venda_block label=135,results!=0,results=notnull><p>Your reminders - the important occasions you've asked us to remind you about - are listed below.</p></venda_block label=135>
<p>You'll receive a reminder email 14 days before an occasion.</p>
<p>Use the 'Add Reminder' button to create your list.</p>
<a href="<venda_codehttps>?ex=co_wizr-reminder&step=addusext&bsref=<venda_bsref>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addreminder.gif" width="118" height="21" alt="Add Reminder" border="0"></a>

<venda_block label=134,results!=0,results=notnull>
	<table summary="Details of each of your reminders" cellspacing="0" cellpadding="0" border="0">
		<thead>
			<tr>
				<th scope="col">Edit</th>
				<th scope="col">Occassion</th>
				<th scope="col">Date</th>
				<th scope="col">Delete</th>
			</tr>
		</thead>
		<tbody>
		<venda_detail>
		</tbody>
	</table>
</venda_block label=134>
<!-- end of listing reminders -->


<!--
workflow:<venda_workflow><br>
param1:<venda_param1><br>
param2:<venda_param2><br>
page:wz_usxt-list.html<br> -->