<div id="reminderslist">
<h1><venda_text id=site.view_reminders.heading></h1>
<h3><venda_text id=site.view_reminders.introduction></h3>

<venda_tpcomment><!-- Start: Instructions --></venda_tpcomment>
<venda_block label=135,results!=0,results=notnull><p><venda_text id=site.view_reminders.reminders_listed_below></p></venda_block label=135>
<p><venda_text id=site.view_reminders.reminder_email></p>
<p><venda_text id=site.view_reminders.add_reminder_instructions></p>
<p class="addreminder"><a href="<venda_codehttps>?ex=co_wizr-reminder&step=addusext&bsref=<venda_bsref>"><venda_text id=site.button.add_reminder></a>
<a href="<venda_dispview page=myaccount>"><venda_text id=site.button.back_to_my_account></a></p>
<venda_tpcomment><!-- End: Instructions --></venda_tpcomment>

<venda_tpcomment><!-- Start: View Reminders Table --></venda_tpcomment>
	<venda_detblock>
	<tr>
		<td class="edit"><a href="<venda_codehttps>?ex=co_wizr-reminder&bsref=<venda_bsref>&step=editusext&usxtgroup=<venda_usxtgroup>"><venda_text id=site.button.edit_reminder></a></td>
		<td class="occasion"><venda_recfname> <venda_reclname><venda_text id=site.view_reminders.occasion_name.recname_suffix> 
<venda_block label=890,mode=value,<venda_remtype>!=<venda_text id=site.add_reminder.remtypeother>><venda_remtype></venda_block label=890>
<venda_block label=891,mode=value,<venda_remtype>=<venda_text id=site.add_reminder.remtypeother>><venda_remtypeother></venda_block label=891></td>
		<td class="date"><venda_block label=88,mode=value,<venda_setting type=ebiz,name=mmdddates>!=1><venda_remday> <venda_remmonth> <venda_remyear></venda_block label=88><venda_block label=89,mode=value,<venda_setting type=ebiz,name=mmdddates>=1><venda_remmonth> <venda_remday> <venda_remyear></venda_block label=89></td>
		<td class="delete"><a href="<venda_codehttps>?ex=co_wizr-reminder&bsref=<venda_bsref>&step=delusext&usxtgroup=<venda_usxtgroup>&order1=remmonth&order2=remday&subgroup=4"><venda_text id=site.button.delete_reminder></a></td>
	</tr>
	</venda_detblock>

<venda_block label=134,results!=0,results=notnull>
<div class="reminderBox">
	<table summary="<venda_text id=site.view_reminders.table_summary>" title="<venda_text id=site.view_reminders.table_title>" class="wizrtable">
		<thead>
			<tr>
				<th scope="col" class="hdrEdit"><venda_text id=site.view_reminders.column_heading.edit></th>
				<th scope="col" class="hdrOccasion"><venda_text id=site.view_reminders.column_heading.occasion></th>
				<th scope="col" class="hdrDate"><venda_text id=site.view_reminders.column_heading.date></th>
				<th scope="col" class="hdrDelete"><venda_text id=site.view_reminders.column_heading.delete></th>
			</tr>
		</thead>
		<tbody>
		<venda_detail>
		</tbody>
	</table>
</div>
</venda_block label=134>
<venda_tpcomment><!-- End: View Reminders Table --></venda_tpcomment>

</div>

<!--
workflow:<venda_workflow>
param1:<venda_param1>
param2:<venda_param2>
page:wz_usxt-list.html
-->
<venda_tpxt mode=set,name=track,value=usxt-list> 
<venda_inctemplate name=hitboxOthers,type=includes/tracking>
<venda_inctemplate name=cmCreateRegistrationTag,type=includes/tracking/coremetrics>
<venda_inctemplate name=cm-wz_usxt-list,type=includes/tracking/coremetrics>