<!-- Loop for Order Results -->
<venda_detblock1>
 <tr>
		<td valign="top"><venda_glstrfnbr></td>
		<td valign="top">
		<venda_glstcreatortitle> <venda_glstcreatorfname> <venda_glstcreatorlname>
		</td>
		<td valign="top">
        <venda_block label=301,glstpartnerfname=null,glstpartnerlname=null>N/A</venda_block label=301>
		<venda_glstpartnertitle> <venda_glstpartnerfname> <venda_glstpartnerlname>
		</td>
        <td valign="top"><venda_glsteventtype><venda_glsteventtypeother></td>
		<td valign="top"><venda_dateformat type=long,format=dd mm yyyy,suffix=1,date=<venda_glsteventdate>></td>
		<td valign="top">
        <venda_block label=302,glststore=null>N/A</venda_block label=302>
        <venda_glststore>
        </td>
		<td><a href="<venda_codehttps>?ex=co_wizr-giftlist&bsref=<venda_bsref>&step=glstlogin&glstrfnbr=<venda_glstrfnbr>&layout=default&log=22"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_go.gif" alt="go" border="0" id="go"></a></td>
</tr>
</venda_detblock1>

<venda_form>
<!-- Begin Search Results -->
<h1>Gift List - Results</h1>
	<venda_block label=303,glstresultstot=0>
	<p>Sorry, no Gift Lists were found.</p> 
    
    <p>Please return to the <a href="<venda_dispview page=home>">Home page</a> or use our <a href="<venda_dispview page=giftlistsearch>">search again</a>.</p>

    
	</venda_block label=303>	
    
	<venda_block label=304,glstresultstot&gt;0>
	<p>Please select a wedding from the list below, using the <strong>Go</strong> button.</p>

    <h2>List of Matches</h2>
    <table cellpadding="0" cellspacing="0" border="0">
		<thead>
		<th scope="col">Event ID</th>
		<th scope="col">Creator's Name</th>
		<th scope="col">Partner's Name</th>
        <th scope="col">Event Type</th>
		<th scope="col">Event Date</th>
		<th scope="col">Store</th>
        <th scope="col">Select</th>
		</thead>
		<tbody>
		<!-- Begin Results Loop -->
		<venda_detail1>
		<!-- End Results Loop -->
		</tbody>
	</table>	  
	</venda_block label=304>	

</form>

<!--
page:wz_glst-search.html
workflow:<venda_workflow>
step:<venda_curstep>
-->