<!-- start footer -->
<div id="footercontainer">
  
    <div id="footerlists">
    <ul id="footersignup">
    <venda_page page=footerpromo>
    </ul>
    
    <ul>
    <li class="first">Stores</li>
    <li><a href="<venda_dispview page=storelocator>">Store Locator</a></li>
    <li><a href="<venda_dispview page=photos>">Photos</a></li>
    <li class="last"><a href="<venda_dispview page=joblist>">Careers</a></li>
    </ul>
    
    <ul>
    <li class="first">Info</li>
    <li><a href="<venda_dispview page=deliveryinformation>">Delivery Info</a></li>
    <li><a href="<venda_dispview page=returns>">Returns Policy</a></li>
    <li><a href="<venda_dispview page=helpandinfo>">Help / FAQs</a></li>
    <li class="last"><a href="<venda_ebizurl>/page/deliveryinformation#delivery6">Track Your Order</a></li>
    </ul>
    
    <ul>
    <li class="first">Projects</li>
    <li><a href="<venda_dispview page=citypages>">City Pages</a></li>
    <li><a href="<venda_dispview page=wallpapers>">Desktop Wallpapers</a></li>
    <li><a href="<venda_dispview page=lstn>">LSTN Music Player</a></li>
    <li class="last"><a href="<venda_dispview page=projects>">More</a></li>
    </ul>
    
    <ul id="footerlistlast">
    <li class="first">Follow Us</li>
    <!-- mp_trans_remove_start -->
    <li><a href="http://twitter.com/uoeurope" target="_blank">Twitter</a></li>
     <!-- mp_trans_remove_end -->
     <!-- mp_trans_disable_start -->
     <!-- mp_trans_add="DE"
      <li><a href="http://twitter.com/UODeutschland" target="_blank">Twitter</a></li> -->
     <!-- mp_trans_add="FR"
      <li><a href="http://twitter.com/uoeurope" target="_blank">Twitter</a></li> -->
     <!-- mp_trans_disable_end -->
    
    <li><a href="http://www.facebook.com/urbanoutfitterseurope" target="_blank">Facebook</a></li>
    <li><a href="http://www.flickr.com/photos/urbanoutfitterseurope/" target="_blank">Flickr</a></li>
    <li><a href="http://www.youtube.com/urbanoutfitterscouk" target="_blank">Youtube</a></li>
    <li class="last"><a href="http://blog.urbanoutfitters.com/" target="_blank">Blog</a></li>
    </ul>
    </div>
    
   <br class="clear-all">
     
</div>
    	


<!-- end footer -->
<a href="<venda_serveradd>/vsmap.html"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/spacer.gif" width="1" height="1" alt="" border="0"></a>
<div class="clear-all"></div>