<venda_detblock1>
<venda_block label=501,workflow!=ordlookup>
<venda_detail3>
</venda_block label=501>

<venda_block label=47,pkshipreq=1>
<!-- start delivery address -->
<div class="font12 mediumgray"><strong>DELIVERY DETAILS:</strong></div>
<div id="contact">
<venda_pktitle> <venda_pkfname> <venda_pklname><br>
<venda_block label=71,pkcompany=notnull><venda_pkcompany><br></venda_block label=71>
<venda_pknum> <venda_pkaddr1>
<venda_block label=72,pkaddr2=notnull> <venda_pkaddr2></venda_block label=72><br>
 <venda_pkcity><br> 
<venda_block label=73,pkstate=notnull><venda_pkstate> </venda_block label=73><venda_block label=75,pkzipc=notnull><venda_pkzipc><br></venda_block label=75>
<venda_block label=56,pkcntry=notnull><venda_pkcntry></venda_block label=56>
</div>
<!-- end delivery address -->
<div class="font12 mediumgray"><strong>ITEMS IN YOUR ORDER:</strong></div>
</venda_block label=47>

<venda_block label=471,pkshipreq!=1>
<p>Note: Services and Gift Certificates do not require delivery and have no delivery costs.</p>
</venda_block label=471>

<div id="bcontent"><venda_detail2></div>

<venda_block label=36,allgiftcert!=1></venda_block label=36>
</venda_detblock1>

<venda_detblock2>
<venda_block label=310,oistatus=5,oiitype!=3>
    <script language="JavaScript">
    <!--
    function check<venda_oirfnbr>(){
	    if (document.wizform.can<venda_oirfnbr>.checked){
	    	document.wizform.can<venda_oirfnbr>.value = "<venda_oiivname> (<venda_oiivref>), ";
	    	}
	    else {
	    	document.wizform.can<venda_oirfnbr>.value = "";
	    	}
	    }
    //-->
    </script>
	<div valign="top" class="hide">
	<input type="hidden" name="can<venda_oirfnbr>" value="" onChange="javascript:check<venda_oirfnbr>()">
	</div>
</venda_block label=310>
<venda_block label=3000,oiitype=3>
	<div><venda_oiqty> <a href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>&bklist=icat,4,shop,home" title="<venda_invtname>" class="bold"><venda_invtname></a> at <venda_ohcursym><venda_oiextsub></div>
	<div>Sent To: <venda_gcto> at <venda_gcemail></div>
	<venda_block label=500,gcexpires=notnull><div>Expiry date: <venda_gcexpires></div></venda_block label=500>
	<div>Message: <venda_oicmt></div>
</venda_block label=3000>
<venda_block label=3001,oiitype!=3>
	<venda_block label=1110,invtatt1=notnull><!-- attributes -->
		<div><venda_oiqty> <a href="<venda_dispview invt=<venda_invtparef>>" class="bold"><venda_oiivname></a><venda_block label=111,invtatt1=notnull> (<venda_invtatt1><venda_block label=112,invtatt2=notnull>, <venda_invtatt2></venda_block label=112>)</venda_block label=111> at <venda_ohcursym><venda_oisub></div>
	</venda_block label=1110>
	<venda_block label=1130,invtatt1=null><!-- no attributes -->
		<div><venda_oiqty> <a href="<venda_dispview invt=<venda_oiivref>>" class="bold"><venda_oiivname></a> at <venda_ohcursym><venda_oisub></div>
	</venda_block label=1130>
		<div><span class="bblack">Item total: <venda_ohcursym><venda_oiextsub></span>
			<venda_block label=311,status=notnull> 
			<venda_block label=22,status!=On Hold,status!=Ready to deliver,status!=Delivered,status!=Delivered with RMA issued><venda_status></venda_block label=22>
			<venda_block label=222,status=Ready to deliver>Released for Despatch</venda_block label=222>
			<venda_block label=223,status=Delivered>Despatched</venda_block label=223>
			<venda_block label=23,status=On Hold>In Progress</venda_block label=23>
			<venda_block label=24,status=Delivered with RMA issued></venda_block label=24> 
			</venda_block label=311>
			<venda_block label=230,stmp=notnull,status=Delivered><venda_stmp></venda_block label=230>
		</div>
		<venda_block label=221,oigwrefqty=notnull>
			<div><venda_oigwrefqty> of <venda_oiqty> items gift wrapped</div>    
		</venda_block label=221>
		<venda_block label=222,invtpreorder=notnull>
			<div>Preorder: This item is not released until <venda_invtreleasedy>/<venda_invtreleasemn>/<venda_invtreleaseyr></div>
		</venda_block label=222>
</venda_block label=3001>
<br>
</venda_detblock2>

