<venda_detblock1>
	<div><input <venda_coinput>> <venda_coname> <venda_codesc> <venda_invtname1> <venda_invtname2></div>
</venda_detblock1>

<venda_detblock2>
	<div><input <venda_coinput>> <venda_coname> <venda_codesc> <venda_invtname1></div>
</venda_detblock2>

<venda_detblock3>
	<div><input <venda_coinput>> <venda_coname></div>
</venda_detblock3>

<venda_detblock4>
<venda_ckname> discount <venda_ckamt>
</venda_detblock4>

<script type="text/javascript">
<!--
// disable enter
var handleKeyPress = function(e) {
	var keyPressed = e.charCode || e.keyCode;
	if (keyPressed == 13) { 
		validate();
		return false;
	}
};

function validate(){
	if (document.wizform.promo.value == ''){
		alert('<venda_text id=site.redeem_promotion_code.js_validation.enter_code>');
		document.wizform.promo.focus();
		return false;
	}
	<venda_wizbutton step=confirm,mode=process,callonly=yes>
}

function clearPromoValue(){
	document.wizform.promo.value = '';
	<venda_wizbutton step=confirm,mode=display,callonly=yes>
}
// -->
</script>


<venda_inctemplate name=checkoutBegin,type=includes>
<!-- start columns 2 - 3 -->
<div id="col-two-three">

<venda_form>
<div>

<div class="font1">
	<div class="heading-all">
	<h1>PROMOTIONAL VOUCHER</h1>
	<div class="underline"><p></p></div>
	</div>
</div>

<venda_block label=32,conflict!=prompt>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>
<p><div><label for="promo">Enter your Promotion Code:</label> <input type="text" name="promo" id="promo" value="<venda_copromo>" size="25" maxlength="30" onkeypress='return event.keyCode!=13'></div></p>
<p>Vouchers and promotional offers may not be applied to purchase Gift Certificates</p>
<venda_block label=1,freecoup=notnull>
	<!-- buy a product and get a product at a discount -->
	<venda_detail1>
</venda_block label=1>
<venda_block label=2,prodcoup=notnull>
	<venda_detail2>
</venda_block label=2>
<venda_block label=3,ordcoup=notnull>
	<venda_detail3>
</venda_block label=3>
</venda_block label=32>

<venda_block label=31,conflict=prompt>
<input type="hidden" name="promo" value="<venda_promocode>">
<h2 class="error">There was a promotion clash</h2>
<p>Total Discount for <strong>new</strong> voucher:</p>	

<div><input checked type="radio" name="coupnum" value="<venda_ckconbrnew>" id="other"> <label for="other"><venda_conamenew></label></div>

<p>Discount amount of <strong>existing</strong> promotions:</p>
<div>
	<input type="radio" name="coupnum" value="auto" id="existing">
	<venda_detail4>
</div>
<p><strong>Total Discount</strong> <venda_autototal></p>
</venda_block label=31>

<!--[if IE]>
<script type="text/javascript">if (document.getElementById("promo")) {addEvent(document.getElementById("promo"), 'keydown', handleKeyPress, false);}</script>
<![endif]-->

<div id="buttons">
<a href="#" onclick="clearPromoValue(); return false;"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="<venda_text id=site.button.previous>" border="0" class="left"></a>
<input type="image" onclick="validate(); return false;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continue.gif" alt="<venda_text id=site.button.continue>" class="right">
</div>

<venda_coupjava>
</div>
</form>

<venda_block label=20,workflow=instore>
<venda_tpxt mode=set,name=instore,value=1>
</venda_block label=20>

<!-- 
param1: <venda_param1>
param2: <venda_param2>
workflow: <venda_workflow>
page: wz_orcp-screen.html
 -->
 
 </div>
 <div style="height:330px;"></div>
<!-- end columns 2 - 3 -->
<venda_inctemplate name=googleTrackingWorkflows,type=includes>
