<script type="text/javascript">
	Venda.Attributes.Initialize();
</script>
<div id="tag-invtref" style="display:none;"><venda_invtref></div>
<venda_inctemplate name=cmCreateShopAction5Tagaddtobasket,type=includes/coremetrics>
<br class="clear-all">

<div id="QuickBuyDetails">

<!-- START COL ONE -->
<div class="productdetailcolone">	

<script type='text/javascript'>
	function changemedimage(imgsrc) {
		var newsrc = imgsrc.replace('_t','_l');
		document.multi.src = newsrc;
	}
</script>
<script type='text/javascript'>
	function checkPrice() {
		var xPrice = <venda_invtsell>;						
			if ((xPrice == "0") || (xPrice == "0.00")) {
				alert("Sorry, this product is not available to purchase. Please try another.");
				return false;
			} else {
				document.form.ex.value='co_disp-shopc';
			}					
	}
</script>
<script type='text/javascript'>								 
	function changeImages() {
									
		var tester=new Image();
			tester.onload=function() {
				document.multi.src = newsrc;
									}
			tester.onerror=function() {
				document.multi.src = '/content/ebiz/urbanoutfitters/resources/images/loading_m.gif';
			}
									
									
			var cstring = document.form.att1.value;
									
			var newsrc = '/content/ebiz/urbanoutfitters/invt/' + '<venda_invtref>' + '/' + '<venda_invtref>' + '_' + cstring + '_l1.jpg';
									
			tester.src= newsrc;
									
			var thumb1src = '/content/ebiz/urbanoutfitters/invt/' + '<venda_invtref>' + '/' + '<venda_invtref>' + '_' + cstring + '_t1.jpg';
			var thumb2src = '/content/ebiz/urbanoutfitters/invt/' + '<venda_invtref>' + '/' + '<venda_invtref>' + '_' + cstring + '_t2.jpg';
			var thumb3src = '/content/ebiz/urbanoutfitters/invt/' + '<venda_invtref>' + '/' + '<venda_invtref>' + '_' + cstring + '_t3.jpg';
			var thumb4src = '/content/ebiz/urbanoutfitters/invt/' + '<venda_invtref>' + '/' + '<venda_invtref>' + '_' + cstring + '_t4.jpg';
			var thumb5src = '/content/ebiz/urbanoutfitters/invt/' + '<venda_invtref>' + '/' + '<venda_invtref>' + '_' + cstring + '_t5.jpg';
									
			//Load and show thumbnail if it exists
			var thumbNail1 = $(new Image()).load(function() {
				document.thu1.src = thumb1src;
				 $('#thumb1').show();
			})
			.error(function() {$('#thumb1').hide()})
				.attr('src',thumb1src);
								
				var thumbNail2 = $(new Image()).load(function() {
					document.thu2.src = thumb2src;
					$('#thumb2').show();
				})
			.error(function() {$('#thumb2').hide()})
			.attr('src',thumb2src);
								
			var thumbNail2 = $(new Image()).load(function() {
				document.thu3.src = thumb3src;
				$('#thumb3').show();
			})
			.error(function() {$('#thumb3').hide()})
			.attr('src',thumb3src);
								
			var thumbNail4 = $(new Image()).load(function() {
				document.thu4.src = thumb4src;
				$('#thumb4').show();
			})
			.error(function() {$('#thumb4').hide()})
			.attr('src',thumb4src);
								
			var thumbNail5 = $(new Image()).load(function() {
				document.thu5.src = thumb5src;
				$('#thumb5').show();
			})
			.error(function() {$('#thumb5').hide()})
			.attr('src',thumb5src);
			}
</script>	

<script type="text/javascript">
	function ChangeColor(colorName){
		colorName = colorName.replace('<venda_ebizurl>/content/ebiz/<venda_bsref>/invt/<venda_invtref>/<venda_invtref>_','');
		colorName = colorName.replace('_sw.jpg',''); 
		for(i=0;i < document.form.att1.length;i++){
			imageName = document.form.att1.options[i].value;
			imageName1 = imageName.toLowerCase(imageName); 
			imageName1 = imageName1.replace(' ','');
			if(colorName==imageName1){
				document.form.att1.options[i].selected=true;
				}
		}
			changeImages();
			ChangePrice();
		}
		function displayStock() {
			if (document.getElementById("instockDiv").style.visibility == 'visible'){
				document.getElementById("instockDiv").style.display = 'block';	
				document.getElementById("outofstockDiv").style.display = 'none';	
				                        
			} else {
				document.getElementById("instockDiv").style.display = 'none';
				document.getElementById("outofstockDiv").style.display = 'block';
		    }
		}
		function VisibilityNone() {
			document.getElementById("instockDiv").style.visibility = '';
			document.getElementById("outofstockDiv").style.visibility = '';
		}
											
		function checkAttPrice() {					
									
			var xAttPrice = jQuery(".productprice #priceDiv").html();
			//var xAttPrice = <venda_invtatrmaxsubsell>;
									
			if ((xAttPrice == "0") || (xAttPrice == "0.00")) {
				alert("Sorry, this product is not available to purchase. Please try another.");
				return false;
				} else {
					document.form.ex.value='co_disp-shopc';
					CheckAtt(document.form,''); 
				}					
		}
		function stayHere() {
				var fbuy = jQuery("input#fbuy").val(),
						fivref = jQuery("input#fivref").val(),
						fhtxt = jQuery("input#fhtxt").val(), 
						fatt1 = jQuery('#att1').val(),
						fatt2 = jQuery('#att2').val(),
						fqty = jQuery('#qty').val(),
						dataString = 'bsref=urbanoutfitters&log=22&mode=add&curpage=&next=&layout=qbresponse&ex=co_disp-shopc&buy=' + fbuy + '&page=addedtobasket&ivref=' + fivref + '&htxt=' + fhtxt + '&att1=' + fatt1 + '&att2=' + fatt2 + '&qty=' + fqty,
						salePrice = (jQuery('#priceDiv').text().replace(",",".")) * fqty;
					jQuery('#loadhere').html('<img src="/content/ebiz/urbanoutfitters/resources/images/signin_loader.gif" alt="loading" class="loading">')
			  	jQuery.ajax({
		    	url: 'http://www.urbanoutfitters.co.uk/bin/venda',
		    	data: dataString,
		    	success: function(data) {
						var itemNum = parseInt(jQuery('#cart-number').html()),
								currSymb = jQuery('.totaltxt').text().match(/£/g) ? '&pound;' : '&euro;',  
								currentTot = parseFloat(jQuery('.totaltxt').text().match(/[0-9]{1,}(\.|,)[0-9]{1,}/g).toString().replace(",",".")),
								displayTot = ""
						itemNum += parseInt(fqty);
						currentTot += salePrice;
						displayTot = currentTot.toFixed(2);
						jQuery('#cart-number').html(itemNum);
						jQuery('.totaltxt').html(currSymb + displayTot);
						jQuery('.loadhere').dialog('close');
						}	
		  	});
				return false;
		}
</script>
<script type="text/javascript">
	changeImages();
</script>	
<script type="text/javascript">
  $('.availcolour a').click(function(event) { 
   event.preventDefault();
  })
</script>	
    
<div id="productdetailimages">
		
  <div id="productdetailimage">
		
        <venda_block label=10,med-medium=notnull>				
				<div id="mainImageWrapper">
						<img src="/content/ebiz/urbanoutfitters/resources/images/loading_m.gif" title="<venda_invtname>" id="multi" name="multi" border="0">
				</div>            
		</venda_block label=10>
		
        <venda_block label=11,med-medium=null>
				<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/noimage_med.jpg" alt="<venda_invtname>" title="<venda_invtname>" name="multi" border="0">
		</venda_block label=11>
  </div>

	<div id="productdetailthumbs">
	  <ul>
	
		<li id="thumb1"><img src="/content/ebiz/urbanoutfitters/resources/images/loading_t.gif" title="<venda_invtname>" id="thu1" name="thu1" width="53px" height="80px" border="0" onclick="changemedimage(this.src)"></li>
		
		<li id="thumb2"><img src="/content/ebiz/urbanoutfitters/resources/images/loading_t.gif" title="<venda_invtname>" id="thu2" name="thu2" width="53px" height="80px" border="0" onclick="changemedimage(this.src)"></li>
		
		<li id="thumb3"><img src="/content/ebiz/urbanoutfitters/resources/images/loading_t.gif" title="<venda_invtname>" id="thu3" name="thu3" width="53px" height="80px" border="0" onclick="changemedimage(this.src)"></li>
		
		<li id="thumb4"><img src="/content/ebiz/urbanoutfitters/resources/images/loading_t.gif" title="<venda_invtname>" id="thu4" name="thu4" width="53px" height="80px" border="0" onclick="changemedimage(this.src)"></li>
		
		<li id="thumb5" style="display:none;"><img src="/content/ebiz/urbanoutfitters/resources/images/loading_t.gif" title="<venda_invtname>" id="thu5" name="thu5" width="53px" height="80px" border="0" onclick="changemedimage(this.src)"></li>
	  
      </ul>
	</div>
</div> <!-- /productdetailimages -->

<br class="clear-all">


<!-- SUBSTITUTES -->
<venda_block label=29,invtsubtot&gt;0>
	<venda_invtsub template=substitutes>
	<br class="clear-all">
</venda_block label=29>


</div>
<!-- END COL ONE -->

<!-- START COL TWO -->
<div class="productdetailcoltwo">

	<form name="form" action="<venda_codehttp>" method="get">
	<input type="hidden" name="bsref" value="<venda_bsref>">
	<input type="hidden" name="log" value="22">
	<input type="hidden" name="mode" value="add">
	<input type="hidden" name="curpage" value="">
	<input type="hidden" name="next" value="">
	<!-- "ex" sends user to basket if "co_wizr-shopcart" - or leaves on current page if "co_disp-shopc" -->
	<!-- will sends user to basket by default - "Add to Basket" button changes "ex" value and leaves on current page (unless js disabled) -->
	<input type="hidden" name="ex" value="co_disp-shopc">
	<!-- "buy" defines sku to add if "ex" is "co_disp-shopc" -->
	<input type="hidden" name="buy" value="<venda_invtref>" id="fbuy">
	<!-- "invt" defines next step if "ex" is "co_disp-shopc" (sends to home page without this field) - could be set to send to any icat or page instead -->
	<input type="hidden" name="icat" value="<venda_invtcatref2>">
	<!-- "ivref" defines sku to add if "ex" is "co_wizr-shopcart" -->
	<input type="hidden" name="ivref" value="<venda_invtref>" id="fivref">
	<input type="hidden" name="bklist" value="<venda_bklist>">
	<venda_block label=3212,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=>
	<venda_block label=11212,mode=value,<venda_htxt mode=get,name=avail>=true>	
	<input type="hidden" name="htxt" value="<venda_htxt mode=make,avail=true>" id="fhtxt">
	</venda_block label=11212>
	</venda_block label=3212>
	
	<div id="tab1">
            
	<!-- PRODUCT NAME-->
		<h1 class="productname"><venda_invtname></h1>	
	<!-- END PRODUCT NAME-->
									
	<!-- PRODUCT PRICE-->
		<div class="productprice">	
			<!-- If product doesn't have attributes and it's in stock -->
			<venda_block label=16,chkatt=null>
				<venda_block label=17,invtwas=notnull,invtwas!=0.00,invtwas1&gt;invtsell1>
					<div class="productdetail-promo"><venda_block label=55,pdxtpromo=notnull><venda_pdxtpromo></venda_block label=55></div>
					<div class="green"><del>Was <venda_currsym><venda_invtwas></del></div>
					<div class="red">Now <venda_currsym><venda_invtsell></div>	
				</venda_block label=17>
								
				<venda_block label=107,invtsavingonwas=null,invtwas=0.00,invtwas&lt;invtsell,operator=or>
					<p class="green"><venda_currsym><venda_invtsell></p>
			        <!-- Promo text -->
					<div class="productdetail-promo"><venda_block label=55,pdxtpromo=notnull><venda_pdxtpromo></venda_block label=55></div> 
					<!-- END Promo text -->	
				</venda_block label=107>
			</venda_block label=16>
			<!-- END if product doesn't have attributes and it's in stock -->
			
		    <!-- if product have attributes -->
			<venda_block label=20,chkatt=notnull>
				<venda_block label=555,mode=value,<venda_invtatrmaxsubwas>=0.00,<venda_invtatrmaxsubwas>&lt;<venda_invtatrmaxsubsell>,<venda_invtatrmaxsubwas>=<venda_invtatrmaxsubsell>,operator=or>								
					<!-- if product doesn't have was price-->
					<span class="green"><venda_currsym><span id="priceDiv"><venda_invtatrmaxsubsell></span></span>
				    <!-- Promo text -->
					<div class="productdetail-promo"><venda_block label=55,pdxtpromo=notnull><venda_pdxtpromo></venda_block label=55></div> 
					<!-- END Promo text -->
				</venda_block label=555>
				
				<venda_block label=777,mode=value,<venda_invtatrmaxsubwas>&gt;0.00,<venda_invtatrmaxsubwas>&gt;<venda_invtatrmaxsubsell>,operator=and>								
				<!-- if product have was price -->
					<span class="green">Was <venda_currsym><venda_invtatrmaxsubwas></span><br>
					<span class="red">Now <venda_currsym><span id="priceDiv"><venda_invtatrmaxsubsell></span></span>
			        <!-- Promo text -->
					<div class="productdetail-promo"><venda_block label=55,pdxtpromo=notnull><venda_pdxtpromo></venda_block label=55></div> 
					<!-- END Promo text -->
				</venda_block label=777>
			</venda_block label=20>
		</div>
		<!-- END PRODUCT PRICE-->		    							
		
		<hr class="quickLine" />		 
								
		<!-- AVAILABLE COLOURS -->
		<venda_block label=456,chkatt=notnull>
			<venda_block label=666,med-colour1=notnull,med-colour2=notnull,med-colour3=notnull,med-colour4=notnull,,med-colour5=notnull,med-colour6=notnull,med-colour7=notnull,med-colour8=notnull,med-colour9=notnull,med-colour10=notnull,med-colour11=notnull,med-colour12=notnull,operator=or>					
				          
			<div class="productdetailsubheads">more colours</div>
				<div class="availcolour">
					<venda_block label=111,med-colour1=notnull>
						<a href="#" onclick="ChangeColor('<venda_media rec=invt,type=movie-swf-pict,key=colour1,img=no>')"><venda_media rec=invt,type=movie-swf-pict,key=colour1,border=0,width=30,height=22></a>
					</venda_block label=111>
					<venda_block label=112,med-colour2=notnull>
						<a href="#" onclick="ChangeColor('<venda_media rec=invt,type=movie-swf-pict,key=colour2,img=no>')"><venda_media rec=invt,type=movie-swf-pict,key=colour2,border=0,width=30,height=22></a>
					</venda_block label=112>
					<venda_block label=113,med-colour3=notnull>
						<a href="#" onclick="ChangeColor('<venda_media rec=invt,type=movie-swf-pict,key=colour3,img=no>')"><venda_media rec=invt,type=movie-swf-pict,key=colour3,border=0,width=30,height=22></a>
					</venda_block label=113>
					<venda_block label=114,med-colour4=notnull>
						<a href="#" onclick="ChangeColor('<venda_media rec=invt,type=movie-swf-pict,key=colour4,img=no>')"><venda_media rec=invt,type=movie-swf-pict,key=colour4,border=0,width=30,height=22></a>
					</venda_block label=114>
					<venda_block label=115,med-colour5=notnull>
						<a href="#" onclick="ChangeColor('<venda_media rec=invt,type=movie-swf-pict,key=colour5,img=no>')"><venda_media rec=invt,type=movie-swf-pict,key=colour5,border=0,width=30,height=22></a>
					</venda_block label=115>	
					<venda_block label=116,med-colour6=notnull>
						<a href="#" class="last" onclick="ChangeColor('<venda_media rec=invt,type=movie-swf-pict,key=colour6,img=no>')"><venda_media rec=invt,type=movie-swf-pict,key=colour6,border=0,width=30,height=22></a>
					</venda_block label=116>	
					<br class="clear-all">
				</div>
					
				<div class="availcolour">
					<venda_block label=117,med-colour7=notnull>
						<a href="#" onclick="ChangeColor('<venda_media rec=invt,type=movie-swf-pict,key=colour7,img=no>')"><venda_media rec=invt,type=movie-swf-pict,key=colour7,border=0,width=30,height=22></a>
					</venda_block label=117>		
					<venda_block label=118,med-colour8=notnull>
						<a href="#" onclick="ChangeColor('<venda_media rec=invt,type=movie-swf-pict,key=colour8,img=no>')"><venda_media rec=invt,type=movie-swf-pict,key=colour8,border=0,width=30,height=22></a>
					</venda_block label=118>		
					<venda_block label=119,med-colour9=notnull>
						<a href="#" onclick="ChangeColor('<venda_media rec=invt,type=movie-swf-pict,key=colour9,img=no>')"><venda_media rec=invt,type=movie-swf-pict,key=colour9,border=0,width=30,height=22></a>
					</venda_block label=119>		
					<venda_block label=120,med-colour10=notnull>
						<a href="#" onclick="ChangeColor('<venda_media rec=invt,type=movie-swf-pict,key=colour10,img=no>')"><venda_media rec=invt,type=movie-swf-pict,key=colour10,border=0,width=30,height=22></a>
					</venda_block label=120>		
					<venda_block label=121,med-colour11=notnull>
						<a href="#" onclick="ChangeColor('<venda_media rec=invt,type=movie-swf-pict,key=colour11,img=no>')"><venda_media rec=invt,type=movie-swf-pict,key=colour11,border=0,width=30,height=22></a>
					</venda_block label=121>		
					<venda_block label=122,med-colour12=notnull>
						<a href="#" class="last" onclick="ChangeColor('<venda_media rec=invt,type=movie-swf-pict,key=colour12,img=no>')"><venda_media rec=invt,type=movie-swf-pict,key=colour12,border=0,width=30,height=22></a>
					</venda_block label=122>		
				</div>
			</venda_block label=456>
		</venda_block label=666>
		
		<br class="clear-all">	
				
		<!-- IN STOCK -->
		<venda_block label=25,invtavail&gt;0>
			<!-- NO ATTRIBUTES -->
			<venda_block label=700,chkatt=null>
				<!-- NO PREORDER -->
				<venda_block label=555,invtpreorder=null> 
					<label for="qty" class="productdetaillabel">Quantity&nbsp;</label>
					<input name="qty" id="qty" type="text" value="1" size="2" maxlength="3" /><br />  		
					<br class="clear-all"><br />
					<input id="addtobasket" type="image" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket_medium.gif" alt="ADD TO BASKET" onClick="checkPrice(); stayHere(); return false;" onMouseOver="this.src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket_medium_r.gif'" onMouseOut="this.src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket_medium.gif'"><br /><br />
				</venda_block label=555>
										
				<!-- HAS PREORDER -->
				<venda_block label=666,invtpreorder=notnull>					
					<!-- IF HAS FUTURE RELEASE DATE -->
					<p id="outofstockDiv" style="display:none;">Sorry, Out of stock</p>
					<div id="instockDiv">
						Not yet released<br>
						<span>You can order now and receive it on the official release date of <venda_invtreleasedy>/<venda_invtreleasemn>/<venda_invtreleaseyr></span>
						<input type="image" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_preorder.gif" alt="pre order" title="pre order" class="marginleft5" onClick="document.form.ex.value='co_disp-shopc';CheckAtt(document.form,'');return false;">
					</div>
				 </venda_block label=666>
			</venda_block label=700>
			<!-- END NO ATTRIBUTES -->
									
			<!-- HAS ATTRIBUTES -->
			<venda_block label=701,chkatt=notnull>									
				<!-- NO PREORDER -->
				 <venda_block label=777,invtpreorder=null>															         				            
				 	<venda_javacodeprice nocurrsym=1>
					<venda_javacodeonhand>
					<venda_javacode>
																		
				 <!-- SELECT COLOUR -->
				 <div class="productdetailatt">
				 	<venda_block label=21,selatt1=notnull>
					 	<label for="att1" class="productdetaillabel">Colour</label><br />
						<select name="att1" id="att1" class="left" onChange="ChangePrice();changeImages();<venda_block label=772212,invtavail&gt;0>VisibilityNone();ChangeOutofstockDiv();displayStock();</venda_block label=772212>">
						<venda_selatt1></select><br />
				     </venda_block label=21>
				 </div>	 <!-- End productdetailatt -->
										
				            <!-- SELECT SIZE -->
				        <div class="productdetailatt">
				            <venda_block label=22,selatt2=notnull>
				            	<label for="att2" class="productdetaillabel">Size</label>
				                <br />
								<select name="att2" id="att2" onChange="ChangePrice();changeImages();<venda_block label=772212,invtavail&gt;0>VisibilityNone();ChangeOutofstockDiv();displayStock();</venda_block label=772212>">
								<venda_selatt2></select>
								<br />
				            </venda_block label=22>				            
						</div>					        
				
				        	<venda_block label=23,selatt3=notnull>
				            	<label for="att3" class="productdetaillabel"><strong><venda_att3></strong></label>
				                <select name="att3" id="att3" onChange="ChangePrice();changeImages();<venda_block label=772212,invtavail&gt;0>VisibilityNone();ChangeOutofstockDiv();displayStock();</venda_block label=772212>"><venda_selatt3></select>
				           	</venda_block label=23>
							
				            <venda_block label=24,selatt4=notnull>
				            	<label for="att4" class="productdetaillabel"><strong><venda_att4></strong></label>
				                <select name="att4" id="att4" onChange="ChangePrice();changeImages();<venda_block label=772212,invtavail&gt;0>VisibilityNone();ChangeOutofstockDiv();displayStock();</venda_block label=772212>"><venda_selatt4></select>
				           	</venda_block label=24>
							
							<script type="text/javascript">					
								window.onLoad = ChangePrice();
								window.onLoad = changeImages();							
							</script>
										
							
							<div class="productdetailatt">
								<label for="qty" class="productdetaillabel">Quantity</label><br />
					            <input name="qty" id="qty" type="text" value="1" size="2" maxlength="3"><br />
				            </div>
				            
				            <p id="outofstockDiv" style="display:none;">Sorry, Out of stock</p>
				            
				            <br class="clear-all" />
				           
				            <div id="instockDiv" style="visibility:visible;">
					            <br class="clear-all" />  
					                   
						    	<input id="addtobasket" type="image" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket_large.gif" alt="ADD TO BASKET" onClick="checkPrice(); stayHere(); return false;" onMouseOver="this.src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket_large_r.gif'" onMouseOut="this.src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket_large.gif'">				    
							</div> <!-- End instockDiv -->
						</venda_block label=777>
						<!-- END NO PREORDER -->
							
						<!-- HAS PREORDER & FUTURE RELEASE DATE-->
						<venda_block label=888,invtpreorder=notnull> 
							<p id="outofstockDiv" style="display:none;">Sorry, Out of stock</p>
							<div id="instockDiv">
								Not yet released<br>
								<span>You can order now and receive it on the official release date of <venda_invtreleasedy>/<venda_invtreleasemn>/<venda_invtreleaseyr></span>
								<input type="image" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_preorder.gif" alt="pre order" title="pre order" class="marginleft5" onClick="document.form.ex.value='co_disp-shopc';CheckAtt(document.form,'');return false;">
							</div>
						</venda_block label=888>						
					</venda_block label=701>
				</venda_block label=25>
				<!-- END IN STOCK -->
				
							
				<!-- OUT OF STOCK -->
				<venda_block label=26,invtavail&lt;1>
					<p id="outofstockDiv">Sorry, Out of stock</p>
					<venda_block label=167,etadate=notnull>
				    	<p>Expected back in stock on: <venda_invtetadatey>/<venda_invtetadatemn>/<venda_invtetadateyr></p>
				   	</venda_block label=167>
				</venda_block label=26>
				<!-- END OUT OF STOCK -->
				
				<hr class="quickLine" />
				
				<!-- PRODUCT DESCRIPTION-->
				<venda_block label=14,invtdesc3=notnull><p class="QBdesc2"><venda_invtdesc3></p></venda_block label=14>
				<venda_block label=15,invtdesc4=notnull><p class="QBdesc4"><venda_invtdesc4></p></venda_block label=15>
				<venda_block label=12,invtdesc1=notnull><p class="QBdesc1"><venda_invtdesc1></p></venda_block label=12>
				<venda_block label=103,pdxtadditionalinfo=notnull>
					<p class="black mt8">Additional Shipping/Stock Information.</p>
					<p class="black"><venda_pdxtadditionalinfo></p>
				</venda_block label=103>
				<!-- END PRODUCT DESCRIPTION-->
				
	</form>
								
				<!-- ADDED TO CART MESSAGE -->
				<venda_block label=32,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull>
					<p id="addedmsg">
				    	<venda_addedmsg msg=You have added addedqty addedname to your basket>
				        <p id="productdetail-checkout"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22">Go To Checkout</a></p>
				    </p>
				    <venda_inctemplate name=trackingProdAdd,type=includes>
					<!--Avail-->
					<script type="text/javascript">vendaAvailSaveSearch();</script>
				</venda_block label=32>
				<venda_block label=320,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=null>
					<venda_inctemplate name=trackingProdView,type=includes>
				</venda_block label=320>
				
					
				<!--START MULTIBUY STUFF-->
				<venda_block label=340,invtsell2=notnull>
					<div>
						<h3>Multiple-buy Savings</h3>
					<div>
						<p>Buy <venda_invtstartqty2><venda_block label=52,invtsell3=null>+</venda_block label=52> <venda_invtname> for <strong><venda_currsym><venda_invtsell2></strong> each</p>
						<venda_block label=341,invtsell3=notnull>
							<p>Buy <venda_invtstartqty3><venda_block label=53,invtsell4=null>+</venda_block label=53> <venda_invtname> for <strong><venda_currsym><venda_invtsell3></strong> each</p>
						</venda_block label=341>
						<venda_block label=342,invtsell4=notnull>
							<p>Buy <venda_invtstartqty4><venda_block label=54,invtsell5=null>+</venda_block label=54> <venda_invtname> for <strong><venda_currsym><venda_invtsell4></strong> each</p>
						</venda_block label=342>
						<venda_block label=343,invtsell5=notnull>
							<p>Buy <venda_invtstartqty5><venda_block label=55,invtsell6=null>+</venda_block label=55> <venda_invtname> for <strong><venda_currsym><venda_invtsell5></strong> each</p>
						</venda_block label=343>
						<venda_block label=344,invtsell6=notnull>
							<p>Buy <venda_invtstartqty6>+ <venda_invtname> for <strong><venda_currsym><venda_invtsell6></strong> each</p>
						</venda_block label=344>
					</div>
					</div>
				</venda_block label=340>
				<!--END MULTIBUY STUFF-->
				        
				<venda_block label=55221,invtavail&gt;0,chkatt=notnull>
					<script language="javascript">
						window.onLoad = ChangeOutofstockDiv();
					</script>
				</venda_block label=55221>
            
        </div><!-- end #tab1 -->    

    </div><!-- end productdetailcoltwo -->

</div> <!-- end productdetail -->

<br class="clear-all">
