<div class="tellafriendthankyou">
<h1></h1>
<p>Your email's made the journey!</p>

<div class="dontStop"></div>

<a href="<venda_dispview invt=<venda_invtref>>" class="shop"></a>

<div class="keepGoing"></div>
<ul>
<li><a class="foot-blog" href="http://blog.urbanoutfitters.co.uk/" target="_blank"></a></li>
<!-- mp_trans_remove_start-->
<li><a target="_blank" href="http://twitter.com/uoeurope" class="foot-tw"></a></li>
<li><a target="_blank" href="http://www.facebook.com/urbanoutfitterseurope" class="foot-fb"></a></li>
<li><a target="_blank" href="http://pinterest.com/uoeurope/" class="foot-pt"></a></li>
<li><a target="_blank" href="http://instagram.com/uoeurope" class="foot-in"></a></li>
<li><a class="foot-comm" href="<venda_dispview scat=community>"></a></li>
<!-- mp_trans_remove_end-->
<!-- mp_trans_disable_start-->
<!-- mp_trans_add="FR" 
	<li><a target="_blank" href="http://twitter.com/uofrance" class="foot-tw"></a></li>
	<li><a target="_blank" href="https://www.facebook.com/urbanoutfittersfrance" class="foot-fb"></a></li>
	<li><a target="_blank" href="http://pinterest.com/uoeurope/" class="foot-pt"></a></li>
	<li><a target="_blank" href="http://instagram.com/uoeurope" class="foot-in"></a></li>
	<li><a class="foot-comm-fr" href="<venda_dispview scat=community>"></a></li>
-->
<!-- mp_trans_add="DE" 
	<li><a target="_blank" href="http://twitter.com/UODeutschland" class="foot-tw"></a></li>
	<li><a target="_blank" href="https://www.facebook.com/UrbanOutfittersDeutschland" class="foot-fb"></a></li>
	<li><a target="_blank" href="http://pinterest.com/uoeurope/" class="foot-pt"></a></li>
	<li><a target="_blank" href="http://instagram.com/uoeurope" class="foot-in"></a></li>
	<li><a class="foot-comm" href="<venda_dispview scat=community>"></a></li>
-->
<!-- mp_trans_disable_end-->
</ul>
</div>
