<div class="tellafriendthankyou">
<h1>Swoosh!</h1>
<span>Your email's made the journey!</span>

<p>Don't Stop</p>

<a href="<venda_dispview invt=<venda_invtref>>" class="shop"></a>

<p>Keep Going</p>
<ul>
<li><a class="foot-blog" href="http://blog.urbanoutfitters.co.uk/" target="_blank"></a></li>
<!-- mp_trans_remove_start-->
<li><a target="_blank" href="http://twitter.com/uoeurope" class="foot-tw"></a></li>
<li><a target="_blank" href="http://www.facebook.com/urbanoutfitterseurope" class="foot-fb"></a></li>
<li><a target="_blank" href="http://pinterest.com/uoeurope/" class="foot-pt"></a></li>
<li><a target="_blank" href="http://instagram.com/uoeurope" class="foot-in"></a></li>
<li><a class="foot-comm" href="<venda_dispview scat=community>"></a></li>
<!-- mp_trans_remove_end-->
<!-- mp_trans_disable_start-->
<!-- mp_trans_add="FR" 
	<li><a target="_blank" href="http://twitter.com/uofrance" class="foot-tw"></a></li>
	<li><a target="_blank" href="https://www.facebook.com/urbanoutfittersfrance" class="foot-fb"></a></li>
	<li><a target="_blank" href="http://pinterest.com/uoeurope/" class="foot-pt"></a></li>
	<li><a target="_blank" href="http://instagram.com/uoeurope" class="foot-in"></a></li>
	<li><a class="foot-comm-fr" href="<venda_dispview scat=community>"></a></li>
-->
<!-- mp_trans_add="DE" 
	<li><a target="_blank" href="http://twitter.com/UODeutschland" class="foot-tw"></a></li>
	<li><a target="_blank" href="https://www.facebook.com/UrbanOutfittersDeutschland" class="foot-fb"></a></li>
	<li><a target="_blank" href="http://pinterest.com/uoeurope/" class="foot-pt"></a></li>
	<li><a target="_blank" href="http://instagram.com/uoeurope" class="foot-in"></a></li>
	<li><a class="foot-comm" href="<venda_dispview scat=community>"></a></li>
-->
<!-- mp_trans_disable_end-->
</ul>
</div>
<style>
@font-face {
    font-family: "UO Font";
    src: url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/fonts/ywft-absent-grotesque-medium-webfont.eot');
    src: url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/fonts/ywft-absent-grotesque-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/fonts/ywft-absent-grotesque-medium-webfont.woff') format('woff'),
         url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/fonts/ywft-absent-grotesque-medium-webfont.ttf') format('truetype'),
         url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/fonts/ywft-absent-grotesque-medium-webfont.svg#ywft_absent_grotesque_mediuMd') format('svg');
    font-weight: normal;
    font-style: normal;
}
.tellafriendthankyou {
	width: 786px;
	margin: 0 auto;
	height:auto;
	text-align: center;
}
.tellafriendthankyou h1 {
	font-family: "UO Font", Helvetica, Arial, sans-serif;
	position: relative;
	font-size: 100px;
	text-transform: uppercase;
	height: 100px;
}
.tellafriendthankyou span {
	font-size: 20px;
}
.tellafriendthankyou p {
	font-family: "UO Font", Helvetica, Arial, sans-serif;
	position: relative;
	font-size: 43px;
	text-transform: uppercase;
	margin-top: 50px;
}
.tellafriendthankyou a.shop {
	background: url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/uo-png-sprite.png?v=4') no-repeat;
	background-position: -8px -590px;
	width: 185px;
	height: 39px;
	display: block;
	margin: 10px auto;
}
.tellafriendthankyou a.shop:hover {
	background-position: -12px -586px;
}
.tellafriendthankyou ul {
	display: block;
	list-style-type: none;
	width: 312px;
	margin: 20px auto;
}
.tellafriendthankyou li {
	display: block;
	float: left;
}
.tellafriendthankyou li a {
	width:32px;
	height:32px;
	margin:0 5px 0 0;
	border:1px solid black;
	background: url("<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/uo-png-sprite.png?v=4") no-repeat white;
}
.tellafriendthankyou li a:hover {
	border: 2px solid black;
	width: 30px;
	height: 30px;
}
.tellafriendthankyou li a.foot-fb { display: block;background-position:-40px -377px;}
.tellafriendthankyou li a.foot-tw { display: block;background-position:-7px -377px;}
.tellafriendthankyou li a.foot-pt { display: block;background-position:-73px -377px;}
.tellafriendthankyou li a.foot-in { display: block;background-position:-106px -377px;}
.tellafriendthankyou li a.foot-fb:hover { display: block;background-position:-41px -378px;}
.tellafriendthankyou li a.foot-tw:hover { display: block;background-position:-8px -378px;}
.tellafriendthankyou li a.foot-pt:hover { display: block;background-position:-74px -378px;}
.tellafriendthankyou li a.foot-in:hover { display: block;background-position:-107px -378px;}
.tellafriendthankyou li a.foot-blog { display: block;background-position:-39px -410px;width:71px;height:32px; background-color: #fffca3;}
.tellafriendthankyou li a.foot-comm { display: block;background-position:-181px -410px;width:71px;height:32px; background-color: #ffc5ff;}
.tellafriendthankyou li a.foot-comm-fr { display: block;background-position:-181px -474px;width:71px;height:32px; background-color: #ffc5ff;}
.tellafriendthankyou li a.foot-blog:hover { display: block;background-position:-40px -411px;width:69px;height:30px;}
.tellafriendthankyou li a.foot-comm:hover { display: block;background-position:-182px -411px;width:69px;height:30px;}
.tellafriendthankyou li a.foot-comm-fr:hover { display: block;background-position:-182px -475px;width:69px;height:30px;}
</style>
