<div class="regionLangSwitcher">

  <div id="language-sel" class="switcher-sel">
    <a href="#" id="language" class="<venda_sessionlanguage>"><span class="lang-flag"></span><span class="lang-copy"><venda_sessionlanguage></span><span class="switcher-down"></span></a>
    <div id="language-content" class="switcher-content">
    	<div class="lang">
      	<ul>
        	<li><a href="#" id="uk" class="uk"><span class="lang-flag"></span><span class="lang-copy">UK</span></a></li>
        	<li><a href="#" id="fr" class="fr"><span class="lang-flag"></span><span class="lang-copy">FR</span></a></li>
        	<li><a href="#" id="de" class="de"><span class="lang-flag"></span><span class="lang-copy">DE</span></a></li>
      	</ul>
    	</div>
    </div>
  </div>
  <venda_block label=notregged,ustype!=R>
  <div id="region-content" class="switcher-sel">
    <a href="#" id="currency" class="<venda_sessionlocation>"><span class="curr-copy"><venda_currsym></span><span class="switcher-down"></span></a>
    <div id="region-content" class="switcher-content">
    	<div class="region">
      	<ul>
        	<li class="curr-cont"><a href="#" id="restofworld" class="us"><span class="curr-copy">&pound;</span></a></li>
        	<li class="curr-cont"><a href="#" id="eur" class="canada"><span class="curr-copy">&euro;</span></a></li>
      	</ul>
    	</div>
    </div>
  </div>
  </venda_block label=notregged>
  
</div>

<script type="text/javascript">
Venda.Widget.RegionLangSwitch.isSearch = "<venda_searchtwo>";
Venda.Widget.RegionLangSwitch.currRegion = Venda.Ebiz.CookieJar.get("locn") || "<venda_sessionlocation>";
Venda.Widget.RegionLangSwitch.currLang = Venda.Ebiz.CookieJar.get("lang") || "<venda_sessionlanguage>";
Venda.Widget.RegionLangSwitch.ebizURL = "<venda_serveradd>".replace(/\/$/i, "");
</script>