<div class="regionLangSwitcher">

  <div id="language-sel" class="switcher-sel">
    <a href="" id="language" class="<venda_sessionlanguage>"><span class="lang-copy"><venda_sessionlanguage></span></a>
    <div id="language-content" class="switcher-content">
      <div class="lang">
      	<ul>
      	  <li class="cont-title">Country</li>
        	<li><a href="#" id="uk" class="uk"><span class="lang-flag"></span><span class="lang-copy">United Kingdom</span></a></li>
        	<li><a href="#" id="de" class="de"><span class="lang-flag"></span><span class="lang-copy">Deutschland</span></a></li>
        	<li><a href="#" id="fr" class="fr"><span class="lang-flag"></span><span class="lang-copy">France</span></a></li>
        	<li><a href="http://us.urbanoutfitters.com" id="us" class="us"><span class="lang-flag"></span><span class="lang-copy">USA</span></a></li>
      	</ul>
    	</div>
    </div>
  </div>
  <venda_block label=notregged,ustype!=R>
  <div id="region-content" class="switcher-sel">
    <a href="" id="currency" class="<venda_sessionlocation>"><span class="curr-copy"><venda_currsym> <venda_currencycode></span></a>
    <div id="region-content" class="switcher-content">
    	<div class="region">
      	<ul>
      	  <li class="cont-title">Currency</li>
        	<li class="curr-cont"><a href="#" id="restofworld" class="restofworld"><span class="curr-copy">&pound; GBP</span></a></li>
        	<li class="curr-cont"><a href="#" id="eur" class="eur"><span class="curr-copy">&euro; EUR</span></a></li>
      	</ul>
    	</div>
    </div>
  </div>
  </venda_block label=notregged>
  
</div>

<script type="text/javascript">
Venda.Widget.RegionLangSwitch.isSearch = "<venda_searchtwo>";
Venda.Widget.RegionLangSwitch.currRegion = Venda.Ebiz.CookieJar.get("locn") || "<venda_sessionlocation>";
Venda.Widget.RegionLangSwitch.currLang = Venda.Ebiz.CookieJar.get("lang") || "<venda_sessionlanguage>";
Venda.Widget.RegionLangSwitch.ebizURL = "<venda_serveradd>".replace(/\/$/i, "");
</script>