<div id="cov_colRight">
<div class="font1">
	<div class="heading-all">
	<h1>FORGOTTEN PASSWORD</h1>
	<div class="underline"><p></p></div>
	</div>
</div>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>

<p>Thank you. Your password will be emailed to you shortly.</p>
<p>Once you receive your password we recommend that you change your password to ensure the security of your personal details.</p>
<p class="content-text">For any questions, please contact us at <a href="mailto:<venda_ebizemail>"><venda_ebizemail></a> or ring us at <venda_ebizarea> <venda_ebizphone> Monday - Friday 9:00 - 18:00.</p>

<div id="button_v1">
<a href="<venda_passcode>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="PREVIOUS" border="0" class="left"></a>
<a href="<venda_dispview page=home>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continueshopping.gif" alt="CONTINUE SHOPPING" border="0" class="right"></a>
</div>
</div>
<venda_inctemplate name=googleTrackingWorkflows,type=includes>