<venda_detblock_minify_js>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/Venda.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/Platform.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jquery-1.7.1.min.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jquery.cookie.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/Ebiz.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/attribute.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/RegionLangSwitch.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/CreateTab.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/Tracking.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jqValidate.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jquery.flexslider-min.js"></script>
</venda_detblock_minify_js>

<venda_detail_minify_js>

<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jquery.mobile-1.1.0.min.js"></script><!-- Not working in minification detblock -->