<venda_detblock>
<li>
	<venda_block label=201,mode=value,<venda_itemcount1>!=1><span>/</span></venda_block label=201>
	<a href="<venda_dispview scat=community>&temp=community_archive#<venda_scatref1>"><venda_scatname1></a>
</li>
</venda_detblock>
<!-- Adding Classes for languages styling -->
<!-- mp_trans_remove_start -->
<div class="commHeader">
<!-- mp_trans_remove_end -->
<!-- mp_trans_disable_start -->
<!-- mp_trans_add="FR" 
<div class="commHeader FR">
-->
<!-- mp_trans_add="DE" 
<div class="commHeader DE">
-->
<!-- mp_trans_disable_end -->
	<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/uo-community_uk.gif" alt="UO Community"/>
	<ul>
		<li><a href="<venda_dispview scat=community>&temp=community_archive" title="View all Features">View all Features</a></li>
	</ul>
	<a class="rss" href="<venda_dispview scat=community>&layout=rss&temp=rss" title="Subscribe via RSS">Subscribe to UO Community</a>
</div>
<div class="commNav">
	<ul>
		<venda_detail>
	</ul>
</div>