<venda_inctemplate name=checkoutBegin,type=includes>
<!-- start columns 2 - 3 -->
<div id="col-two-three">

<div class="font1">
	<div class="heading-all">
	<h1>GIFT CERTIFICATE</h1>
	<div class="underline"><p></p></div>
	</div>
</div>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>

<venda_form>
<fieldset class="giftcert">
<legend class="hide">Please enter your Gift Certificate code</legend>
<div>Please enter your Gift Certificate code</div>
<div><label for="gccode">Gift Certificate Code:</label> <input type="text" name="gccode" id="gccode" value="" size="20"></div>
</fieldset>

<script type="text/javascript">
<!--
// disable enter
var handleKeyPress = function(e) {
	var keyPressed = e.charCode || e.keyCode;
	if (keyPressed == 13) { 
		validate();
		return false;
	}
};

function validate(){
	if (document.wizform.gccode.value == ''){
		alert('<venda_text id=site.redeem_giftcertificate_code.js_validation.enter_code>');
		document.wizform.gccode.focus();
		return false;
	}
	<venda_wizbutton step=confirm,mode=process,callonly=yes>
}
// -->
</script>
<!--[if IE]>
<script type="text/javascript">if (document.getElementById("gccode")) {addEvent(document.getElementById("gccode"), 'keydown', handleKeyPress, false);}</script>
<![endif]-->

<div id="buttons">
<a href="#" onclick="clearPromoValue(); return false;" alt="PREVIOUS"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="PREVIOUS" border="0" class="left"></a>
<input type="image" onclick="validate(); return false;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continue.gif" alt="CONTINUE" class="right">
<div class="clear-all"></div>
</div>

</form>
 
<!-- 
param1: <venda_param1>
param2: <venda_param2>
workflow: <venda_workflow>
page: wz_gift-screen.html
 -->
   
</div><div style="height:330px;"></div>
<!-- end columns 2 - 3 -->
<venda_inctemplate name=googleTrackingWorkflows,type=includes>