<script language="JavaScript" type="text/javascript">						
var stopclick=0;

function validateFields(){

var fname = '<venda_recfnameudufnbr>-1';
var lname = '<venda_reclnameudufnbr>-1';
var remday1 = '<venda_remday1udufnbr>-1';
var remmonth1 = '<venda_remmonth1udufnbr>-1';
var remtype1 = '<venda_remtype1udufnbr>-1';
var remyear = '<venda_remyearudufnbr>-1';

//validation
if (document.wizform.elements[fname].value =="") {
alert("Please enter a first name");
document.wizform.elements[fname].focus();
return;
}
if (document.wizform.elements[lname].value =="") {
alert("Please enter a Surname");
document.wizform.elements[lname].focus();
return;
}
if (document.wizform.elements[remtype1].options[document.wizform.elements[remtype1].selectedIndex].value =="") {
alert("Please select an occasion");
document.wizform.elements[remtype1].focus();
return;
}
if (document.wizform.elements[remday1].options[document.wizform.elements[remday1].selectedIndex].value =="") {
alert("Please select a day");
document.wizform.elements[remday1].focus();
return;
}
if (document.wizform.elements[remmonth1].options[document.wizform.elements[remmonth1].selectedIndex].value =="") {
alert("Please select a month");
document.wizform.elements[remmonth1].focus();
return;
}

if (document.wizform.elements[remyear].value =="") {
alert("Please enter a year");
document.wizform.elements[remyear].focus();
return;
}

var yeartxt = document.wizform.elements[remyear].value;

if (yeartxt.length < 4) {
alert("Please enter Year to be 4 digit");
document.wizform.elements[remyear].focus();
return;
}

// only allow numbers to be entered
var checkOK = "0123456789";
var allValid = true;
var allNum = "";
for (i = 0;  i < yeartxt.length;  i++){
	ch = yeartxt.charAt(i);
	for (j = 0;  j < checkOK.length;  j++)
	if (ch == checkOK.charAt(j))
	break;
	if (j == checkOK.length){
		allValid = false;
		break;
	}
		if (ch != ",")
		allNum += ch;
}
	if (!allValid){
		alert("Please enter only digit in the \"year\" field.");
		document.wizform.elements[remyear].focus();
		return;
}

function covertMonth(pmonth){
	switch (pmonth){
	case "Jan": newMonth=1;break;
	case "Feb": newMonth=2;break;
	case "Mar": newMonth=3;break;
	case "Apr": newMonth=4;break;
	case "May": newMonth=5;break;
	case "Jun": newMonth=6;break;
	case "Jul": newMonth=7;break;
	case "Aug": newMonth=8;break;
	case "Sep": newMonth=9;break;
	case "Oct": newMonth=10;break;
	case "Nov": newMonth=11;break;
	case "Dec": newMonth=12;break;
	}
	return newMonth;
}

//Is the date in the past ?
var monthLength = new Array(31,28,31,30,31,30,31,31,30,31,30,31);
var dateExists=true;
var day = document.wizform.elements[remday1].value;
var month =  covertMonth(document.wizform.elements[remmonth1].value);
var year = document.wizform.elements[remyear].value;
	
	if (year/4 == parseInt(year/4))
		monthLength[1] = 29;

	if (day > monthLength[month-1])
		dateExists = false;

	monthLength[1] = 28;

	if (!dateExists){ 
		alert("Please enter a valid date.");
		return;
	}
	
	var now = new Date();
	now = now.getTime(); //NN3

	var dateToCheck = new Date();
	dateToCheck.setYear(year);
	dateToCheck.setMonth(month-1);
	dateToCheck.setDate(day);
	var checkDate = dateToCheck.getTime();
	var pastDate = (now > checkDate);
	var dateDiff = (checkDate - now)/86400000;

	if(pastDate){	
		alert("Please enter a date in the future.");
		return;
	} else	
	if (dateDiff < 14) {
		alert("Please enter a date more than 4 days.");
		return;	
	}
<venda_wizbutton step=usext,mode=process,wizard=reminder,callonly=yes>
}
</script>

<!-- start of adding reminder -->
<h1>Add A Reminder</h1>
										
<venda_block label=1,errors=notnull><h3 class="error"><venda_errors></h3></venda_block label=1>

<venda_form>
<!-- order fields used to sort the display order when you view reminders -->
<input type="hidden" name="order1" value="remmonth">
<input type="hidden" name="order2" value="remday">
<input type="hidden" name="subgroup" value="4">
<table summary="Information about each item in your basket" cellspacing="0" cellpadding="0" border="0">
	<thead class="header">
		<tr>
			<th scope="col">First Name</th>
			<th scope="col">Surname</th>
			<th scope="col">Occasion</th>
			<th scope="col">Day</th>
			<th scope="col">Month</th>
			<th scope="col">Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="text" name="<venda_recfnameudufnbr>-1" id="<venda_recfnameudufnbr>-1" size="10" maxlength="20" value=""></td>
			<td><input type="text" name="<venda_reclnameudufnbr>-1" id="<venda_reclnameudufnbr>-1" size="10" maxlength="20" value=""></td>
			<td><select name="<venda_remtype1udufnbr>-1" id="<venda_remtype1udufnbr>-1"><venda_usxselectremtype1></select></td>
			<td><select name="<venda_remday1udufnbr>-1" id="<venda_remday1udufnbr>-1"><venda_usxselectremday1></select></td>
			<td><select name="<venda_remmonth1udufnbr>-1" id="<venda_remmonth1udufnbr>-1"><venda_usxselectremmonth1></select></td>
			<td><input type="text" name="<venda_remyearudufnbr>-1" id="<venda_remyearudufnbr>-1" size="4" maxlength="4" value=""></td>
		</tr>
	</tbody>
</table>
</form>

<a href="<venda_codehttps>?ex=co_wizr-reminder&bsref=<venda_bsref>&order1=remmonth&order2=remday&subgroup=4&step=usext"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" width="85" height="16" alt="PREVIOUS" border="0"></a>
<input type="image" onclick="validateFields(); return false;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addreminder.gif" width="118" height="21" alt="ADD REMINDER" border="0">
<!-- end of adding reminder -->

<!-- 
workflow: <venda_workflow><br>
param1: <venda_param1><br>
param2: <venda_param2><br>
page: wz_usxt-add.html<br>
-->