<venda_block label=1011,ohusgrrf!=guest_de,ohusgrrf!=guest_fr>
To visit our website please go to:<cr>
<venda_ebizurl><cr><cr>

If you are interested in womens products please visit:<cr>
<venda_dispview icat=womens><cr><cr>

If you are interested in mens products please visit:<cr>
<venda_dispview icat=mens><cr><cr>

If you are interested in home products please visit:<cr>
<venda_dispview icat=home><cr><cr>
</venda_block label=1011>
<venda_block label=1012,ohusgrrf=guest_de>
Um unsere Website zu besuchen, gehen Sie bitte zu<cr>
http://www.urbanoutfitters.de/<cr><cr>

Wenn Sie an Produkten für Damen interessiert sind, gehen Sie bitte zu:<cr>
http://www.urbanoutfitters.de/icat/womens<cr><cr>

Wenn Sie an Produkten für Herren interessiert sind, gehen Sie bitte zu:<cr>
http://www.urbanoutfitters.de/icat/mens<cr><cr>

Wenn Sie an Wohn-Produkten interessiert sind, gehen Sie bitte zu:<cr>
http://www.urbanoutfitters.de/icat/home<cr><cr>
</venda_block label=1012>
==============================================================================<cr>
