<ul id="socialButtons" class="socialButtons">
	
  <li class="facebook">
    <div class="social-logo">
      <span class="fb-logo"></span>
    </div>
    <div class="social-button">
      <div id="tag-fbAppId" class="hide">APP ID HERE</div>
      <div id="fb-root"></div>
      <fb:like href="<venda_dispview invt=<venda_invtref>>" send="true" layout="button_count"></fb:like>
    </div>
  </li>
      
  <li class="pinterest">
    <div class="social-logo">
      <span class="pinterest-logo"></span>
    </div>
    <div class="social-button">
      <a href="http://pinterest.com/pin/create/button/?url=<venda_dispview invt=<venda_invtref>>&media=<venda_media rec=invt,type=movie-swf-pict,key=medium,img=no>" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
    </div>
  </li>

	<li class="twitter">
    <div class="social-logo">
      <span class="twitter-logo"></span>
    </div>
    <div class="social-button">
      <a href="https://twitter.com/share"
          data-url="<venda_dispview invt=<venda_invtref>>"
          data-via="<venda_ebxttwitterID>"
          data-text="<venda_invtname>"
          data-related="<venda_ebxttwitterRelated>"
          data-lang="<venda_sessionlanguage>"
          data-hashtags="<venda_invtivtype>,<venda_invtbrand>"
          class="twitter-share-button">
      </a>
    </div>
	</li>

</ul>