<venda_detblock1>
<tr>
	<td><venda_invtinputref></td>
	<td><venda_invtname></td>
	<td><venda_currsym><venda_invtsell></td>
	<td>N/A</td>
	<td>
		<input type="text" name="qtylist" value="1" size="2">
	</td>
</tr>
<input type="hidden" name="itemlist" value="<venda_invtref>">
<input type="hidden" name="availlist" value="<venda_invtavail>">
<input type="hidden" name="attall" value="">
</venda_detblock1>

<venda_detblock2>
<tr>
 <!-- status can be unpub nostock mainunpub mainnostock atrunpub atrnostock-->
	<td><venda_invtinputref></td>
	<td><venda_invtname></td>
	<td>N/A</td>
	<td>
    <select name="attall"><venda_selectatrdropdown></select>
    </td>
    <td><input type="text" name="qtylist" value="1" size="2"></td>
</tr>
<input type="hidden" name="itemlist" value="<venda_invtref>">
<input type="hidden" name="availlist" value="<venda_invtavail>">
</venda_detblock2>

<h1>Quick Shop</h1>
<h2>Add Items By Sku Code</h2>

<venda_form>
	
<venda_block label=1,errors=notnull>
<p class="errors"><venda_errors></p>
</venda_block label=1>

<p>Certain items need colour and size specification. Please choose a size and colour for each of the items below.</p>

<input type="hidden" name="type" value="<venda_type>">
<input type="hidden" name="layout" value="default">
<input type="hidden" name="log" value="22">

	<p class="spacer"></p>
	<!-- NEED TO CLEAN UP THIS HEADER - DROP H2 WITH NON-BREAKING SPACES AND REPLACE WITH TABLE/DIVS - ONLY DONE AS SHORT TERM AESTHETIC FIX -->
	<table border="0" cellspacing="0" cellpadding="0">
        <thead>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Size/Colour</th>
        <th scope="col">Qty.</th>
        </thead>
        <tbody>
		<venda_detail1>
		<venda_detail2>
		</tbody>
        </table>

        
		<venda_wizbutton step=glstlist,mode=process,param1=add,param2=quickshop,value=Update Basket,border=0,src=<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_update.gif,alt=Update Basket>
	</form>