<div id="contact">
<venda_ohtitle> <venda_ohfname> <venda_ohlname><br>
<venda_block label=76,ohcompany=notnull><venda_ohcompany><br></venda_block label=76>
<venda_ohnum> <venda_ohaddr1><br>
<venda_block label=74,ohaddr2=notnull><venda_ohaddr2><br></venda_block label=74>
<venda_ohcity><br>
<venda_block label=75,ohstate=notnull><venda_ohstate> </venda_block label=75>
<venda_block label=77,ohzipc=notnull><venda_ohzipc><br></venda_block label=77>
<venda_ohcntry><br>
<venda_block label=46,workflow!=instore>
<venda_usemail><br>
</venda_block label=46>
<venda_oharea> <venda_ohphone>
</div>