<div class="boxNoBorder">
<div class="tabheader">
	<ul class="nav">
		<venda_block label=221a,mode=value,<venda_setting type=ebiz,name=tracktagvbm>=1><li class="vbmTab"><a href="#contentTab1" title="<venda_text id=site.product_detail.vbm_title>"><venda_text id=site.product_detail.vbm></a></li></venda_block label=221a>
		<venda_block label=221b,mode=value,<venda_setting type=ebiz,name=tracktagvbm>!=1><li><a href="#contentTab1" title="<venda_text id=site.product_detail.related_title>"><venda_text id=site.product_detail.related></a></li></venda_block label=221b>
		<venda_block label=27,invtacctot&gt;0><li><a href="#contentTab2" title="<venda_text id=site.product_detail.accessories_title>"><venda_text id=site.product_detail.accessories></a></li></venda_block label=27>
		<venda_block label=29,invtsubtot&gt;0><li><a href="#contentTab3" title="<venda_text id=site.product_detail.substitute_title>"><venda_text id=site.product_detail.substitute></a></li></venda_block label=29>
		<li><a href="#contentTab4" title="<venda_text id=site.product_detail.recent_items>"><venda_text id=site.product_detail.recent_items></a></li>
	</ul>
</div>
<div class="tabcontent">
	<!-- related products (predictor or VBM) -->
	<venda_block label=222a,mode=value,<venda_setting type=ebiz,name=tracktagvbm>=1><div class="tab vbmTab"><venda_inctemplate type=vbm,name=productDetail></div></venda_block label=222a>
	<venda_block label=222b,mode=value,<venda_setting type=ebiz,name=tracktagvbm>!=1><div class="tab"><venda_invtrelated limit=4,threshold=2,template=related></div></venda_block label=222b>
	<!-- accessories -->
	<venda_block label=27,invtacctot&gt;0><div class="tab"><venda_invtacc template=accessories></div></venda_block label=27>
	<!-- substitutes -->
	<venda_block label=29,invtsubtot&gt;0><div class="tab"><venda_invtsub template=substitutes></div></venda_block label=29>
	<!-- RVI -->
	<div class="tab"><venda_inctemplate name=recentlyViewedProductDetailSlider,type=widgets></div>
</div>
</div>