<strong><venda_sestitle> <!-- mp_trans_disable_start --><venda_sesfname> <venda_seslname></strong><br>
<venda_block label=76,sescompany=notnull><venda_sescompany><br></venda_block label=76>
<venda_block label=90,sesnum=notnull><venda_sesnum> </venda_block label=90><venda_block label=91,sesaddr1=notnull><venda_sesaddr1><br></venda_block label=91>
<venda_block label=92,sesaddr2=notnull><venda_sesaddr2><br></venda_block label=92><venda_block label=93,sescity=notnull><venda_sescity><br></venda_block label=93>
<venda_block label=94,sesstate=notnull><venda_sesstate><br></venda_block label=94>
<venda_block label=96,sescntry=notnull><venda_sescntry></venda_block label=96><venda_block label=95,seszipc=notnull>, <venda_seszipc></venda_block label=95><br>
<venda_usemail><br>
<venda_sesarea>&nbsp;<venda_sesphone>
<!-- mp_trans_disable_end -->