<venda_detblock1></venda_detblock1>
<venda_detblock2></venda_detblock2>
<venda_detblock3></venda_detblock3>

<venda_detblock4>
<li>
<br>
<table summary="Order <venda_ohordnum> placed on <venda_ohodateen>" width="100%" border="0" id="orderhistorylist" cellspacing="1" cellpadding="0">
<tr>
	<th scope="row" width="125px">ORDER DATE:</th>
	<td><venda_ohodateen></td>
</tr>
<tr>
	<th scope="row" width="125px">ORDER NUMBER:</th>
	<td><venda_ohordnum></td>
</tr>
<tr>
	<th scope="row" width="125px">STATUS:</th>
	<td>
	<venda_block label=10,ohstatus=2>In Progress</venda_block label=10>
	<venda_block label=11,ohstatus=3>Ready to Despatch</venda_block label=11>
	<venda_block label=12,ohstatus=4>Backordered</venda_block label=12>
	<venda_block label=13,ohstatus=5>Despatched</venda_block label=13>
	<venda_block label=14,ohstatus=6>Returned</venda_block label=14>
	<venda_block label=15,ohstatus=7>Cancelled</venda_block label=15>
	</td>
</tr>
<tr>
	<th scope="row" width="125px" valign="top">ITEMS:</th>
	<td>
	<ul>
		<venda_detail5>
	</ul>
	</td>
</tr>
</table>
<div class="view_button"><a href="#" style="text-decoration:none;" onClick='<venda_wizbutton step=dispord,param1=<venda_ohrfnbr>,param2=user,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_vieworder.gif" alt="VIEW ORDER <venda_ohordnum>" border="0"></a><br class="clear-all"></div>
</li>
</venda_detblock4>

<venda_detblock5>
<li>
	<div class="left"><venda_oiqty>&nbsp;</div>
	<venda_block label=35,oiivref!=giftcert>
		<venda_block label=111,invtatt1=notnull><!-- attributes -->
				<div class="left"><a href="<venda_dispview invt=<venda_invtparef>>"><venda_oiivname></a>&nbsp;</div>
				<div class="left"> (<venda_invtatt1><venda_block label=112,invtatt2=notnull> / <venda_invtatt2></venda_block label=112>)&nbsp;</div>
		</venda_block label=111>
		<venda_block label=113,invtatt1=null><!-- no attributes -->
				<div class="left"><a href="<venda_dispview invt=<venda_oiivref>>"><venda_oiivname></a>&nbsp;</div></venda_block label=113>
	</venda_block label=35>
	<venda_block label=36,oiivref=giftcert>
				<div class="left"><a href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>&bklist=icat,4,shop,home"><venda_oiivname></a></div>
	</venda_block label=36>
	<venda_block label=32,oiivtype=notnull><!-- (<venda_oiivtype>) --></venda_block label=32>
	<br class="clear-all">
</li>
</venda_detblock5>




<venda_block label=34,ustype=R>
<div id="my_covContent">
<div class="myAccountPageHeader">Your Order History</div>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>

<p>To view an order in greater detail or to see the status of items in an order simply click on the 'View Order' button for the appropriate order below.</p>

<!-- mp_trans_remove_start -->
<p>Please note that orders cancelled or declined will not be processed. For any questions, please contact us at <a href="mailto:<venda_ebizemail>"><venda_ebizemail></a> or ring us at <venda_ebizarea> <venda_ebizphone> Monday - Friday 9:00 - 18:00. </p>
<!-- mp_trans_remove_end -->
<!-- mp_trans_disable_start -->
<!-- mp_trans_add="DE" 
<p>Bitte beachten Sie, dass abgebrochene oder abgelehnte Bestellungen nicht bearbeitet werden können. Bei Fragen kontaktieren Sie uns bitte unter <a href="mailto:service@urbanoutfitters.de">service@urbanoutfitters.de</a> oder rufen Sie uns von Montag bis Freitag, 10.00-18.00 Uhr unter +49 (0)69 380 789 339  an. </p> 
-->
<!-- mp_trans_add="FR" 
<p>Notez que les commandes annulées ou refusées ne seront pas traitées. Pour toute question, contactez-nous à l'adresse <a href="mailto:service@urbanoutfitters.fr">service@urbanoutfitters.fr</a> ou téléphonez-nous au +33 (0) 1 57 32 44 22  du lundi au vendredi entre 10:00 et 18:00. </p>
-->
<!-- mp_trans_disable_end -->

<!-- To show the account Balance -->
<p><strong>Your current account balance is: <venda_currsym><venda_storeremain></strong></p>

<venda_block label=20,ohorders!=0>
<venda_form>
<div class="myAccountPageHeader">YOUR RECENT ORDERS</div>
<ul>
<venda_detail4>
</ul>

<venda_detail1><venda_detail2><venda_detail3>

</form>
</venda_block label=20>

<venda_block label=21,ohorders=0>
<p>You have not placed any orders</p>
</venda_block label=21>

<div id="my-button2">
<a href="<venda_dispview page=myaccount>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_backtomyaccount.gif" alt="BACK TO MY ACCOUNT" border="0"></a><div class="clear-all"></div>
</div>
</div>
<div class="clear-all"></div>
</venda_block label=34>

<venda_block label=33,ustype!=R>    
<script language="javascript" type="text/javascript">
// forward to log in page
location.href="<venda_codehttps>?ex=co_wizr-register&bsref=<venda_bsref>";
</script>
</venda_block label=33>
<venda_inctemplate name=googleTrackingWorkflows,type=includes>