<div id="leftnav">
<ul>
		
        <li>
			<div class="leftnavcatcontent"><span style="width:100%;float:left;">About Us</span></div><br class="clear-all">

			<div id="leftnavsub">
            <venda_category temp=page_indexhelpnav,ref=storelocations,rec=pcat,cacheall=1>

			</div>
		</li>

		<div class="catsep"></div>
        
        <!-- Project Section not in use - commented
         <li>
			<div class="leftnavcatcontent"><span style="width:100%;float:left;"><a href="<venda_dispview page=projects>">Projects</a></span></div><br class="clear-all">

			<div id="leftnavsub">
            <venda_category temp=page_indexhelpnav,ref=projects,rec=pcat,cacheall=1>

			</div>
		</li>       
        
		<div class="catsep"></div>   
         -->  
                
        <li>
			<div class="leftnavcatcontent"><span style="width:100%;float:left;"><a href="<venda_dispview page=helpandinfo>">Help / Info</a></span></div><br class="clear-all">
    		
            <div id="leftnavsub">
        		<venda_category temp=page_indexhelpnav,ref=showinsitemap,rec=pcat,cacheall=1>
			</div>
        
        
        </li>
        <div class="catsep"></div>
        
        <li>
			<div class="leftnavcatcontent"><span style="width:100%;float:left;"><a href="<venda_dispview page=joblist>">Careers</a></span></div><br class="clear-all">
    		
            <div id="leftnavsub">
        		<venda_category temp=page_indexhelpnav,ref=careers,rec=pcat,cacheall=1>
			</div>
              
        </li>
     
        <div class="catsep"></div>       
        
        <li>
			<div class="leftnavcatcontent"><span style="width:100%;float:left;"><a href="<venda_dispview page=network>">Network</a></span></div><br class="clear-all">

			<div id="leftnavsub">
        		<ul>

					<li>
					<div class="leftnavsub">
            		<a href="http://twitter.com/uoeurope" target="_blank">Twitter</a>
            		<div class="clear-all"></div>
       				</div>
        			</li>
                    
                    <li>
					<div class="leftnavsub">
            		<a href="http://www.facebook.com/pages/Urban-Outfitters/9278511141" target="_blank">Facebook</a>
            		<div class="clear-all"></div>
       				</div>
        			</li>
                    
                    <li>
					<div class="leftnavsub">
            		<a href="http://www.flickr.com/photos/urbanoutfitterseurope/" target="_blank">Flickr</a>
            		<div class="clear-all"></div>
       				</div>
        			</li>
                    
                    <li>
					<div class="leftnavsub">
            		<a href="http://www.youtube.com/urbanoutfitterscouk" target="_blank">Youtube</a>
            		<div class="clear-all"></div>
       				</div>
        			</li>
                    
                    <li>
					<div class="leftnavsub">
            		<a href="http://blog.urbanoutfitters.com/" target="_blank">Blog</a>
            		<div class="clear-all"></div>
       				</div>
        			</li>


				</ul>
			</div>

    	</li>
        <div class="catsep"></div>

</ul>
</div>

