<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<venda_menu template=title>
<venda_menu template=css>
</head>
<body>
<venda_inctemplate name=coremetricsFunctions,type=includes/coremetrics>
<div align=center>
<venda_content>
<div>
	<a href="#" onClick="window.close(); return false;" title="click to close this window"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_closewindow.gif" alt="CLOSE WINDOW" border=0></a>
</div>

</div>
<venda_inctemplate name=googleAnalytics,type=includes>
<script language="JavaScript" type="text/javascript">
<!--
// set var for coremetrics
wflow="Popup";
// -->
</script>
<venda_inctemplate name=coremetricsMain,type=includes/coremetrics>

</body>
</html>