<venda_detblock1>
<thead>
<tr>
	<th scope="col"><venda_gwname1></th>
	<th scope="col"><venda_gwname2></th>
	<th scope="col"><venda_gwname3></th>
	<th scope="col"><venda_gwname4></th>
</tr>
</thead>
<tbody>
<tr>
	<td><venda_media rec=gwrp1></td>
	<td><venda_media rec=gwrp2></td>
	<td><venda_media rec=gwrp3></td>
	<td><venda_media rec=gwrp4></td>
</tr>
<tr>
	<td><venda_gwsell1></td>
	<td><venda_gwsell2></td>
	<td><venda_gwsell3></td>
	<td><venda_gwsell4></td>
</tr>
</tbody>
</venda_detblock1>

<venda_detblock2>
<venda_detail3>
</venda_detblock2>

<venda_detblock3>
<tr class="tr-basket">
	<td>
	<input type="hidden" name="textcount">
	<venda_block label=4,invtnogw!=1>
	<select name="gw-<venda_oirfnbr>"><venda_selectgiftwrap></select>
	</venda_block label=4>
	<venda_block label=5,invtnogw=1>
	Not available
	</venda_block label=5>
	</td>
	<td>
	<strong><venda_invtname></strong><br>
	<venda_title> <venda_fname> <venda_lname><br>
	<venda_num> <venda_addr1><venda_block label=72,addr2=notnull> <venda_addr2></venda_block label=72><br>
	<venda_city> <venda_state> <venda_zipc>
	</td>
	<td><venda_oisub></td>
	<td></td>
</tr>
</venda_detblock3>




<script language="javascript" type="text/javascript">
<!--
function TrackCount(fieldObj,countFieldName,maxChars)
{
  var countField = eval("fieldObj.form."+countFieldName);
  var diff = maxChars - fieldObj.value.length;

  // Need to check & enforce limit here also in case user pastes data
  if (diff < 0)
  {
    fieldObj.value = fieldObj.value.substring(0,maxChars);
    diff = maxChars - fieldObj.value.length;
  }
  countField.value = diff;
}

function LimitText(fieldObj,maxChars)
{
  var result = true;
  if (fieldObj.value.length >= maxChars) {
    result = false;
	alert('Please limit the text ' + maxChars+ ' characters.');	
  }
  if (window.event)
    window.event.returnValue = result;
  return result;
}
function moreInfoPopup() {
	if (document.all) {
		var screenWidth = document.body.scrollWidth;
		var screenHeight = document.body.scrollHeight;
	}
	// If Netscape 4.*
	else if (document.layers) {
		var screenWidth = window.document.width;
		var screenHeight = window.document.height;
	}
	// if Netscape 6
	else if (document.getElementById) {
		var screenWidth = window.document.width;
		var screenHeight = window.document.height;
	}
	var x = ((screenWidth-400) / 2);
	var y = ((screenHeight-100) / 2);
	popup = window.open('<venda_dispview stry=giftwrapping>','', config='left='+x+',top='+y+',height=640,width=770');
	popup.focus();
}
// -->
</script>

<venda_inctemplate name=checkoutBegin,type=includes>
<!-- start columns 2 - 3 -->
<div id="col-two-three">

<venda_form>

<div class="font1">
	<div class="heading-all">
	<h1>GIFT BOX</h1>
	<div class="underline"><p></p></div>
	</div>
</div>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>

<!-- 
<h2>Available Styles</h2>
<table summary="Picture and cost of each available style of gift wrap" width="100%" border="1">
<venda_detail1 col=4>
</table>
 -->

<p>Please select 'Gift Box' from the dropdown for those items that you would like us to gift box. The cost is <venda_currsym>2 per item. The item will be wrapped in tissue paper, sealed with a sticker, gift boxed and closed with a band. We'll do all the work for you.</p>

<table summary="Manage the gift wrapping options for the items in your order" width="100%" border="0" class="font2" cellspacing="0" cellpadding="0">
<thead>
<tr>
	<th scope="col" style="text-align:left;"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/hdr_wrapitem.jpg" alt="WRAP ITEM" border="0"></td>
	<th scope="col" style="text-align:left;"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/hdr_item.jpg" alt="ITEM" border="0"></td>
	<th scope="col" style="text-align:left;"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/hdr_price.jpg" alt="PRICE" border="0"></td>
	<th scope="col" style="text-align: left;"></td>
</tr>
</thead>
<tbody>
<venda_detail2>
</tbody>
</table>

<div id="buttons">
<a href='#' onClick='<venda_wizbutton step=confirm,mode=display,param1=<venda_bsref>,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="PREVIOUS" border="0" class="left"></a>
<input type="image" onClick='<venda_wizbutton step=confirm,mode=process,param1=<venda_bsref>,callonly=yes> return false;' src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continue.gif" alt="CONTINUE" class="right">
<div class="clear-all"></div>
</div>

</form>

<!-- 
param1: <venda_param1>
param2: <venda_param2>
workflow: <venda_workflow>
page: wz_orgw-screen.html
 -->
  
</div>
<!-- end columns 2 - 3 -->
<venda_inctemplate name=googleTrackingWorkflows,type=includes>