<venda_detblock_minify_js>
<script type="text/javascript" src="<venda_supportdir>/js/Venda.js"></script>
<script type="text/javascript" src="<venda_supportdir>/js/Venda/Platform.js"></script>
<venda_tpcomment><!-- These TPXT's can eventually be removed when we no longer use the elxts in the current JS element --></venda_tpcomment><venda_block label=20,invtref=notnull><venda_tpxt mode=set,name=menuinvtref,value=<venda_invtref>></venda_block label=20><venda_block label=21,icatref=notnull><venda_tpxt mode=set,name=menuicatref,value=<venda_icatref>></venda_block label=21><venda_category rec=elementcat,ref=js,temp=elementlist_nodiv><venda_block label=19812,pageref=home><venda_category rec=elementcat,ref=js_home,temp=elementlist_nodiv></venda_block label=19812><venda_block label=19813,mode=value,<venda_tpxt mode=get,name=track>=productlist><venda_category rec=elementcat,ref=js_productlist,temp=elementlist_nodiv><venda_block label=150,mode=value,<venda_setting type=ebiz,name=powerreviews>=1>
<script type="text/javascript" src="<venda_serveradd>/partners/pwr/engine/js/full.js"></script>
</venda_block label=150><venda_block label=151,mode=value,<venda_setting type=ebiz,name=showsearchgridlistview>=1,<venda_setting type=ebiz,name=showprodgridlistview>=1,operator=or>
<script type="text/javascript" src="/venda-support/js/Venda/Widget/styleswitcher.js"></script></venda_block label=151></venda_block label=19813><venda_block label=19814,mode=value,<venda_tpxt mode=get,name=track>=categorylist><venda_category rec=elementcat,ref=js_categorylist,temp=elementlist_nodiv></venda_block label=19814>
<venda_block label=19815,invtname=notnull><venda_category rec=elementcat,ref=js_productdetail,temp=elementlist_nodiv>
<venda_block label=152,mode=value,<venda_setting type=ebiz,name=powerreviews>=1>
<script type="text/javascript" src="<venda_serveradd>/partners/pwr/engine/js/full.js"></script></venda_block label=152></venda_block label=19815>
<venda_tpcomment><!-- Two separate sets of conditions are required for search due to the venda locayta tag being included in a product list template, however the same JS is called --></venda_tpcomment>
<venda_block label=19816,workflow=locayta><venda_category rec=elementcat,ref=js_search,temp=elementlist_nodiv>
<venda_block label=153,mode=value,<venda_setting type=ebiz,name=powerreviews>=1>
<script type="text/javascript" src="<venda_serveradd>/partners/pwr/engine/js/full.js"></script>
</venda_block label=153><venda_block label=154,mode=value,<venda_setting type=ebiz,name=showsearchgridlistview>=1,<venda_setting type=ebiz,name=showprodgridlistview>=1,operator=or>
<script type="text/javascript" src="/venda-support/js/Venda/Widget/styleswitcher.js"></script></venda_block label=154></venda_block label=19816><venda_block label=19821,mode=value,<venda_tpxt mode=get,name=track>=productlistsearch,<venda_tpxt mode=get,name=track>=categorylistsearch,operator=or><venda_category rec=elementcat,ref=js_search,temp=elementlist_nodiv><venda_block label=155,mode=value,<venda_setting type=ebiz,name=powerreviews>=1>
<script type="text/javascript" src="<venda_serveradd>/partners/pwr/engine/js/full.js"></script>
</venda_block label=155><venda_block label=156,mode=value,<venda_setting type=ebiz,name=showsearchgridlistview>=1,<venda_setting type=ebiz,name=showprodgridlistview>=1,operator=or>
<script type="text/javascript" src="/venda-support/js/Venda/Widget/styleswitcher.js"></script></venda_block label=156></venda_block label=19821><venda_block label=19817,pageref!=home,icatname=null,invtname=null><venda_block label=19818,workflow!=locayta><venda_block label=19820,mode=value,<venda_tpxt mode=get,name=track>!=productlistsearch,<venda_tpxt mode=get,name=track>!=categorylistsearch><venda_tpcomment>
<!-- 
workflow condition does not work with mode = value so 3 conditions are necessary 
This section is used for templates not covered above (exluding sitewide) e.g. page,story,giftcert,newsletter
--></venda_tpcomment><venda_category rec=elementcat,ref=js_other,temp=elementlist_nodiv>
</venda_block label=19820></venda_block label=19818></venda_block label=19817>
</venda_detblock_minify_js>
<venda_detail_minify_js>

<!--[if lt IE 7.]>
		<script defer type="text/javascript" src="<venda_supportdir>/js/pngfix.js"></script>
<![endif]-->

<!-- OPTIMOST PAGE CODE V2.7 - Copyright 2002-2008 Interwoven, Inc. -->
<script language="javascript" type="text/javascript"><!--
var optimost={A:{},C:{},D:document,L:document.location,M:[],Q:{},T:new Date(),U:'',V:'2.7',Enabled:true,ST:"script",SA:
{"type":"text/javascript"},I:function(){var s=this.L.search;var c=this.D.cookie;if(s.length>3){for(var a=s.substring(1)
.split("&"),i=0,l=a.length;i<l;i++){var p=a[i].indexOf("=");if(p>0)this.Q[a[i].substring(0,p)]=unescape(a[i].substring(
p+1));}}if(c.length>3){for(var a=c.split(";"),i=0,b=a.length;i<b;i++){var v=a[i].split("=");while(v[0].substring(0,
1)==" ")v[0]=v[0].substring(1,v[0].length);if(v.length==2)this.C[v[0]]=unescape(v[1]);}}},B:function(){var n;this.A={
};var _o=this;this.A.D_ts=Math.round(_o.T.getTime()/1000);this.A.D_tzo=_o.T.getTimezoneOffset();this.A.D_loc=_o.L.protocol+
"//"+_o.L.hostname+_o.L.pathname;this.A.D_ckl=_o.D.cookie.length;this.A.D_ref=_o.D.referrer;if(typeof optrial=="object")
for(n in optrial)this.A[n]=optrial[n];for(n in this.Q)this.A[n]=this.Q[n];for(n in this.C)if(n.substring(0,2)=="op")this.A[n]=
this.C[n];},S:function(){var q='';for(var n in this.A)if(this.A[n]!=null && this.A[n]!="")q+=(q.length>0?"&":(this.U.indexOf(
"?")>0?"&":"?"))+n+"="+escape(this.A[n]);return this.U+q;},SC:function(n,v,e,d){var de=new Date();de.setTime(
de.getTime()+e * 1000);this.D.cookie=n+"="+escape(v)+((e==null)?"":("; expires="+de.toGMTString()))+"; path=/"+((d==
null)?"":(";domain="+d));},SLD:function(){var sld=this.D.domain;var dp=sld.split(".");var l=dp.length;if(l<2)sld=null;
else if(!isNaN(dp[l-1])&&!isNaN(dp[l-2]))sld=null;else sld="."+dp[l-2]+"."+dp[l-1];return sld;},R:function(r,c,d,
e){if(this.Enabled){var b=true;if(r<1000){b=(Math.floor(Math.random()*1000)<r);if(c!=null){if(this.C[c]!=null)b=(this.C[c]!=
"mvt-no");else this.SC(c,b?"mvt-yes":"mvt-no",e,d);}}if(b){var t='<'+this.ST+' src="'+this.S()+'"';for(n in this.SA)
t+=(" "+n+'="'+this.SA[n]+'"');t+='><\/'+this.ST+'>';this.D.write(t);}}},addModule:function(s,f){this.M[s]=f;
},displayModule:function(s){if(typeof this.M[s]=="function")this.M[s]();},hasModules:function(){return count(this.M)>0;
}};optimost.I();
//--></script>
<!-- END OPTIMOST PAGE CODE -->
<!-- BEGIN OPTIMOST EXPERIMENT SELECTOR CODE -->
<script type="text/javascript">
var opSecureDomain='https://by.essl.optimost.com';
var opNormalDomain='http://es.optimost.com';
var opLiveURL = '/es/603/c/5/u/urbanOutfittersLive.js';
var opQaURL = '/es/603/c/5/u/urbanOutfittersStaging.js';
var opThisURL = document.location.toString();
var opURLArray = opThisURL.split('//');
var opProtocol = opURLArray[0];
if(opProtocol=='https:'){
	opLiveURL=opSecureDomain+opLiveURL;
	opQaURL=opSecureDomain+opQaURL;
}
else{
	opLiveURL=opNormalDomain+opLiveURL;
	opQaURL=opNormalDomain+opQaURL;
}

var opJsURL=opLiveURL;

// If variable opIsLiveEnv is false OR CONTAINS "opglobalqa=true", run the STAGING script.
var opIsLiveEnv = true;

<venda_block label=58,mode=value,<venda_islive>=null>
        opIsLiveEnv = false;
</venda_block label=58>


if(!opIsLiveEnv || opThisURL.indexOf('opglobalqa=true')!=-1){
	var opJsURL=opQaURL;
}
document.write('<' + 'script type="text/javascript" src="' + opJsURL + '"></' + 'script>\n');
</script>
<!-- END OPTIMOST EXPERIMENT SELECTOR CODE -->