<div id="orderdetail">
<div class="box basketAlt">
<h1 class="header"><venda_ohordnum></h1>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>
<p><venda_text id=site.my_account.order_lookup.details> <strong><venda_ohordnum><venda_block label=307,ohordnum=null><venda_ohrfnbr></venda_block label=307></strong>, <venda_text id=site.my_account.order_lookup.placed_on> <strong><venda_block label=88,mode=value,<venda_setting type=ebiz,name=mmdddates>!=1><venda_dateformat type=long,format=dd mm yyyy,suffix=0,date=<venda_ohstmpen>></venda_block label=88><venda_block label=89,mode=value,<venda_setting type=ebiz,name=mmdddates>=1><venda_dateformat type=long,format=mm dd yyyy,suffix=0,date=<venda_ohstmpen>></venda_block label=89></strong>.</p>
<p><venda_text id=site.my_account.order_lookup.order_status> '
<strong>
	<venda_block label=10,ohstatus=On Hold><venda_text id=site.order_status.in_progress></venda_block label=10>
	<venda_block label=11,ohstatus=Released for delivery><venda_text id=site.order_status.released_for_delivery></venda_block label=11>
	<venda_block label=12,ohstatus=Backordered><venda_text id=site.order_status.backordered></venda_block label=12>
	<venda_block label=13,ohstatus=Delivered><venda_text id=site.order_status.delivered></venda_block label=13>
	<venda_block label=14,ohstatus=Returned><venda_text id=site.order_status.returned></venda_block label=14>
	<venda_block label=15,ohstatus=Cancelled><venda_text id=site.order_status.cancelled></venda_block label=15>
</strong>
'.
</p></div>

<!--
<venda_tpcomment>Uncomment vendadetail4 to display order comments</venda_tpcomment>
<venda_tpcomment><!-- Start: Order Comments --></venda_tpcomment>
	<venda_detblock4>
		<p><venda_ocstmp>: <venda_occmt></p>
	</venda_detblock4>
	<venda_detail4 >
<venda_tpcomment><!-- End: Order Comments --></venda_tpcomment>
-->

	<venda_block label=15,ohpaytype=2,ohpaytype=3,ohpaytype=4,ohpaytype=5,ohpaytype=7,operator=or>
	<p class="ohpaytype">
	<venda_block label=17,ohpaytype=2><venda_text id=site.my_account.order_lookup.sendinpayment><venda_block label=39,ohoverpaid&gt;0,ohoverpaid=notnull><venda_text id=site.my_account.order_lookup.overpaid></venda_block label=39>.</venda_block label=17>
	<venda_block label=16,ohpaytype=3><venda_text id=site.my_account.order_lookup.purchaseorder><venda_block label=14,ohponum=notnull><venda_text id=site.my_account.order_lookup.ponumber></venda_block label=14>.</venda_block label=16>
	<venda_block label=10,ohpaytype=4><venda_text id=site.my_account.order_lookup.storecredit></venda_block label=10>
	<venda_block label=18,ohpaytype=5><venda_text id=site.my_account.order_lookup.manualpayment></venda_block label=18>
	<venda_block label=20,ohpaytype=7><venda_text id=site.my_account.order_lookup.faxpayment></venda_block label=20>
	</p>
	</venda_block label=15>

<venda_tpcomment><!-- Start: Package Summary --></venda_tpcomment>
<venda_tpcomment><!-- Start: venda_form required for cancel items --></venda_tpcomment>
<venda_form>
<input type="hidden" name="ohrfnbr" value="">
<input type="hidden" name="layout" value="myaccount">
	<venda_inctemplate name=orderDetblocks,type=includes>
	<venda_detail1>
</form>
<venda_tpcomment><!-- End: venda_form required for cancel items --></venda_tpcomment> 

	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,group=3,template=orxtDisplay,type=exfields/order,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,group=4,template=orxtDisplay,type=exfields/order,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,group=7,template=orxtDisplay,type=exfields/order,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,group=8,template=orxtDisplay,type=exfields/order,displayonly=1>
<venda_tpcomment><!-- End: Package Summary --></venda_tpcomment>

<venda_tpcomment><!-- Start: Order Summary --></venda_tpcomment>
	<venda_detblock3>
	<tr>
		<th scope="row" class="hdrPromotion"><venda_ckname></th>
		<td class="promotion">-<venda_ohcursym><venda_cktotal></td>
	</tr>
	</venda_detblock3>

	<div class="ohSumDetail box boxAlt">
	<div class="OrderSummaryHdr"><venda_text id=site.my_account.order_lookup.order_details></div>
    <venda_block label=3,ohcodisc&gt;0,accdisc&gt;0,operator=or>
    <div class="ohListVoucher">
	    <table summary="<venda_text id=site.my_account.order_lookup.table_summary>" title="<venda_text id=site.my_account.order_lookup.table_title>" class="wizrtable promotions">
	        <tr>
		        <th scope="col" colspan="2" class="hdrVouchers"><venda_text id=site.my_account.order_lookup.column_heading.vouchers></th>
	        </tr>
	    <venda_detail3>
	    </table>
	</div>
    </venda_block label=3>
    <venda_inctemplate name=orderSummary,type=includes>
    <div class="order-summary-box-footer"> </div>
	</div>


	<venda_block label=62,coupons=notnull>
	
	</venda_block label=62>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,group=5,template=orxtDisplay,type=exfields/order,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,group=6,template=orxtDisplay,type=exfields/order,displayonly=1>
<venda_tpcomment><!-- End: Order Summary --></venda_tpcomment>
<div id="paymentdetailSection" class="">
	<venda_tpcomment><!-- 255b and c expand or not the Payment Options Display depending whether the payment is Paypal (ohpaytype=12) or not --></venda_tpcomment>
	<div class="<venda_block label=255b,ohpaytype!=12>grid_18</venda_block label=255b><venda_block label=255c,ohpaytype=12>grid_24</venda_block label=255c> alpha">
		<venda_tpcomment><!-- Start: Payment Details --></venda_tpcomment>
		<div class="OrderSummaryHdr"><venda_text id=site.order_receipt.payment_details></div>
		<div class="boxContent">
		<venda_paymenttypes templatetype=paytype/frontend,template=paymenttypes_display,ohrfnbr=<venda_ohrfnbr>>
		<venda_tpcomment><!-- End: Payment Details --></venda_tpcomment>
		</div>
        <div class="order-summary-box-footer"> </div>
	</div>
	<venda_tpcomment><!-- Start: Contact Details --></venda_tpcomment>
	<venda_tpcomment><!-- Remove the contact details box if the payment type is PayPal (ohpaytype=12) --></venda_tpcomment>
	<venda_block label=255,ohpaytype!=12>
	<div id="contactdetails" class="grid_6 omega">
		<div class="box">
			<h2 class="header"><venda_text id=site.my_account.order_lookup.contact_details></h2>
			<div class="boxContent">
			<venda_inctemplate name=contactDetails,type=includes>
			</div>
		</div>
	</div>
	</venda_block label=255>
	<venda_tpcomment><!-- End: Contact Details --></venda_tpcomment>
</div>

<venda_tpcomment><!-- Start: JS Buttons --></venda_tpcomment>
<div id="buttons">
<a href="/page/myaccount" class="myaccount button buttonAlt2"><venda_text id=site.button.back_to_my_account></a>
<a href="<venda_codehttps>?ex=co_wizr-ordlookup&bsref=<venda_bsref>&template=wz_orpo-screen&layout=myaccount" class="history button buttonAlt2 right"><venda_text id=site.button.back_to_order_history></a>
</div>
<venda_tpcomment><!-- End: JS Buttons --></venda_tpcomment>
</div>
<script type="text/javascript">
jQuery(function(){
if(typeof Venda.Platform.EqualHeight != "undefined"){
	var classtoset = new Array ('#paymentdetailSection .boxContent');
	Venda.Platform.EqualHeight.init(classtoset);
	}
});
</script>

<venda_tpcomment><!-- 
workflow: <venda_workflow>
step: <venda_curstep>
param1: <venda_param1>
param2: <venda_param2>
page: wz_orlk-userord.html
 --></venda_tpcomment>
<venda_tpxt mode=set,name=track,value=orlk-userord> 
<venda_inctemplate name=hitboxOthers,type=includes/tracking>
<venda_inctemplate name=cmCreateRegistrationTag,type=includes/tracking/coremetrics>
<venda_inctemplate name=cm-wz_orlk-userord,type=includes/tracking/coremetrics>
