<!--begin header-->
<div id="headercontainer">

<!-- mp_trans_remove_start -->
<div id="UOmusic">    
<!-- mp_trans_remove_end -->
<!-- mp_trans_disable_start -->
<!-- mp_trans_add="FR"
<div id="UOmusic" class="fr">
-->
<!-- mp_trans_add="DE"
<div id="UOmusic" class="de">
--> 
<!-- mp_trans_disable_end -->

<a  class="OUMusicPop" href="#" onClick="popup('http://music.urbanoutfitters.com/radio.php?auto=on&group=LSTN%20Europe&name=UO%27s%20Top%2010.html'); return false;"></a>
</div>

<div id="headerlogo">

<a href="<venda_dispview page=home>" alt="Home" title="Home"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/uospringlogo.png" border="0" alt="URBAN OUTFITTERS" id="randomImg" name="randomImg" /></a>
</div> 
     
<!-- mp_trans_remove_start -->     
<div id="headersearch">
<!-- mp_trans_remove_end -->
<!-- mp_trans_disable_start -->
<!-- mp_trans_add="FR"
<div id="headersearch" class="fr">
-->
<!-- mp_trans_add="DE"
<div id="headersearch" class="de">
--> 
<!-- mp_trans_disable_end -->
	<venda_inctemplate name=search,type=includes>
</div>

<!-- mp_trans_remove_start -->
<div id="maintopnav">
<!-- mp_trans_remove_end -->
<!-- mp_trans_disable_start -->
<!-- mp_trans_add="FR"
<div id="maintopnav" class="fr">
-->
<!-- mp_trans_add="DE"
<div id="maintopnav" class="de">
--> 
<!-- mp_trans_disable_end -->

	<venda_menu template=topnav>
</div>
<div class="clear-all"></div>
</div>
<!-- end header -->


