<div class="grid_24">
  <div class="grid_16 alpha">
    <hr class="foot-line">
    <div class="fbLikeB">
			<span class="floatL">Like us on facebook</span>
			<div class="fbook-button">
			<!-- mp_trans_remove_start-->
			<iframe class="fbook floatL" scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:100px; height:21px;" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Furbanoutfitterseurope&layout=button_count&show_faces=false&width=100&action=like&font=arial&colorscheme=light&height=21"></iframe> 
			<!-- mp_trans_remove_end-->
			<!-- mp_trans_disable_start-->
				<!-- mp_trans_add="FR" 
					<iframe class="fbook floatL" scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:100px; height:21px;" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Furbanoutfittersfrance&layout=button_count&show_faces=false&width=100&action=like&font=arial&colorscheme=light&height=21"></iframe>	
				-->
				<!-- mp_trans_add="DE" 
					<iframe class="fbook floatL" scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:100px; height:21px;" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FUrbanOutfittersDeutschland&layout=button_count&show_faces=false&width=100&action=like&font=arial&colorscheme=light&height=21"></iframe>
				-->
			<!-- mp_trans_disable_end-->	
			</div><!-- End fbook-button -->
	</div><!-- End fbLikeB -->

  </div>
  <div class="grid_8 omega">
  <!-- mp_trans_remove_start-->
  	<div class="signup-img"></div>
  	<div class="signup-mask"></div>
  <!-- mp_trans_remove_end-->
  <!-- mp_trans_disable_start-->
	<!-- mp_trans_add="FR" 
		<div class="signup-img-fr"></div>
		<div class="signup-mask-fr"></div>		
	-->
	<!-- mp_trans_add="DE" 
		<div class="signup-img-de"></div>
		<div class="signup-mask-de"></div>
	-->
  <!-- mp_trans_disable_end-->
            <div class="foot-signUp">
            <!-- mp_trans_remove_start-->
            <div class="thanks" style="display:none;">Thank you for signing up!</div>
            <form id="commentForm" onsubmit="javascript:return false;" action="http://ebm.cheetahmail.com/r/regf2" method="GET">
	            <input value="2068353000" name="aid" type="hidden">
	            <input value="2" name="n" type="hidden">
	            <input value="1" name="a" type="hidden">
	            <venda_block label=1,mode=value,<venda_sessionlocation>=restofworld>
		            <input type="hidden" name="COUNTRY" value="UNITED KINGDOM">
		            <input type="hidden" name="SOURCE" value="UK-QUICKSIGNUP">
		        </venda_block label=1>
		        <venda_block label=2,mode=value,<venda_sessionlocation>!=restofworld>
		            <input type="hidden" name="COUNTRY" value="EUROPE">
		            <input type="hidden" name="SOURCE" value="EU-QUICKSIGNUP">
		        </venda_block label=2>
	            <input value="" name="GENDER" type="hidden">
	            <label>
		            <span>E-Mail Address</span>
		        </label>
		        <input value="Enter your email address" name="email" data-email="Enter your email address" onblur="this.value=!this.value?'Enter your email address':this.value;" onfocus="this.select()" type="text" class="email" id="email" onclick="this.value='';">
		        <input alt="" src="" value="" name="submit" border="0" class="submitForm" data-gender="F" id="gals" type="submit" onclick="Venda.quickSignup.genderFunction(this);">
		        <input alt="" src="" value="" name="submit" border="0" class="submitForm" data-gender="M" id="guys" type="submit" onclick="Venda.quickSignup.genderFunction(this);">
		    </form>
			<!-- mp_trans_remove_end-->
			<!-- mp_trans_disable_start-->
			<!-- mp_trans_add="FR" 
				<div class="thanks" style="display:none;">Merci!</div>
				<form id="commentForm" onsubmit="javascript:return false;" action="http://ebm.cheetahmail.com/r/regf2" method="GET">
	            	<input value="1061210640"" name="aid" type="hidden">
	            	<input value="7" name="n" type="hidden">
	            	<input value="0" name="a" type="hidden">
	            	<input value="FRANCE" name="COUNTRY" type="hidden">
	            	<input value="FR-QUICKSIGNUP" name="SOURCE" type="hidden">
	            	<input value="" name="GENDER" type="hidden">
	            	<label>
	            		<span>Adresse e-mail</span>
	            	</label>
		            <input value="Entrer votre adresse email" name="email" data-email="Entrer votre adresse email" onblur="this.value=!this.value?'Entrer votre adresse email':this.value;" onfocus="this.select()" type="text" class="email" id="email" onclick="this.value='';">
		            <input alt="" src="" value="" name="submit" border="0" class="submitForm submitFormFr" data-gender="F" id="gals" type="submit" onclick="Venda.quickSignup.genderFunction(this);">
		            <input alt="" src="" value="" name="submit" border="0" class="submitForm submitFormFr" data-gender="M" id="guys" type="submit" onclick="Venda.quickSignup.genderFunction(this);">
		        </form>
			-->
			<!-- mp_trans_add="DE" 
				<div class="thanks" style="display:none;">Vielen Dank f&uuml;r Ihre Anmeldung</div>
				<form id="commentForm" onsubmit="javascript:return false;" action="http://ebm.cheetahmail.com/r/regf2" method="GET">
	            	<input value="2085808709" name="aid" type="hidden">
	            	<input value="3" name="n" type="hidden">
	            	<input value="1" name="a" type="hidden">
	            	<input value="GERMANY" name="COUNTRY" type="hidden">
	            	<input value="DE-QUICKSIGNUP" name="SOURCE" type="hidden">
	            	<input value="" name="GENDER" type="hidden">
	            	<label>
		            	<span>E-Mail Address</span>
		            </label>
		            <input value="Gib deine E-Mail-Adresse ein" name="email" data-email="Gib deine E-Mail-Adresse ein" onblur="this.value=!this.value?'Gib deine E-Mail-Adresse ein':this.value;" onfocus="this.select()" type="text" class="email" id="email" onclick="this.value='';">
		            <input alt="" src="" value="" name="submit" border="0" class="submitForm submitFormDe" data-gender="F" id="gals" type="submit" onclick="Venda.quickSignup.genderFunction(this);">
		            <input alt="" src="" value="" name="submit" border="0" class="submitForm submitFormDe" data-gender="M" id="guys" type="submit" onclick="Venda.quickSignup.genderFunction(this);">
		        </form>
			-->
			<!-- mp_trans_disable_end-->
            </div>
            <script type="text/javascript">
	            jQuery(document).ready(function() {
		            Venda.quickSignup.init();
		        });
		    </script>
  </div>
</div>

<div class="grid_24">
  <div class="grid_8 alpha">
    <h4 class="foot">Info and Delivery</h4>
    <div class="footer-details clearfix">
      <ul>
        <li><a href="<venda_dispview page=helpandinfo>">Help &amp; info</a></li>
        <!-- mp_trans_remove_start-->
        <li><a href="<venda_dispview page=deliveryinformation>">Delivery information</a></li>
        <!-- mp_trans_remove_end-->
        <!-- mp_trans_disable_start -->
			<!-- mp_trans_add="FR"
				<li><a href="<venda_dispview page=deliveryinformation>">Infos livraison</a></li>
        	-->
        	<!-- mp_trans_add="DE"
        		<li><a href="<venda_dispview page=deliveryinformation>">Versandinformationen</a></li>
        	-->
        <!-- mp_trans_disable_end -->
        <li><a href="<venda_dispview page=deliveryinformation>#ordertracking">Track order</a></li>
        <li><a href="<venda_dispview page=returns>">Return policy</a></li>
      </ul>
      
      <ul>
        <li><a href="<venda_dispview page=faqs>">FAQs</a></li>
        <li><a href="<venda_dispview page=termsandconditions>">T&amp;Cs</a></li>
        <li><a href="<venda_dispview page=cookies>">Cookies</a></li>
        <li><a href="<venda_dispview page=privacypolicy>">Privacy</a></li>
      </ul>
    </div>
  </div>
  <div class="grid_8">
    <h4 class="foot">About UO</h4>
    <div class="footer-details clearfix">
      <ul>
        <li><a href="<venda_dispview page=storelocator>">UO Stores</a></li>
        <li><a href="<venda_dispview page=joblist>">Careers</a></li>
      </ul>
      
      <ul>
        <!-- mp_trans_remove_start-->
        <li><a href="<venda_dispview page=emailsignup>">Email sign up</a><li>
        <!-- mp_trans_remove_end-->
		<!-- mp_trans_disable_start -->
			<!-- mp_trans_add="FR"
			<li><a href="<venda_dispview page=emailsignup>">S'abonner aux emails</a><li>
            -->
        	<!-- mp_trans_add="DE"
        	<li><a href="<venda_dispview page=emailsignup>">Newsletter Anmeldung</a><li>
            --> 
        <!-- mp_trans_disable_end -->
        <venda_block label=1,mode=value,<venda_sessionlocation>=restofworld>
        <li><a href="<venda_dispview page=unidays>">Student Discount</a></li>
        </venda_block label=1>
      </ul>
    </div>
  </div>
  <div class="grid_8 omega">
    <h4 class="foot">Let's get social</h4>
    <div class="footer-details clearfix social">
    	<ul class="getSocial">
      <li><a target="_blank" href="http://open.spotify.com/user/urbanoutfitterseurope/playlist/296jRH3W0cibUDnQIUTGRW" class="foot-sp"></a></li>
			<li><a class="foot-blog" href="http://blog.urbanoutfitters.co.uk/" target="_blank"></a></li>
			<li><a class="foot-uotv" href="<venda_dispview scat=community>&temp=community_archive#uotv"></a></li>				
    		<!-- mp_trans_remove_start-->
    		<li><a class="foot-comm" href="<venda_dispview scat=community>"></a></li>
            <li><a target="_blank" href="http://twitter.com/uoeurope" class="foot-tw"></a></li>
			<li><a target="_blank" href="http://www.facebook.com/urbanoutfitterseurope" class="foot-fb"></a></li>
			<!-- mp_trans_remove_end-->
			<!-- mp_trans_disable_start-->
			<!-- mp_trans_add="FR" 
				<li><a class="foot-comm-fr" href="<venda_dispview scat=community>"></a></li>
				<li><a target="_blank" href="http://twitter.com/uofrance" class="foot-tw"></a></li>
				<li><a target="_blank" href="https://www.facebook.com/urbanoutfittersfrance" class="foot-fb"></a></li>
			-->
			<!-- mp_trans_add="DE" 
				<li><a class="foot-comm" href="<venda_dispview scat=community>"></a></li>
				<li><a target="_blank" href="http://twitter.com/UODeutschland" class="foot-tw"></a></li>
				<li><a target="_blank" href="https://www.facebook.com/UrbanOutfittersDeutschland" class="foot-fb"></a></li>
			-->
			<!-- mp_trans_disable_end-->
			<li><a target="_blank" href="http://pinterest.com/uoeurope/" class="foot-pt"></a></li>
			<li><a target="_blank" href="http://instagram.com/uoeurope" class="foot-in"></a></li>
			<li><a target="_blank" href="http://www.flickr.com/photos/urbanoutfitterseurope/" class="foot-fl"></a></li>
			<li><a target="_blank" href="http://www.youtube.com/urbanoutfitterscouk" class="foot-yt"></a></li>
		    <li><a target="_blank" href="http://vimeo.com/user8503565" class="foot-vm"></a></li>
		</ul>
    </div>
  </div>
</div>

<div class="footerBrandsButton">
	<!-- mp_trans_remove_start-->
		<div onClick="Venda.brandDropdown.init(this);" class="footerBrandsBtn">Our most popular brands...</div>
	<!-- mp_trans_remove_end-->
	<!-- mp_trans_disable_start-->
	<!-- mp_trans_add="FR" 
		<div onClick="Venda.brandDropdown.init(this);" class="footerBrandsBtn">Nos marques les plus populaires </div>
	-->
	<!-- mp_trans_add="DE" 
		<div onClick="Venda.brandDropdown.init(this);" class="footerBrandsBtn">Unsere beliebtesten Marken </div>
	-->
	<!-- mp_trans_disable_end-->
</div>
<div class="footerBrands" style="display:none;">
	<ul>
		<li>
			<!-- mp_trans_remove_start-->
				<h3>Women's Brands</h3>
			<!-- mp_trans_remove_end-->
			<!-- mp_trans_disable_start-->
			<!-- mp_trans_add="FR" 
				<h3>Marques Femme</h3>
			-->
			<!-- mp_trans_add="DE" 
				<h3>Marken f&uuml;r Sie</h3>
			-->
			<!-- mp_trans_disable_end-->
			<p><venda_page page=womens_brands></p>
		</li>
		<li>
			<!-- mp_trans_remove_start-->
				<h3>Men's Brands</h3>
			<!-- mp_trans_remove_end-->
			<!-- mp_trans_disable_start-->
			<!-- mp_trans_add="FR" 
				<h3>Marques Homme</h3>
			-->
			<!-- mp_trans_add="DE" 
				<h3>Marken f&uuml;r Ihn</h3>
			-->
			<!-- mp_trans_disable_end-->
			<p><venda_page page=mens_brands></p>
		</li>
	</ul>
</div>

<script type="text/javascript">
Venda.namespace('brandDropdown');
Venda.brandDropdown = {
	init: function(a) {
		jQuery('.footerBrands').slideToggle();
		jQuery(a).toggleClass('brandsActive');
	}
}
</script>