<div class="grid_24">
  <div class="grid_16 alpha">
    <hr class="foot-line">
    <div class="fbLikeB">
			<span class="floatL">Like us on facebook</span>
			<div class="fbook-button">
			<!-- mp_trans_remove_start-->
			<iframe class="fbook floatL" scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:100px; height:21px;" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Furbanoutfitterseurope&layout=button_count&show_faces=false&width=100&action=like&font=arial&colorscheme=light&height=21"></iframe> 
			<!-- mp_trans_remove_end-->
			<!-- mp_trans_disable_start-->
				<!-- mp_trans_add="FR" 
					<iframe class="fbook floatL" scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:100px; height:21px;" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Furbanoutfittersfrance&layout=button_count&show_faces=false&width=100&action=like&font=arial&colorscheme=light&height=21"></iframe>	
				-->
				<!-- mp_trans_add="DE" 
					<iframe class="fbook floatL" scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:100px; height:21px;" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FUrbanOutfittersDeutschland&layout=button_count&show_faces=false&width=100&action=like&font=arial&colorscheme=light&height=21"></iframe>
				-->
			<!-- mp_trans_disable_end-->	
			</div><!-- End fbook-button -->
	</div><!-- End fbLikeB -->

  </div>
  <div class="grid_8 omega">
  <!-- mp_trans_remove_start-->
  	<div class="signup-img"></div>
  <!-- mp_trans_remove_end-->
  <!-- mp_trans_disable_start-->
	<!-- mp_trans_add="FR" 
		<div class="signup-img-fr"></div>		
	-->
	<!-- mp_trans_add="DE" 
		<div class="signup-img-de"></div>
	-->
  <!-- mp_trans_disable_end-->
            <div class="foot-signUp">
            <!-- mp_trans_remove_start-->
            <iframe class="signupFrame" src="//ebm.cheetahmail.com/r/regf2?aid=2068353000&n=2&a=0" width="330" height="45" frameborder="0" allowTransparency="allowTransparency"></iframe>
			<!-- mp_trans_remove_end-->
			<!-- mp_trans_disable_start-->
			<!-- mp_trans_add="FR" 
				<iframe class="signupFrame" src="//ebm.cheetahmail.com/r/regf2?aid=1061210640&n=7&a=0" width="330" height="45" frameborder="0" allowTransparency="allowTransparency"></iframe>
			-->
			<!-- mp_trans_add="DE" 
				<iframe class="signupFrame" src="//ebm.cheetahmail.com/r/regf2?aid=2085808709&n=3&a=0" width="330" height="45" frameborder="0" allowTransparency="allowTransparency"></iframe>
			-->
			<!-- mp_trans_disable_end-->
            </div>
  </div>
</div>

<div class="grid_24">
  <div class="grid_8 alpha">
    <h4 class="foot">Info and Delivery</h4>
    <div class="footer-details clearfix">
      <ul>
        <li><a href="<venda_dispview page=helpandinfo>">Help &amp; info</a></li>
        <!-- mp_trans_remove_start-->
        <li><a href="<venda_dispview page=deliveryinformation>">Delivery information</a></li>
        <!-- mp_trans_remove_end-->
        <!-- mp_trans_disable_start -->
			<!-- mp_trans_add="FR"
				<li><a href="<venda_dispview page=deliveryinformation>">Infos livraison</a></li>
        	-->
        	<!-- mp_trans_add="DE"
        		<li><a href="<venda_dispview page=deliveryinformation>">Versandinformationen</a></li>
        	-->
        <!-- mp_trans_disable_end -->
        <li><a href="<venda_dispview page=deliveryinformation>#ordertracking">Track order</a></li>
        <li><a href="<venda_dispview page=returns>">Return policy</a></li>
      </ul>
      
      <ul>
        <li><a href="<venda_dispview page=faqs>">FAQs</a></li>
        <li><a href="<venda_dispview page=termsandconditions>">T&amp;Cs</a></li>
        <li><a href="<venda_dispview page=cookies>">Cookies</a></li>
        <li><a href="<venda_dispview page=privacypolicy>">Privacy</a></li>
      </ul>
    </div>
  </div>
  <div class="grid_8">
    <h4 class="foot">About UO</h4>
    <div class="footer-details clearfix">
      <ul>
        <li><a href="<venda_dispview page=storelocator>">UO Stores</a></li>
        <li><a href="<venda_dispview page=joblist>">Careers</a></li>
      </ul>
      
      <ul>
        <!-- mp_trans_remove_start-->
        <li><a href="<venda_dispview page=emailsignup>">Email sign up</a><li>
        <li><a href="<venda_dispview page=spring_signup>">Catalogue Sign Up</a></li>
        <!-- mp_trans_remove_end-->
		<!-- mp_trans_disable_start -->
			<!-- mp_trans_add="FR"
			<li><a href="<venda_dispview page=emailsignup>">S'abonner aux emails</a><li>
            <li><a href="<venda_dispview page=spring_signup>">Recevez notre catalogue</a></li>
            -->
        	<!-- mp_trans_add="DE"
        	<li><a href="<venda_dispview page=emailsignup>">Newsletter Anmeldung</a><li>
            <li><a href="<venda_dispview page=spring_signup>">Katalog Anmeldung</a></li>
            --> 
        <!-- mp_trans_disable_end -->
        <venda_block label=1,mode=value,<venda_sessionlocation>=restofworld>
        <li><a href="<venda_dispview page=unidays>">Students! 20% Off</a></li>
        </venda_block label=1>
      </ul>
    </div>
  </div>
  <div class="grid_8 omega">
    <h4 class="foot">Let's get social</h4>
    <div class="footer-details clearfix social">
    	<ul class="getSocial">
      <li><a target="_blank" href="http://open.spotify.com/user/urbanoutfitterseurope/playlist/296jRH3W0cibUDnQIUTGRW" class="foot-sp"></a></li>
			<li><a class="foot-blog" href="http://blog.urbanoutfitters.co.uk/" target="_blank"></a></li>
			<li><a class="foot-uotv" href="<venda_dispview scat=community>&temp=community_archive#uotv"></a></li>	
		  <li><a class="foot-comm" href="<venda_dispview scat=community>"></a></li>			
    		<!-- mp_trans_remove_start-->
            <li><a target="_blank" href="http://twitter.com/uoeurope" class="foot-tw"></a></li>
			<li><a target="_blank" href="http://www.facebook.com/urbanoutfitterseurope" class="foot-fb"></a></li>
			<!-- mp_trans_remove_end-->
			<!-- mp_trans_disable_start-->
			<!-- mp_trans_add="FR" 
				<li><a target="_blank" href="http://twitter.com/uofrance" class="foot-tw"></a></li>
				<li><a target="_blank" href="https://www.facebook.com/urbanoutfittersfrance" class="foot-fb"></a></li>
			-->
			<!-- mp_trans_add="DE" 
				<li><a target="_blank" href="http://twitter.com/UODeutschland" class="foot-tw"></a></li>
				<li><a target="_blank" href="https://www.facebook.com/UrbanOutfittersDeutschland" class="foot-fb"></a></li>
			-->
			<!-- mp_trans_disable_end-->
			<li><a target="_blank" href="http://pinterest.com/uoeurope/" class="foot-pt"></a></li>
			<li><a target="_blank" href="http://instagram.com/uoeurope" class="foot-in"></a></li>
			<li><a target="_blank" href="http://www.flickr.com/photos/urbanoutfitterseurope/" class="foot-fl"></a></li>
			<li><a target="_blank" href="http://www.youtube.com/urbanoutfitterscouk" class="foot-yt"></a></li>
		    <li><a target="_blank" href="http://vimeo.com/user8503565" class="foot-vm"></a></li>
		</ul>
    </div>
  </div>
</div>

<a href="#" class='OUMusicPop' onclick="popup('http://music.urbanoutfitters.com/radio.php?auto=on&group=LSTN%20Europe&name=LSTN%20Europe%20%2310.html'); return false;"></a>
