<div class="grid_24">
  <div class="grid_16 alpha">
    <hr class="foot-line">
    <div class="fbLikeB">
			<span class="floatL">Like us on facebook</span>
			<div class="fbook-button">		
			<iframe class="fbook floatL" scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:100px; height:21px;" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Furbanoutfitterseurope&layout=button_count&show_faces=false&width=100&action=like&font=arial&colorscheme=light&height=21"></iframe>
			</div><!-- End fbook-button -->
	</div><!-- End fbLikeB -->

  </div>
  <div class="grid_8 omega">
       <div class="signup-img"></div>
            <div class="foot-signUp">
            <!-- mp_trans_remove_start-->
            <iframe class="signupFrame" src="http://ebm.cheetahmail.com/r/regf2?aid=2068353000&n=2&a=0" width=330 height=45></iframe>
			<!-- mp_trans_remove_end-->
			<!-- mp_trans_disable_start-->
			<!-- mp_trans_add="FR" 
				<iframe class="signupFrame" src="http://ebm.cheetahmail.com/r/regf2?aid=1061210640&n=7&a=0" width=330 height=45></iframe>
			-->
			<!-- mp_trans_add="DE" 
				<iframe class="signupFrame" src="http://ebm.cheetahmail.com/r/regf2?aid=2085808709&n=3&a=0" width=330 height=45></iframe>
			-->
			<!-- mp_trans_disable_end-->
            </div>
  </div>
</div>

<div class="grid_24">
  <div class="grid_8 alpha">
    <h4 class="foot">Info and Delivery</h4>
    <div class="footer-details clearfix">
      <ul>
        <li><a href="#">Help &amp; info</a></li>
        <li><a href="#">Delivery information</a></li>
        <li><a href="#">Track order</a></li>
        <li><a href="#">Return policy</a></li>
      </ul>
      
      <ul>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">T&amp;Cs</a></li>
        <li><a href="#">Cookies</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </div>
  </div>
  <div class="grid_8">
    <h4 class="foot">About UO</h4>
    <div class="footer-details clearfix">
      <ul>
        <li><a href="#">UO Stores</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">US site</a></li>
      </ul>
      
      <ul>
        <li><a href="#">Email sign up</a><li>
      </ul>
    </div>
  </div>
  <div class="grid_8 omega">
    <h4 class="foot">Let's get social</h4>
    <div class="footer-details clearfix social">
    	<ul class="getSocial">
			<li><a target="_blank" href="http://www.facebook.com/urbanoutfitterseurope" class="foot-fb"></a></li>
			<li><a target="_blank" href="http://www.flickr.com/photos/urbanoutfitterseurope/" class="foot-fl"></a></li>
			
		    <li><a href="http://urbanoutfitters.uat.venda.com/scat/community/" class="foot-comm"></a></li>			
			<li><a target="_blank" href="http://twitter.com/uoeurope" class="foot-tw"></a></li>
			
			<li><a target="_blank" href="http://www.youtube.com/urbanoutfitterscouk" class="foot-yt"></a></li>	
			<li><a class="foot-blog" href="http://urbanoutfitters-blog.co.uk" target="_blank"></a></li>
		</ul>
    </div>
  </div>
</div>

<a href="#" class='OUMusicPop' onclick="popup('http://music.urbanoutfitters.com/radio.php?auto=on&group=LSTN%20Europe&name=LSTN%20Europe%20%2310.html'); return false;"></a>
