<script language="javascript">
	tal = new Array();
	colname = new Array();
	i = 0;
	function talColName(name){
		imgname =name;
		imgname1 = imgname.toLowerCase(imgname); 
		imgname1 = imgname1.replace(' ','');
		path= '<venda_ebizurl>/content/ebiz/<venda_bsref>/invt/<venda_invtref>/<venda_invtref>' + '_'+ imgname1 + '_'+ 'sw.jpg';
		imgurl = '<img src="'+ path +'" id="imgcol" name="imgcol" " border="0" width="17" height="17">';
		document.write(imgurl);
		tal[i]=imgurl;
		colname[i]=imgname;
		var preloadImage = new Image();
		preloadImage.src = imgurl;
		i++;
	}
</script>

<venda_detblock1>
<td scope="col">
	<script language="javascript">
		talColName('<venda_headatr>');
	</script>
</td>

</venda_detblock1>

<venda_detblock2>
	<venda_block label=5502,invtatretawkleft&lt;1>
		<venda_block label=409,invtavail&gt;0>
		<td><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_instock.gif" alt="IN STOCK" border="0"></td>
		</venda_block label=409>
		
		<venda_block label=410,invtavail&lt;1>
		<td><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_outstock.gif" alt="SOLD OUT" border="0"></td>
		</venda_block label=410>
	</venda_block label=5502>
</venda_detblock2>

<venda_detblock3>
	<td scope="row" align="left"><span style="margin-right:20px"><strong><venda_colrows></strong></span></td>
</venda_detblock3>

<venda_form method=get>

<p class="avaHead">CHECK STOCK: <span class="up"><strong><venda_invtname></strong></span></p>	

	<table class="left availability" summary="Availability and pricing of <venda_invtatrlbl1>s and <venda_invtatrlbl2>s">
	    <thead>
	        <tr>
			<td>Check Stock</td>
			<venda_detail1>
	        </tr>
	    </thead>
	    <tbody>
	        <venda_detail3>
	    </tbody>
	</table>
<table class="availabilityColours">
<tr><td>
	<script language="javascript">
		for(i=0;i < tal.length;i++){
			document.write('<div class="talCol">'+ tal[i] + '<span>' + colname[i] +'</span></div>');
		}
	</script>
</td></tr>
</table>

<script>
	function replaceUnloadImage() {
		for (i = 0; i < document.images.length; i++) {
			if (!document.images[i].complete) {
				document.images[i].src = "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/noimage_sw.gif";
			}
		}
	}
	function delayLoading() {
		setTimeout("replaceUnloadImage()", 3000);
	}
	var browser_version = navigator.appName + " " + navigator.appVersion;
	if (browser_version.indexOf('IE') != -1) {
		window.onLoad = delayLoading();	
	}	
	
</script>
</form>

