<div id="covNav_Myaccount">

<div id="myAccountBillingDetails">
<div class="myAccountHeader">Billing Details</div>
<p><venda_inctemplate name=contactDetails_nav,type=includes></p>
<a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,addr=change>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_edit.gif" alt="EDIT" border="0"></a>
</div>

<div id="myAccountAccountDetails">
<div class="myAccountHeader">Account Details</div>
<ul id="mynav">
	<li><a href="<venda_codehttps>?ex=co_wizr-ordlookup&bsref=<venda_bsref>&template=wz_orpo-screen&layout=myaccount">Account Balance</a></li>
	<li><a href="<venda_codehttps>?ex=co_wizr-ordlookup&bsref=<venda_bsref>&template=wz_orpo-screen&layout=myaccount">Order History</a></li>
	<li><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,pass=change>">Change Password</a></li>
	<li><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,comm=change>">Communication Preferences</a></li>
	<li><a href="<venda_codehttps>?ex=co_wizr-manageaddresses&bsref=<venda_bsref>">Address Book</a></li>
</ul>
</div>

</div>