<venda_tpcomment><!-- add 'defaultErrorMessages' <div> to prevent a duplicate id --></venda_tpcomment>
<div id="defaultErrorMessages">
<div id="requireText" style="display:none;"><venda_text id=mobile.validation.default.require_text></div>
<div id="requireMultiSelect" style="display:none;"><venda_text id=mobile.validation.default.require_select></div>
<div id="requireSelect" style="display:none;"><venda_text id=mobile.validation.default.require_checkbox></div>
<div id="phone" style="display:none;"><venda_text id=mobile.validation.default.phone></div>
<div id="email" style="display:none;"><venda_text id=mobile.validation.default.email></div>
<div id="onlyLetter" style="display:none;"><venda_text id=mobile.validation.default.only_letter></div>
<div id="onlyNumber" style="display:none;"><venda_text id=mobile.validation.default.only_number></div>
<div id="password" style="display:none;"><venda_text id=mobile.validation.default.password></div>
<div id="length" style="display:none;"><venda_text id=mobile.validation.default.fix_lenth></div>
<div id="minLength" style="display:none;"><venda_text id=mobile.validation.default.min_lenth></div>
<div id="maxLength" style="display:none;"><venda_text id=mobile.validation.default.max_lenth></div>
<div id="rangeLength" style="display:none;"><venda_text id=mobile.validation.default.range_lenth></div>
<div id="match" style="display:none;"><venda_text id=mobile.validation.default.match_field></div>
<div id="cardExpired" style="display:none;"><venda_text id=mobile.validation.default.card_expired></div>
<div id="occasionDate" style="display:none;"><venda_text id=mobile.validation.default.occasion_date></div>
</div>