<html lang="<venda_block label=487,usgrref!=guest_de,usgrref!=guest_fr>en</venda_block label=487><venda_block label=488,usgrref=guest_de>de</venda_block label=488><venda_block label=489,usgrref=guest_fr>fr</venda_block label=489>">
<meta http-equiv="Content-Type" content="text/html; charset=iso8859-1">
<head>
<venda_block label=1011,mode=value,<venda_usgrref>!=guest_de,<venda_usgrref>!=guest_fr><title><venda_ebizname> Registration</title></venda_block label=1011>
<venda_block label=1012,mode=value,<venda_usgrref>=guest_de><title><venda_ebizname> Registrierung</title></venda_block label=1012>
<venda_block label=1013,mode=value,<venda_usgrref>=guest_fr><title><venda_ebizname> Inscription</title></venda_block label=1013>
</head>
<body>

<venda_inctemplate name=htmlEmailCssEtc,type=includes/emailContents>

<br><br>
<venda_block label=1021,mode=value,<venda_usgrref>!=guest_de,<venda_usgrref>!=guest_fr>
<a href="<venda_ebizurl>/page/home&cm_mmc=service-_-all-_-all_regconfirm-_-all"><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/logoemail.gif" alt="<venda_ebizname>" border="0"></a>
<br><br>
<strong>Email Registration</strong>
</venda_block label=1021>
<venda_block label=1022,mode=value,<venda_usgrref>=guest_de>
<a href="http://www.urbanoutfitters.de/page/home&cm_mmc=service-_-all-_-all_regconfirm-_-all"><img src="http://www.urbanoutfitters.de/content/ebiz/<venda_bsref>/resources/images/logoemail.gif" alt="<venda_ebizname>" border="0"></a>
<br><br>
<strong>E-Mail-Registrierung</strong>
</venda_block label=1022>
<venda_block label=1023,mode=value,<venda_usgrref>=guest_fr>
<a href="http://www.urbanoutfitters.fr/page/home&cm_mmc=service-_-all-_-all_regconfirm-_-all"><img src="http://www.urbanoutfitters.fr/content/ebiz/<venda_bsref>/resources/images/logoemail.gif" alt="<venda_ebizname>" border="0"></a>
<br><br>
<strong>Inscription par e-mail</strong>
</venda_block label=1023>
<br><br>
<venda_block label=1031,mode=value,<venda_usgrref>!=guest_de,<venda_usgrref>!=guest_fr>
<p>Dear <venda_fname>,</p>
<p>Hurrah! You've successfully registered and created an account at Urban Outfitters - www.urbanoutfitters.co.uk</p>
<p>To ensure you don't miss out on anything and are kept up-to-date on all news, offers and events; make sure you have opted-in to receive the Urban Outfitters emails.</p>
<p>If you are unsure, just log in to your account to check or update your communication preferences.</p>
<p>Let the fun and shopping begin!</p>
<p>Urban Outfitters Europe</p>
<p><a href="<venda_ebizurl>/page/home&cm_mmc=service-_-all-_-all_regconfirm-_-all"><venda_ebizurl></a></p>
</venda_block label=1031>
<venda_block label=1032,mode=value,<venda_usgrref>=guest_de>
<p>Sehr geehrte/r <venda_fname>,</p>
<p>Herzlichen Glückwunsch! Sie haben sich erfolgreich bei Urban Outfitters – http://www.urbanoutfitters.de – angemeldet und ein Konto erstellt.</p>
<p>Damit Sie nichts verpassen und bei Neuigkeiten, Angeboten und Veranstaltungen immer auf dem neuesten Stand bleiben, wählen Sie bitte die entsprechende Option aus, um E-Mails von Urban Outfitters zu erhalten.</p>
<p>Wenn Sie sich nicht sicher sind, melden Sie sich zur Überprüfung einfach in Ihrem Konto an oder aktualisieren Sie Ihre Kommunikationsmethode.</p>
<p>Wir wünschen Ihnen viel Spaß bei Ihrem Einkauf!</p>
<p>Urban Outfitters Europa</p>
<p><a href="http://www.urbanoutfitters.de/page/home&cm_mmc=service-_-all-_-all_regconfirm-_-all">http://www.urbanoutfitters.de</a></p>
</venda_block label=1032>
<venda_block label=1033,mode=value,<venda_usgrref>=guest_fr>
<p>Ch&#232;re/Cher <venda_fname>,</p>
<p>Hourrah ! Vous vous &ecirc;tes inscrit(e) avec succ&egrave;s et vous venez de cr&eacute;er votre compte chez <a href="http://www.urbanoutfitters.fr/page/home&cm_mmc=service-_-all-_-all_regconfirm-_-all">Urban Outfitters</a></p>
<p>Afin de vous assurer que vous ne laissez passer aucune opportunit&eacute; et que vous recevez toutes les nouvelles, offres et annonces d'&eacute;v&eacute;nements, v&eacute;rifiez que vous avez bien choisi de recevoir les e-mails envoy&eacute;s par Urban Outfitters.</p>
<p>Si vous n'&ecirc;tes pas certain(e), il vous suffit de vous connecter &agrave; votre compte et de v&eacute;rifier ou mettre &agrave; jour vos pr&eacute;f&eacute;rences de communication.</p>
<p>Que les jeux et le shopping commencent !</p>
<p>Urban Outfitters France</p>
<p><a href="http://www.urbanoutfitters.fr/page/home&cm_mmc=service-_-all-_-all_regconfirm-_-all">http://www.urbanoutfitters.fr</a></p>
</venda_block label=1033>
<venda_inctemplate name=htmlEmailFooter,type=includes/emailContents>
</body>
</html>
