<div class="socialButtons">
	<span>Share</span>
	<div class="socialIcons">
		<a href="<venda_dispview invt=<venda_invtref>>&temp=tellafriendMobile" class="tellafriend"><span>Tell a Friend</span></a>
		<a class="fb_share fb" href="http://www.facebook.com/sharer.php?u=<venda_encode><venda_dispview invt=<venda_invtref>></venda_encode>&t=<venda_encode><venda_invtname></venda_encode>" target="_blank"><span>facebook</span></a>
		<a href="http://twitter.com/share" target="_blank" class="twitt twitter-share-button" data-count="none"><span>twitt</span></a>
	</div>
</div>