<script language="javascript">
i=0;
n=0;
</script>
<venda_detblock>
	<venda_block invtref1=notnull>
	<venda_inctemplate name=productlistDetblock,type=includes>
	</venda_block>
</venda_detblock>

<!--<div>
	<div class="left icatName up"><span class="normal"><venda_icatname></span></div>
</div>-->

<div id="productlist">

	<venda_inctemplate name=crumbtrail,type=includes>
	<venda_pagesel template=pageselect,viewall=1,itemsperpage=100>

<br class="clear-all">

<!-- PULL IN PRODUCT LIST EDITORIAL PAGE -->
<venda_page page=<venda_icxttopbannerlinkref>>

<div id="height20"></div>


<ul id="productlist">
	<venda_detail>
</ul><br class="clear-all">

<div class="h19">
	<venda_pagesel template=pageselect,viewall=1,itemsperpage=100>
</div>

</div>