<!-- Quick Buy Block -->
	<venda_block label=510,invtavail1&gt;0>
		<div class="quickLinkBox"><a href="<venda_dispview invt=<venda_invtref1>>&temp=quickBuyDetailsNew&layout=blank" id="<venda_invtref1>" class="quickBuyDetails" data-track="open-quickbuy"><!-- mp_trans_remove_start -->Quick view<!-- mp_trans_remove_end --><!-- mp_trans_disable_start--><!-- mp_trans_add="DE"  Schnell ansicht --><!-- mp_trans_add="FR" Voir un apercu --><!-- mp_trans_disable_end--></a></div>		
	</venda_block label=510>
<!-- Quick Buy Block -->