<venda_detblock1>
<input type="hidden" name="itemlist" value="<venda_invtref>">
<input type="hidden" name="namelist" value="<venda_invtname>">
<input type="hidden" name="att1list" value="<venda_invtatt1>">
<input type="hidden" name="att2list" value="<venda_invtatt2>">
<input type="hidden" name="att3list" value="<venda_invtatt3>">
<input type="hidden" name="att4list" value="<venda_invtatt4>">
<input type="hidden" name="pareflist" value="<venda_invtparef>">
<tr>
	<td valign="top">
	<venda_block label=111,invtatt1=notnull>
		<!-- if product has attributes -->
		<a href="<venda_dispview invt=<venda_invtparef>>"><venda_invtname></a><venda_block label=200,invtatt1=notnull>, <venda_invtatt1></venda_block label=200><venda_block label=201,invtatt2=notnull>, <venda_invtatt2></venda_block label=201>
	</venda_block label=111>
	<venda_block label=113,invtatt1=null>
		<!-- if product has no attributes -->
		<a href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a>
	</venda_block label=113>
	</td>
	<td valign="top">
	<venda_block label=20,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=1><input type="text" name="qtylist" value="<venda_glstqty>" size="2" class="border"></venda_block label=20>
	<venda_block label=21,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=2><venda_glstavailqty></venda_block label=21>
	</td>
	<td valign="top"><venda_currsym><venda_block label=204,invtatrsell=null><venda_invtsell></venda_block label=204><venda_block label=204,invtatrsell=notnull><venda_invtatrsell></venda_block label=204></td>
	<td valign="top">
	<venda_block label=22,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=1><a href="#" onclick='<venda_wizbutton step=glstlist,param1=del,param2=<venda_invtref>,mode=process,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_remove.gif" alt="Remove" border="0"></a></venda_block label=22>
	<venda_block label=23,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=2>
		<venda_block label=92,glstavailqty!=0><input type="text" name="qtylistpurch" value="0" size="2" class="border"></venda_block label=92>
		<venda_block label=93,glstavailqty=0>&nbsp;<input type="hidden" name="qtylistpurch" value="0"></venda_block label=93>
	</venda_block label=23>
	</td>
</tr>
</venda_detblock1>

<venda_form>

<venda_block label=332,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=1>
<h1>View/Update Gift List Items</h1>
</venda_block label=332>
<venda_block label=333,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=2>
<h1>Buy from a Friend's Gift List</h1>
</venda_block label=333>

<venda_block label=201,errors=notnull><p class="error"><venda_errors></p></venda_block label=201>

<h2>Gift List ID <venda_glstrfnbr></h2>
<p><venda_glstcreatortitle> <venda_glstcreatorfname> <venda_glstcreatorlname><venda_block label=59,glstpartnerfname=notnull,glstpartnerlname=notnull,operator=or> and <venda_glstpartnertitle> <venda_glstpartnerfname> <venda_glstpartnerlname></venda_block label=59>'s <venda_glsteventtype><venda_glsteventtypeother> on <venda_dateformat type=long,format=dd mm yyyy,suffix=1,date=<venda_glsteventdate>></p>
<venda_block label=101,glstmessage=notnull>
<h2>Welcome Message:</h2>
<p><venda_glstmessage></p>
</venda_block label=101>
	
<h2>Instructions</h2>
<venda_block label=334,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=1>
<p>To add items to your Gift List you can browse the site as usual and click the 'Add to Gift List' buttons. To add items to your basket and place an order, you will need to logout of the Gift List.</p>
<p>If a product has already been purchased on your behalf you cannot remove it from your list.</p>
</venda_block label=334>
<venda_block label=335,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=2>
<p>To order online, enter the quantity you wish to purchase under 'Qty Selected' and click the 'Add to Basket' button. Then click on 'View Basket' to complete your order.</p>
</venda_block label=335>

<h2>Items</h2>
<table cellpadding="0" cellspacing="0" border="1" width="100%" id="listItems" summary="Items in your Gift List">
<thead>
<tr>
	<th scope="col">Product</th>
	<th scope="col">Qty</th>
	<th scope="col">Price</th>
	<th scope="col">
	<venda_block label=24,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=2>Qty Selected</venda_block label=24>
	<venda_block label=25,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=1>Remove</venda_block label=25>
	</th>
</tr>
</thead>
<tbody>
<venda_detail1>
</tbody>
</table>

<venda_block label=336,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=1>
<!-- gift list creator -->
<p>
<a href="<venda_codehttp>?ex=co_wizr-giftlist&bsref=<venda_bsref>&step=glstmang"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_returntomanager.gif" alt="Return to Gift List Manager" border="0" class="left"></a>		
<a href="#" onClick='<venda_wizbutton step=glstlist,param1=update,param2=,mode=process,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_update.gif" alt="Update Quantity" border="0" class="right"></a>
</p>
<ul>
	<li><a href="<venda_dispview page=home>">Add Items by Browsing</a></li>
	<li><a href="#" onClick='<venda_wizbutton step=glstlistpurch,param1=<venda_glstrfnbr>,param2=,mode=,callonly=yes> return false;'>View Bought Items</a></li>
    <li><a href="<venda_codehttp>?ex=co_wizr-giftlist&bsref=<venda_bsref>&step=glstedit">Edit Gift List Occasion Details</a></li>
	<li><a href="<venda_dispview page=notifyguests>">Notify Friends of Gift List</a></li>
	<!-- <li><a href="<venda_dispview page=quickshop>">Add Items by Sku Code</a></li> -->
</ul>
</venda_block label=336>

<venda_block label=337,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=2>
<!-- not gift list creator -->
<p>
<a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_viewbasket.gif" alt="View Basket" border="0" class="left"></a>
<a href="#" onClick='<venda_wizbutton step=glstlist,param1=addshop,param2=,mode=process,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket.gif" alt="Add to Basket" border="0" class="right" onMouseOver="this.src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket_r.gif'" onMouseOut="this.src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket.gif'"></a>
</p>
</venda_block label=337>

</form>


<!--
page: wz_glst-list.html
workflow: <venda_workflow>
step: <venda_curstep>
-->