<venda_tpcomment>
<!--
This template is used for multiple attributes (add to basket icon, no qty) 
All functionality is enabled by default and for each client will need to be removed to match the requirements

Select the out of stock and instock behaviour for your product grid:
Out of stock icon combinations: 
1 Out of stock 
2 Out of stock / No. of weeks 
3 Out of stock / EMWBIS (using ETA date) ---(default)
4 EMWBIS (onhand < 1) 
5 EMWBIS (onhand < 1) / No. of weeks (when selected goes to EMWBIS)

Instock icon combinations: 
1 In stock 
2 In stock (onhand > X+1) / Low stock (onhand <= X)
3 In stock / Pre-order 
4 In stock (onhand > X+1) / Low stock (onhand <= X) / Pre-order ---(default)

Important: You must add the ProductGrid.js to the JS element category to use: 
Attribute price change on hover
EMWBIS ajax pop up
buy now
add to basket
Required: Image change on hover

-->
</venda_tpcomment>

<venda_detblock1>
<th scope="col"><a href="#"><venda_headatr></a></th>
</venda_detblock1>

<venda_detblock2>
<td>
<venda_tpcomment>
<!-- 
label:
301 - sell price
302 - was price
303 - parent price (if the attribute don't have sell price)
 -->
</venda_tpcomment>
<venda_block label=301,invtatrsell&gt;0>
    <p class="price"><venda_currsym><venda_invtatrsell></p>
</venda_block label=301>
<venda_block label=302,invtatrwas=notnull,invtatrwas&gt;0,invtsavingonwas&gt;0.00>
    <p class="price"><venda_text id=site.was> <venda_currsym><venda_invtatrwas></p>
</venda_block label=302>
<venda_block label=303,invtatrsell=null,invtatrsell=0.00,operator=or>
    <p class="price"><venda_invtsymsell></p>
</venda_block label=303>

<venda_block label=400,rows!=notav,rows!=unpub,invtavail&lt;1>
    <venda_tpcomment>
    <!-- out of stock
    if you don't use 'No. of weeks' icon:
    - remove label 4012 (all icon ("no.week" and "EMWBI" icons) in there)
    - remove condition block (label 4011)  ONLY.
     -->
    </venda_tpcomment>
    <venda_block label=4011,invtatretayr=null> 
        <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_outofstock.gif" alt="<venda_text id=site.product_grid.sold_out>" title="<venda_text id=site.product_grid.sold_out>">
    </venda_block label=4011>
    <venda_block label=4012,invtatretayr=notnull> 
        <venda_block label=4022,invtatretawkleft=3>
            <!--  No. of weeks  - use ETA only due to weeks tag -->
            <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_3week.gif" alt="<venda_text id=site.product_grid.wait_for><venda_block label=111,invtatretawkleft&gt;1><venda_text id=site.product_grid.wait_weeks></venda_block label=111>" title="<venda_text id=site.product_grid.wait_for><venda_block label=111,invtatretawkleft&gt;1><venda_text id=site.product_grid.wait_weeks></venda_block label=111>" align="absmiddle">
        </venda_block label=4022>
        <p class="emailMe"><a id="ln<venda_rows>" href="<venda_dispview invt=<venda_invtref>>?htxt=<venda_htxt mode=make,attrref=<venda_rows>,attr1=<venda_invtatr1>,attr2=<venda_invtatr2>>&temp=emailinstock" onmouseout="Venda.Widget.ProductGrid.changeDefaultPrice();" onmouseover="Venda.Widget.ProductGrid.changeAtrPrice('<venda_invtatrsell>','<venda_invtatrwas>','<venda_invtatrmsrp>','<venda_invtsavingonwas>');"><span class="emailtext">Email Me When In Stock </span><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_emwbis.gif" alt="<venda_text id=site.title.email_when_in_stock>" title="<venda_text id=site.title.email_when_in_stock>" style="display:none;"></a></p>
    </venda_block label=4012>
</venda_block label=400>

<venda_block label=401,rows!=notav,rows!=unpub,invtavail&gt;0>
    <!-- Instock -->
    <venda_block label=402,invtpreorder=1><!-- Pre-order -->
        <venda_block label=4022,rows!=notav,rows!=unpub,invtavail&gt;0>
                <p><a href='#' onClick="Venda.Widget.ProductGrid.setProduct('<venda_invtatr1>','<venda_invtatr2>','<venda_invtatr3>','<venda_invtatr4>');Venda.Widget.ProductGrid.addProduct();" onmouseout="Venda.Widget.ProductGrid.changeDefaultPrice();" onmouseover="Venda.Widget.ProductGrid.changeAtrPrice('<venda_invtatrsell>','<venda_invtatrwas>','<venda_invtatrmsrp>','<venda_invtsavingonwas>');"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_preorder.gif" alt="<venda_text id=site.product_grid.title.pre_order>" title="<venda_text id=site.product_grid.title.pre_order>"></a></p>
        </venda_block label=4022>
    </venda_block label=402>
    
    <venda_block label=403,invtpreorder!=1>
    <venda_tpcomment>
    <!-- 
    if you don't use low stock:
    - remove label 4031 (all condition in there)
    - change invtavail from 4 to 0 at label 4032.
     -->
    </venda_tpcomment>
        <venda_block label=4031,rows!=unpub,invtavail&lt;5,invtavail&gt;0,rows!=nostock,rows!=notav>
        <!-- Low Stock - if onhand value is less than 5 (by default) -->
            <p><a href="#" onClick="Venda.Widget.ProductGrid.setProduct('<venda_invtatr1>','<venda_invtatr2>','<venda_invtatr3>','<venda_invtatr4>');Venda.Widget.ProductGrid.addProduct();" onmouseout="Venda.Widget.ProductGrid.changeDefaultPrice();" onmouseover="Venda.Widget.ProductGrid.changeAtrPrice('<venda_invtatrsell>','<venda_invtatrwas>','<venda_invtatrmsrp>','<venda_invtsavingonwas>');"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_lowstock.gif" alt="<venda_text id=site.button.alt.add_to_basket.invt>" title="<venda_text id=site.button.alt.add_to_basket.invt>"></a></p>
        </venda_block label=4031>
    
        <venda_block label=4032,rows!=notav,rows!=unpub,invtavail&gt;4>
        <!-- Instock greater than low stock amount -->
            <p><a href="#" onClick="Venda.Widget.ProductGrid.setProduct('<venda_invtatr1>','<venda_invtatr2>','<venda_invtatr3>','<venda_invtatr4>');Venda.Widget.ProductGrid.addProduct();" onmouseout="Venda.Widget.ProductGrid.changeDefaultPrice();" onmouseover="Venda.Widget.ProductGrid.changeAtrPrice('<venda_invtatrsell>','<venda_invtatrwas>','<venda_invtatrmsrp>','<venda_invtsavingonwas>');"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_instock.gif" alt="<venda_text id=site.button.alt.add_to_basket.invt>" title="<venda_text id=site.button.alt.add_to_basket.invt>"></a></p>
            <!-- Buy now -->
            <!-- <p><a href="#" onClick="Venda.Widget.ProductGrid.setProduct('<venda_invtatr1>','<venda_invtatr2>','<venda_invtatr3>','<venda_invtatr4>');Venda.Widget.ProductGrid.buyProduct();"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_instock.gif" alt="<venda_text id=site.button.alt.buy_now.invt>"></a></p> -->
        </venda_block label=4032>
    </venda_block label=403>
</venda_block label=401>

<venda_block label=404,rows=notav,rows=unpub,operator=or>
    <p><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_outofstock.gif" alt="<venda_text id=site.product_grid.not_available>" title="<venda_text id=site.product_grid.not_available>"></p>
</venda_block label=404>
</td>
</venda_detblock2>

<venda_detblock3>
<th scope="row"><venda_colrows></th>
</venda_detblock3>

<venda_form method=get>
<input type="hidden" name="bklist" value="<venda_cattree bklist=,type=invt>">
<input type="hidden" name="log" value="22">
<input type="hidden" name="nextpage" value="refresh">
<input type="hidden" name="qtylist" value="1">
<input type="hidden" name="itemlist" value="">

<venda_inctemplate name=detail2Pricing0,type=includes>

<h2><venda_text id=site.product_grid.availability_of_attributes></h2>
<p><venda_text id=site.product_grid.message></p>
<p><a href="<venda_dispview page=sizechart>"><venda_text id=site.product_grid.size_chart></a></p>

<table border="1" summary="<venda_text id=site.product_grid.table_summary>">
	<thead>
		<tr>
			<td title="<venda_invtatrlbl2> down, <venda_invtatrlbl1> across"><venda_invtatrlbl2>&darr; <venda_invtatrlbl1>&rarr;</td>
			<venda_detail1>
		</tr>
	</thead>
	<tbody>
		<venda_detail3>
	</tbody>
</table>

<strong>Key:</strong>
<ul>
	<li><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_instock.gif" alt="<venda_text id=site.product_grid.in_stock>" title="<venda_text id=site.product_grid.in_stock>" align="absmiddle"> <venda_text id=site.product_grid.in_stock></li>
	<li><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_3week.gif" alt="<venda_text id=site.product_grid.no_of_weeks_wait>" title="<venda_text id=site.product_grid.no_of_weeks_wait>" align="absmiddle"> <venda_text id=site.product_grid.no_of_weeks_wait></li>
	<li><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_outofstock.gif" alt="<venda_text id=site.product_grid.sold_out>" title="<venda_text id=site.product_grid.sold_out>" align="absmiddle"> <venda_text id=site.product_grid.sold_out></li>
	<li><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_lowstock.gif" alt="<venda_text id=site.product_grid.low_stock>" title="<venda_text id=site.product_grid.low_stock>" align="absmiddle"> <venda_text id=site.product_grid.low_stock></li>
	<li><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_preorder.gif" alt="<venda_text id=site.product_grid.item_on_pre_order>" title="<venda_text id=site.product_grid.item_on_pre_order>" align="absmiddle"> <venda_text id=site.product_grid.item_on_pre_order></li>
	<li><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_emwbis.gif" alt="<venda_text id=site.title.email_when_in_stock>" title="<venda_text id=site.title.email_when_in_stock>" align="absmiddle"> <venda_text id=site.title.email_when_in_stock></li>
</ul>
</form>
