<venda_detblock>
<li><a href="<venda_dispview icat=<venda_icatref1>>">
<!-- mp_trans_remove_start-->
<venda_block label=noicxten,icxtcatnameen1=><venda_icatname1></venda_block label=noicxten>
<venda_block label=isicxten,icxtcatnameen1!=><venda_icxtcatnameen1></venda_block label=isicxten>
<!-- mp_trans_remove_end-->
<!-- mp_trans_disable_start-->
		<!-- mp_trans_add="FR" 
			<venda_block label=noicxtfr,icxtcatnamefr1=><venda_icatname1></venda_block label=noicxtfr>
			<venda_block label=isicxtfr,icxtcatnamefr1!=><venda_icxtcatnamefr1></venda_block label=isicxtfr> 
		-->
		<!-- mp_trans_add="DE" 
			<venda_block label=noicxtde,icxtcatnamede1=><venda_icatname1></venda_block label=noicxtde>
			<venda_block label=isicxtde,icxtcatnamede1!=><venda_icxtcatnamede1></venda_block label=isicxtde>
		-->
<!-- mp_trans_disable_end-->
</a></li>
</venda_detblock>

<ul class="subsub-cats">
<venda_detail>
</ul>
