<venda_tpcomment><!-- This template is used by product detail when the product has attributes, it cycles through and stores the image paths to the various attribute 1 association values (e.g. xsmall,medium,large image path for Red Shirt) --></venda_tpcomment>

<venda_detblock_mediagridrow><venda_detail_mediagridcell></venda_detblock_mediagridrow>
<venda_detblock_mediagridcell>
	<venda_block label=1,emptycell!=1,medatrvalue!=>
	<!-- mp_trans_remove_start-->
	<a class="sw_image <venda_medatrvalue>" rel="" href="<venda_dispview invt=<venda_invtref>>&colour=<venda_medatrvalue>" title="<venda_medatrvalue>" data-prodid="comp-image<venda_invtref>" data-uuid="<venda_invtuuid>" data-color="<venda_medatrvalue>" data-setimage="<venda_entmediaadd>/ebiz/<venda_bsref>/invt/<venda_invtref>/<venda_invtref>_<venda_medatrvalue>_ca1.jpg" data-setimagehover="">
	<!-- mp_trans_remove_end-->
	<!-- mp_trans_disable_start-->
		<!-- mp_trans_add="FR" 
			<a class="sw_image <venda_medatrvalue>" rel="" href="<venda_dispview invt=<venda_invtref>>&colour=<venda_medatrvalue>" title="<venda_medatrvalue>" data-prodid="comp-image<venda_invtref>" data-uuid="<venda_invtuuid>" data-color="<venda_medatrvalue>" data-setimage="<venda_entmediaadd>/ebiz/<venda_bsref>/invt/<venda_invtref>/<venda_invtref>_<venda_medatrvalue>_ca1.jpg" data-setimagehover="">
		-->
		<!-- mp_trans_add="DE" 
			<a class="sw_image <venda_medatrvalue>" rel="" href="<venda_dispview invt=<venda_invtref>>&colour=<venda_medatrvalue>" title="<venda_medatrvalue>" data-prodid="comp-image<venda_invtref>" data-uuid="<venda_invtuuid>" data-color="<venda_medatrvalue>" data-setimage="http://dsa-www.urbanoutfitters.co.uk/content/ebiz/<venda_bsref>/invt/<venda_invtref>/<venda_invtref>_<venda_medatrvalue>_ca1.jpg" data-setimagehover="">
		-->
	<!-- mp_trans_disable_end-->
	<div class="swatchImage"><!-- mp_trans_disable_start --><img src="" class="swatch" name="<venda_invtref>" title="<venda_medatrvalue>" width="21px" height="21px" /><div class="swatchOverlay"></div><!-- mp_trans_disable_end --></div></a>
	</venda_block label=1>
</venda_detblock_mediagridcell>
<div class="swatchContainer"><div class="swatchLayer"><div id="swatch<venda_invtref>" class="swatchInvtref" data-default="<venda_pdxtdefaultcolour>"><venda_detail_mediagridrow></div></div><div class="swatchPagn arrowUp"></div><div class="swatchPagn arrowDown"></div><div class="swatchNumber"></div></div>
