<!-- mp_trans_remove_start-->
<venda_tpcomment><!-- this title will only display if user has arrived at store details via url like /stry/dummyproduct1 --></venda_tpcomment>
<style type="text/css">
  .crumbtrailAnchor {
    display: none;
  }
</style>
<venda_block label=12,workflow=null>
<div id="storelocatorresults" class="box mainAlt alpha">
	<div class="storecontent" >
</venda_block label=12>
	
	<div id="storeservices" class="grid_12 alpha">
		
		<div class="storeimage">	
			<venda_media rec=stry,type=pict,key=image>
  		<div class="boxContent">
				<h2>Welcome to Urban Outfitters <br><span class="store-name"><venda_stryname></span></h2>
			</diV>
		</div>

	</div>
	

	<div id="storedetails" class="grid_12 omega" itemscope itemtype="http://schema.org/LocalBusiness">
	<div class="boxed-in">
  	<div class="address">
  			<h3>Address</h3>
  			<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">		
  				<venda_block label=20,stxtadd1=notnull><span itemprop="streetAddress"><venda_stxtadd1></span></venda_block label=20>
  				<venda_block label=21,stxtadd2=notnull><br /><span itemprop="addressLocality"><venda_stxtadd2></span></venda_block label=21>
  				<venda_block label=22,stxtadd3=notnull><br /><span itemprop="addressRegion"><venda_stxtadd3></span></venda_block label=22>
  				<venda_block label=23,stxtadd4=notnull><br /><span itemprop="postalCode"><venda_stxtadd4></span></venda_block label=23>
  				<venda_block label=24,stxtadd5=notnull><br /><span><venda_stxtadd5></span></venda_block label=24>
  			</span>
  				<venda_block label=9,stxtphone=notnull><br><br><h3>Telephone</h3><span itemprop="telephone"><venda_stxtphone></span></venda_block label=9>
  	</div>
  			
  	<div class="opening">
  			<h3<venda_block label=455,stxtmonday=null,stxttuesday=null,stxtwednesday=null,stxtthursday=null,stxtfriday=null,stxtsaturday=null,stxtsunday=null> class="hide"</venda_block label=455>>Opening Times</h3>
  			<ul>
  				<venda_block label=10,stxtmonday=notnull><li><div class="day"  itemprop="openingHours" content="Mon <venda_stxtmonday>">Monday </div><div class="time"><venda_stxtmonday></div></li></venda_block label=10>
  				<venda_block label=31,stxttuesday=notnull><li><div class="day" itemprop="openingHours" content="Tue <venda_stxttuesday>">Tuesday </div><div class="time"><venda_stxttuesday></div></li></venda_block label=31>
  				<venda_block label=32,stxtwednesday=notnull><li><div class="day" itemprop="openingHours" content="Wed <venda_stxtwednesday>">Wednesday </div><div class="time"><venda_stxtwednesday></div></li></venda_block label=32>
  				<venda_block label=33,stxtthursday=notnull><li><div class="day" itemprop="openingHours" content="Thu <venda_stxtthursday>">Thursday </div><div class="time"><venda_stxtthursday></div></li></venda_block label=33>
  				<venda_block label=34,stxtfriday=notnull><li><div class="day" itemprop="openingHours" content="Fri <venda_stxtfriday>">Friday </div><div class="time"><venda_stxtfriday></div></li></venda_block label=34>
  				<venda_block label=35,stxtsaturday=notnull><li><div class="day" itemprop="openingHours" content="Sat <venda_stxtsaturday>">Saturday </div><div class="time"><venda_stxtsaturday></div></li></venda_block label=35>
  				<venda_block label=36,stxtsunday=notnull><li><div class="day" itemprop="openingHours" content="Sun <venda_stxtsunday>">Sunday </div><div class="time"><venda_stxtsunday></div></li></venda_block label=36>
  				<venda_block label=25,stryauthname=notnull><li>Manager <venda_stryauthname></li></venda_block label=25>
  				<venda_block label=26,stryauthemail=notnull><li>Email</li></venda_block label=26>
  			</ul>
  	</div>
  	
  </div>
  
	<venda_block label=56,strydesc1=notnull>
	<div class="quote">
	  <div class="top-quote">"</div>
    <p><venda_strydesc1></p>
    <div class="bottom-quote">"</div>
	</div>
	</venda_block label=56>
	
	<a class="back-button button" href="javascript:history.back(-1)">Back</a>  
	
<venda_block label=789,workflow=null>
	</div></div></div>

</venda_block label=789>


<!-- mp_trans_remove_end-->
<!-- mp_trans_disable_start-->
<!-- mp_trans_add="FR" 



<venda_tpcomment><!-- this title will only display if user has arrived at store details via url like /stry/dummyproduct1 --></venda_tpcomment>
<venda_block label=12,workflow=null>
<div id="storelocatorresults" class="box mainAlt alpha">
	<div class="storecontent" >
</venda_block label=12>
	
	<div id="storeservices" class="grid_12 alpha">
		
		<div class="storeimage">	
			<venda_media rec=stry,type=pict,key=image>
  		<div class="boxContent">
				<h2>Bienvenue chez Urban Outfitters <br><span class="store-name"><venda_stryname></span></h2>
			</diV>
		</div>

	</div>
	

	<div id="storedetails" class="grid_12 omega" itemscope itemtype="http://schema.org/LocalBusiness">
	<div class="boxed-in">
  	<div class="address">
  			<h3>Adresse</h3>
  			<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">		
  				<venda_block label=20,stxtadd1=notnull><span itemprop="streetAddress"><venda_stxtadd1></span></venda_block label=20>
  				<venda_block label=21,stxtadd2=notnull><br /><span itemprop="addressLocality"><venda_stxtadd2></span></venda_block label=21>
  				<venda_block label=22,stxtadd3=notnull><br /><span itemprop="addressRegion"><venda_stxtadd3></span></venda_block label=22>
  				<venda_block label=23,stxtadd4=notnull><br /><span itemprop="postalCode"><venda_stxtadd4></span></venda_block label=23>
  				<venda_block label=24,stxtadd5=notnull><br /><span><venda_stxtadd5></span></venda_block label=24>
  			</span>
  				<venda_block label=9,stxtphone=notnull><br><br><h3>T&eacute;l&eacute;phone</h3><span itemprop="telephone"><venda_stxtphone></span></venda_block label=9>
  	</div>
  			
  	<div class="opening">
  			<h3<venda_block label=455,stxtmonday=null,stxttuesday=null,stxtwednesday=null,stxtthursday=null,stxtfriday=null,stxtsaturday=null,stxtsunday=null> class="hide"</venda_block label=455>>Horaires d'ouverture</h3>
  			<ul>
  				<venda_block label=10,stxtmonday=notnull><li><div class="day"  itemprop="openingHours" content="Mon <venda_stxtmonday>">Monday </div><div class="time"><venda_stxtmonday></div></li></venda_block label=10>
  				<venda_block label=31,stxttuesday=notnull><li><div class="day" itemprop="openingHours" content="Tue <venda_stxttuesday>">Tuesday </div><div class="time"><venda_stxttuesday></div></li></venda_block label=31>
  				<venda_block label=32,stxtwednesday=notnull><li><div class="day" itemprop="openingHours" content="Wed <venda_stxtwednesday>">Wednesday </div><div class="time"><venda_stxtwednesday></div></li></venda_block label=32>
  				<venda_block label=33,stxtthursday=notnull><li><div class="day" itemprop="openingHours" content="Thu <venda_stxtthursday>">Thursday </div><div class="time"><venda_stxtthursday></div></li></venda_block label=33>
  				<venda_block label=34,stxtfriday=notnull><li><div class="day" itemprop="openingHours" content="Fri <venda_stxtfriday>">Friday </div><div class="time"><venda_stxtfriday></div></li></venda_block label=34>
  				<venda_block label=35,stxtsaturday=notnull><li><div class="day" itemprop="openingHours" content="Sat <venda_stxtsaturday>">Saturday </div><div class="time"><venda_stxtsaturday></div></li></venda_block label=35>
  				<venda_block label=36,stxtsunday=notnull><li><div class="day" itemprop="openingHours" content="Sun <venda_stxtsunday>">Sunday </div><div class="time"><venda_stxtsunday></div></li></venda_block label=36>
  				<venda_block label=25,stryauthname=notnull><li>Manager <venda_stryauthname></li></venda_block label=25>
  				<venda_block label=26,stryauthemail=notnull><li>Email</li></venda_block label=26>
  			</ul>
  	</div>
  	
  </div>
  
	<venda_block label=56,strydesc1=notnull>
	<div class="quote">
	  <div class="top-quote">"</div>
    <p><venda_strydesc1></p>
    <div class="bottom-quote">"</div>
	</div>
	</venda_block label=56>
	
	<a class="back-button button" href="javascript:history.back(-1)">Retour</a>  
	
<venda_block label=789,workflow=null>
	</div></div></div>

</venda_block label=789>


-->
<!-- mp_trans_add="DE" 	


<venda_tpcomment><!-- this title will only display if user has arrived at store details via url like /stry/dummyproduct1 --></venda_tpcomment>
<venda_block label=12,workflow=null>
<div id="storelocatorresults" class="box mainAlt alpha">
	<div class="storecontent" >
</venda_block label=12>
	
	<div id="storeservices" class="grid_12 alpha">
		
		<div class="storeimage">	
			<venda_media rec=stry,type=pict,key=image>
  		<div class="boxContent">
				<h2>Wilkommen bei Urban Outfitters <br><span class="store-name"><venda_stryname></span></h2>
			</diV>
		</div>

	</div>
	

	<div id="storedetails" class="grid_12 omega" itemscope itemtype="http://schema.org/LocalBusiness">
	<div class="boxed-in">
  	<div class="address">
  			<h3>Adresse</h3>
  			<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">		
  				<venda_block label=20,stxtadd1=notnull><span itemprop="streetAddress"><venda_stxtadd1></span></venda_block label=20>
  				<venda_block label=21,stxtadd2=notnull><br /><span itemprop="addressLocality"><venda_stxtadd2></span></venda_block label=21>
  				<venda_block label=22,stxtadd3=notnull><br /><span itemprop="addressRegion"><venda_stxtadd3></span></venda_block label=22>
  				<venda_block label=23,stxtadd4=notnull><br /><span itemprop="postalCode"><venda_stxtadd4></span></venda_block label=23>
  				<venda_block label=24,stxtadd5=notnull><br /><span><venda_stxtadd5></span></venda_block label=24>
  			</span>
  				<venda_block label=9,stxtphone=notnull><br><br><h3>Telefon</h3><span itemprop="telephone"><venda_stxtphone></span></venda_block label=9>
  	</div>
  			
  	<div class="opening">
  			<h3<venda_block label=455,stxtmonday=null,stxttuesday=null,stxtwednesday=null,stxtthursday=null,stxtfriday=null,stxtsaturday=null,stxtsunday=null> class="hide"</venda_block label=455>>&Ouml;ffnungszeiten</h3>
  			<ul>
  				<venda_block label=10,stxtmonday=notnull><li><div class="day"  itemprop="openingHours" content="Mon <venda_stxtmonday>">Monday </div><div class="time"><venda_stxtmonday></div></li></venda_block label=10>
  				<venda_block label=31,stxttuesday=notnull><li><div class="day" itemprop="openingHours" content="Tue <venda_stxttuesday>">Tuesday </div><div class="time"><venda_stxttuesday></div></li></venda_block label=31>
  				<venda_block label=32,stxtwednesday=notnull><li><div class="day" itemprop="openingHours" content="Wed <venda_stxtwednesday>">Wednesday </div><div class="time"><venda_stxtwednesday></div></li></venda_block label=32>
  				<venda_block label=33,stxtthursday=notnull><li><div class="day" itemprop="openingHours" content="Thu <venda_stxtthursday>">Thursday </div><div class="time"><venda_stxtthursday></div></li></venda_block label=33>
  				<venda_block label=34,stxtfriday=notnull><li><div class="day" itemprop="openingHours" content="Fri <venda_stxtfriday>">Friday </div><div class="time"><venda_stxtfriday></div></li></venda_block label=34>
  				<venda_block label=35,stxtsaturday=notnull><li><div class="day" itemprop="openingHours" content="Sat <venda_stxtsaturday>">Saturday </div><div class="time"><venda_stxtsaturday></div></li></venda_block label=35>
  				<venda_block label=36,stxtsunday=notnull><li><div class="day" itemprop="openingHours" content="Sun <venda_stxtsunday>">Sunday </div><div class="time"><venda_stxtsunday></div></li></venda_block label=36>
  				<venda_block label=25,stryauthname=notnull><li>Manager <venda_stryauthname></li></venda_block label=25>
  				<venda_block label=26,stryauthemail=notnull><li>Email</li></venda_block label=26>
  			</ul>
  	</div>
  	
  </div>
  
	<venda_block label=56,strydesc1=notnull>
	<div class="quote">
	  <div class="top-quote">"</div>
    <p><venda_strydesc1></p>
    <div class="bottom-quote">"</div>
	</div>
	</venda_block label=56>
	
	<a class="back-button button" href="javascript:history.back(-1)">Zur&uuml;ck</a>  
	
<venda_block label=789,workflow=null>
	</div></div></div>

</venda_block label=789>


-->
<!-- mp_trans_disable_end-->	