<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<venda_menu template=title>
<venda_page page=metainformation>
<venda_menu template=css>
<venda_menu template=js>
<!-- Web Trends tag -->
<venda_inctemplate name=webtrendsFooter,type=includes/webtrends>
<!-- Web Trends tag -->
</head>
<body>
<venda_menu template=admin>
<venda_menu template=demo>
		
<!-- Webtrends Optimize -->
<script type="text/javascript">WTOptimize.setup({s_pageTimeout: 8000});</script>
<!-- Webtrends Optimize End -->

<a href="#content" class="hide" accesskey="2">Skip to content</a>

<!-- start wrapper -->
<div id="wrapper">

<div id="aboveheader">
<venda_menu template=aboveheader>
</div>
	
	<div id="contentwrapper">
	
	<venda_menu template=header>
	
<venda_block label=oldsearch,mode=value,<venda_tpxt mode=get,name=activekeyword>=null>
	<!-- start column 1 -->
	<div id="col-one">
	</div>
	<!-- end column 1 -->

	<!-- start column 2 -->
	<div id="col-two-searchresults">

	<!-- start content -->
	<a name="content" id="content"></a>
	<venda_content>
	<!-- end content -->

	</div>
	<!-- end column 2 -->
</venda_block label=oldsearch>
	
<venda_block label=newsearch,mode=value,<venda_tpxt mode=get,name=activekeyword>=notnull>
		<venda_tpcomment><!-- <venda_errors> --></venda_tpcomment>
			<venda_content>
		<!-- end #content-search -->
</venda_block label=newsearch>
	
	<div class="clear-all"><!-- ns6 hack --></div>
	
	<venda_menu template=footer>
</div>

<div id="belowfooter">
	<venda_menu template=belowfooter>
</div><!-- end #footer -->
</div><!-- end #wrapper -->

<venda_inctemplate name=tealiumtracking,type=includes/tracking>
</body>
</html>
