<div class="flexslider-container" >
	<div class="flexslider" style="width: 950px; height: 400px; overflow: hidden;">
	    <ul class="slides">
	    	<li class="slide slide1">
				<div class="slide_element">
					<h2>SUMMER<br>ESSENTIALS</h2>
					<p class="desc">JVC GZ-MG730B Hard Drive Camcorder</p>
					<p class="price"><venda_currsym>459.00</p>
					<a class="button" href="<venda_dispview invt=gzmg730b>">BUY NOW</a>
				</div>
				<p class="flex-caption">First Test Caption</p>
		   	</li>
	    	<li class="slide slide2">
				<div class="slide_element">
					<h2>SUMMER<br>ESSENTIALS</h2>
					<p class="desc">Great Savings in our Knitwear Range</p>
					<p class="price">Save From <venda_currsym>200.00</p>
					<a class="button" href="<venda_dispview pcat=menknitwear>">SHOP THE COLLECTION</a>
				</div>
				<p class="flex-caption">Second Test Caption</p>
	    	</li>
	    	<li class="slide slide3">
				<div class="slide_element">
					<h2>SUMMER ESSENTIALS</h2>
					<p class="desc">Olive Facial Gel Cleanser</p>
					<p class="price"><venda_currsym>16.99</p>
					<a class="button" href="<venda_dispview invt=olive>">BUY NOW</a>
				</div>
				<p class="flex-caption">Third Test Caption</p>
			</li>
		</ul>
	</div>
</div>

<script type="text/javascript">
	jQuery(window).load(function() {
		jQuery('.flexslider').flexslider({
			animation: "slide",
			controlsContainer: ".flexslider-container",
			directionNav: false,
			controlNav: true,
			pauseOnAction: false, 
			pauseOnHover: false,
			keyboardNav: true,              
			mousewheel: false,
			slideshowSpeed: 5000,
			animationDuration: 750
		});
	});
</script>