<venda_block label=78,invtref!=giftcert>
<div class="oneProduct" id="oneProduct_<venda_invtuuid>">

	<div class="image quickshopDiv">
		<p>
			<venda_block label=4,med-xsmall=notnull><venda_media rec=invt,type=movie-swf-pict,key=xsmall></venda_block label=4>
			<venda_block label=5,med-xsmall=null>
				<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=site.link.alt.no_image.invt>">
			</venda_block label=5>
		</p>
	</div>
	
	<div class="name quickshopDiv">
		<p><venda_invtname><br><br>
		<venda_text id=site.quickshop.column.sku>: <venda_invtref><venda_block label=71,invtsuplsku=notnull> (<venda_invtsuplsku>)</venda_block label=71>
		</p>
	</div>
	
	<div class="price quickshopDiv">
		<p>
			<venda_block label=22,invtatrtot&lt;1><venda_tpcomment><!-- Price - non-attribute --></venda_tpcomment><p><venda_currsym><venda_invtsell></p></venda_block label=22>
			<venda_block label=130,invtatrtot&gt;0><venda_tpcomment><!-- Price - attribute --></venda_tpcomment>
			<div class="atributesPrice">
				<div class="infoBox">
				<ul>
					<li>price: <span id="price"></span></li>
				</ul>
				</div>
				<p>
					<span id="PriceDiv_Label"><!-- SELL price Label -->Price</span>
					<span id="PriceDiv_"><!-- replaced by current selection's price unless js disabled - SELL price value -->
						<venda_block label=2001,invtatrminsubsell&gt;0.00><span class="form"><venda_text id=site.from></span><venda_currsym><venda_invtatrminsubsell></venda_block label=2001>
						<venda_block label=2002,invtatrminsubsell=0.00><venda_invtsymsell></venda_block label=2002>
					</span>
				</p>
				<p id="atrMsrp" class="hide"><span id="msrpDiv_Label"><!-- MSRP price Label --></span><span id="msrpDiv_"><!-- MSRP price value --></span></p>
				<p id="atrWas" class="hide"><span id="wasDiv_Label"><!-- WAS price Label --></span><span id="wasDiv_"><!-- WAS price value --></span></p>
				<p id="atrSave" class="hide"><span id="savingDiv_Label"><!-- SAVING price Label --></span><span id="savingDiv_"><!-- SAVING price value --></span></p>
			</div>
			</venda_block label=130>
		</p>
	</div>
	
	<div class="quantity quickshopDiv">
		<p>
			<venda_block label=66,invtonhand&gt;0><input type="hidden" name="itemlist" value="">
			<input name="qtylist" id="qty" type="text" value="1" size="3" maxlength="3" class="qty"></venda_block label=66>
			<venda_block label=67,invtonhand&lt;1><p class="outofstock"><venda_text id=site.out_of_stock></p>
			<p class="emwbis"><a href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock" title="<venda_text id=site.link.title.email_when_in_stock.invt>" class="doDialog emwbisLink"><venda_text id=site.link.email_when_in_stock></a></p></venda_block label=67>
			<venda_block label=100,chkatt=notnull><venda_block label=670,invtonhand&gt;0><span class="outofstock hide"><venda_text id=site.out_of_stock></span><span class="hide attr<venda_invtref>"></span>
			<p class="emwbis hide"><a href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock" onclick="doAttributeSku('<venda_invtref>');" title="<venda_text id=site.link.title.email_when_in_stock.invt>" class="doDialog emwbisLink"><venda_text id=site.link.email_when_in_stock></a></p></venda_block label=670></venda_block label=100>
		</p>
	</div>	
	
	<venda_block label=200,chkatt=notnull>
	<div class="attrSelect quickshopDiv">
	<venda_inctemplate name=attributeData,type=invt>
		<div id="attributeInputs" class="attributeInputs">
			<venda_block label=21,selatt1=notnull>
			<div>
				<label for="att1"><venda_att1><venda_text id=site.product_detail.attribute.label_colon></label> 
				<select name="att1" id="att1_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att1></option><venda_selatt1></select>
			</div>
			</venda_block label=21>
			<venda_block label=22,selatt2=notnull>
			<div>
				<label for="att2"><venda_att2><venda_text id=site.product_detail.attribute.label_colon></label>
				<select name="att2" id="att2_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att2></option><venda_selatt2></select>
			</div>
			</venda_block label=22>
			<venda_block label=23,selatt3=notnull>
			<div>
				<label for="att3">Width (textid)<venda_text id=site.product_detail.attribute.label_colon></label>
				<select name="att3" id="att3_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att3></option><venda_selatt3></select>
			</div>
			</venda_block label=23>
			<venda_block label=24,selatt4=notnull>
			<div>
				<label for="att4">Material (textid)<venda_text id=site.product_detail.attribute.label_colon></label>
				<select name="att4" id="att4_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att4></option><venda_selatt4></select>
			</div>
			</venda_block label=24>
		</div>
	</div>	
	</venda_block label=200>
	
	<venda_block label=201,chkatt=null>	
	<div class="attrSelect quickshopDiv">
		<p>
			<venda_text id=site.quickshop.message.notapp>
		</p>
	</div>
	</venda_block label=201>	
	
	<div class="remove quickshopDiv">
		<p>
			<a href="#" title="<venda_text id=site.button.remove>" onclick="qshopRemove('<venda_invtref>'); return false;"><venda_text id=site.button.remove></a>
		</p>
	</div>

	<div style="clear: both;"></div>
</div>
</venda_block label=78>