<input type="hidden" name="xptpl" id="template" value="wz_xapian_advanced">
<!--SRCHOPT - SPECIFY ADDITIONAL FIELDS-->
<input type="hidden" name="srchopt" id="srchopt" value="U,V,C,F,minprice,maxprice,sortname,sortprice,sortrelease">
<!--FIELD U - ALLOWS REFINE BY BRAND-->
<input type="hidden" name="U" id="U" value="<venda_block field_U=notnull><venda_field_U></venda_block>">
<!--FIELD V - ALLOWS REFINE BY PRODUCT TYPE-->
<input type="hidden" name="V" id="V" value="<venda_block field_V=notnull><venda_field_V></venda_block>">
<!--FIELD E - FOR REFINE BY PRODUCT EXTENDED FIELD. REPLACE E WITH THE BOOLEAN VALUE YOU SET UNDER PRODUCT/COMPARE TYPES IN THE VCP -->
<input type="hidden" name="C" id="C" value="<venda_block field_C=notnull><venda_field_C></venda_block>">
<!--FIELD F - FOR REFINE BY PRODUCT EXTENDED FIELD. REPLACE F WITH THE BOOLEAN VALUE YOU SET UNDER PRODUCT/COMPARE TYPES IN THE VCP-->
<input type="hidden" name="F" id="F" value="<venda_block field_F=notnull><venda_field_F></venda_block>">
<!--ARG_DEFAULTTOP - SETS BOOLEAN OPERATOR-->
<input type="hidden" name="ARG_DEFAULTOP" id="ARG_DEFAULTOP" value="OR">
<!--minprice - FOR PRICE RANGE (this is a dropdown in the search results template)-->
<input type="hidden" name="minprice" value="<venda_block field_minprice=notnull><venda_field_minprice></venda_block>">
<!--maxprice - FOR PRICE RANGE (this is a dropdown in the search results template)-->
<input type="hidden" name="maxprice" value="<venda_block field_maxprice=notnull><venda_field_maxprice></venda_block>">
<input type="hidden" name="bklist" value="<venda_bklist>">
