<venda_detblock1>
	<li><venda_email></li>
</venda_detblock1>
<div id="my_covContent">
<div id="grayHeader"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/hdr_refer_a_friend.gif" alt="REFER A FRIEND" border="0"></div>
<div>
	<p>Well done <venda_fname> <venda_lname>, you have referred these people so far:</p>
	<ul id="referlist">
	<venda_detail1>
	</ul>
</div>

<div id="my-button">
<a href="javascript:history.back(-1)"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="PREVIOUS" border="0" class="left"></a>
</div>
</div>
  <script language="JavaScript" type="text/javascript">
catID="MY ACCOUNT";
stepName="Refer+a+friend";
</script> 