<div class="hide">
	<p>
	<strong>Warning</strong><br>
	This message is being displayed because<br>
	a) The style sheets for this site haven't loaded properly - try refreshing the page.<br>
	b) Your browser doesn't support CSS2. The site should still work but we recommend that you upgrade to one of the following browsers:
	<ul>
		<li><a href="http://www.microsoft.com/windows/ie" target="_blank">Internet Explorer (Win)</a></li>
		<li><a href="http://www.mozilla.org/download.html" target="_blank">Mozilla Firefox (Win/Mac)</a></li>
		<li><a href="http://channels.netscape.com/ns/browsers" target="_blank">Netscape (Win/Mac)</a></li>
		<li><a href="http://www.opera.com/download" target="_blank">Opera (Win/Mac)</a></li>
		<li><a href="http://www.apple.com/safari" target="_blank">Safari (Mac OS X)</a></li>
		<li><a href="http://www.microsoft.com/mac/products/ie" target="_blank">Internet Explorer (Mac)</a></li>
	</ul>
	</p>
	<hr>
</div>