<?xml version="1.0" encoding="latin1"?>
<!DOCTYPE merchant SYSTEM "http://www.affiliatewindow.com/DTD/merchant/datafeedupload.1.3.dtd">
<merchant>
<venda_detail>
</merchant><venda_detblock>
		<product instock="yes" forsale="yes">
		<pid><venda_invtref1></pid>
		<ean><venda_invtbarcode1></ean>
		<name><![CDATA[<venda_invtname1>]]></name>
		<desc><![CDATA[<venda_invtdesc11>]]></desc>
		<category><![CDATA[<venda_catname1>]]></category>
		<brand><![CDATA[<venda_invtbrand1>]]></brand>
		<purl><venda_dispview invt=<venda_invtref1>></purl>
		<imgurl><venda_invtmedfilename1 key=medium></imgurl>
		<currency>GBP</currency>
		<price><actualp><venda_invtsell1></actualp></price>
		</product>
</venda_detblock>