<div id="tag-loadmessage" style="display:none;"><venda_text id=site.loadmessage></div>
<div id="tag-qtymsg" style="display:none;"><venda_text id=site.productdetail.validate.qty></div>
<div id="tag-ebizref" style="display:none;"><venda_setting type=ebiz,name=ref></div>
<div id="tag-ebizurl" style="display:none;"><venda_ebizurl></div>
<div id="tag-invtref" style="display:none;"><venda_invtref></div>
<div id="tag-invtname" style="display:none;"><venda_invtname></div>
<div id="tag-currsym" style="display:none;"><venda_currsym></div>

<venda_tpcomment><!-- Dictionary translations required for attributes JS --></venda_tpcomment>
<div id="attributes-stockNA" style="display:none;"><venda_text id=site.attributes.product_detail.selection_not_available></div>
<div id="attributes-stockOut" style="display:none;"><venda_text id=site.attributes.product_detail.selection_out_of_stock></div>
<div id="attributes-productselected" style="display:none;"><venda_text id=site.attributes.product_detail.you_have_selected></div>
<div id="attributes-productstatus" style="display:none;"><venda_text id=site.attributes.product_detail.please_select_colon></div>
<div id="attributes-only" style="display:none;"><venda_text id=site.attributes.product_detail.only></div>
<div id="attributes-left" style="display:none;"><venda_text id=site.attributes.product_detail.left></div>
<div id="attributes-optionDefault" style="display:none;"><venda_text id=site.attributes.product_detail.please_select_multi_dot></div>
<div id="attributes-tooltip" style="display:none;"><venda_text id=site.attributes.product_detail.is_out_of_stock></div>
<div id="attributes-quantity" style="display:none;"><venda_text id=site.attributes.product_detail.enter_quantity></div>
<div id="attributes-chooseVariant" style="display:none;"><venda_text id=site.attributes.product_detail.choose_variant></div>
<div id="attributes-addThisProduct" style="display:none;"><venda_text id=site.attributes.product_detail.add_this_product></div>
<div id="attributes-addAllProduct" style="display:none;"><venda_text id=site.attributes.product_detail.add_all_product></div>
<div id="attributes-noneChecked" style="display:none;"><venda_text id=site.attributes.product_detail.none_checked></div>

<venda_tpcomment><!-- VCP switch settings required for attributes JS --></venda_tpcomment>
<div id="OutOfStockThreshold" style="display: none;"><venda_setting type=ebiz,name=emailmebackthreshold></div><venda_tpcomment><!-- Out of Stock Threshold --></venda_tpcomment>
<div id="DoNotBackorder" style="display: none;"><venda_setting type=ebiz,name=nobackorderedinclude></div><venda_tpcomment><!-- Do not dispatch backordered items (checked == no backorder)--></venda_tpcomment>
<div id="emwbisType" style="display: none;"><venda_setting type=ebiz,name=emailmebackcriteria></div><venda_tpcomment><!-- Email me when back in stock criteria (ETA / Release Dates): 4 options: none, eta, release, eta and etarelease --></venda_tpcomment>

<div class="productdetail_rhs">		
<venda_block label=130,invtatrtot&gt;0>
<venda_inctemplate name=attributeData,type=invt>
</venda_block label=130>	
<div class="attrproducts">
	<form name="form" action="<venda_codehttp>" method="get" name="addproductform" id="addproductform">
	<input type="hidden" name="bsref" value="<venda_bsref>">
	<input type="hidden" name="log" value="22">
	<input type="hidden" name="mode" value="add">
	<input type="hidden" name="curpage" value="">
	<input type="hidden" name="next" value="">
	<input type="hidden" name="layout">

	<!-- "ex" sends user to basket if "co_wizr-shopcart" - or leaves on current page if "co_disp-shopc" -->
	<!-- will sends user to basket by default - "Add to Basket" button changes "ex" value and leaves on current page (unless js disabled) -->
	<input type="hidden" name="ex" value="co_wizr-shopcart">

	<!-- "buy" defines sku to add if "ex" is "co_disp-shopc" -->
	<input type="hidden" name="buy" value="<venda_invtref>">
	<!-- "invt" defines next step if "ex" is "co_disp-shopc" (sends to home page without this field) - could be set to send to any icat or page instead -->
	<input type="hidden" name="invt" value="<venda_invtref>">

	<!-- "ivref" defines sku to add if "ex" is "co_wizr-shopcart" -->
	<input type="hidden" name="ivref" value="<venda_invtref>">

	<!-- htxt for VBM tracking to track with buy now function -->
	<venda_block label=vbmtrack,mode=value,<venda_htxt mode=get,name=vbm>=true>     
	<input type="hidden" name="htxt" id="htxt" value="<venda_htxt mode=make,vbm=true>">
	</venda_block label=vbmtrack>
	<venda_block label=21,mode=value,<venda_setting type=ebiz,name=tracktagvbm>=1>
	<div style="display:none;" id="tag-vbmref"><venda_invtref></div>
	</venda_block label=21>
	<venda_tpcomment><!-- start: price - if product doesn't have attributes --></venda_tpcomment>
	
	<div class="oneProduct" id="oneProduct_<venda_invtuuid>">
		
	<venda_block label=16,chkatt=null>
	<div class="priceDetails">
		<venda_inctemplate type=includes,name=priceFormat>
	</div>
	</venda_block label=16>
	<venda_tpcomment><!-- end: price - if product doesn't have attributes --></venda_tpcomment>
	
	<venda_block label=200,chkatt=notnull>
	<venda_tpcomment><!-- start: price - if product does have attributes --></venda_tpcomment>
	<div class="oneProductContent hide">
	<div class="atributesPrice attrFeedback">
		<venda_inctemplate type=includes,name=priceFormat>
	</div>
	<venda_tpcomment><!-- end: price - if product does have attributes --></venda_tpcomment>
	
	<div class="attrFeedback productselectedwrapper">
		<span id="productselected"></span>
	</div>
	
	<venda_tpcomment><!-- start: attributes dropdown --></venda_tpcomment>
		<div id="attributeInputs" class="attributeInputs">
			<venda_block label=21,selatt1=notnull>
			<div>
				<label for="att1"><venda_att1><venda_text id=site.product_detail.attribute.label_colon></label> 
				<select name="att1" id="att1_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att1></option><venda_selatt1></select>
			</div>
			</venda_block label=21>
			<venda_block label=22,selatt2=notnull>
			<div>
				<label for="att2"><venda_att2><venda_text id=site.product_detail.attribute.label_colon></label>
				<select name="att2" id="att2_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att2></option><venda_selatt2></select>
			</div>
			</venda_block label=22>
			<venda_block label=23,selatt3=notnull>
			<div>
				<label for="att3"><venda_att3><venda_text id=site.product_detail.attribute.label_colon></label>
				<select name="att3" id="att3_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att3></option><venda_selatt3></select>
			</div>
			</venda_block label=23>
			<venda_block label=24,selatt4=notnull>
			<div>
				<label for="att4"><venda_att4><venda_text id=site.product_detail.attribute.label_colon></label>
				<select name="att4" id="att4_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att4></option><venda_selatt4></select>
			</div>
			
			</venda_block label=24>
		</div>
		
		<div style="clear: both;"></div>
	<venda_tpcomment><!-- end: attributes dropdown --></venda_tpcomment>


	<venda_block label=25,pdxtatrtype=grid>
		<div class="key">
			<h3><venda_text id=site.attributes.product_detail.grid.label></h3>
			<ul>
				<li class="In_stock"><venda_text id=site.product_grid.in_stock></li>
				<li class="Not_Available"><venda_text id=site.product_grid.sold_out></li>
				<li class="Stock_is_low"><venda_text id=site.product_grid.low_stock></li>
				<li class="Pre_order"><venda_text id=site.product_grid.item_on_pre_order></li>
				<li class="ETA"><venda_text id=site.product_grid.no_of_weeks_wait></li>
				<li class="Out_of_stock"><venda_text id=site.title.email_when_in_stock></li>
			</ul>
		</div>
	</venda_block label=25>
	
	<div class="box productDetailGradientBox attrFeedback stockFeedbackBox">
		<span id="productstatus"><venda_text id=site.attributes.product_detail.please_make_selection></span>
		<span id="stockstatus"></span> <span id="atrononhandholder" class="hide"><venda_text id=site.attributes.product_detail.only><span id="atronhand"></span><venda_text id=site.attributes.product_detail.left></span>
	</div>
	
	</venda_block label=200>
	
	<div id="addedmsg" class="addedmessage"><venda_block label=32,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull><p><venda_addedmsg msg=<venda_text id=site.addedmsg>></p><venda_inctemplate name=trackingProdAdd,type=includes></venda_block label=32></div>
	
	<venda_tpcomment><!-- start: buyControl div --></venda_tpcomment>
	<div class="box productDetailGradientBox buyControls">
	<venda_block label=25,invtavail&gt;0>
		<!-- if in stock -->
		<venda_extflds exfldtype=orderitem,group=1,template=oixtSet,type=exfields/orderItem,ref=<venda_invtref>>
		<venda_extflds exfldtype=orderitem,group=2,template=oixtSet,type=exfields/orderItem,ref=<venda_invtref>>

		<venda_tpcomment><!-- start: button link image --></venda_tpcomment>
		<venda_block label=700,chkatt=null>
		<label for="qty"><venda_text id=site.quantity></label><input name="qty" id="qty" type="text" value="1" size="3" maxlength="3" class="qty textInput" onkeypress="if(event.keyCode==13){document.getElementById('addproduct').click(); return false; }">
		<!-- if product doesn't have attributes -->
		<venda_block label=34,invtpreorder!=1>
		<input type="submit" class="button buttonAlt buttonArrow add submit addproduct" value="<venda_text id=site.button.add_to_basket>" data-track="addtobasket" onClick="document.form.ex.value='co_disp-shopc';">
		<input type="submit" class="button buttonAlt buttonArrow buy submit buynow" value="<venda_text id=site.button.buy_now>" data-track="buynow" onClick="document.form.ex.value='co_wizr-shopcart';">
		</venda_block label=34>
		<venda_block label=35,invtpreorder=1>
		<!-- pre-order with add to basket functionality (stay on the same page) -->
		<input type="submit" value="<venda_text id=site.button.preorder>" class="button buttonAlt buttonArrow preorder submit addproduct" data-track="addtobasket" onClick="document.form.ex.value='co_disp-shopc';">
		<!-- use this instead if you want pre-order with buy now functionality (go to basket page)
		<input type="submit" value="<venda_text id=site.button.preorder>" class="preorder submit"> -->
		</venda_block label=35>
		
		</venda_block label=700>
		
		<venda_block label=701,chkatt=notnull>

			<div id="addproductbox" class="addproductbox">
			
			<div id="qtybox" class="qtybox"><label for="qty"><venda_text id=site.quantity></label><input name="qty" id="qty" type="text" value="1" size="3" maxlength="3" onkeypress="if(event.keyCode==13){document.getElementById('addproduct').click(); return false; }" class="qty textInput"></div>

			<venda_tpcomment><!-- Add to basket, PreOrder --></venda_tpcomment>
			<input type="submit" value="<venda_text id=site.button.add_to_basket>" data-track="addtobasket" class="button buttonAlt buttonArrow add submit addproduct">
			
			<venda_tpcomment><!-- Buy Now --></venda_tpcomment>
			<input type="submit" value="<venda_text id=site.button.buy_now>" data-track="buynow" class="button buttonAlt buttonArrow buy submit buynow">
			</div>
			
			<venda_tpcomment><!-- EMWBIS --></venda_tpcomment>
			<a id="emwbis_link" href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock" title="<venda_text id=site.link.title.email_when_in_stock.invt>"  data-track="open-emwbis" class="emwbisLink hide button"><venda_text id=site.link.email_when_in_stock></a>

			<venda_tpcomment><!-- use this instead if you want pre-order with buy now functionality (go to basket page)
			<input type="submit" value="<venda_text id=site.button.preorder>" class="preorder submit" onClick="return getProduct('<venda_invtuuid>').checkAttributes(this.form,'')" --> </venda_tpcomment>

		</venda_block label=701>
		<venda_tpcomment><!-- end: button link image --></venda_tpcomment>
	</venda_block label=25>

	<venda_block label=30,invtpreorder=notnull>
	<venda_tpcomment><!-- if future release date --></venda_tpcomment>
	<p class="release"><venda_text id=site.product_detail.not_yet_released></p>
	<p class="release"><venda_text id=site.product_detail.release_date></p>
	</venda_block label=30>

	<venda_block label=26,invtavail&lt;1>
	<venda_tpcomment><!-- if out of stock --></venda_tpcomment>
	<span class="nostock"><venda_text id=site.out_of_stock></span>
	<venda_block label=167,etadyleft&gt;0><span class="eta"><venda_text id=site.eta_date_invt></span></venda_block label=167>
	<a href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock" title="<venda_text id=site.link.title.email_when_in_stock.invt>" id="emwbis_link" class="emwbisLink button" data-track="open-emwbis"><venda_text id=site.link.email_when_in_stock></a>
	</venda_block label=26>
	</div>
	<venda_tpcomment><!-- end: buyControl div --></venda_tpcomment>

	
	</form>
	
	<div class="attributesForm" id="quickBuyFast" style="display: none;"><venda_pdxtatrtype></div>
	<div id="invtref" style="display: none;"><venda_invtref></div>
	<div id="attributeNames" style="display: none;">
		<div class="att1"><venda_att1></div>
		<div class="att2"><venda_att2></div>
		<div class="att3"><venda_att3></div>
		<div class="att4"><venda_att4></div>
	</div>
	<div id="invtrelease" style="display: none;"><venda_invtrelease></div>
	
</div>	
</div>

<script type="text/javascript">
	Venda.Attributes.Initialize();
</script>