<br class="clear-all">
<venda_inctemplate type=includes,name=availjs>
<div id="avail-emarkid" style="display:none;">5f1f75b4-e67b-11df-9878-12313b032222</div>
<div id="avail">
<h2 class="header-avail" id="h2searchrecs">Based on your basket, we also recommend</h2>
<div id="avail-panel-availbasket" class="irecslist">
<!-- ajax content will go here -->
</div>
</div>
<br class="clear-all">
<!-- Avail function calls -->
<script type="text/javascript"> 
addEvent(window, 'load', function() { populateBasketRecs("availbasket");}, false);
</script>
<br class="clear-all">
