<li>
	<a href="<venda_dispview icat=<venda_icatref1>>&bklist=<venda_cattree bklist=<venda_icatref1>,type=icat>" title="<venda_icatname1>" alt="<venda_icatname1>">
	<venda_block label=4,med-brand1=notnull>
	<venda_media rec=icat1,type=movie-swf-pict,key=brand,border=0,width=112,height=74>
	</venda_block label=4>
	<venda_block label=4,med-brand1=null>
	<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/noimage_thu.jpg" alt="<venda_icatname1>" border="0">
	</venda_block label=4>
	</a>
</li>




