<venda_detblock>
<li class="comm">
	<h2><venda_scatname1></h2>
	<venda_category rec=scat,ref=<venda_scatref1>,temp=community_subindex>
</li>
</venda_detblock>



<div class="comleft">
	<ul class="commIndex">
		<venda_detail>
	</ul>
	<h2 class="archive"><a href="#" title="View Archive">View Archive</a></h2>
</div>

<div class="comRight">
	<h2 class="fb">Facebook</h2>
	<div class="footLikeButton">
	   <script src="<venda_protocol>://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/urbanoutfitterseurope" layout="button_count" show_faces="false" width="100" font="arial"></fb:like>
   </div>
   
   <h2 class="flicr">Flickr</h2>
   <ul id="basicuse" class="thumbs"></ul>
   
   <h2 class="twitter">Twitter</h2>
   <div class="twitterComm">
		<script src="<venda_protocol>://widgets.twimg.com/j/2/widget.js"></script>
		<script>
		new TWTR.Widget({
		  version: 2,
		  type: 'profile',
		  rpp: 5,
		  interval: 6000,
		  width: 250,
		  height: 300,
		  theme: {
		    shell: {
		      background: '#ffffff',
		      color: '#000000'
		    },
		    tweets: {
		      background: '#ffffff',
		      color: '#000000',
		      links: '#c7c7c7'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: false,
		    live: false,
		    hashtags: true,
		    timestamp: true,
		    avatars: false,
		    behavior: 'all'
		  }
		}).render().setUser('uoeurope').start();
		</script>		
		<style type="text/css">
			.twtr-hd,
			.twtr-ft {display:none!important;}
			.twtr-widget h3, .twtr-widget h4, .twtr-widget p {text-align: center!important;}
			.twtr-widget .twtr-tweet {border: none!important;}
			.twtr-widget .twtr-tweet-wrap {padding:0 8px 20px!important;}
		</style>
	</div>

</div>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/jflickrfeed.min.js"></script>
<script>
$(document).ready(function(){

	$('#basicuse').jflickrfeed({
		limit: 9,
		qstrings: {
			id: '37304598@N02'
		},
		itemTemplate: '<li><img src="{{image_s}}" alt="{{title}}" /></li>'
	});
	
});
</script>