<!-- this template is used for the category list, product list, search product list and search xapian-col1 -->
<!-- remove these comments when complete -->
<script type="text/javascript">availDoubleCheck += "<venda_invtref1>,";</script>
<script language="javascript">
	<!-- 
		i++;
		if (i%4==0)
		{
			document.write('<li class="none">');
		}else{
			document.write('<li>');
		}
	// -->
</script>
<venda_block label=78,invtref1!=giftcert>
<!-- &bklist= is needed for search product list -->
<venda_block label=4,med-small1=notnull>
<a href="<venda_dispview invt=<venda_invtref1>>" title="<venda_invtname1>" class="availlink"><venda_media rec=invt1,type=movie-swf-pict,key=small,border=0,width=150,height=229></a>
</venda_block label=4>
<venda_block label=5,med-small1=null>
<a href="<venda_dispview invt=<venda_invtref1>>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/noimage_sm.jpg" alt="<venda_invtname1>" title="<venda_invtname1>" border="0"></a>
</venda_block label=5>

<!-- DISPLAY SWATCHES -->
	<div id="product-list-swatches">
    <venda_block label=666,med-colour11=notnull,med-colour21=notnull,med-colour31=notnull,med-colour41=notnull,med-colour51=notnull,med-colour61=notnull,med-colour71=notnull,med-colour81=notnull,med-colour91=notnull,med-colour101=notnull,med-colour111=notnull,med-colour121=notnull,operator=or>
        <a href="<venda_dispview invt=<venda_invtref1>>&bklist=<venda_bklist>">
        <venda_block label=111,med-colour11=notnull>
			<venda_media rec=invt,type=movie-swf-pict,key=colour1,border=0,width=30,height=22>
		</venda_block label=111>
		<venda_block label=112,med-colour21=notnull>
			<venda_media rec=invt,type=movie-swf-pict,key=colour2,border=0,width=30,height=22>
		</venda_block label=112>
		<venda_block label=113,med-colour31=notnull>
			<venda_media rec=invt,type=movie-swf-pict,key=colour3,border=0,width=30,height=22>
		</venda_block label=113>
		<venda_block label=114,med-colour41=notnull>
			<venda_media rec=invt,type=movie-swf-pict,key=colour4,border=0,width=30,height=22>
		</venda_block label=114>
		<venda_block label=115,med-colour51=notnull>
			<venda_media rec=invt,type=movie-swf-pict,key=colour5,border=0,width=30,height=22>
		</venda_block label=115>	
		<venda_block label=116,med-colour61=notnull>
			<venda_media rec=invt,type=movie-swf-pict,key=colour6,border=0,width=30,height=22>
		</venda_block label=116>	
		<venda_block label=117,med-colour71=notnull>
			<venda_media rec=invt,type=movie-swf-pict,key=colour7,border=0,width=30,height=22>
		</venda_block label=117>		
		<venda_block label=118,med-colour81=notnull>
			<venda_media rec=invt,type=movie-swf-pict,key=colour8,border=0,width=30,height=22>
		</venda_block label=118>		
		<venda_block label=119,med-colour91=notnull>
			<venda_media rec=invt,type=movie-swf-pict,key=colour9,border=0,width=30,height=22>
		</venda_block label=119>		
		<venda_block label=120,med-colour101=notnull>
			<venda_media rec=invt,type=movie-swf-pict,key=colour10,border=0,width=30,height=22>
		</venda_block label=120>		
		<venda_block label=121,med-colour111=notnull>
			<venda_media rec=invt,type=movie-swf-pict,key=colour11,border=0,width=30,height=22>
		</venda_block label=121>		
		<venda_block label=122,med-colour121=notnull>
			<venda_media rec=invt,type=movie-swf-pict,key=colour12,border=0,width=30,height=22>
		</venda_block label=122>
        </a>		
</venda_block label=666>
</div>
<!-- END -->

<div class="productlistinfo">
<p class="productname"><venda_invtname1></p>
<venda_block label=55,invtpdxtpromo1=notnull><p class="list-promo"><venda_invtpdxtpromo1></p></venda_block label=55>

<venda_block label=10,invtatrtot1&lt;1>
<!-- if product doesn't have attributes -->
	<venda_block label=11,invtsavingonwas1=notnull,invtwas1!=0.00,invtwas1&gt;invtsell1>
		<p class="price"><span class="saleprice"><venda_currsym><venda_invtsell1></span><span class="wasprice">(was <venda_currsym><venda_invtwas1>)</span></p>
	</venda_block label=11>
	<venda_block label=101,invtsavingonwas1=null,invtwas1=0.00,invtwas1&lt;=invtsell1,operator=or>
		<p class="price"><venda_currsym><venda_invtsell1></p>
	</venda_block label=101>
</venda_block label=10>

<venda_block label=20,invtatrtot1&gt;0>
<!-- if product does have attributes -->
	<venda_block label=555,mode=value,<venda_invtatrmaxsubwas1>=0.00,<venda_invtatrmaxsubwas1>&lt;<venda_invtatrmaxsubsell1>,<venda_invtatrmaxsubwas1>=<venda_invtatrmaxsubsell1>,operator=or><!-- if product doesn't have was price-->
		<venda_block label=211,mode=value,<venda_invtatrmaxsubsell1>=<venda_invtatrminsubsell1>>
			<p class="price"><venda_currsym><venda_invtatrmaxsubsell1></p>
		</venda_block label=211>
		<venda_block label=221,mode=value,<venda_invtatrmaxsubsell1>&gt;<venda_invtatrminsubsell1>>
			<p class="price"><venda_currsym><venda_invtatrminsubsell1> - <venda_currsym><venda_invtatrmaxsubsell1></p>
		</venda_block label=221>
	</venda_block label=555>
	<venda_block label=666,mode=value,<venda_invtatrmaxsubwas1>&gt;0.00,<venda_invtatrmaxsubwas1>&gt;<venda_invtatrmaxsubsell1>,operator=and><!-- if product does have was price -->
		<p class="price">
        <span class="saleprice">
			<venda_block label=211,mode=value,<venda_invtatrmaxsubsell1>=<venda_invtatrminsubsell1>>
				<venda_currsym><venda_invtatrmaxsubsell1>
			</venda_block label=211>
			<venda_block label=221,mode=value,<venda_invtatrmaxsubsell1>&gt;<venda_invtatrminsubsell1>>
				<venda_currsym><venda_invtatrminsubsell1> - <venda_currsym><venda_invtatrmaxsubsell1>
			</venda_block label=221>
		</span>
        <span class="wasprice">(was <venda_currsym><venda_invtatrmaxsubwas1>)</span>
		</p>
	</venda_block label=666>
</venda_block label=20>
</div>
<venda_block label=30,invtavail1&gt;0,invtatrtot1&lt;1>
<!-- if in stock and product doesn't have attributes -->
<venda_block label=43,mode=value,<venda_tpxt mode=get,name=template>!=advancedsearch>
<!-- generic advanced search uses compare form which this clashes with-->
<form name="form<venda_invtref1>" action="<venda_codehttp>" method="get">
<input type="hidden" name="bsref" value="<venda_bsref>">
<input type="hidden" name="log" value="22">
<input type="hidden" name="mode" value="add">
<!-- "ex" sends user to basket if "co_wizr-shopcart" - or leaves on current page if "co_disp-shopc" -->
<!-- will leave on current page by default - "Buy Now" button changes "ex" value and sends to basket (unless js disabled) -->
<input type="hidden" name="ex" value="co_disp-shopc">
<!-- "buy" defines sku to add if "ex" is "co_disp-shopc" -->
<input type="hidden" name="buy" value="<venda_invtref1>">
<!-- "ivref" defines sku to add if "ex" is "co_wizr-shopcart" -->
<input type="hidden" name="ivref" value="<venda_invtref1>">
</venda_block label=43>
<venda_block label=61,mode=value,<venda_tpxt mode=get,name=template>=standardsearch>
<input type="hidden" name="curpage" value="search">
<input type="hidden" name="next" value="search">
<input type="hidden" name="param1" value="<venda_param1>">
<!-- Pass through all search fields -->
<venda_inctemplate name=searchFields,type=includes>
<!-- original search query below -->
<input type="hidden" name="searchexorigional" value="<venda_block label=111,mode=value,<venda_query>=notnull><venda_query></venda_block label=111>">
<input type="hidden" name="searchargs" value="<venda_block label=112,mode=value,<venda_query>=notnull><venda_query></venda_block label=112>">
<!-- values from carryfields below -->
<input type="hidden" name="sortname" id="sortname" value="<venda_block label=113,mode=value,<venda_field_sortname>=notnull><venda_field_sortname></venda_block label=113>">
<input type="hidden" name="sortprice" id="sortprice" value="<venda_block label=114,mode=value,<venda_field_sortprice>=notnull><venda_field_sortprice></venda_block label=114>">
<input type="hidden" name="sortrelease" id="sortrelease" value="<venda_block label=115,mode=value,<venda_field_sortrelease>=notnull><venda_field_sortrelease></venda_block label=115>">
</venda_block label=61>
<venda_block label=23,mode=value,<venda_tpxt mode=get,name=template>!=searchproductlist>
<!-- "icat" defines next step if "ex" is "co_disp-shopc" (sends to home page without this field) - could be set to send to any invt or page instead -->
<!-- this parameter is not needed on the search product list -->
<venda_block label=21,mode=value,<venda_tpxt mode=get,name=template>!=categorylist>
<input type="hidden" name="icat" value="<venda_icatref>">
</venda_block label=21>
<venda_block label=22,mode=value,<venda_tpxt mode=get,name=template>=categorylist>
<!-- category list does not have venda_icatref tag, so need to use cattree -->
<input type="hidden" name="icat" value="<venda_cattree index=1,value=catref>">
<input type="hidden" name="bklist" value="<venda_bklist>">
</venda_block label=22>
</venda_block label=23>
<venda_block label=24,mode=value,<venda_tpxt mode=get,name=template>=searchproductlist>
<!-- parameters for search product list -->
<input type="hidden" name="curpage" value="search">
<input type="hidden" name="next" value="search">
<input type="hidden" name="xptpl" value="wz_xapian_productlist">
<input type="hidden" name="bklist" value="<venda_bklist>">
<input type="hidden" name="filtercat" value="<venda_cattree index=-1,value=catref>">
<input type="hidden" name="param1" value="<venda_param1>">
</venda_block label=24>
<venda_block label=44,mode=value,<venda_tpxt mode=get,name=template>!=advancedsearch>
</form>
</venda_block label=44>

<!-- 
if qty to be fixed as 1, use simpler addshop buttons instead...
add to basket button needs extra parameters if we're on a search template

<venda_block label=37,invtpreorder1!=1><venda_jump type=addshop,rtype=invt,value=invtref1,label=31>Buy Now</venda_jump label=31></venda_block label=37>

<venda_block label=25,mode=value,<venda_tpxt mode=get,name=template>!=searchproductlist>
<venda_block label=28,mode=value,<venda_tpxt mode=get,name=template>!=advancedsearch>
<venda_block label=63,mode=value,<venda_tpxt mode=get,name=template>!=standardsearch>
<venda_jump type=addshop2,rtype=invt,value=invtref1,label=32><venda_block label=710,invtpreorder1!=1>Add to Basket</venda_block label=710><venda_block label=711,invtpreorder1=1>Pre-Order</venda_block label=711></venda_jump label=32>
</venda_block label=63>
</venda_block label=28>
</venda_block label=25>

<venda_block label=26,mode=value,<venda_tpxt mode=get,name=template>=searchproductlist>
<venda_jump type=addshop2,rtype=invt,value=invtref1,curpage=search,searchargs=<venda_query>,srchopt=<venda_srchopt>,string=<venda_string>,xptpl=wz_xapian_productlist,xpcache=1,label=32><venda_block label=710,invtpreorder1!=1>Add to Basket</venda_block label=710><venda_block label=711,invtpreorder1=1>Pre-Order</venda_block label=711></venda_jump label=32>
</venda_block label=26>

<venda_block label=64,mode=value,<venda_tpxt mode=get,name=template>=standardsearch>
<venda_jump type=addshop2,rtype=invt,value=invtref1,curpage=search,searchargs=<venda_query>,srchopt=<venda_srchopt>,string=<venda_string>,xpcache=1,label=32><venda_block label=65,invtpreorder1!=1>Add to Basket</venda_block label=65><venda_block label=66,invtpreorder1=1>Pre-Order</venda_block label=66></venda_jump label=32>
</venda_block label=64>
 -->
</venda_block label=30>

<venda_block label=104,invtsell21=notnull>
<p>Multiple-buy savings</p>
</venda_block label=104>
</venda_block label=78>
<venda_block label=79,invtref1=giftcert>
<a href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>&bklist=icat,3,shop,home"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/noimage_sm.jpg" alt="<venda_invtname1>" title="<venda_invtname1>" border="0"></a>
<div>
	<p><strong><venda_invtname1></strong></p>
	<p class="darkgray">
	    <venda_block label=35,invtatrminsubsell1&gt;0.00><venda_currsym><venda_invtatrminsubsell1> - <venda_invtatrmaxsubsell1></venda_block label=35>
	    <venda_block label=36,invtatrminsubsell1=0.00><venda_invtsymsell1></venda_block label=36>
	</p>
</div>
</venda_block label=79>
</li>
<script language="javascript">
<!-- 
	n++;
	if (n%4==0)
	{
		document.write('</ul><br class="clear-all"><ul id="productlist">');
	}
// -->
</script>


 
