<html>
<head>
	<title>Your <venda_ebizname> Voucher</title>
</head>
<body>

<venda_inctemplate name=htmlEmailCssEtc,type=includes>
<div id="covMail">
<div id="logo">
<a href="<venda_ebizurl>"><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/logo_email.gif" alt="<venda_ebizname>" border="0"></a><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/hdr_email_referafriend.gif" alt="REFER A FRIEND" border="0">
</div>

<p>Dear <venda_name>,</p>
<p>Great news...</p>
<p>As your friend <strong><venda_fromname></strong> thought that you would be interested in seeing what <venda_ebizname> has to offer, we're pleased to give you a voucher for a <venda_currsym><venda_coamt> discount off your first order with us.</p>
<p>See below for the full details. Don't delete this message as it contains all the information you need to use your voucher.</p>
<ul>
	<li>To: <venda_name></li>
	<li>From: <venda_fromname></li>
	<li>Amount: <venda_currsym><venda_coamt> off when you spend <venda_currsym>50 or more (excluding postage &amp; packing and gift wrap)</li>
	<li>Claim Code: <venda_copromo></li>
	<li>Expiry Date: <!-- <venda_codur> --> <venda_codurexp></li>
</ul>
<p><strong>How to redeem your voucher</strong></p>
<ul>
	<li>Go to <a href="<venda_serveradd>"><venda_ebizurl></a>.</li>
	<li>Select the items you wish to purchase and add them to your basket.</li>
	<li>Go through the checkout process until you get to the final order summary page.</li>
	<li>Click on the 'use promotional voucher' button and copy the voucher claim code exactly as shown above.</li>
	<li>Click 'Continue'. This will redeem the voucher.</li>
	<li>If the value of your order is higher than the value of the voucher, you will need to pay the difference using a credit/debit card.</li>
	<li>If the value of your order is lower than the value of the voucher, the balance will be added to your account with <venda_ebizname>, and you can use it on future visits.</li>
</ul>
<p>Please ensure your voucher has been redeemed, by viewing your order summary before completing your order. Once your order has been submitted and paid for by means other than a voucher, you are unable to use your voucher to offset that cost.
</p>
<p><strong>Terms and conditions of use</strong></p>
<ul>
	<li>Your Refer A Friend voucher can only be redeemed against a purchase with a minimum value of <venda_currsym>50.00 excluding postage and packing, delivery and gift wrap charges.</li>
	<li>Vouchers can only be redeemed online at <a href="<venda_serveradd>"><venda_ebizurl></a> or by telephone, phone <strong><venda_ebizarea> <venda_ebizphone></strong>.</li>
	<li>The voucher is valid for three months from the date the voucher is emailed to you.</li>
	<li>This voucher has a face value of <venda_currsym><venda_coamt>.</li>
	<li>The remaining balance must be paid using a credit or debit card.</li>  
	<li>Only one voucher can be redeemed per order.</li>
	<li>This voucher is not valid in conjunction with any other promotional offer.</li>
	<li>This voucher is not transferable or assignable and has a cash redemption value of <venda_currsym>0.001 which can not be exchanged or part exchanged for cash payment.</li>
	<li>Normal <venda_ebizname> <a href="<venda_serveradd>/page/terms">terms and conditions</a> for using the <venda_ebizname> website apply except when they conflict with these terms and conditions.</li>
	<li>The voucher cannot be used to purchase gift certificates, or used against the value of postage and packing, delivery and gift wrap charges.</li>
	<li>The voucher cannot be used to pay for orders that have aleady been placed online.</li>
</ul>

<p>
<div>Thanks and we look forward to you visiting our site soon.</div>
<div><a href="<venda_ebizurl>"><venda_ebizurl></a></div>
</p>

<venda_inctemplate name=htmlEmailFooter,type=includes>
</div>
</body>
</html>