<div id="cov_colRight">
<div class="font1">
	<div class="heading-all">
	<h1>FORGOTTEN PASSWORD</h1>
	<div class="underline"><p></p></div>
	</div>
</div>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>
<p>If you have forgotten your password we can email it to you.</p>

<venda_form>

<fieldset class="inpform">
<legend class="hide">Please enter your email address</legend>
<div id="pinkHeader2">PLEASE ENTER YOUR EMAIL ADDRESS</div>
<div><label for="usemail">Email Address:</label> <venda_usemail field=text,size=20,maxlength=50></div>
</fieldset>
<script type="text/javascript">
<!--
// disable enter
var handleKeyPress = function(e) {
	var keyPressed = e.charCode || e.keyCode;
	if (keyPressed == 13) { 
		validate();
		return false;
	}
};
function validate(){ 
         if (document.wizform.usemail.value == ''){ 
			alert('Please enter a valid email address.');
			document.wizform.usemail.focus();
			return false;
	}
	<venda_wizbutton step=next,mode=process,callonly=yes>

 }  
// -->
</script>
  <!--[if IE]> 
   <script type="text/javascript">if (document.getElementById("usemail")) {addEvent(document.getElementById("usemail"), 'keydown', handleKeyPress, false);}</script> 
   <![endif]--> 
<div id="button_v1">
<venda_block label=57,param1!=shopcart><a href="<venda_codehttps>?ex=co_wizr-register&bsref=<venda_bsref>"></venda_block label=57><venda_block label=58,param1=shopcart><a href="#" onClick='<venda_wizbutton step=billtologin,mode=process,param1=<venda_param1>,param2=login,wizard=shopcart,callonly=yes> return false;'></venda_block label=58><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="PREVIOUS" border="0" class="left"></a>
<input type="image" onClick="validate(); return false;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_emailpassword.gif" alt="EMAIL PASSWORD" class="right"><div class="clear-all"></div>

</div>

</form>

<p class="content-text">For any questions, please contact us at <a href="mailto:<venda_ebizemail>"><venda_ebizemail></a> or ring us at <venda_ebizarea> <venda_ebizphone> Monday - Friday 9:00 - 18:00.</p>
<p>Note: For security reasons your payment details will be deleted when we send you a new password.</p>
</div>
<!-- 
workflow: <venda_workflow>
param1: <venda_param1>
param2: <venda_param2>
page: wz_pwrm-screen.html
 -->
 <venda_inctemplate name=googleTrackingWorkflows,type=includes>