<select name="cntry" class="admn_fieldsLarge" id="cntrylist">
<option value="">Please Select...</option>
<venda_block label=124,mode=value,<venda_sessionlocation>=eur>
<option value="Austria">Austria</option>
<option value="Belgium">Belgium</option>
<option value="Finland">Finland</option>
<option value="France">France</option>
<option value="Germany">Germany</option>
<option value="Greece">Greece</option>
<option value="Ireland">Ireland</option>
<option value="Italy">Italy</option>
<option value="Luxembourg">Luxembourg</option>
<option value="Netherlands">Netherlands</option>
<option value="Portugal">Portugal</option>
<option value="Spain">Spain</option>
</venda_block label=124>
<venda_block label=125,mode=value,<venda_sessionlocation>=restofworld>
<option value="Denmark">Denmark</option>
<option value="Norway">Norway</option>
<option value="Sweden">Sweden</option>
<option value="Switzerland">Switzerland</option>
<option value="UK Channel Islands">UK Channel Islands</option>
<option value="UK Isle of Man">UK Isle of Man</option>
<option value="UK Isle of Wight">UK Isle of Wight</option>
<option value="UK Jersey">UK Jersey</option>
<option value="UK Northern Ireland">UK Northern Ireland</option>
<option value="United Kingdom">United Kingdom</option>
</venda_block label=125>
</select>
