<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title><venda_ebizname> - Coming Soon
</title>
<style type="text/css" media="all">
@import "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/styles.css";
</style>
<!-- Web Trends tag -->
<venda_inctemplate name=webtrendsFooter,type=includes/webtrends>
<!-- Web Trends tag -->
</head>
<body>
  
<!-- Webtrends Optimize -->
<script type="text/javascript">WTOptimize.setup({s_pageTimeout: 8000});</script>
<!-- Webtrends Optimize End -->

<venda_content>
<venda_inctemplate name=tealiumtracking,type=includes/tracking>
</body>
</html>