<script language="javascript">
<!-- 
	function validateEmail() {
		if ((document.emailsonly.email.value!='')&&(document.emailsonly.email.value.indexOf('@') > 0)) {
			document.emailsonly.submit();
		} else {
			alert('Please enter a valid email address')
		}
	}
// -->
</script>

<form name="emailsonly" action="<venda_codehttp>" method="get" onsubmit="validateEmail(); return false;">
<input type="hidden" name="ex" value="co_disp-view">
<input type="hidden" name="bsref" value="<venda_bsref>">
<input type="hidden" name="page" value="signupforemails">
	
	<fieldset>
	<legend>Sign up for Newsletter</legend>	
			<label for="email" class="invisible">Your email address</label>
			<input type="text" name="email" id="email" size="16" value="Your email address" onfocus="if (this.value=='Your email address') {this.value=''};">
			<input type="image" value="submit" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_submit.gif" border="0" alt="submit">
	</fieldset>
	
</form>
	