<venda_detblock>
  <!-- mp_trans_remove_start-->
	<div class="storeListItem">
	  <div class="alpha omega">
		  <h3 class="stroryname"><venda_stryname1></h3>
		</div>
		<div class="storelistdets">
		  <div class="storethumb">
		    <venda_media rec=stry1,type=pict,key=thumb>
		  </div>
		  <div class="storedets">
		    <h4>Address</h4>
    		<ul>
    			<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">	
    				<venda_block label=20,stxtadd11=notnull><li><span itemprop="streetAddress"><venda_stxtadd11></li></venda_block label=20>
    				<venda_block label=21,stxtadd21=notnull><li><span itemprop="addressLocality"><venda_stxtadd21></li></venda_block label=21>
    				<venda_block label=22,stxtadd31=notnull><li><span itemprop="addressRegion"><venda_stxtadd31></li></venda_block label=22>
    				<venda_block label=23,stxtadd41=notnull><li><span itemprop="postalCode"><venda_stxtadd41></li></venda_block label=23>
    				<venda_block label=24,stxtadd51=notnull><li><venda_stxtadd51></li></venda_block label=24>
    			</span>
    			<venda_block label=25,stxtphone1=notnull><li><h4 class="phone-num">Phone number</h4><span itemprop="telephone"><venda_stxtphone1></span></li></venda_block label=25>
    		</ul>
  		</div>
  		<div class="linkstore"><a class="button buttonAlt buttonArrow" href="<venda_dispview stry=<venda_stryref1>>">Store details</a></div>
		</div>
	</div>
	<!-- mp_trans_remove_end-->
<!-- mp_trans_disable_start-->
<!-- mp_trans_add="FR" 
	<div class="storeListItem">
	  <div class="alpha omega">
		  <h3 class="stroryname"><venda_stryname1></h3>
		</div>
		<div class="storelistdets">
		  <div class="storethumb">
		    <venda_media rec=stry1,type=pict,key=thumb>
		  </div>
		  <div class="storedets">
		    <h4>Adresse</h4>
    		<ul>
    			<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">	
    				<venda_block label=20,stxtadd11=notnull><li><span itemprop="streetAddress"><venda_stxtadd11></li></venda_block label=20>
    				<venda_block label=21,stxtadd21=notnull><li><span itemprop="addressLocality"><venda_stxtadd21></li></venda_block label=21>
    				<venda_block label=22,stxtadd31=notnull><li><span itemprop="addressRegion"><venda_stxtadd31></li></venda_block label=22>
    				<venda_block label=23,stxtadd41=notnull><li><span itemprop="postalCode"><venda_stxtadd41></li></venda_block label=23>
    				<venda_block label=24,stxtadd51=notnull><li><venda_stxtadd51></li></venda_block label=24>
    			</span>
    			<venda_block label=25,stxtphone1=notnull><li><h4 class="phone-num">Num&eacute;ro de t&eacute;l&eacute;phone</h4><span itemprop="telephone"><venda_stxtphone1></span></li></venda_block label=25>
    		</ul>
  		</div>
  		<div class="linkstore"><a class="button buttonAlt buttonArrow" style="font-size: 7px;" href="<venda_dispview stry=<venda_stryref1>>">Informations sur le magasin</a></div>
		</div>
	</div>
-->
<!-- mp_trans_add="DE" 		
	<div class="storeListItem">
	  <div class="alpha omega">
		  <h3 class="stroryname"><venda_stryname1></h3>
		</div>
		<div class="storelistdets">
		  <div class="storethumb">
		    <venda_media rec=stry1,type=pict,key=thumb>
		  </div>
		  <div class="storedets">
		    <h4>Adresse</h4>
    		<ul>
    			<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">	
    				<venda_block label=20,stxtadd11=notnull><li><span itemprop="streetAddress"><venda_stxtadd11></li></venda_block label=20>
    				<venda_block label=21,stxtadd21=notnull><li><span itemprop="addressLocality"><venda_stxtadd21></li></venda_block label=21>
    				<venda_block label=22,stxtadd31=notnull><li><span itemprop="addressRegion"><venda_stxtadd31></li></venda_block label=22>
    				<venda_block label=23,stxtadd41=notnull><li><span itemprop="postalCode"><venda_stxtadd41></li></venda_block label=23>
    				<venda_block label=24,stxtadd51=notnull><li><venda_stxtadd51></li></venda_block label=24>
    			</span>
    			<venda_block label=25,stxtphone1=notnull><li><h4 class="phone-num">Telefonnummer</h4><span itemprop="telephone"><venda_stxtphone1></span></li></venda_block label=25>
    		</ul>
  		</div>
  		<div class="linkstore"><a class="button buttonAlt buttonArrow" href="<venda_dispview stry=<venda_stryref1>>">Store Infos</a></div>
		</div>
	</div>
	-->
<!-- mp_trans_disable_end-->	
</venda_detblock>

<div class="storeListHolder allStores">
	<venda_detail>
</div>