<venda_block label=100,workflow=shopcart,workflow=instore,operator=or>
<!-- login and password -->
<venda_block label=51,param1=login>
<venda_inctemplate type=admn,name=co_comn-login>
</venda_block label=51>

<venda_block label=25,param2=edit>
<!-- edit billing address via confirm pg -->
<venda_form>
<input type="hidden" name="uslgemail" value="">
<input type="hidden" name="usemail" value="<venda_usemail>">

<h1>Edit Your Contact Address</h1>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>
<p>Fields with an asterisk (<span class="required">*</span>) must be filled in.</p>
<p>Your address must match the billing address on your credit/debit card.</p>
<p>You can add alternative delivery addresses on the next page.</p>

<fieldset>
<legend>Name at this Address</legend>
<div><label for="title">Title:</label>
<select name="title" id="title">
	<option value="Mr" <venda_block label=121,title=Mr>selected</venda_block label=121>>Mr</option>
	<option value="Mrs" <venda_block label=111,title=Mrs>selected</venda_block label=111>>Mrs</option>
	<option value="Miss" <venda_block label=101,title=Miss>selected</venda_block label=101>>Miss</option>
	<option value="Ms" <venda_block label=121,title=Ms>selected</venda_block label=121>>Ms</option>
	<option value="" <venda_block label=131,title=Other>selected</venda_block label=131>>Other</option>
</select>
</div>
<div><label for="fname">First Name: <span class="required">*</span></label> <venda_fname field=text,size=25,maxlength=30,required=yes></div>
<div><label for="lname">Last Name: <span class="required">*</span></label> <venda_lname field=text,size=25,maxlength=30,required=yes></div>
</fieldset>

<fieldset>
<legend>Address Details</legend>
<div><label for="company">Company/Institution:</label> <venda_company field=text,size=25,maxlength=20></div>
<div><label for="num">House Name/Flat Number: <span class="required">*</span></label> <venda_num field=text,size=25,maxlength=20,required=yes></div>
<div><label for="addr1">Address: <span class="required">*</span></label> <venda_addr1 field=text,size=25,maxlength=50,required=yes></div>
<div><label for="addr2" class="invisible">Address Line 2:</label> <venda_addr2 field=text,size=25,maxlength=50></div>
<div><label for="city">City: <span class="required">*</span></label> <venda_city field=text,size=25,maxlength=30,required=yes></div>
<div><label for="state">County:</label> <venda_state field=text,size=25,maxlength=20></div>
<div><label for="zipc">Postcode: <span class="required">*</span></label> <venda_zipc field=text,size=25,maxlength=20,required=yes></div>
<div><label for="cntry">Country: <span class="required">*</span></label> <venda_cntry field=combo,required=yes,ship=1></div>
</fieldset>

<fieldset>
<legend>Further Account Details</legend>
<div><div><label for="phone" class="dontFloat">Phone Number: <span class="required">*</span></label> <label for="area" class="dontFloat invisible">and Area Code:</label></div> <venda_area field=text,size=4,maxlength=6,required=yes><venda_phone field=text,size=18,maxlength=20,required=yes></div>
</fieldset>

<div id="buttons">
<a href="#" onClick='<venda_wizbutton step=confirm,mode=display,check=yes,callonly=yes> return false;' alt="Previous"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="Previous" border="0" class="left"></a>
<input type="image" onClick='<venda_wizbutton step=confirm,mode=process,check=yes,callonly=yes> return false;' src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continue.gif" alt="Continue" class="right">
</div>

</form>
</venda_block label=25>

</venda_block label=100>


<venda_block label=200,param1=details>
<!-- register -->
<venda_form>
<input type="hidden" name="layout" value="">
<input type="hidden" name="uslgemail" value="">
<venda_block label=47,instore!=1,param2!=uk><input type="hidden" name="ustype" value="R"></venda_block label=47>
<venda_block label=12,instore!=1,param2=uk><input type="hidden" name="ustype" value="P"></venda_block label=12>

<h1>Your Contact Address</h1>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>
<p>Fields with an asterisk (<span class="required">*</span>) must be filled in.</p>
<p>Your address must match the billing address on your credit/debit card.</p>
<p>You can add alternative delivery addresses later in this process.</p>

<fieldset>
<legend>Personal Details</legend>
<div>
<label for="title">Title:</label><select name="title" id="title">
	<option value="Mr" <venda_block label=121,title=Mr>selected</venda_block label=121>>Mr</option>
	<option value="Mrs" <venda_block label=111,title=Mrs>selected</venda_block label=111>>Mrs</option>
	<option value="Miss" <venda_block label=101,title=Miss>selected</venda_block label=101>>Miss</option>
	<option value="Ms" <venda_block label=121,title=Ms>selected</venda_block label=121>>Ms</option>
	<option value="" <venda_block label=131,title=Other>selected</venda_block label=131>>Other</option>
</select>
</div>
<div><label for="fname">First Name: <span class="required">*</span></label><venda_fname field=text,size=25,maxlength=30,required=yes></div>
<div><label for="lname">Last Name: <span class="required">*</span></label><venda_lname field=text,size=25,maxlength=30,required=yes></div>
</fieldset>

<fieldset>
<legend>Address Details</legend>
<venda_block label=10,param2=uk,errors=null>
<div><label for="zcdropdown">Addresses Found: <span class="required">*</span></label><venda_zcdropdown></div>
If your address was not found or is incorrectly listed, <a href="#" onClick='<venda_block label=48,instore!=1>document.wizform.ustype.value="P"; </venda_block label=48><venda_wizbutton step=billto,mode=process,param1=details,callonly=yes> return false;'>please enter it manually</a>
<venda_city field=hidden><venda_state field=hidden><venda_zipc field=hidden><venda_cntry field=hidden>
</venda_block label=10>
<venda_block label=11,param2!=uk,errors=notnull,operator=or>
<div><label for="company">Company/Institution:</label><venda_company field=text,size=25,maxlength=20></div>
<div><label for="num">House Name/Flat Number: <span class="required">*</span></label><venda_num field=text,size=25,maxlength=20,required=yes></div>
<div><label for="addr1">Address: <span class="required">*</span></label><venda_addr1 field=text,size=25,maxlength=50,required=yes></div>
<div><label for="addr2" class="invisible">Address Line 2:</label><venda_addr2 field=text,size=25,maxlength=50></div>
<div><label for="city">City: <span class="required">*</span></label><venda_city field=text,size=25,maxlength=30,required=yes></div>
<div><label for="state">County:</label><venda_state field=text,size=25,maxlength=20></div>
<div><label for="zipc">Postcode:</label><venda_zipc field=text,size=25,maxlength=20></div>
<div><label for="cntry">Country: <span class="required">*</span></label><venda_cntry field=combo,required=yes,ship=1></div>
</venda_block label=11>
</fieldset>

<fieldset>
<legend>Further Account Details</legend>
<div><div><label for="phone" class="dontFloat">Phone Number: <span class="required">*</span></label> <label for="area" class="dontFloat invisible">and Area Code:</label></div><venda_area field=text,size=4,maxlength=6,required=yes><venda_phone field=text,size=18,maxlength=20,required=yes></div>
<venda_block label=50,instore!=1>
<div><label for="usemail">Email: <span class="required">*</span></label><venda_usemail field=text,size=25,required=yes></div>
<input type="hidden" name="usmailform" value="3">
<div><input type="checkbox" name="blkemail" id="blkemail" value="1" class="dontFloat"><label for="blkemail" class="dontFloat">Please tick to receive email updates on our products.</label></div>
<!-- <venda_ustandc required=yes> -->
<div><input type="checkbox" name="ustandc" id="ustandc" value="1"<venda_block label=125,ustandc=1> checked</venda_block label=125>><label for="ustandc" class="dontFloat">Please tick once you've read and agreed to our <a href="<venda_dispview page=terms>" target="_blank">Terms &amp; Conditions</a></label></div>
</venda_block label=50>
</fieldset>

<venda_block label=151,instore!=1>
<fieldset>
<legend>Please Choose a Password</legend>
<div><label for="uspswd">Password: <span class="required">*</span></label><venda_uspswd field=password,size=25,required=yes></div>
<div><label for="uspswd2">Verify Password: <span class="required">*</span></label><venda_uspswd2 field=password,size=25,required=yes></div>
</fieldset>
</venda_block label=151>
<venda_block label=54,instore=1><venda_uspswd field=hidden><venda_uspswd2 field=hidden></venda_block label=54>

<venda_block label=15,workflow=shopcart,workflow=instore,operator=or>
<div><input type="checkbox" name="differentaddress" id="differentaddress"><label for="differentaddress">Different delivery address?</label> Check this box if the delivery address is different to your contact address</div>
</venda_block label=15>

<script language="javascript" type="text/javascript">
<!--
function nextPage () {
	<venda_block label=34,param2=uk,errors=null>
	if (document.wizform.zcdropdown.selectedIndex==0) {
		alert("Please select an address from those found");
		document.wizform.zcdropdown.focus();
	}
	else {
	</venda_block label=34>
		<venda_block label=35,workflow=shopcart,workflow=instore,operator=or>
		// if in shopcart workflow
		if (document.wizform.differentaddress.checked) {
			// different delivery address
			<venda_wizbutton step=zipcodedelivery,mode=process,param1=delivery,callonly=yes,check=yes>
		}
		else {
			// same delivery address
			<venda_wizbutton step=confirm,mode=process,callonly=yes,check=yes>
		}
		</venda_block label=35>
		<venda_block label=36,workflow=register>
		// if in register workflow
		<venda_wizbutton step=--page-myaccount,mode=process,param1=details,param2=uk,check=yes,callonly=yes>
		</venda_block label=36>
	}
<venda_block label=37,param2=uk,errors=null>}</venda_block label=37>
// -->
</script>

<venda_block label=78,workflow=register>
	<div id="buttons">
	<a href="#" onClick='<venda_wizbutton step=zipcode,mode=display,callonly=yes> return false;' alt="Previous"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="Previous" border="0" class="left"></a>
	<input type="image" onClick="nextPage(); return false;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_register.gif" alt="Register" class="right">
	</div>
</venda_block label=78>
<venda_block label=79,workflow=shopcart,workflow=instore,operator=or>
	<div id="buttons">
	<a href="#" onClick='<venda_wizbutton step=zipcode,mode=display,callonly=yes> return false;' alt="Previous"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="Previous" border="0" class="left"></a>
	<input type="image" onClick="nextPage(); return false;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continue.gif" alt="Continue" class="right">
	</div>
</venda_block label=79>
<venda_block label=76,workflow=refer>
	<div id="buttons">
	<input type="image" onClick='<venda_wizbutton step=refer,mode=process,check=yes,callonly=yes> return false;' src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_register.gif" alt="Register" class="right">
	</div>
</venda_block label=76>
<venda_block label=77,workflow=reminder>
	<div id="buttons">
	<input type="image" onclick='<venda_wizbutton step=usext,mode=process,check=yes,callonly=yes> return false;' src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_register.gif" alt="Register" class="right">
	</div>
</venda_block label=77>

</form>
</venda_block label=200>

<venda_block label=251,workflow!=shopcart,workflow!=instore,curstep=billtologin>
<venda_inctemplate type=admn,name=co_comn-login>
</venda_block label=251>

<venda_block label=56,workflow=refer,curstep=referlogin>
<venda_inctemplate type=admn,name=co_comn-login>
</venda_block label=56>

<venda_block label=20,workflow=instore>
<venda_tpxt mode=set,name=instore,value=1>
</venda_block label=20>

<!-- 
workflow: <venda_workflow>
param1: <venda_param1>
param2: <venda_param2>
page: wz_orbt-screen.html
 -->