<table id="giftoftheday" width="180" height="379" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td rowspan="2">
			<img src="<venda_ebizurl>/content/ebiz/urbanoutfitters/resources/images/giftoftheday/giftoftheday_01.jpg" width="11" height="312" alt=""></td>
		<td>
			<img src="<venda_ebizurl>/content/ebiz/urbanoutfitters/resources/images/giftoftheday/giftoftheday_02.jpg" width="150" height="83" alt=""></td>
		<td rowspan="2">
			<img src="<venda_ebizurl>/content/ebiz/urbanoutfitters/resources/images/giftoftheday/giftoftheday_03.jpg" width="19" height="312" alt=""></td>
	</tr>
	<tr>
		<td><a href="<venda_dispview invt=<venda_ref>>&source=giftoftheday"><venda_media rec=invt,type=pict,key=small,border=0></a></td>
	</tr>
	<tr>
		<td valign=top>
			<img src="<venda_ebizurl>/content/ebiz/urbanoutfitters/resources/images/giftoftheday/giftoftheday_05.jpg" width="11" height="67" alt=""></td>
		<td>
			<img src="<venda_ebizurl>/content/ebiz/urbanoutfitters/resources/images/giftoftheday/giftoftheday_06.jpg" width="150" height="67" alt="">
            <span style="position: relative; top: -60px; left: 0px; font-family : Courier New; text-transform: uppercase; font-size:12px; font-weight:bold;">
        	
            <venda_invtencname>
            <br>
            <venda_invtatrsymsell1>     
             </span>
            </td>
		<td valign=top>
			<img src="<venda_ebizurl>/content/ebiz/urbanoutfitters/resources/images/giftoftheday/giftoftheday_07.jpg" width="19" height="67" alt=""></td>
	</tr>
</table>

