<div id="flagContent" class="flagContent">
	<div class="region">
		<ul>
		<li><a href="#" id="eur" class="eur">EUR</a></li>
		<li><a href="#" id="restofworld" class="restofworld">GBP</a></li>
		</ul>
	</div>
</div>

<script type="text/javascript">
Venda.Widget.RegionLangSwitch.isSearch = "<venda_searchtwo>";
Venda.Widget.RegionLangSwitch.currRegion = jQuery.cookie('locn') || "<venda_sessionlocation>";
Venda.Widget.RegionLangSwitch.currLang = jQuery.cookie('lang') || "<venda_sessionlanguage>";
Venda.Widget.RegionLangSwitch.ebizURL = "<venda_serveradd>";
Venda.Widget.RegionLangSwitch.workflow = "<venda_workflow>";
</script>