/* @override 
	http://www.urbanoutfitters.co.uk/content/ebiz/urbanoutfitters/resources/css/base.css
	http://www.urbanoutfitters.co.uk/content/ebiz/urbanoutfitters/resources/css/base.css
	http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/resources/css/base.css
	https://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/resources/css/base.css
*/

@charset "UTF-8";


/* ##########################################
   * DO NOT DELETE @group and @end COMMENTS * 
   ########################################## */
   
/* @group GENERAL STYLES */

/* **styles for v5+ browsers** */

body {
	margin:0;
	padding:0;
	color:#000000;
	font:76% Arial, Times New Roman, Times, serif,Georgia;
	font-size:12px;
	background: url(/content/ebiz/urbanoutfitters/resources/images/headerline.gif) repeat-x fixed 0 0;
}

/* display elements */

h1, h2, h3, p {
	margin:.5em 0;
	padding:0;
}
h1 {font-size:1.6em;}
h2 {font-size:1.4em;color:#000000;}
h3 {
	font-size:1.2em;
	border-bottom:1px solid #000000;
}
p {font-size:12px;}
a {
	text-decoration: underline;
	color:#000000;
}
a:hover {text-decoration:none;}
.error {
	color:#1f79ac;
	background:#fff;
}
.bold {font-weight:bold;}
.normal {font-weight:normal;}

/* list elements */
ul {
	margin:0;
	padding:0;
	list-style:none;
}


ul.bullet li{
	padding:2px;
	list-style: disc outside;
	margin:0 18px;
}
/* admin elements */
#admin, #admin a {
	position:absolute;
	margin:0;
	background:#f00;
	color:#fff;
	display:none;
}
#admin {text-align:center;}
/* hidden elements */
.hide {display:none;}
.left {float:left;}
.right {float:right;}
.clear-all { /* can be used on a <div> or <br> to avoid collapsing divs - especially ns6 (pc) */
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
}

/* start styles to centre content (remove these styles if site should be left-aligned) */

body {
	text-align:left; /* centres content in ie4/5 */
}

#wrapper {
	margin:0; /* centres content (except in ie4/5) */
	margin-left:auto;
	margin-right:auto;
	margin-top:150px;
	margin-top:28px;
	text-align:left; /* left-aligns all sub-content */
	width:930px;
	background: #fff;
	
}
#col-two-three {
	text-align:left; /* ie4 fix needed due to float:right; */
}
/* end styles to centre content */
/* previous/continue buttons floated left/right within #buttons div */

#buttons {
	overflow:hidden;
 	width: 620px;
	padding:5px;
}

/* @end */

/* @group STRUCTURE */


/* structural elements */
#contentwrapper {	
	width:930px;
	background:#FFFFFF;
	padding:0 20px 0 20px;

}
#col-one {
	width:190px;
	float:left;
	padding-left:10px;
	padding-right:20px;
}


#col-two {
	width:700px;
	padding-right:10px;
	float:right;
	margin:0 0 20px 0;
}
#col-two-searchresults {
	width:660px;
	margin-left:auto;
	margin-right:auto;
}
#col-two-three { 
	width:785px;
	float:right;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:20px;
}
#col-three {
	width:150px;
	float:right;
}

#static-wrapper{
	width:930px;
	background:#FFFFFF;
	padding:0 0 0 20px;
}

/* @end */

/* @group HEADER */
/* *** header *** */

#headercontainer {
	width:930px; 
	background-color: #fff;
/*position: fixed*/ 
   top: 32px; 
   height: 100px !important; 
   z-index: 800; 
   display: inline; /* IE Fix */
}



/** Above Header section **/

#aboveheader {
	width:930px;
	height: 33px;
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/headerline.png);	
	background-repeat:repeat-x;
	position: fixed;
	top:0px;
	display: inline;
	z-index: 9000; 
}

#aboveheader { 
	font: 11px Arial, Helvetica, sans-serif; 
	padding:8px 20px 8px 20px; }

#aboveheader p {
	font-size:11px;
	line-height:13px;
	display: inline;
}
#aboveheader a{
	color:#000000;
	text-decoration:none;

}

#headerlinks ul li.singin a { margin-right: 5px;}


	
/* Currency */

#selectCur p{
	font-size:11px;
	line-height:13px;
}

#selectCur a {text-decoration:none;}
#selectCur a.euroon , #selectCur a.restofworldon  {text-decoration:underline;}

/* Language Dopdown */

ul.topnav {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	float: left;
	width: 100px;
	background: #fff;
	font-size: 11px;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 5px;
	color: #000;
	display: block;
	text-decoration: none;
	float: left;
}

#contentwrapper ul.topnav li.headlink a { width: 120px; border: 1px solid #f0f0f0;}

#contentwrapper ul.topnav li.headlink a.country { border: 0; padding: 8px 0 8px 10px; background: #fff;
	
}

ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 25px;
	background: #fff;
	margin: 0; 
	padding: 5px 3px 8px 3px;
	display: none;
	float: left;
	width: 145px;
	border: 1px solid #f0f0f0;
	z-index: 2000;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 0px solid #252525; /*--Create bevel effect--*/
	border-bottom: 0px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 145px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #fff ;
	border: 1px solid #ababab;
	padding-left: 10px;
	margin: 5px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #f0f0f0;
}

#uklink img { float: left; margin-right: 5px;}

#francelink img { float: left; margin-right: 5px;}

#germanylink img { float: left; margin-right: 5px;}

#europelink img { float: left; margin-right: 5px;}


#contentwrapper ul.topnav li.headlink ul.subnav li.DDtittle { padding:5px; padding-left: 10px; margin-top: 5px;}

#uklink { }



#contentwrapper ul.topnav li.headlink.subhover ul.subnav li.DDcurrency { color: blue; }

ul.subnav li.DDcurrency div  { width: 40px; float: left; margin: 0 10px;}

#contentwrapper ul.topnav li.headlink.subhover ul.subnav li.DDcurrency div.gpb  {  width: 40px; float: left;}	
#contentwrapper ul.topnav li.headlink.subhover ul.subnav li.DDcurrency div.gpb a {  width: 40px; float: left;}

#contentwrapper ul.topnav li.headlink.subhover ul.subnav li.DDcurrency div.eur { width: 40px; float: left;}
#contentwrapper ul.topnav li.headlink.subhover ul.subnav li.DDcurrency div.eur a { width: 40px; float: left;}
	
#contentwrapper ul.topnav li.headlink.subhover ul.subnav li.DDcurrency.subhover div.gpb a {width: 40px; float: left;}
#contentwrapper ul.topnav li.headlink.subhover ul.subnav li.DDcurrency.subhover div.eur a {width: 40px; float: left;}
	
/* header Links */

#headerregion {float:left; width: 300px;}

#headerlinks {
	float:right; 
	padding: 0 5px 0 0;
	display: inline; 
	}

#headerlinks ul { 
        float:right; 
        padding: 0px; 
        display: inline;}

#headerlinks li {display: inline;}

#headerlinks ul li a { margin: 0 5px;}

#headerlinks ul li a span.sesfname { font-weight: bold;}

#headerlinks ul li.singin a {}

#headerlinks ul li.register a {}

/* Music Pop Up */

#UOmusic { 
	width: 250px; 
    height: 40px;          
    float: left;           
    margin:27px 0 0 10px;
}
           
#UOmusic a { 
    width: 250px;
    height: 38px;
    display: block;
	overflow: hidden;
    background: url(/content/ebiz/urbanoutfitters/resources/images/UOplayerHover_uk.png) no-repeat scroll 6px 4px;
}      

div#UOmusic.fr a { 
    background: url(/content/ebiz/urbanoutfitters/resources/images/UOplayerHover_fr.png) no-repeat scroll 6px 4px;
}      

div#UOmusic.de a { 
    background: url(/content/ebiz/urbanoutfitters/resources/images/UOplayerHover_de.png) no-repeat scroll 6px 4px !important;
}
  
#UOmusic a:hover { 
	width: 250px;
    height: 38px;
    display: block;
	overflow: hidden;
    background: url(/content/ebiz/urbanoutfitters/resources/images/UOplayerHover_uk.png) no-repeat scroll 6px -33px;
}  
   
#UOmusic.fr a:hover { 	
    background: url/content/ebiz/urbanoutfitters/resources/images/UOplayerHover_fr.png) no-repeat scroll 6px -33px;
}  

div#UOmusic.de a:hover {    
    background: url(/content/ebiz/urbanoutfitters/resources/images/UOplayerHover_de.png) no-repeat scroll 6px -33px !important;
}  
    
/* Logo */

#headerlogo {
	float: left;
	clear:none;
	height:30px;
	width:440px;
	margin:23px 40px 0px 40px;
	padding-top: 5px;
}
/* Search Box */
#headersearch {
	float:left;
	width:0px;
	margin:27px 0 0 0;
}

.SearchTextField {
	background-color: #ffffff;
	color: #ababab;
	font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	height:18px;
	width:130px;
	border: 1px solid #ababab;
	text-transform:capitalize;
	border:  1px solid #c0c0c0;
	/*box-shadow:inset -1px 2px 2px #ababab;
	-webkit-box-shadow:inset -1px 2px 2px #ababab;
	-moz-box-shadow:inset -1px 2px 2px #ababab;	*/
	margin-bottom: 2px; 
}
 
#search_submit {
	height: 20px;	
	padding:1px 1px;
	margin:3px 40px;
	border:0px solid #000000;
	/*background: url(http://);*/
	font:11px Arial, Helvetica, sans-serif;
	text-transform:lowercase;
	left:40px;
	clear: both;
	
}

#search_submit:hover {
	background-color:#fff;
	color: #000;
}


input#search_submit {
    background: url("/content/ebiz/urbanoutfitters/resources/images/bt_search.png") no-repeat scroll left top transparent;
    clear: both;
    display: block;    
    overflow: hidden;
    text-indent: -999px;
    width: 55px;
    cursor: pointer;
}

div#headersearch.fr input#search_submit {
	 background: url("/content/ebiz/urbanoutfitters/resources/images/bt_search.png") no-repeat scroll left top transparent;
}

div#headersearch.de input#search_submit {
	 background: url("/content/ebiz/urbanoutfitters/resources/images/bt_search.png") no-repeat scroll left top transparent;
}


input#search_submit:hover {
    background: url("/content/ebiz/urbanoutfitters/resources/images/bt_search.png") no-repeat scroll left bottom transparent;
    clear: both;
    display: block;    
    overflow: hidden;
    text-indent: -999px;
    width: 55px;
    cursor: pointer;
}

div#headersearch.fr input#search_submit:hover {
    background: url("/content/ebiz/urbanoutfitters/resources/images/bt_search.png") no-repeat scroll left bottom transparent;    
}

div#headersearch.de input#search_submit:hover {
    background: url("/content/ebiz/urbanoutfitters/resources/images/bt_search.png") no-repeat scroll left bottom transparent;    
}


.wraplink {
	float:right;
	margin-top:3px;
}	

ul.linkpage {
	width:350px;
	margin:0;
	text-align: center;
	font:12px Courier New;
}
ul.linkpage li {
	display: inline;
	margin-right:6px;
	padding-left:12px; 
}
ul.linkpage li.first{
	display:inline;
	margin-left:0;
}
ul.linkpage a{
	color:#000000;
	text-decoration: underline;
}
ul.linkpage a:hover{
	color:#999;
	text-decoration: underline;
}	
.hd_line{
	width:630px;
	line-height:3px;
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/hd_line.gif);
	background-repeat: repeat-x;
}
		

/* SHOPPING CART */

#headercart {
	float:right;
	/*width: 170px;*/	
}

#headercart.de {
	/*width: 220px;*/
}

#headercart.fr {
	/*width: 120px;*/
}



#flagimage.flag { 	
}



.mini{
	float: right;
	text-align: right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-transform:capitalize;	
	display: inline;		
}

	
.mini a {
	color:#00ccff !important;
	text-decoration:none;
	
}

div.mini img {
	border:0px solid #000;
	margin: 0 2px 0 5px;
}



#showminicart {
	float: left;
	display: block;	
	margin: 0;
	padding: 0px 2px 3px 4px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;	
}


#showminicart2 {
	float:left;
	display: block;	
	margin: 0;
	padding: 0px;
}

#headercart.de #showminicart2 { margin: 0 3px 0 0;
}

#headercart.fr #showminicart2 { margin: 0 3px 0 0;
}

#headercart .mini .item {	
	color:#00ccff !important;
	background-color: none;
	text-align: right;	
	font-size: 12px;	
	line-height: 12px;
}


#headercart .mini a.item {
	 color:#00ccff;
	 text-decoration:none;	 
	 display:block;
	 border:0;	 
	 float:left;
	 text-align: right;
	 padding: 0;	
	 clear: none;
	 font: 12px/none Arial, Helvetica, sans-serif;
     line-height: 12px;
}	

a.item:hover{	
	background-color:transparent;
	color:#00ccff;
	text-decoration: none !important;
}

#headercart .mini a.item span.bracket { 
  /*font-family: "Courier New", Courier;*/
  font-size: 12px;
  display: inline;
}

#headercart div.mini a.item span.itemtxt {
	display: none;	
}


#headercart .mini a.item span.total { padding: 3px 0 0 0;
	
}


/* END HEADER */

/* @end Header */

/* @group MEGA MENU NAV */

/** Primary Nav **/

#primaryNavContainer {
	border-bottom:1px solid #000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;	
	height:25px;	
	width:930px;
	margin: 10px 0 20px 0;
	float: left; 
}

#primaryNav {
	float: left;
	background: transparent;
	width:930px;
	clear:both;
	z-index: 1000; /* was 1100 */
   /*tom*/
}

#primaryNav li {
	float: left;
	position: relative;
	z-index: 1000; 
	margin-left: 30px;
	
}

#primaryNav li a.headlink.top-cat-womens {
	margin-left: 74px
}

#maintopnav.fr #primaryNav li a.headlink.top-cat-womens { margin-left: 44px
	
}

#primaryNav li a {
	color: black;
	font-size: 1.2em; 
	text-decoration: none;
	/*text-transform: uppercase;*/
	padding: 5px 15px;
	float: left;
}

#primaryNav li a.headlink{
	font-size: 13px;
	font-weight: bold;
	
}

#primaryNav li:hover a,#primaryNav li a:hover {		
	color: #00ccff;
}

#primaryNav li .sub {
	display: none;
	position: absolute;
	top: 26px;
	left: 8px;  
	background: #fff;
	background: rgba(254,255,255,0.95);
    	
	padding: 6px;
	float: left;	
	border-top: 0px solid; 
	border-bottom: 0px solid; 
	border-left: 0px solid;
	border-right: 0px solid;
	border-color: #gray;	 
	font-size: 0.65em;
	box-shadow: 1px 1px 1px   #eee;
	-webkit-box-shadow: 1px 1px 1px  #eee;
	-moz-box-shadow: 1px 1px 1px  #eee;
    z-index:999;
	
}

#primaryNav li div.sub ul li a:hover {
	color: #00ccff;
}

#primaryNav li div.sub ul li h3 a {
	font-size: 1.3em;
}

/* Dropdown Positioning */


#primaryNav li div.sub.sale { left: 8px;}

#primaryNav li div.sub.womens { left: 48px;}

#primaryNav li div.sub.boutique {left: 8px;}

#primaryNav li div.sub.mens { left: 8px;}

#primaryNav li div.sub.gifts { left: 8px;}

#primaryNav li.headlink.top-cat-99 .sub ul {
	float: none;
	display: block;
}

/* *Dropdown Positioning End* */

#primaryNav li .sub ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 140px;
	float: left;
	margin-left: 0px;
}

#primaryNav .sub ul li {
	width: 100%;
	margin: 0;	
/*--Override parent list item--*/
	color: black;
	line-height: 14px; /* hover menu line height */
}

#primaryNav .sub ul li h3 {


/*--Sub nav heading style--*/
	padding: 1px;
	padding-top: 4px;
	font-weight: bold;
	font-size: 1.2em;
	text-transform: capitalize;
	margin-right: 2px;
	/* border-bottom: 1px solid #d0cbc5 */ /* H3 Border */
	border-bottom: 0px;
	border-color: #9f9f9f;
}

#primaryNav li div.sub ul li h4 a:hover{
	/*background-color: #fffc;*/
	color: white;
}

#primaryNav .sub ul li h3 a {

/*--Sub nav heading link style--*/
	padding: 0px 0;
	background-image: none;
	background: transparent;
	color: #000;
	text-transform: capitalize;
	
}

#primaryNav .sub ul li h4 a {

/*--Featured link style--*/
	padding: 4px 2px;
	background-image: none;
	color: black;
	text-transform: capitalize;
	}



#primaryNav .sub ul li a {
	float: none;
	text-indent: 1px;
	/*--Override text-indent from parent list item--*/
	height: auto;
	font-size: 13px; 
    /*--Override height from parent list item--*/
	padding: 2px 0px;
	display: block;
	background: transparent;
	text-transform: capitalize;
	color: #000;
}

#primaryNav .sub ul li h2 {
	margin-top: 1em;
	/*color: pink;*/
}


/* ** ORIGINAL UO TOP NAV ** */

#maintopnav {
	width:930px;
	clear:both;
}	
#menutopnav ul li{
	float:left;
	padding-left:60px;
}	
#menutopnav ul li.noml{
	margin:0 0 0 0;
	float:left;
}		
#topnav {
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	height:25px;
	line-height:27px;
	text-transform:uppercase;
	width:930px;
	margin: 0 0 20px 0;
}
#topnav a{
	color:#000000;
	text-decoration:none;
	padding:1px;
}
#topnav a:hover{background-color:#FFFF00;}
#topnav a.current{background-color:#FFFF00;}
#topnav a.Sale{color:#000000;}
#topnav a.Sale:hover{
	color:#000000;
	background-color:#FFFF00;
}
/* ** ORIGINAL UO TOP NAV END ** */
/* @end MegaMenu */

/* @group PIKACHOOSE JQUERY MODULE */

/* ** PIKACHOOSE SLIDE & CAROUSEL ** */

#contentwrapper div.pikachoose div.pika-image div.caption a { color: #fff;}

.pika-wrap {width: 930px; margin: 0 auto;}

.pika-image {position: relative; height: 575px; width: 930px; padding:0;}
	/*position image holders */
	.pika-image .animation, .pika-image .main-image {position: absolute; top: 0px; left: 0px;}
	.pika-image .animation {display: none;z-index:2;}
	.pika-image img {border:0;}

.pika-image .caption {position: absolute; background: url(../images/pikachoose/75-black.png);  font-size: 11px; color: #fafafa; padding: 8px; bottom: 0px; right: 0px; width: 914px;}
	.pika-image .caption p {padding: 0; margin: 0; line-height: 14px;}

.pika-imgnav a {position: absolute; text-indent: -5000px; display: block;z-index:3;}
	.pika-imgnav a.previous {background: url(../images/arrows.gif) no-repeat left top; width: 7px; height: 15px; top: 610px; left: -12px;cursor:pointer;}
	.pika-imgnav a.previous:hover {background-position: left bottom;}
	.pika-imgnav a.next {background: url(../images/arrows.gif) no-repeat right top; width: 7px; height: 15px; top: 610px; right: -12px;cursor:pointer;}
	.pika-imgnav a.next:hover {background-position: right bottom;}
	.pika-imgnav a.play {background: url(../images/pikachoose/play.png) no-repeat 50% 50%; height: 100px; width: 40px;top:0;left:50%;display: none!important;cursor:pointer;}
	.pika-imgnav a.pause {background: url(../images/pikachoose/pause.png) no-repeat 50% 50%; height: 100px; width: 40px;top:0;left:50%;display:none!important;cursor:pointer;}

.pika-textnav {margin: 33px 0 0 0; display: none;}
.pika-textnav a {font-size: 12px; text-decoration: none; font-family:  helvetica, arial, sans-serif; color: #333; padding: 0px; text-indent: -9999px;}
		.pika-textnav a:hover {background: #e5e5e5; color: #0065B2; cursor: pointer;}
	.pika-textnav a.previous {float: left; width: 7px; height: 15px; margin-left: -12px; background: url(../images/arrows.gif) no-repeat left top; display: none; }
	.pika-textnav a.previous:hover {background-position: left bottom;}
	.pika-textnav a.next {float: right; width: 7px; height: 15px; margin-right: -12px; background: url(../images/arrows.gif) no-repeat right top; display: none;}
	.pika-textnav a.next:hover {background-position: right bottom;}
	
.pika-thumbs {margin: 10px 0 0 0; padding: 0; overflow: hidden; min-width: 1800px;}
	.pika-thumbs li {float: left; list-style-type: none; width: 110px; padding: 0px; margin: 0 0 0 7px; cursor: pointer;}
		.pika-thumbs li:first {margin: 0;}
		.jcarousel-item-1-horizontal {margin: 0!important;}
		.pika-thumbs li .clip {position:relative;width: 110px; height: 68px; text-align: center; vertical-align: center; overflow: hidden;}

.clip span{background-color:black;position:absolute;top:5px;left:5px;display:block;}
ul#pikame{width:930px;}
		
		
/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika .jcarousel-container-horizontal { padding: 7px 0px;}
.jcarousel-skin-pika .jcarousel-container-vertical { width: 90px; height: 350px; padding: 20px 20px;}
.jcarousel-skin-pika .jcarousel-clip-horizontal {height: 68px; width: 930px;}
.jcarousel-skin-pika .jcarousel-clip-vertical { width:  90px; height: 350px;}
.jcarousel-skin-pika .jcarousel-item-horizontal { margin-right: 0px;}
.jcarousel-skin-pika .jcarousel-item-vertical {margin-bottom: 10px;}
.jcarousel-skin-pika .jcarousel-item-placeholder {background: #fff; color: #000;}

/* ** PIKACHOOSE SLIDE & CAROUSEL END ** */
/* @end PIKACHOOSE */


/* @group FOOTER */ /* Do not delete @group and @end comments!! */

/* *** FOOTER ***/

.footerline {
	background-image: url(/content/ebiz/urbanoutfitters/resources/images/21pxgreyline.gif);
	background-repeat: repeat-x;
	height: 21px;
	width:930px;
}

.footersolidline {
	clear:both;
	width:930px;
	border-bottom:solid #999999 1px;
	margin: 12px 0 12px 0;
}

#footercontainer {	
	width: 930px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10.5px;
	letter-spacing:0.2px;
	color:#000000;
	margin: 20px 0px 0px 0px;
	border-top:1px solid #000000;
	padding:10px 0 10px 0;
	clear:both;
	/* Fed */
     
}

#footercontainer a {color:#000000;}
#footercontainer a:hover {text-decoration: none; color: #00ccff;}

#footersignup { 
    width: 930px; 
	height: 26px;
	border-bottom:1px solid #000000;
	margin-bottom: 10px;
	clear: both;
}

#footersignup .signuptxt {
	font-family: Helvetica;
	font-size: 13px;	
	text-align: center;
	margin: 2px auto 0px auto;
}

#footersignup div.signuptxt a {
	text-decoration: none;	
}

#footersignup div.signuptxt a:hover {
	text-decoration: none; color: #00ccff;	
}


/* ** Fed's New Footer Styles ** */

#footerLike{	
    text-align: left;		
	margin: 10px;
	float: left;
	z-index: 10;
	width: 200px;
	height: 50px;	
}

#footerLike span { font-size: 14px; font-weight: bold; margin-left: 5px; }

#footerLike .footLikeButton {
	width:90px;
	margin: 10px 0; /* 10 auto to center */
	z-index: 10;
}

#footerTop {      
    text-align: center ;
    float: left; 
	margin: 10px 0 0 104px;
	z-index: 100px;	
}

/* French Version Styles */
#footerTop.fr {
	text-align: center ;
    float: left; 
	margin: 10px 0 0 100px;
	z-index: 100px;	
}

/* german Version Styles */
#footerTop.de {
	text-align: center ;
    float: left; 
	margin: 10px 0 0 100px;
	z-index: 100px;	
}


#footerTop ul{ clear: both;
	
}

#footerTop ul.footTop { 
    margin: 0 auto 4px auto;
    text-align: center;    
    float: left; 
    clear: both;       	
}

#footerTop ul.footTop li {	 
	list-style: none;
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
}

#footerTop ul.footTop li a {
	 text-decoration: none;
	 padding-left: 5px;
}

/* French Version Styles */
#footerTop.fr ul.footTop {
	 text-decoration: none;
	 text-align: center !important;
}

/* German Version Styles */
#footerTop.de ul.footTop {
	 text-decoration: none;
	 text-align: center;
	 width: 260px;
	 }

#footerTop ul.footBottom {
    text-align: center !important;
    clear: both;    
    margin-top: 5px;  	
}

#footerTop ul.footBottom li  {
	list-style-type: none;
	display: inline;
	font-size: 10px; 
	margin: 0;
}


#footerTop ul.footBottom li a { 
	padding-left: 6px;
	color: gray;
	}


#footerTop div.footUOtxt p { 
	font-size: 11px; 
	color: #ababab; 
	clear: both; 
	margin-top: 5px
}

/* **Social Icons** */ 

#footerSocial {	
    float: right; 
    width: ;  
    height: 30px;
  	margin: 10px 10px;
  	display: inline-block;
  	text-align: right;	
}

/* Facebook Icon */
#footerSocial div.fbcont { 
    width: 20px;
 	height: 21px;	
 	float: left;
 	margin-right: 10px;
}

#footerSocial div.fbcont a.fb {
	width: 20px; 
	height: 21px; 
	display: block;
	overflow: hidden;
	background: url(/content/ebiz/urbanoutfitters/resources/images/footer/social.png) no-repeat scroll 0 0;	
}

#footerSocial div.fbcont a.fb:hover { 	
	background: url(/content/ebiz/urbanoutfitters/resources/images/footer/social.png) no-repeat scroll -21px 0;
}

/* Tweetie Icon */
#footerSocial div.twcont {
	width: 20px;
 	height: 21px;	
 	float: left;
 	margin-right: 10px;
}

#footerSocial div.twcont a.twit { 
    width: 20px; 
	height: 21px; 	
	display: block;
	overflow: hidden;
	background: url(/content/ebiz/urbanoutfitters/resources/images/footer/social.png) no-repeat scroll 0 -20px;
}

#footerSocial div.twcont a.twit:hover{ 
	background: url(/content/ebiz/urbanoutfitters/resources/images/footer/social.png) no-repeat scroll -21px -20px;
}	

/* Flickr Icon */
#footerSocial div.flkcont {
	width: 20px;
 	height: 21px;	
 	float: left;
 	margin-right: 10px;
}

#footerSocial div.flkcont a.flk { 
    width: 20px; 
	height: 21px; 	
	display: block;
	overflow: hidden;
	background: url(/content/ebiz/urbanoutfitters/resources/images/footer/social.png) no-repeat scroll 0 -40px;
}

#footerSocial div.flkcont a.flk:hover { 
background: url(/content/ebiz/urbanoutfitters/resources/images/footer/social.png) no-repeat scroll -21px -40px;
}

/* YouTube Icon */
#footerSocial div.tbcont {
	width: 20px;
 	height: 21px;	
 	float: left;
}

#footerSocial div.tbcont a.tb { 
    width: 20px; 
	height: 21px; 	
	display: block;
	overflow: hidden;
	background: url(/content/ebiz/urbanoutfitters/resources/images/footer/social.png) no-repeat scroll 0 -60px;
}

#footerSocial div.tbcont a.tb:hover { 
background: url(/content/ebiz/urbanoutfitters/resources/images/footer/social.png) no-repeat scroll -21px -60px;
}

/* Social End */ 

/* *** Fed's New Footer End *** */

/* *Old Footer Styles* */

#footerlists {clear:both;}
#footerlists ul {
	width:135px;
	float:left;
	margin:0 20px 0 0;
}
ul#footersignup {width:310px;}
ul#footerlistlast {margin:0;}
#footerlists li {padding:2px 0;}
#footerlists li.first {
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	font-size:12px;
}
#footerlists a {text-decoration:none;}
#footerlists a:hover {text-decoration:underline;}

#footerlinks {
	margin: 0px auto 0 auto;
	/*width: 180px;*/
	padding: 0px 0px 5px 0px;
	text-align: center;
	
}

#footerlinks ul {	
	width: 400px;
	clear: both;
	margin: 0 auto;	
}

#footerlinks li {
	display:inline;
	padding: 0 5px;
	color: #ababab;
	}


#footerleft {
	float:left;
	width:470px;
}

#footerright {
	float:left;
	clear:right;
	width:440px;
	margin-left:20px;
}

#belowfooter {
	width: 930px;
	height: 90px;
	font-family:Arial, Helvetica, sans-serif;
	color:#999999;
	display: block;
	margin-left: 20px;
}

#belowfooter a {
	color:#000000;
	text-decoration:none;
}

#belowfooter a:hover {text-decoration:underline;}

#venda {
	clear: both;
	padding-top:25px;
	width: 140px;
	margin: 0 auto;
	text-align: center !important;
	
	
}

#venda.de { margin: 0 0 0 380px;
	
}
.pdbottom {_padding-bottom:2px;}

/* END FOOTER */

/* @end */

/* @group GENERAL NAVIGATION */

/* NAV STYLES */
.leftnavcatcontent {
	float:left;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform: uppercase;
	display:block;
	margin-bottom:3px;
	width:135px;
	background-color:#FFFFFF;
}	
	
.leftnavcatcontent a {
	color:#000000;
	text-decoration:none;
}	

#leftnav ul ul{
	margin-bottom:0;
}

#leftnav ul li {
	margin:0;
	}

#leftnav ul li a{
}
#leftnav ul li a:hover{ color: #00ccff; text-decoration: none;
}
	
.leftnavcatopen	a, leftnavcatopen a:hover {
	float:left;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform: uppercase;
	display:block;
	margin-bottom:3px;
	width:135px;
	background-color:#FFFFFF;
	text-decoration:none;
}
	
.leftnavcat a {
	float:left;
	font-weight:bold;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-transform: uppercase;
	margin-bottom:1px;
}

.leftnavcat a:hover {
	color:#666666;
	text-transform: uppercase;
}

.leftnavsub a {
	color:#000000;
	float:left;
	font-size:11px;
	margin:0 0 1px 0;
	padding:1px;
	text-decoration:none;
}		

.leftnavsub a:hover {
	text-decoration:underline;
}	
			
.leftnavsubsub a {
	color:#000000;
	float:left;
	font-size:11px;
	margin:0 0 1px 10px;
	padding:1px;
	text-decoration:none;
}		

.leftnavsubsub a:hover {
	color:#000000;
	text-decoration:underline;
}	
.catsep {
	height:20px;
}

/* END NAV STYLES */

/* @end */

/* @group BREADCRUMS */

/* CRUMBTRAIL */	
#crumbTrail{
	font:12px Arial;
	text-transform:uppercase;
	font-weight:bold;
	color:#000000;
	padding-bottom: 5px;
	float:left;
}
#crumbTrail a{
	color:#CCCCCC;
	text-decoration:none;
}

#crumbTrail a:hover{color:#000000;}
.crumb_arrow {margin:0 10px;}
#crumbTrail2{
	font:12px Arial;
	text-transform:uppercase;
	font-weight:bold;
	color:#000000;
	padding-bottom: 5px;
	float:left;
}
#crumbTrail2 a{
	color:#CCCCCC;
	text-decoration:none;
}	
#crumbTrail2 a:hover{color:#000000;}	

/* @end */

/* @group PRODUCT LIST */

/* PRODUCT LIST  */
.morecoloursbanner {
	font-size:10px;
	color:#666666;
	height:15px;
	text-decoration:underline;
}
#productlist {
	width:660px;
	float:right;
}
#productlist .saleprice {color:#FF0000;}
#productlist .price {color:#666666;}
.wasprice {
	font-size:11px;
	font-style:italic;
}
ul#productlist{
	width:660px;
	float:left;
	padding:0;
	font:12px Arial;
	color:#999;
}
ul#productlist p{
	margin:0;
	padding:0;
}
ul#productlist p.productname {
	font-weight:normal;
	color:#000000;
	font-size:12px;
	margin:0 0 5px 0;
}
ul#productlist p.list-promo {
	margin:0 0 5px 0;
	color:#666666;
	font-size:11px;
}		
ul#productlist li {
	float:left;
	margin:0 20px 0 0;
	padding-bottom:15px;
	width:150px;
}
ul#productlist li.none {
	float:left;
	margin:0;
	width:150px;
}	
ul#categorylist{
	width:630px;
	margin:0 0 15px 0;
	padding:0;
}	
ul#categorylist li{
	float:left;
	margin:0 0 15px 0;
	width:155px;
	height:100px;
	text-align:center;
}	
#accessories{
	margin-top:3px;
	padding:0;
}	
#accessoies div.detAcc{
	float:left;
	height:103px;
	margin:0;padding:0;
}	
/* featured products styles */
#featured ul  {
	margin:.5em;
	padding:.5em;
	border-bottom:1px solid #000;
}
/* contact address */	
fieldset.inpform div{height:23px;}
fieldset.inpform{margin:0 0 15px 0;}
fieldset.inpform p{margin:0 0 10px 0;}
fieldset.inpform input{
	width:155px;
	border:1px solid #7E7F71;
	padding-left:5px;
}
fieldset.inpform select{width:165px;}
.tick{ margin:0 0 0 0;}
.tick input{float:left;}
.tick label{
	float:left;
	width:auto;
	padding-top:2px;
}
select.ml4{margin-left:4px;}	
/*  Login */	
.sel input{float:left;	}
.sel label{width:auto;	}
/* Gategory */
.icatName{
	font:16px Arial;
	letter-spacing:.75px;
	font-weight: bold;
	color:#000000;
}
/* popup available */
.avaHead{
	margin:20px 0 40px 0;
	color:#000;
}
.talCol{
	width:100px;
	margin:10px 0 0 0;  
	float:left;
	text-align:left;
}
.talCol img{
	margin:0 5px -3px 0;
	padding:0; 
}

/* *** PRODUCT DETAIL *** */	
	
.detailcolone{
	width:215px;
	float:left;
	margin-right:20px;
}
.detailcoltwo{
	width:425px;
	float:left;
	padding-top:20px;
}	
.detailcoltwo-left{
	float:left;
	width:205px;
}
.h20{height:20px;}
.detailcoltwo-left fieldset{	
	margin:0;
	padding:0;
}
.detailcoltwo-right{
	float:left;
	width:213px;
}	
.availcolour{
	margin-top:3px;
}	
.availcolour a{
	float:left;
	margin-right:3px;
}
.availcolour a.last{
	margin-right:0px;
}	
.twiceLine{
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/linebold.gif);
	background-repeat:repeat-x;
	width:200px;
	line-height:8px;
}
.line{
	line-height:1px;
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/one_line.gif);
	background-repeat:repeat-x;
	margin-bottom:6px;
}
.line2{
	line-height:2px;
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/one_line2.gif);
	background-repeat:repeat-x;
}	
.emailline{
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/linebold.gif);
	background-repeat:repeat-x;
}
.invtName{
	font:14px Arial;
	font-weight: bold;
	color:#000000;
	margin-bottom:3px;
}
.inp input{
	width:17px;
	font:90% Arial;
	text-align:center;
	margin-top:5px;
}
.quat{
	float:left;
	padding-top:12px;
}
.proPrice{
	font:13px Arial;
	letter-spacing:.5px;
	font-weight: bold;
	color:#6600CC;
}
.attList{float:left;height:16px;}	

/* General */
.mb2{margin:0 0 2px 0;}
.w160{width:160px;}	
.wh130{
	width:130px;
	height:130px;
}
.h19{ 
	height:19px;
	margin-top:4px;
}
.mg0{margin:0;}	
.mgl5{margin-left:-5px;}	
.mlr6{margin:0 6px 0 6px;}
.mr6{margin:0 6px 0 0;}
.mt6{margin-top:6px;}
.mt9{margin-top:9px;}
.ml5{margin-left:5px;}
.mt8{margin-top:8px;}
.inpbd{ border:1px solid #7E7F71;}	
.catpage{
	width:625px ;
	height:400px ;
}	
.font11{font: 11px Arial;}
.font12{font: 12px Arial;}
.font9{	font:9px Arial;
	    color:#959595;
}
.lightgray{color:#999;}	
.mediumgray{color:#000000;}	
.darkgray{color:#000000;}	
.lightblue{color:#00CCFF;}
.red{color:#FE0034;}	
.purple{color:#6600CC;}
.pink{color:#DD75B0;}	
.blue{color:#1F79AC;}		
.green{color:#666666;}	
.greenPrice{ color:#669966;}	
.black{ color:#000000;}
.center{text-align:center;}
.textleft{text-align:left;}
.addPink{color:#da62a0;font:12px Arial;}	
.up{ text-transform: uppercase;}
.transnone{text-transform: none;}
.itbo{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}	
.itbo a{ color:#000000;}	
.itbo a:hover{ color:#000000;}		
.itboCh a{color:#000000;}
.itboCh a:hover{color:#000000;}	
			
/* PAGE SELECT */
.pagesel{
	clear:both;
	text-transform:capitalize;
	float:right;
	font:11px Arial, Helvetica, sans-serif;
	color:#000000;
	padding-bottom:5px;
}	
.pagesel a{color:#000000;}
.pagesel a:hover{text-decoration:none;}
.pageselSearch{
	font:11px Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:center;
	margin:10px 0;
}		
.pageselSearch a:hover{text-decoration:none;}	

/* END PAGE SELECT */
.sh-mes1{
	text-align:center;
	margin-bottom:9px;
}			
.selSeh{
	text-align:center;
	margin-bottom:14px;
}	
.selSeh select{
	width:170px;
	margin-right:10px;
	align:center;
}	

/* @end */

/* @group STATIC PAGES */

/*  static page by Gim */	
/*shared styles*/
.heading-all h1{
	text-transform: uppercase;
	color:#000000;
	margin:0 0 20px 0;
	padding:0;
	font:bold 13px Arial;
	border-bottom:2px solid #000000;
}
.content-text{margin:10px 0 0 0;}
.content-text h2{
	color:#000000;
	font-size:1em;
	margin:0;
	padding:0;
}
.content-text p{
	color:#000000; 
	margin:0 0 20px 0;	
}
.content-text p.topic{
	margin:0 0 0 0;
	padding:0;
}
.content-text a{color:#000000;}
.content-text a.noline{border:0;}
.content-text ul{
	margin:5px 0 5px 30px;
	color:#000000;
	list-style:disc;
}
.content-text ul.nodecoration{
	margin:0;
	color:#000000;
	list-style:none;	
}
.formset textarea {
	float:left;
	width:150px;
	margin:0;
	_margin/**/:0 0 0 3px;
	font-family:arial;
}
.formset div.spacing {height:3px;margin:0;padding:0;}
.formset div.spacing p{margin:0;padding:0;}
.formset fieldset { margin:0;padding:0;}
.formset fieldset label{ width:180px;}
.formset fieldset input{ width:150px;}
.hmarding-zero{/*set margin and padding of h1,h2 to be zero*/
	margin:0;
	padding:0;
}
#storelocations{/*wrapper of the page*/
	width:700px;
	padding:0 0 40px 0;
}
#store-events-annoucements{
	margin:30px 0 0 0;
	padding: 0;
}
.smallline{
	float:left;
	width:100%;
	height:5px;
	border-top:1px solid #000000;
}
#store-events-annoucements {
	color:#999;
	font:12px Arial;
	line-height:16px;
}
#store-events-annoucements a{color:#000000;}
.address p{margin:0;color:#000000;line-height:16px;font:12px Arial;}
.address p a {color:#000000;}
.address{margin-bottom: 20px;}
/*end of store locator page*/
/*faqs and joblist pages*/
#joblisting h1 {
	font-size:13px;
	border-bottom:1px solid #000000;
	text-transform:uppercase;
}
#joblisting h2 {
	font-size:13px;
	margin:0;
	padding:0;
}
#joblisting p {
	margin:15px 0;
}
#joblisting ul {
	list-style:disc;
	margin:0 0 0 30px;
}
#joblisting li {
	padding:3px 0;
}
#joblisting ul.joblist {
	list-style:none;
	margin:0 0 20px 0;
}
ul.anchorlist {margin:0 0 20px 0;padding:0;}
ul.anchorlist li{list-style:none;padding:0;line-height:20px;}
ul.anchorlist a{color:#000000;}
ul.anchorlist a:hover{color:#000000;}
.clear-height{height:16px;}
#joblistdesc{color:#999;}
.positions{width:315px;margin:26px 0 33px 0;}
.joblistdetail{margin:0;padding:34px 0 0 4px;border-top:1px solid #000000;}
.joblistdetail h2 a{color:#000000;font-size:1em;margin:0;padding:0;border:0;font-weight:bold;text-transform: uppercase;}
.joblistdetail a{color:#000000;	font-weight:bold;text-transform:uppercase;line-height:18px;}
/*end of faqs page*/

/*sign up for newsletter styles*/
.email label{color:#3d6c5a;width:100px;position:relative;top:3px;}
.email input{font:10.5px Arial;}
/*end of sign up for newsletter*/

/*help(story) styles*/
#helpContent {text-align:left;margin:0px;}
#helpContent hr{border:0;border-bottom:1px solid #fff;border-top:1px solid #000000;}
/*end of help styles*/

/* @end */

/* @group MY ACCOUNT */

/* Myaccount by Jeab*/
#col-myaccount-login{
	width:100%;
	height:349px;
	margin-top:-15px;
	margin-bottom:20px;
	font-size: 11px;
}
#col-two-three-myaccount {
	width:930px;
	float:right;
	background: #FFFFFF;
	color:#000000;
	margin:0 0 20px 0;
	padding:0;
}
#col-two-myaccount {
	width:210px;
	float:left;
	background: #FFFFFF;
	margin:0;
	padding:0;
}
#col-three-myaccount {
	float:left;
	background: #FFFFFF;
	margin:24px 0 0 27px;
	padding:0;
}
#cov_colRight a:link,
#cov_colRight a:hover,
#cov_colRight a:active,
#cov_colRight a:visited,
#covMyContent a:link,
#covMyContent a:hover,
#covMyContent a:active,
#covMyContent a:visited {
	color:#999;
}
#col-two-three-myaccount a:link,
#col-two-three-myaccount a:hover,
#col-two-three-myaccount a:active,
#col-two-three-myaccount a:visited {
	color:#000000;		
}
#covLogin a:link,
#covLogin a:hover,
#covLogin a:active,
#covLogin a:visited {
	color:#000000;
	text-decoration:underline;
	font:11px Arial;
}
#covLogin {
	float:left;
	width:100%;
	padding:0;
	color:#000000;
}
#covLogin fieldset{ padding:0 6px 0 0;}
#covLogin h2{ font-size:14px;}
#covLogin  #loginHeader{
	padding: 20px 0 0 0;
	font-size:14px;
	font-weight:bold;
}
#covLogin .error {
	margin: 0 0 5px 0;
	position: relative;
}
#covLogin div.transnone{
	text-transform:none;
	margin: 5px 0 0 92px;
}
#covLogin-col-one {
	width:254px;
	height:297px;
	float:left;
	margin:0 0 81px 0;
	padding:0 21px 0;
	background:#CCCCCC;
}
#covLogin-col-two {
	width:254px;
	height:297px;
	float:left;
	margin:0 0 81px 20px;
	padding:0 21px 0;
	background:#CCCCCC;
}
#covLogin-col-three .expresscheckout{
	width:254px;
	height:297px;
	float:left;
	margin:0 0 81px 20px;
	padding:0 21px 0;
	border: 1px solid;
}
#login-col1, #login-col2, #login-col3 { padding:30px 0 0 0;}
#covLogin label {
	width:92px;
	margin:0;
	padding:0 0 0 0;
}
#covLogin #covLogin-col-one #login-col1 .regisNote{
	margin: 25px 0 0 0;
	height:58px;
}
.inputtext137 {
	width:137px;
	margin:0;
	padding:0 0 0 0;
	border:1px solid;
	background-color:#FFFFFF;
	height:18px;
	font-size:11px;
}
.inputtext150 {
	width:150px;
    margin:0;
	padding:0 0 0 0;
}
#button_login {
	margin-top: 7px !important;
	margin-top/**/:/**/5px;
	padding:0;
}
#button_regis{ margin: 47px 0 0 0;}
#button_regis .right { margin: 0 15px 0 0;}
#button_log{ margin: 72px 0 0 0;}
#button_log .right { margin: 0 15px 0 0;}
#button_excheckout{ margin: 127px 0 0 0;}
.row {
	height:15px;
	margin:3px 0 0 0;
	padding:0;
}
.passwordlabel {
	float:left;
	margin:18px 0 0;
	height:18px;
}

/* *** My Account *** */

#covMyaccount {
	padding:0;
	margin:-7px 0 0 0;
	font-family:Arial;
	color:#000000;
} 
#covMyaccount p { margin-bottom:13px;}
.fontT{font:12px Arial;}
.fontC{font-family:Arial;font-size:1em;}
.fontC a{font-family:Arial;font-size:1em;}
.fontC2{font-family:Arial;font-size:1.1em;}
#covNav_Myaccount {
	margin:24px 0 0 0;
	padding:0;
	color:#000000;
	font-family:Arial;
}
#innerNav {margin:7px 0;}
#height30 {height:30px;}
#height20 {height:20px;}
#height15 {height:15px;}
#height10 {height:10px;}
#height5 {height:5px;}
#mynav {
	margin:0;
	padding:0;
}
ul#mynav {
	padding:0;
	list-style: none;
	font-weight:bold;
}
ul#mynav li {
	margin:0;
	padding:0 0 3px 0;
}
/* My Account - Jade */
.myAccountHeader {
	font-weight:bold;
	text-transform:uppercase;
	margin:0 0 10px 0;
}
.myAccountPageHeader {
	text-transform:uppercase;
	font-weight:bold;
}
#myAccountBillingDetails {
	background-color:#CCCCCC;
	padding:10px;
	margin:0 0 20px 0;
}
#myAccountBillingDetails img {
	clear:both;
	margin:5px 0 0 0;
}
#myAccountAccountDetails {
	background-color:#CCCCCC;
	padding:10px;
}
/* END My Account - Jade END*/

/*/////////// My Account - Another Part//////////////// */
#covMyContent {
	width:630px;	
	margin:0 0 25px 0;
	padding:0;
	float:right;
}
#covMyContent p {
	color:#000000;
	font-family:Arial;
}
#covMyContent fieldset,
#covMyContent fieldset.inpform,
#covMyContent fieldset.inpform2 {
	margin-top:18px;
	padding:0;
	font-family:Arial;
	color:#000;
}
.inplink  {
	color:#000000;	
}
ul#addresslist li {
	margin:0 0 15px 0;
	padding:0;
}
.view_button {
	border-bottom:1px solid #000000;
	margin:10px;
	padding:10px;
	text-align:right;
}
table#orderhistorylist th {
	color:#000000;
	font-weight:normal;
	text-align:left;
	font-family:Arial;
}
table#orderhistorylist td {
	color:#000000;
	font-weight:normal;
	text-align:left;
	font-family:Arial;
}
.blueline {	
	float:left;
	color:#999;
	text-decoration:none;
	border-bottom:1px solid #00CCFF;	
}

.address-book-deliv {
	border-top:1px solid #000000;
	padding:10px 0 0 0;
}
.default-deliv-address {
	color:#FA4667;
	font-size:12px;
	font-weight:bold;
	padding:2px;
	height:auto;
}
ul#addresslist {
	border-bottom:1px solid #000000;
	padding:0 0 10px 0;
	margin:0 0 20px 0;
}
.edit-address-link {
	height:auto;
	margin:0 0 5px 0;
}
.edit-address-link a {
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}
.make-default-address {
	height:auto;
}
#my_covContent{
	width:600px;
	padding:0 0 40px 0;
	margin:0;
}
#my_covContent p {
 	padding-bottom:7px;
}
#my_covContent fieldset {
	margin:0;
	padding:0;
}
#my-button {padding-top:12px;}
#my-button2 {padding-top:2px;}
.alignM	{vertical-align:top;}
#shippadd fieldset {
	margin: 0px 0px 15px 0px;
	padding: 0px;
}
#shippadd p {
	margin:0px 0px 11px 0px;
	padding:0px;
}
#contact {
	color:#000000;
	font-family:Arial;
	padding-bottom:17px;
}
#bcontent {
	color:#000000;
	font-family:Arial;
}
table#ordersummary th {
	color:#000;
	font-family:Arial;
	font-weight:normal;
	text-align:left;
	width:330px;
}
table#ordersummary td {
	color:#000000;
	font-family:Arial;
	text-align:right;
}

/* ***-FORM ON LOGIN & MYACCOUNT-****/

fieldset.inpform label,
fieldset.inpform2 label,
div.phonelabel {
	width:209px;
}
fieldset.inpform .tickBox label {
	width:550px;
	float:left;
	padding:1px 0 0 5px;
}
fieldset.inpform .tickBox input {
	width:15px;
	float:left;
	border:0;
}
.tickBox input{
	float:left;
	width:10px;
}
.tickBox label{
	float:left;
	color:#000;
	font-family:Arial;
}
label.prefer {padding-left:5px;}
.phone input.w123 {
	width:118px !important;  /*for netscape*/
	width/**/:116px;            /*for ie*/	
}
.phone input.w126 {
	width:121px !important;  /*for netscape*/
	width/**/:118px;            /*for ie*/	
}
.phone input {margin-right:6px;}
.phone label{
	clear:both;
	width:300px;
}
.phone input.w30{ width:30px;  }   /*for safari*/
ul#referlist {
	padding:0;
	margin:0;
	list-stye:none;
	font-family:Arial;
	color:#000000;
}
ul#referlist li {
	padding:0 0 2px 0;
	margin:0;
}
fieldset.addlist{
	font-family:Arial;
	font-size:.9em;
	color:#000000;
}
fieldset.addlist input {float:left;}
fieldset.addlist label{
	float:left;
	padding:0 0 0 5px;
	width:300px;
	font-size:12px;
	line-height:18px;
}
fieldset.addlist p{
	margin: -5px 0 0 0;
	padding:0;
}

/*##### Address Book ########*/
#my_covContentZip {
	margin:0 0 25px 0;
	padding:0;
	font-family:Arial;
	color:#959595;
}
#my_covContentZip fieldset.inpform{
	margin-top:10px;
	padding:0;
	font-family:Arial;
	color:#000;
}
#my_covContentZip a {color:#000000;}
/*##### col-right 630px content (wz_pwrm-screen)*/
#cov_colRight {
	width:630px;
	float:right;
	padding:0;
	margin:0 0 25px 0;
	font-family:Arial;
	color:#000000;
}
#cov_colRight fieldset {
	margin:0;
	padding:10px 0 0 0;
	font-family:Arial;
	color:#000;
}
#button_v1 {
	margin:0;
	padding:5px 0 10px 0;
}
#button_v2 {
	margin:0;
	padding:10px 0 10px 0;
}
#button_v3 {
	margin:0;
	padding:0 0 10px 0;
}
#cov_colRightMyaccount {
	width:390px;
	float:right;
	padding:0;
	margin:0 0 25px 0;
	font-family:Arial;
	color:#000000;
}
#cov_colRightMyaccount fieldset {
	margin:0;
	padding:0 0 0 0;
}
#cov_colRightMyaccount fieldset label {
	margin:0;
	padding:0 0 0 5;
	font-family:Arial;
	color:#000;
}
#cov_colRightMyaccount fieldset label.invisible {
	color:#fff;
}
fieldset.giftcert{margin:9px 0 0 -10px;}
fieldset.giftcert div{height:23px;}
fieldset.giftcert label{width:110px;}		
fontcourier{font-family:Arial;}
input.referTick {width:15px;}
/*   Safari    & IE 6    */
/*\*/
html*.tickbox_containner {       
  *margin-top:10px;     /*   IE 6    */
}/**/
/*   IE  7    */
*:first-child+html .tickbox_containner {
 	margin-top:30px !important;
}
.tickbox_inner1{
	width:20px;
	float:left;
}
.tickbox_inner2{
	font-size:0.8em;
	color:#000;
}
.rdAlign{
	margin-top:3px;  /*for Safari*/
} 
.rdAlign{
	margin-top:1px !important;#
	margin-top/**/:2px;#
}
.phone input.w30{ width:25px;#  }   /*for ie firefox netscape*/
/* Extra CSS for WYSIWYG */

#static{
	text-align:left;
	margin:0;
	padding:0px;
}	
#static h1{
	text-transform: uppercase;
	color:#000000;
	margin-bottom:10px;
	padding:0;
	font-weight:bold;
	font:13px Arial;
}
#static .underline{
	border-top:2px solid #000000;
	height:2px;
}
#static h5{
	color:#000000; 
	font-size:1em;
	margin:0;
	padding-bottom:10px;
	font-weight:normal;
}
#static a{color:#000000;	}
#static ul{
	list-style:disc;
   	margin:5px 0 5px 15px ;
}
#static ul li{line-height:20px;} 
#static p{margin:0 0 20px 0;	}
#col-two #static h2 {
	color:#000000;
	text-transform:capitalize;
	font:12px Arial;
	margin-bottom:5px;
	padding:0;
	font-weight:bold;
}
/* for some page (paymentoptions,managingyouraccount and termsandconditions)*/	
#static2{
	text-align:left;
	margin:0;
	padding:0;
}	
 #static2 h1{
	text-transform: uppercase;
	color:#000000;
	margin:0;
	padding:0;
	font-weight:bold;
	font:13px Arial;
}
#col-two #static2 .underline{
	border-top:2px solid #000000;
	height:2px;
}
#static2 h5{
	color:#000000; 
	font-size:1em;
	margin:0;
	padding-bottom:10px;
}
#static2 a{
	color:#999;
	text-decoration:none;
	border-bottom:1px solid #da74b5;	
}
#static2 ul{
	color:#000000; 
	margin:5px 0 5px 30px ;
	list-style:disc;
}
#static2 ul li{
	line-height:18px;
	color:#000000;
} 
#static2 p{
    margin:0 0 20px 0;	
	color:#000000; 
} 
#static2 h2{
	color:#000000;
	font:12px Arial;
	font-weight:bold;
	margin:0;
	padding:0;
	text-transform: uppercase;
}

/* @end */
/* BRANDS PAGE */
.contentheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	lineheight: 16px;
	font-weight: bold;
	color: #000000;
}
/* END BRANDS PAGE */



/* *** NEW PRODUCT DETAIL PAGE *** */
#productdetail{
	width:700px;
	float:left;
	margin-top:20px;
}
.productdetailsubheads {
	color:#000000;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	line-height:20px;
}	
.productdetaillabel {
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	line-height:20px;
}
.productdetailcolone {
	float:left;
	width:300px;
}
.productdetailcoltwo {
	width:400px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.productname {
	font-weight:bold;
	font-size:13px;
	padding-bottom:3px;
}
.productprice {
	font-weight:bold;
	color:#666666;
	padding-bottom:5px;
}
.productdetail-promo {
	color:#666666;
	font-weight:normal;
}
.productdetailatt  {
	float:left;
	margin-right:20px;
}
.productdetailattlink {
	clear:left;
}
.productdetailattlink a{
	font-size:10px;
	text-decoration:none;
	color:#999999;
	line-height:20px;
}
.productdetailattlink a:hover{
	text-decoration:underline;
}
.doubleline {
	width:100%;
	border-bottom: solid #FFFFFF 1px;
	margin:10px 0;
	padding:0;
}
.thickline700 {
	width:700px;
	border-bottom: solid #000000 1px;
	margin-top:10px;
}
.productdetailaccessories{
	width:300px;
	float:left;
	margin-top:20px;
}
#accessories img{
	padding-right:2px;
	float:left;
}
#productdetailimage {
	padding-right:2px;
	float:left;
}
#productdetailthumbs ul {
	list-style:none;
	border:0;
	padding:0;
	float:left;
}
#productdetailthumbs li {
	border-bottom:#FFFFFF 2px solid;
	float:left;
	clear:both;
}
#productdetailthumbs li img {float:left;}
h2.hdrsubstitute {width:600px;}
.emailafriend {
	font-size:11px;
	padding-top:10px;
}
.emailafriend a{
	color:#999999;
	text-decoration:none;
}
.emailafriend a:hover{text-decoration:underline;}
.emailafriend li {
	display:inline;
	padding-right:15px;
}
#addedmsg {
	color:#666666;
	font-size:11px;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	width:200px;
}
#productdetail-checkout {
	text-align:center;
	width:200px;
}
#productdetail-checkout a {
	font: 14px arial;
	font-weight:bold;
	color:#999999;
	text-transform:uppercase;
	text-decoration:none;
}
#productdetail-checkout a:hover {color:#000000;}
#continueshoppingblock {
	font: 14px arial;
	font-weight:bold;
	color:#000000;
	clear:both;
	margin:20px 0 0 0;
}
.continueshopping a {
	font: 14px arial;
	font-weight:bold;
	color:#000000;
	margin-right:4px;
	text-decoration:none;
}
.continueshoppinglink a {
	margin-left:3px;
	font: 14px arial;
	font-weight:bold;
	color:#999999;
	text-transform:uppercase;
	text-decoration:none;
}
.continueshoppinglink a:hover {color:#000000;}
#zoomImage {
	font-size:11px;
	margin-top:2px;
}
#zoomImage a, #hideZoomedImage a { 
	color: #999999; 
	text-decoration: none; 
}
#zoomedImage {	
	border: solid 1px #000000;
	width: 380px;
	height: 570px;
	/* Absolute positioning for fix top header and left */
	position: absolute;
	top: 198px !important; 
	left: -90px !important;
	/* Absolute positioning for fix top header and left */
	overflow: hidden;
	background-color:#FFFFFF;
	background-image: url('/content/ebiz/urbanoutfitters/resources/images/loadingAnimation.gif');
	background-repeat:no-repeat;
	background-position:center;	
}
#hideZoomedImage {
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 363px;
	padding-bottom: 1px;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	width: 16px;
	text-align: center;
	background: #eeeeee;
	border-left: solid 1px #999999;
	border-bottom: solid 1px #999999;
	z-index:11;
}
#blurWrapper { 
	position: absolute; 
	top: 0px;
	/*left: 0px;*/
	z-index: 99;
	background: url('/content/ebiz/urbanoutfitters/resources/images/spacer.gif');
}    
#outofstockDiv {
	color:#6600CC;
	font-size:11px;
	font-weight:bold;
	padding-top:20px;
	text-align:center;
	width:200px;
	clear:left;
}
#options_deliveryinfo {
	display:none;
	margin-top:5px;
	font-size:11px;
	color:#000000;
}
#options_sizechart {
	display:none;
}
/* SIZE CHART TABLE */
.viewsizechart h1 {
	font-weight:bold;
	font-size:11px;
}
.viewsizechart h2 {
	font-size:11px;
}
.viewsizechart table {
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}
.viewsizechart tr{
	font-size:10.5px;
}
.viewsizechart th{
	width:160px;
	text-align:left;
	font-size:10.5px;
	font-family:arial;
	font-weight:bold;
	margin:0;
	padding:4px;
	color:#000000;
	border: 1px solid #CCCCCC;
}
.viewsizechart td{
	width:40px;
	font-size:10.5px;
	padding:4px;
	margin:0;
	font-family:Arial;	
	color:#000000;
	border: 1px solid #CCCCCC;
}
.viewsizechart {
	color:#000000
}
.sizecharttable {
	margin:10px 0 0 0;
}
.sizewidth td {
	width:80px
}
/* END SIZE CHART TABLE */
#instockDiv {
	padding-top:20px;
}
#popup {
	text-align:center;
	background:#FFFFFF;
	padding:10px;
}
/*CRITEO*/
/* title column of the widget */
td#cto_gsi_7709686_tt {
	font:11px Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
}
/* class of content columns */
td.cto_gsi_7709686_si {
	padding:0;
	margin:0;
}
/*CRITEO BASKET PAGE WIDGET*/
#criteocheckout {
	margin: 30px 0 10px 0;
}
#criteocheckoutheader {
	border-top:1px solid #000000;
	font:11px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.cto_ch_7709730_tdtxt {
	width:220px;
}
a.cto_ch_7709730_tl {
	color:#000000;
	font:10px Arial, Helvetica, sans-serif;
}
img.cto_ch_7709730_tl {
	border:0;
}
/*end*/	

/*HELP AND INFO*/
#helpandinfo {
	font:12px Arial, Helvetica, sans-serif;
}
#helpcontentstable a {
	color:#000000;
	text-decoration:none;
}
#helpcontentstable a:hover {text-decoration:underline;}
.helpcontentstableheader {
	text-transform:uppercase;
	font-weight:bold;
}
#helpcontentstable ul {
	list-style:none;
	padding:0;
}
#helpcontentstable li {padding:4px 0;}
#helpcontentstable, #deliveryinfotable {
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	width:700px;
	font-size:12px;
}
#helpcontentstable td, #deliveryinfotable  td {border:1px solid #CCCCCC;}
.helpsubjectheader {
	text-transform:uppercase;
	font-weight:bold;
	font-size:13px;
	margin:0 0 10px 0;
	width:100%;
	border-bottom:1px solid #000000;
	clear:both;
}
.helpsubjectheader h1 {font-size:13px;}
#helpcontent p {margin:10px 0;}
.question {
	text-transform:uppercase;
	font-weight:bold;
}
.answer {margin:0 0 20px 0;}
.answer ul {
	list-style:outside;
	padding:0 0 0 10px;
	margin:0 0 0 10px;
}
.answer li {
	padding:2px 0;
	display:list-item;
}
/*end*/
/********************/
#headerregion p {
	margin:0 3px 0 0; 
	float:left;
}
/******/
#back-to-my-account {
	margin:20px 0 0 0;
}
#order-history-order-totals table {
	width:400px;
}
#order-history-payment-details{
	width:383px;
	margin:20px 20px 20px 0;
}
.searchresults {
	font-weight:bold;
}
#product-list-swatches {
	clear:both;
	float:left;
	width:150px;
	margin:0 0 4px 0;
}
div#product-list-swatches img {
	float:left;
	margin:1px 1px 0 0;
	padding:0;
	width:15px;
	height:11px;
}
/* Start RT149535 */
#productdetail #availproductdetail #avail{
	margin-top:20px;
}
#productdetail #availproductdetail #avail h2 {
    font: bold 11px Arial,Helvetica,sans-serif;
    text-transform: uppercase;
	margin-left: 5px;
	border-top:0;
}
#productdetail #availproductdetail #iacc .featprods {
	width:290px;
	height:110px;
	overflow:hidden;
}
#productdetail #availproductdetail #iacc .featprods li {
	width:70px;
	float:left;
}
#productdetail #availproductdetail #iacc .featprods li .details_equal {
	display:none !important;
}
#avail h2 {
	border-top: 1px solid #000000;
    font: 11px Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
#avail #iacc .featprods {
	width: 930px;
	height: 115px;
    overflow: hidden;
}
#avail #iacc .featprods ul {
	margin-left:5px;
}
#avail #iacc .featprods li {
	width:302px;
	height:118px;
	float:left;
}
#avail #iacc .featprods li .image{
	width:70px;
	float:left;
}
#avail #iacc .featprods li .details_equal{
	width:200px;
	float:left;
}
#avail #iacc .featprods li .details_equal h3{
	color: #000000;
    font: 10px Arial,Helvetica,sans-serif;
	border-bottom: 0;
	margin-top:45px;
	margin-left:2px;
}
#avail #iacc .featprods li .details_equal .was_equal, #avail #iacc .featprods li .details_equal .price_equal {
	display:none;
}

/* @group Simple Modal */

/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */

#basic-modal-content { display:none;}

/* Overlay */
#simplemodal-overlay { background-color:#fff; cursor:wait;}

/* Container */
#simplemodal-container { 
  height:260px; 
  width:348px; 
  color:#fff; 
  background-color:#fff; 
  /* border:1px solid #444; */
  padding:0px;
  }
#simplemodal-container .simplemodal-data {padding:0px; border:1px solid #444;  
	position:absolute; z-index:9999;
 }

#simplemodal-container code { 
     background:#fff; 
	 border-left:1px 
	 solid #65B43D; 
	 color:#fff; 
	 display:block; 
	 font-size:12px; 
	 margin-bottom:12px;
	 z-index:1800!important; 
	  /*padding:4px 6px 6px;*/}
#simplemodal-container a {color:#fff;}

#simplemodal-container a.modalCloseImg {
	background:url(../img/basic/x.png) no-repeat; 
	width:25px; 
	height:29px; 
	display:none; 
	z-index:1800!important; 
	position:absolute; 
	top:-15px; 
	right:-16px; 
	cursor:pointer;}
#simplemodal-container h3 {color:#fff;}


/* @end */

/* @group Projecs */

/** Viktor Photography **/

#picture-box { width: 930px; height: 623px;}

#picture-nav { width: 400px; text-align: center; margin: 10px auto;}
#picture-nav { font-size: 16px; font-weight: bold; color: #fc831d;}

#prevnext { margin-top: 10px;}

#FeatureContainer div.ViktorLine { margin-bottom: 10px;}

#FeatureContainer div.Viktortxt p span { font-weight: bold; margin-bottom: 5px; text-decoration: underline;}

#FeatureContainer div.Viktortxt div.LeftCol p { font-size: 11px;}
#FeatureContainer div.Viktortxt div.RightCol p { font-size: 11px;}

#picture-nav a { text-decoration: none; color: #fc831d;}
#picture-nav a:current { text-decoration: underline;}
#picture-nav a:active { text-decoration: underline;}

#FeatureContainer div.ViktorDesc p { width: 600px; margin: 0 auto 20px; text-align: center; font-size: 13px; font-weight: bold; line-height: 16px; letter-spacing:1px; }

#FeatureContainer div.Viktortxt div.LeftCol { float: left; width: 420px; text-align: center; margin: 0 30px;}

#FeatureContainer div.Viktortxt div.RightCol {  float: left; width: 420px; text-align: center; margin: 0 15px; font-size: 8px !important}

#FeatureContainer div.Viktortxt div.ViktorLinks { width: 300px; margin: 0 auto;}


#FeatureContainer div.Viktortxt div.ViktorSocial {width: 250px; text-align: center; margin: 0 380px;}

#FeatureContainer div.Viktortxt div.ViktorSocial div.tweet { float: left; width: 100px; margin: 0 0 5px 5px;}

#FeatureContainer div.Viktortxt div.ViktorSocial div.fb {float: left; width: 100px; margin: 0 0 5px 5px;}


/** Viktor Ends **/

/* @end */

/* End RT149535 */