<script language="javascript">
	var j=0;
</script>
<venda_detblock>
	<script language="javascript">
	<!--
		j++;
		if (j > 1)
		{
			document.write('<venda_spacer width=1,height=1>');
		}
	// -->
	</script>
	<venda_block label=1,pageurl1=notnull><a href="<venda_pageurl1>&bklist=<venda_bklist>"><venda_pagenum1></a></venda_block label=1>
	<venda_block label=2,pageurl1=null><venda_pagenum1></venda_block label=2>
</venda_detblock>

<venda_block label=4,totalpages&gt;1>
<div class="pagesel">Page <venda_detail><venda_block label=3,pageviewallurl=notnull>&nbsp;&nbsp;<a href="<venda_pageviewallurl>&bklist=<venda_bklist>">View All</a></venda_block label=3></div>
</venda_block label=4>

<venda_block label=5,pageviewpagedurl=notnull><div class="pagesel">&nbsp;&nbsp;<a href="<venda_pageviewpagedurl>&bklist=<venda_bklist>">View By Page</a>&nbsp;&nbsp;</div></venda_block label=5>