<!-- 
THIS TEMPLATE IS MEANT FOR ADDING ITEMS TO GIFT LISTS
YOU CAN CURRENTLY SEND TO BASKET ONLY (NOT LEAVE ON CURRENT PAGE)
 -->

<h1><venda_invtname></h1>

<venda_block label=32,mode=value,addedmsg=notnull><p><venda_addedmsg msg=You have added addedqty of addedname to your basket></p></venda_block label=32>

<venda_block label=10,med-medium=notnull>
<venda_media rec=invt,type=movie-swf-pict,key=multi,dyn=yes,default=medium><!-- show "medium" key by default -->
</venda_block label=10>
<venda_block label=11,med-medium=null>
<p>Sorry - No image available</p>
</venda_block label=11>

<venda_block label=12,invtdesc1=notnull><p><venda_invtdesc1></p></venda_block label=12>
<venda_block label=13,invtdesc2=notnull><p><venda_invtdesc2></p></venda_block label=13>
<venda_block label=14,invtdesc3=notnull><p><venda_invtdesc3></p></venda_block label=14>
<venda_block label=15,invtdesc4=notnull><p><venda_invtdesc4></p></venda_block label=15>

  
<venda_form type=additem>
<input type="hidden" name="curpage" value=""> 
	 
<venda_block label=16,chkatt=null>
<!-- if product doesn't have attributes -->
<p>&pound;<venda_invtsell></p>
<venda_block label=17,invtwas=notnull><p>Was &pound;<venda_invtwas></p></venda_block label=17>
<venda_block label=18,invtsavingonwas=notnull><p>Save &pound;<venda_invtsavingonwas></p></venda_block label=18>
</venda_block label=16>

<venda_block label=20,chkatt=notnull>
<!-- if product does have attributes -->
<venda_javacodeimages type=medium><!-- need to use image keys "[att1name]_medium" -->
<venda_javacodeprice>
<venda_javacode>
<p id="priceDiv">From &pound;<venda_invtatrminsubsell></p><!-- replaced by current selection's price unless js disabled -->
	<fieldset>
	<legend>Please select from the following options:</legend>
	<venda_block label=21,selatt1=notnull><label for="att1"><venda_att1>:</label> <select name="att1" id="att1" onChange="ChangePrice();changeImages();"><venda_selatt1></select><br></venda_block label=21>
	<venda_block label=22,selatt2=notnull><label for="att2"><venda_att2>:</label> <select name="att2" id="att2" onChange="ChangePrice();changeImages();"><venda_selatt2></select><br></venda_block label=22>
	<venda_block label=23,selatt3=notnull><label for="att3"><venda_att3>:</label> <select name="att3" id="att3" onChange="ChangePrice();changeImages();"><venda_selatt3></select><br></venda_block label=23>
	<venda_block label=24,selatt4=notnull><label for="att4"><venda_att4>:</label> <select name="att4" id="att4" onChange="ChangePrice();changeImages();"><venda_selatt4></select><br></venda_block label=24>
	</fieldset>
<script language="javascript" type="text/javascript">
<!-- 
window.onLoad = ChangePrice();
window.onLoad = changeImages();
// -->
</script>
</venda_block label=20>

<venda_block label=25,invtavail&gt;0>
<p>
<label for="qty">Qty:</label> <input name="qty" id="qty" type="text" value="1" size="3" maxlength="3">

<input type="hidden" name="orsc-layout" value="0">
<input type="hidden" name="orscsubmit" value="1">

<venda_block label=600,mode=value,<venda_glxt mode=get,name=glstcreator,type=wizr>=1>
<!-- show add to gift list button if gift list creator -->
<input type="hidden" name="glst-layout" value="default">
<input type="hidden" name="glstsubmit" value="">
	<venda_block label=700,chkatt=null>
		<!-- if product doesn't have attributes -->
		<input type="image" onClick='document.form.orscsubmit.value="";document.form.glstsubmit.value="1";' src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtogiftlist.gif" alt="Add to Gift List" class="right">
	</venda_block label=700>
	<venda_block label=701,chkatt=notnull>
		<!-- if product does have attributes -->
		<a href="#" onClick='document.form.orscsubmit.value="";document.form.glstsubmit.value="1";CheckAtt(document.form,""); return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtogiftlist.gif" border="0" alt="Add to Gift List" class="right"></a>
	</venda_block label=701>
</venda_block label=600>

<!-- always show add to basket button -->
<venda_block label=702,chkatt=null>
	<!-- if product doesn't have attributes -->
	<input type="image" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket.gif" alt="Add to Basket" class="right">
</venda_block label=702>
<venda_block label=703,chkatt=notnull>
	<!-- if product does have attributes -->
	<a href="#" onClick='CheckAtt(document.form,""); return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket.gif" border="0" alt="Add to Basket" class="right"></a>
</venda_block label=703>

</p>
</venda_block label=25>

</form>





<venda_block label=26,invtavail&lt;1>
<!-- if out of stock -->
<p>Sorry - Out of stock</p>
<venda_block label=167,etadate=notnull><p>Expected back in stock on: <venda_invtetadatey>/<venda_invtetadatemn>/<venda_invtetadateyr></p></venda_block label=167>
<p><a href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock">Email me when this item is back in stock</a></p>
</venda_block label=26>



<!-- use following 2 lines if write and read a review are required -->
<p><a href="<venda_dispview invt=<venda_invtref>>&temp=writereview">Write A Review</a></p>
<venda_category temp=reviewlink,ref=<venda_invtref>,rec=scat>

<!-- use following line if tell a friend is required -->
<p><a href="<venda_dispview invt=<venda_invtref>>&temp=tellafriend">Tell a Friend about this product</a></p>

<venda_block label=27,invtacctot&gt;0>
<!-- accessories -->
<venda_invtacc template=accessories>
</venda_block label=27>

<venda_block label=28,invtacctot&lt;1>
<!-- related products (predictor) -->
<venda_invtrelated limit=4,threshold=2,template=related>
</venda_block label=28>

<venda_block label=29,invtsubtot&gt;0>
<!-- substitutes -->
<venda_invtsub template=substitutes>
</venda_block label=29>