/* @override http://www.urbanoutfitters.co.uk/content/ebiz/urbanoutfitters/resources/css/content.css */

/***************************************/
/* PRODUCTDETAIL RECENTLY VIEWED ITEMS */
/***************************************/
/* hide showrvi div by default */ /*display:none;*/ 
/*RT101216*/
#tabrecentlyview .rviwrapper{width:425px;float:left;margin:0pt;overflow:hidden;padding:0pt;position:relative;}
#tabrecentlyview #showRVI{float:left; width:500px; margin: 10px 0 10px 0; padding:0;overflow:hidden;min-height:130px;}
* html #tabrecentlyview #showRVI{height:180px;}
#tabrecentlyview #showRVI img.slide {cursor:pointer;float:left;margin-top:55px;}
#tabrecentlyview .LshowRVI h2 {border-bottom:2px solid;}
#tabrecentlyview .LshowRVI ul#rvilist {list-style-type:none; margin:15px 0 0 0;padding:0;float:left;width:1500px;}
#tabrecentlyview .LshowRVI ul#rvilist li {float:left;text-align:center;width:82px; min-height:130px;}
* html #tabrecentlyview .LshowRVI ul#rvilist li {float:left;text-align:center;width:82px; height:170px;}
#tabrecentlyview #rvidiv {font-size:1.0em;float:left; padding-left:15px;}
/*111096*/
#tabrecentlyview #rvidiv .nostock,.emailme {display:none;}
/*111096*/
/*RT101216*/
#tabrecentlyview #rvidiv h3 {margin:0; padding:0; border-bottom:none;}
#tabrecentlyview #rvidiv h3 a { font-size:0.8em; font-weight:bold; color: