/* @override http://www.urbanoutfitters.co.uk/content/ebiz/urbanoutfitters/resources/css/content.css */

/***************************************/
/* PRODUCTDETAIL RECENTLY VIEWED ITEMS */
/***************************************/
/* hide showrvi div by default */ /*display:none;*/ 
/*RT101216*/
#tabrecentlyview .rviwrapper{width:425px;float:left;margin:0pt;overflow:hidden;padding:0pt;position:relative;}
#tabrecentlyview #showRVI{float:left; width:500px; margin: 10px 0 10px 0; padding:0;overflow:hidden;min-height:130px;}
* html #tabrecentlyview #showRVI{height:180px;}
#tabrecentlyview #showRVI img.slide {cursor:pointer;float:left;margin-top:55px;}
#tabrecentlyview .LshowRVI h2 {border-bottom:2px solid;}
#tabrecentlyview .LshowRVI ul#rvilist {list-style-type:none; margin:15px 0 0 0;padding:0;float:left;width:1500px;}
#tabrecentlyview .LshowRVI ul#rvilist li {float:left;text-align:center;width:82px; min-height:130px;}
* html #tabrecentlyview .LshowRVI ul#rvilist li {float:left;text-align:center;width:82px; height:170px;}
#tabrecentlyview #rvidiv {font-size:1.0em;float:left; padding-left:15px;}
/*111096*/
#tabrecentlyview #rvidiv .nostock,.emailme {display:none;}
/*111096*/
/*RT101216*/
#tabrecentlyview #rvidiv h3 {margin:0; padding:0; border-bottom:none;}
#tabrecentlyview #rvidiv h3 a { font-size:0.8em; font-weight:bold; color:#999;}
#tabrecentlyview #rvidiv h3 a:hover { text-decoration:none;color:#001B31;}
#tabrecentlyview #rvidiv .image { margin:0 0 5px 0; padding:0; min-height:115px; float:left;}
* html #tabrecentlyview #rvidiv .image {height:115px;}
#tabrecentlyview #rvidiv .price , 
#tabrecentlyview #rvidiv .priceatt { height:14px; color: #001B31; margin:0 0 0 0 !important; margin/**/:1px 0 0 0; padding:0;font-size : 0.9em; font-weight:bold;}
#tabrecentlyview #rvidiv .rvisku {font-weight:bold; color:#666;}
#tabrecentlyview #rvidiv .pricered , 
#tabrecentlyview #rvidiv .priceattred { height:14px; color: red; margin:0 0 0 0 !important; margin/**/:1px 0 0 0; padding:0;font-size : 0.9em; font-weight:bold;}
#tabrecentlyview #rvidiv .priceform { height:14px; color: #001B31; font-weight:normal;text-transform:lowercase;margin:0;padding:0;}
#tabrecentlyview #rvidiv .was , 
#tabrecentlyview #rvidiv .wasattr { color: #001B31;margin:0 !important; margin/**/:1px 0 0 0;padding:0;font-size : 0.9em; font-weight:normal;text-transform:lowercase;}
#tabrecentlyview #rvidiv .overlay {margin-top:-115px !important; margin-top/**/:-115px; margin-left:73px; height:120px !important; height/**/:123px;}
* html #tabrecentlyview #rvidiv .overlay {position:relative;}
#tabrecentlyview #rvidiv .overlay { behavior: url(/content/ebiz/mackays/resources/js/iepngfix.htc);}

#tabrecentlyview .rviwrapper .details {float:left;padding-left:10px;width:180px;text-align:left; display:none;}
#tabrecentlyview .rviwrapper #rvidiv .image a img {border: none; height:102px;}
/*************************/
/* RECENTLY VIEWED ITEMS */
/*************************/
.Lcat_basketcontent #showRVISiteWide {float:left; margin:35px 0 0 0; *margin:35px 0 0 0; padding:0; width:360px;}
#myaccountpage #showRVISiteWide {float:left; margin:32px 0 0 0; padding:0;width:360px;}
#showRVISiteWide h2 {background:url(../images/hdr_recentlyview.gif) no-repeat left top; width:126px; height:20px; text-indent:-5000px; text-decoration:none; margin: 0; border: 0; color: #fff;}
.Lcat_basketcontent  #showRVISiteWide h2, #myaccountpage #showRVISiteWide h2 {margin-bottom:9px !important; margin-bottom/**/:14px;}
#showRVISiteWide ol {list-style-type:none; margin:0; padding:11px 0 0 0 !important; *padding:10px 0 0 0; padding/**/:14px 0 0 0; width:357px;}
#showRVISiteWide li {float:left !important; width:112px; *width:112px; width/**/:110px; margin:5px 5px 0 2px; padding:0; text-align:center; line-height:13px; height:175px;}

#slider {border:1px solid #000; float:left; width:100%; margin-top:10px;}
 #slider h2 {padding:5px;}
 #slider #sliderlist {/*set ul width to high number so we are able to "slide" using overflow:hidden*/ width:1700px;}
 #slider .slidewrapper {width:348px; margin:0; position:relative; float:left; overflow:hidden;}
 #slider ul#sliderlist li {float:left; width:120px;}
 ul#sliderlist h2 {background:none; border:none;}
 #slider .slide {float:left; top:70px; position:relative; cursor:pointer;}
 #slider .btn {width: 16px; float: left; border: solid 1px white;}

 /*************************/
/* BAZAAR VOICE REVIEW */
/*************************/
 #productdetail #productdetail-tab {clear:both;margin-top:20px;clear:both;}
#productdetail #productdetail-tab .yui-nav {overflow:hidden;}
#productdetail #productdetail-tab .yui-nav li {padding:0;float:left;}
#productdetail #productdetail-tab .yui-nav li a {float:left;/*line-height:27px;*/text-align:center;text-transform:uppercase;text-decoration:none;font-size:1em;font-weight:bold;}
/*#productdetail #productdetail-tab .yui-nav li#desctab a {color:#666;width:141px;height:27px;margin-right:14px;}*/
#productdetail #productdetail-tab .yui-nav li#reviewtab a {color:#FFFFFF;/*width:181px;*/padding:0 5px;height:14px;}
/*#productdetail #productdetail-tab .yui-nav li#desctab.selected a {background:url(../images/bg_tab.gif) no-repeat 0 0;}*/
#productdetail #productdetail-tab .yui-nav li#reviewtab.selected a {/*background:url(../images/bg_tab2.gif) no-repeat 0 0;*/background:#000000;}
#productdetail #productdetail-tab .yui-content {
	/*background:url(../images/bg_tab_content.jpg) no-repeat 0 0;*/
	border-bottom:1px solid;
	border-top:1px solid;
	overflow:hidden;
	min-height:100px;
	clear:both;
}
#productdetail .reviews {overflow:hidden;}
#productdetail .reviews #noReview {/*padding:20px 11px;*/background:#F1F1F1;font-size:11px;text-transform:uppercase;font-style:italic;min-height:100px;padding-left:9px;}
#productdetail .reviews #noReview #noReviewTxt{/*margin:0 0 19px 0;*/ padding: 23px 0 19px 0;}
/*#productdetail .reviews #noReview #noReviewbtn .BVRRRatingSummaryLinkWriteFirstPrefix{display:none;}*/
#productdetail .reviews #noReview #noReviewbtn .BVRRDisplayContentHeaderContent{padding:0;}
#productdetail .reviews #noReview #noReviewbtn a{font-style:normal;}

/* @group Lookbook */
.lookbook img {border: none}
.lookbook.landing {text-align: center;}
.lookbook.landing a {margin-top: 387px;}
.lookbook.landing a.mens {float: left; margin-left: 100px;}
.lookbook.landing a.womens {float: right; margin-right: 100px;}

.lookbook.main h1 {margin: 1em 0 ;}
.lookbook.main .prev,
.lookbook.main .next {margin-top: 315px; height: 45px; width: 67px; text-indent: -9999px; display: none;}
.lookbook.main .prev {background: url(../images/lbSprite.png) 0 -90px;}
.lookbook.main .prev:hover {background: url(../images/lbSprite.png) 0 -45px; cursor: pointer;}
.lookbook.main .next {background: url(../images/lbSprite.png) 0 -135px;}
.lookbook.main .next:hover {background: url(../images/lbSprite.png) 0 0; cursor: pointer;}
.lookbook.main img.lbRoundel {width: 157px; height: 156px; position: absolute; margin-top: 120px; margin-left: 50px;}

.lookbook.main .lbContent {margin: 0 auto; width: 782px;}
.lookbook.main .lbContent .error,
.lookbook.main .lbContent #addedmsg {margin:0; padding: 1em; font-weight: normal; font-size: 1em; width:auto;text-align: center;}
.lookbook.main .lbContent .error {color: red; background: #fcefed;}
.lookbook.main .lbContent #addedmsg {color: black;background: #eeeeee;}
.lookbook.main .lbContent #addedmsg a {margin-left: 10px;}
.lookbook.main .lbContent .large {float: left; margin-right: 15px; margin-top:5px;}
.lookbook.main .lbProds {margin-left: 465px; padding-top: 5px; }
.lookbook.main .lbProds h4 {margin: 0; color: #8f549f; font-size: 1.33em; font-weight: normal; margin-bottom: 10px;}
.lookbook.main .lbProdsContainer {float: left; overflow-y:auto; overflow-x: hidden; height: 604px;}
.lookbook.main .lbProd {overflow: hidden; width: 317px; border-top: 1px dotted; padding:20px 0; position: relative;}
.lookbook.main .lbProd .details {margin-left: 77px;}
.lookbook.main .lbProd h2 {margin: 0; font-size: 1em; font-weight: normal;}
.lookbook.main .lbProd .price {margin: .5em 0 1em 0;}
.lookbook.main .lbProd .price span {margin-left: 10px; color: red;	text-decoration: line-through;}
.lookbook.main .lbProd .productdetailatt {float: none; margin: 0;}
.lookbook.main .lbProd label {display: none;}
.lookbook.main .lbProd select {width: 110px; margin: 4px 0;}
.lookbook.main .lbProd input.lbSubmit {background: url(../images/lbSprite.png) no-repeat -67px 0; border: none; width: 42px; height: 42px; text-indent: -9999px; cursor: pointer; position: absolute; right: 27px; top: 55px;}
.lookbook.main .lbProd input.lbSubmit:hover {background-position: -67px -84px;}
.lookbook.main .lbProd input.lbSubmit:active {background-position: -67px -42px;}
.lookbook.main .lbContent .lbNav {clear: both; float: left; width: 100%; margin: 20px 0; padding:0; border-top: 1px dotted black;}
.lookbook.main .lbContent .lbNav h3 {text-align: center; font-size: 1em; font-weight: normal; margin: 0; border: 0; padding: 5px 0 10px;}
.lookbook.main .lbContent .lbNav a {position: relative; float: left; margin: 1px;}
.lookbook.main .lbContent .lbNav a .active {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #336633; opacity: .7; filter:alpha(opacity=70);}
.lookbook.main .terms {float: left; width: 100%;text-align: center;}
/* @end */

#solrsearch .searchTextField {background-color: #FFFFFF; border: 1px solid #C0C0C0; color: #ABABAB; font-family: Arial,Helvetica,sans-serif; font-size: 11px; height: 18px; margin-bottom: 2px; text-transform: capitalize;width: 130px;}
#solrsearch #searchsubmit {background: url("/content/ebiz/urbanoutfitters/resources/images/bt_search_uk.png") no-repeat scroll 0 top transparent; clear: both; cursor: pointer; display: block; overflow: hidden; text-indent: -999px; width: 65px;border: 0 solid #000000; font: 11px Arial,Helvetica,sans-serif; height: 20px; left: 40px; margin: 3px 49px; padding: 1px; text-transform: lowercase;}
#solrsearch #searchsubmit:hover {background-color:#FFF; color:#000; background:url("/content/ebiz/urbanoutfitters/resources/images/bt_search_uk.png") no-repeat scroll left bottom transparent; clear:both; cursor:pointer; display:block;overflow:hidden;text-indent: -999px; width:55px;}
