/* styles for IE7 version */

/* @group HEADER */
/* *** header *** */

#headercontainer {
   width:930px; 
   background-color: #fff;
   top: 0px !important; /* was 32 */
   height: 130px !important;
   display: block;   
}


/** Above Header section **/

#aboveheader {	height: 18px; }

/* Currency */

#selectCur p{ font-size:11px; line-height:13px;}

#selectCur a {text-decoration:none;}
#selectCur a.euroon , #selectCur a.restofworldon  {text-decoration:underline;}

/* header Links */

#headerregion {float:left;}

#headerlinks { float:right; display: inline; padding: 0 5px 0 0 ;}

#headerlinks ul { display: inline; padding-left: 5px;} 

#headerlinks ul li.singin a { margin-right: 5px;}

#headerlinks li {display: inline;}

.SearchTextField {
	border-top: 2px solid #bbb;
	border-right: 2px solid #bbb;
}

/* SHOPPING CART */
#headercart {
	width: 200px !important;
	margin: 0px;
	display: block;
	display: inline;
	
}

#headercart.de {	
	width: 300px;
	display: inline;
}

#headercart.fr {
	/*width: 120px;*/
}

.mini{	
	display: inline;

}


/* END HEADER */

/* @end Header */


/* @group Primary Nav */

/** Primary Nav **/

#primaryNav {
	margin-bottom: 19px;
	display: block;
}

#primaryNav li .sub {
	display: none;
	position: absolute;
	top: 26px;
	left: 8px;  
	background-color:#fff;
	/*background-color: rgba(254,255,255,0.95); */    	
	padding: 6px 6px;
	float: left;	
	border-top: 0px solid; 
	border-bottom: 1px solid; 
	border-left: 0px solid;
	border-right: 1px solid;
	border-color: #a6a6a6;	 
	font-size: 0.65em;   
    z-index:1000;      
}

#primaryNav li .sub {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/content/ebiz/urbanoutfitters/resources/images/elements/w_bg.png');
	
}


#primaryNav .sub ul li {
	width: 100%;	
    /*--Override parent list item--*/
	color: #adadad;	
		
}

#primaryNav .sub ul li h3 {
/*--Sub nav heading style--*/
    color: #000;
	padding: 1px;
	padding-top: 4px;
	font-weight: bold;
	text-transform: capitalize;
	margin-right: 2px;
	border-bottom:none;
	border-color: #9f9f9f;
}

#primaryNav .sub ul li a {
	float: none;
	text-indent:1px;
	/*--Override text-indent from parent list item--*/
	height: auto;
    /*--Override height from parent list item--*/
	padding: 5px 0 0 1px;	
	display: block;
	background: transparent;
	text-transform: capitalize;
	color: #494949;
	overflow:hidden;
	/* W Fix */	
}



/* @end */


/* @group Home Page */

div#feature_list { margin-top: 20px; display: block;}


/* @end */

/* @group LookBook */

.lookbook.main .lbProds { height: 615px; overflow-y: auto; overflow-x: hidden; }
.lookbook.main .lbProdsContainer { display:block; width: 317px; height: auto; }
.lookbook.main .lbProd { position:static; }
.lookbook.main .lbProd input.lbSubmit { position:static;text-indent: 0px; margin: -85px 0 0 140px; }

/* @end */


/* @group Gateway New */

#contentwrapper .gw-container { position: relative; width: 950px; height: 790px; margin-top: 0px; }
#contentwrapper .gw-container .gw-comm { width: 338px; float: right; overflow: hidden; height: 242px; }
#contentwrapper .gw-container div.gw-comm ul.commlist { float: left; display: inline; font-size: 11px; width: 368px; height: 170px; overflow: hidden; display: block; margin-bottom: 20px; }


/* @end */



/* @group QuickBuy */

/* Overlay + Close Button Position */

#loadhere.loadhere { background: #fff; padding-top: 24px; position: absolute;  }

.ui-dialog{ position: absolute; }

#comp-image {
	position: relative;
}
.quickLinkBox { 
	position: absolute; 
	width: 55px; 
	margin-top: 0px; 
	margin-left: 0px; 
	text-align: center; 
	bottom: 30px;
	left: 36px;
	visibility: hidden; 
}

/* thumbnails styles */

#QuickBuyDetails #productdetailthumbs ul {
	width: 320px;
}

#QuickBuyDetails #productdetailthumbs ul li {
  float: left;
}

#QuickBuyDetails #productdetailthumbs ul li img {
    float: left;
}

/* @end */

/* @group Request Catalogue Form */

#catalogueForm {
	padding-left: 10px;
	width: 800px;
}

#commentForm .Fleft {
	margin-right:  20px; 
	width: 400px;
}
#commentForm .FRight {
	float:  right;
	 width: 400px;
}

#commentForm p { display: block; clear: both;}

#commentForm label span {
	width: 14em;
}

#commentForm label span.FRadiob { width: 296px; }

#commentForm input#OPTIN_EMAIL { float: right; }
#commentForm input#OPTIN_THIRDPARTY { float:  right; }
#commentForm input#OPTIN_MOBILE { float: right; }

/* DE Styles*/

#commentForm div.FRight.DE .float-right { float: right; }
#commentForm div.FRight.DE input#OPTIN_EMAIL { float: right; }
#commentForm div.FRight.DE p input#3RD_PARTY_OPTIN { float: right; }
#commentForm div.FRight.DE input#SMS_OPTIN { float: right; }

#commentForm div.FRight.DE p input#3RD_PARTY_OPTIN { float: right; }
/* @end */

/* @group FOOTER */

/* # FOOTER # */


#footerTop {      
    text-align: center ;
    float: left; 
	margin: 10px 0 0 104px;
	z-index: 100;	
}

/* French Version Styles */
#footerTop.fr {
	text-align: center ;
    float: left; 
	margin: 10px 0 0 100px;
	z-index: 100;	
}

/* german Version Styles */
#footerTop.de {
	text-align: center ;
    float: left; 
	margin: 10px 0 0 60px;
	z-index: 100;
	width: 380px;		
}

#venda {
	display: block;
	clear: both;
	padding-top:5px;
	/*width: 140px;
	margin-left: 45%;*/
	with: auto;
	
}

#venda img { margin: 0 25px 0 0; }

#venda.de { margin: 0 0 0 20px; }

#footercontainer ul {	margin-top: 0; }

#belowfooter span.foot-ccard {
	margin-top:  -40px;
}

#belowfooter a.venda {
	margin-top: -48px;
}

/* END FOOTER */

/* @end */

/* @group NEW FOOTER */

span.float-left { float: left; margin: 0px; padding:  0px;}
span.float-right { float: right; margin: 0px; padding: 0px; }

#venda { display: block; clear: both; padding-top:5px; with: auto; }

#footercontainer a.foot-signup { margin-top:-30px; }

#footercontainer a.foot-tw { margin-right: 46px; }

#footercontainer .social { width: 400px; margin-top: -5px}

#footercontainer ul {	margin-top: 10px; }
#footercontainer ul li { padding-left: 0px; }
#footercontainer ul li a { padding-left: 0px; margin-left: -14px; }

/* Foot col3 */
#footercontainer ul.foot-col3 li a { margin-left: 0px; }

#footercontainer ul.foot-col3 li a.foot-fb { margin-left: -14px; }
#footercontainer ul.foot-col3 li a.foot-tw { margin-left: -14px; }


#belowfooter span.foot-ccard { margin-top: -44px; }

#belowfooter a.venda { margin-top: -50px; }

/* @end */


