/* styles for ie 8 version */

/* *** header *** */

#headercontainer {
   height: 100px !important;
   display: inline;   
}

/* @group FOOTER */

/* # FOOTER # */
#footercontainer { margin-top: 15px; }

#footerTop {      
    text-align: center ;
    float: left; 
	margin: 10px 0 0 104px;
	z-index: 100;	
}

/* French Version Styles */
#footerTop.fr {
	text-align: center ;
    float: left; 
	margin: 10px 0 0 100px;
	z-index: 100;	
}

/* german Version Styles */
#footerTop.de {
	text-align: center ;
    float: left; 
	margin: 10px 0 0 100px;
	z-index: 100;
	width: 380px;		
}

/* END FOOTER */

/* @end */

/* ***checkout*** */

#covLogin-col-three .expresscheckout{
	width:253px;
	height:297px;
	float:left;
	margin:0 0 81px 20px;
	padding:0 21px 0;
	/*background:#D6D6D6;*/
	border: 1px solid;
}

/* @group MEGA MENU NAV */

#primaryNav .sub ul li h3 {
/*--Sub nav heading style--*/
    color: #000;
}

/* @end */



/* @group Gateway New */

#contentwrapper .gw-container { 
	height: 790px;
	width: 950px;
	position: relative; 
	margin-top: 20px;  
}

#contentwrapper .gw-container .gw-comm { 
	height: 242px; 
	width: 338px; 
	float: right; 
	overflow: hidden; 
}

#contentwrapper .gw-container div.gw-comm ul.commlist { 
	float: left; 
	display: inline; 
	font-size: 11px; 
	width: 368px; 
	height: 170px; 
	overflow: hidden; 
	display: block; 
	margin-bottom: 20px;}

contentwrapper .gw-container .gw-links {
	margin:  40px 40px 20px;
}

/* @end */

/* @group Catalogue sign up form */


/* @end */

