/* productlist-search css */
#height10 {
	padding: 0;
}

#content-search-body {
	margin-left:5px;
}

.editorialPage {
	margin-right: 5px;
}

.editorialPage img {
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#888888')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#888888');
	margin-bottom: 14px;
}

.prodsFiveColumns li {
	width: 33%;
}

.prodsFiveColumns {
	margin: 17px 0 17px 1px !important;
}

.prodsFiveColumns a img {
	border:none;
	display: block;
}

a.sw_image img {
	border:1px solid #4c4c4c;
}

.prodsFiveColumns .image, .prodsFiveColumns .details {
	padding: 0 !important; 
	position: relative;
}
.prodsFiveColumns .image, .prodsGrid .image {
  background: url("../images/uo-loading.gif") no-repeat scroll 50% 50% transparent; 
}

.prodsFiveColumns .productlistinfo {
	font-weight:bold;
	margin: 0 0 10px 0;
}
.prodsFiveColumns .productlistinfo .saleprice {
	color:red;
}
.prodsFiveColumns .productlistinfo .productname {
	padding-right: 25px;
	line-height: 14px;
	margin: 10px 0 0;
}
.prodsFiveColumns .productlistinfo .list-promo {
	color: #009999;
}


.prodsFiveColumns .productlistinfo .price, .prodsFiveColumns .productlistinfo .wasprice, .prodsFiveColumns .productlistinfo .price {
	margin: 3px 0;
}

.prodsFiveColumns .wasprice {
	font-weight:normal;
}

.fivePerLine a.fivePerLineLink, .threePerLine a.threePerLineLink {
	font-weight:bold;
}

/* searchInvt online-exclusive and boutique pdxt images */
.boutique-pdxt {
	float:right;
	padding:0 0 5px;
}

.online-pdxt {
	padding:0 0 5px;
}

/* inline css so as not to conflict with fed css on ui */
.resultDetail .sort select.pagnSortby {
	border: none;
	width: 136px;
	border:1px solid #000;
}

body.search_body .ui-selectmenu-menu li a {
	font-size: 12px;
	padding: 6px 8px;
	text-transform: none;
	font-weight:normal;
}

body.search_body .ui-selectmenu-status {
	font-weight:bold;
}

body.search_body .ui-selectmenu-menu li:hover {
	background: #ccc;
}

/* search pagination */
.pagnTop, .pagnBtm {
	float: none;
}

.pagnContents {
	background:#fff;
	height: 24px;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	border:1px solid #ccc;
	width: 728px;
}

.box {
	border: none;
}

.resultDetail .resultMsg {
	padding-top: 4px;
	padding-left: 12px;
	margin-right:15px;
	float:left;
}

.resultDetail .pagn_viewAll {
	padding-top:4px;
	margin-right:15px;
	float:left;
}

.resultDetail .pagn_viewAll a.updatesearch {
	font-weight:bold;
}

.pagnViewAll, .pagnShowViewByPaged a {
	padding:3px 8px;
	color:#333;
	border:1px solid #000;
}

.perLine {
	padding-top:1px;
	margin-right:15px;
	float:left;
}

.threePerLine, .fivePerLine {
	padding:2px 8px;
	color:#333;
	cursor: pointer;
	border:1px solid #000;
}

.threePerLine span:hover, .fivePerLine span:hover {
}

.resultDetail .sort {
	padding-top:1px;
	margin-right:15px;
	float:left;
	position:relative;
}

.resultDetail .sort .ui-selectmenu {
	height: auto !important;
	width:120px !important;
	padding:4px 8px;
	border:1px solid #000;
}

.resultDetail .sort span.sort-sprite {
	background:url("../images/uo-png-sprite.png") no-repeat;
	background-position: -150px -33px;
	height: 12px;
	width: 7px;
	position: absolute;
	right: 3px;
	top: 6px;
}

.resultDetail .sort select {
	-webkit-appearance: menulist;
	box-sizing: border-box;
	-webkit-box-align: center;
	border: none;
	border-image: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	color:#333;
	cursor: pointer;
	width:120px;
}

.resultDetail .sort .ui-selectmenu-menu li a, .ui-selectmenu-status {
	line-height: auto;
	padding: 0;
	color:#333;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* pagn numbers and links */
.pagnLinkNavigate {
	float: right;
	line-height: 16px;
	height: auto;
	padding-top: 2px;
	margin-right: 12px;
}

.pagnNumList {
	margin:0;
}

.pagnPrev-off, .pagnNext-off {
	color:#918d82;
	padding:2px 3px 0;
}

.pagnPrev, .pagnNext {
	color:#333;
	padding:2px 3px 0;
}

.pagnPrev, .pagnPrev-off {
	float:left;
	font-weight: bold;
}

.pagnNext, .pagnNext-off {
	float:right;
	font-weight: bold;
}

.pagnNumbers .pagnNumber, .pagnNumLast, .pagnNumFirst {
	width:23px;
	height:17px;
	text-align:center;
	margin:0 2px;
	color:#333;
	float:left;
	padding-top:2px;
	border:1px solid #000;
	padding-top:1px;
}

.pagnNumbers {
  margin: 0 6px;
  display: block;
  float: left;
}

.pagnNumFirst {
  margin-left: 8px;
}
.pagnNumLast {
	margin-right: 8px;
}

.pagnEllipsis {
	margin:0;
}

.pagnNumbers .pagnNumCurrent, .pagnNumbers .pagnNumber:hover, .pagnNumLast:hover, .pagnNumFirst:hover {
	width:23px;
	height:17px;
	text-align:center;
	background-color:#bdffff;
	color:#000 !important;
	border:1px solid #000;
	float:left;
	padding-top:1px;
	cursor:pointer;
}

.pagnNumbers .pagnNumber:hover > a.updatesearch, .pagnNumLast:hover > .pagnLast a.updatesearch, .pagnNumFirst:hover > .pagnFirst a.updatesearch {
	color:#000 !important;
	opacity:1;
	display:block;
}

.pagnNumbers .pagnNumCurrent {
	margin:0 2px;
}

/* search refineList */
#collate p {
	font-size: 20px;
	font-weight: bold;
	margin: 14px 0 13px 0;
}

.termtext a.updatesearch div.checkboxIcon {
	-webkit-appearance: none;
	-moz-appearance:none;
	-o-appearance:none;
	width: 13px;
	height: 11px;
	margin: 2px 2px 0 2px;
	padding:0;
	background:url("../images/uo-png-sprite.png") no-repeat;
	background-position: -192px -96px;
	display:inline-block;
}

.termtext a.updatesearch:hover > div.checkboxIcon, .chosen a.updatesearch div.checkboxIcon {
  	background:url("../images/uo-png-sprite.png") no-repeat;
  	background-position: -208px -96px;
}

.accordion_slice .viewScroll {
	clear:both;
	margin: 0 0 5px 0;
	padding:5px 0;
	max-height: 210px;
	width:190px;
}

.viewScroll .collatedresult {
	width: 190px;
	overflow: hidden;
	position: relative;
}

.collatedresult, .collatedresult .chosen .updatesearch {
	font-size: 12px !important;
	font-weight: bold !important;
	color: #333;
}

/*.viewScroll .refineOverview {
	list-style: none;
	position: relative;
	left: 0;
	top: 0;
}

.viewScroll .thumb {
	background: #fff;
	height: 20px;
	width: 8px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	border: 1px solid #CCC;
	margin:0 0 0 -1px;
}

.viewScroll .scrollbar {
	position: relative;
	float: right;
	width: 12px;
}

.viewScroll .track {
	background: url("../images/nav-fullbar-background.png") repeat scroll 0 0 transparent;
	height: 100%;
	width:8px;
	position: relative;
	padding: 0;
}

.viewScroll .disable {
	display: none;
}*/

.noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.styled-v-bar{ /* sample CSS class for a different vertical scrollbar look */
	background: #fff;
	width: 10px;
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	border: 1px solid #CCC;
	margin:0 0 4px -1px;
	cursor: pointer;
}

.scrollerTrack {
	background: url("../images/nav-fullbar-background.png") repeat scroll 0 0 transparent;
	height: 205px;
	width:8px;
	position: absolute;
	right: 2px;
	display:none;
}

#collate .termtext {
	margin:1px 0 3px;
	min-height: 18px;
	min-height: 0px \9;
}

#collate .updatesearch {
	margin:0 !important;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#collate h3.collateheading {
	background: none;
	padding:8px 0 0 !important;
	margin:1px 0 0 !important;
	position: relative; /* to improve alignment of + and - accordion backgrounds */
	white-space: nowrap;
	overflow: hidden;
	border-top: 2px solid black;
}

#collate h3.collateheading span.collateText {
	background: none;
	border-bottom:1px solid #000;
	display:block;
	padding: 0 0 10px;
	margin: 3px 0 0;
	font-size: 1.1em;
}

#collate h3.collateheading span.collateText:hover {
	color: gray;
}

.pricecollateresult {
	padding-left: 0;
	width: auto;
}

#loadingsearch {
	opacity: .30 !important;
	filter: alpha(opacity=30) !important;
	-moz-opacity: .30 !important;
	top: -10px;
	padding: 0 0 10px;
	z-index:1003;
}

/* css for search accordion */
.iconPlus {
	background:url("../images/uo-png-sprite.png") no-repeat;
	background-position: -62px -5px;
	width: 14px;
	height: 14px;
	margin: 6px 0 0 0;
	display: block;
	float: right;
	cursor: pointer;
	z-index: 1;
}

.iconMinus {
	background:url("../images/uo-png-sprite.png") no-repeat;
	background-position: -62px -1px;
	width: 14px;
	height: 4px;
	margin: 10px 0 0 0;
	display: block;
	float: right;
	cursor: pointer;
	z-index: 10;
}

.accordion_slice {
	position:relative;
	margin:-3px 0 0 0;
	border-bottom:1px solid #000;
}

#clear_accordion_slice {
	font-weight: bold;
	font-size: 12px;
	padding: 1px 3px 1px 7px;
	border:1px solid #000;
	margin: 10px 0 8px;
	width: auto;
	text-align: left;
	background: #fff;
}

#clear_accordion_slice .clearX {
	background: url("../images/uo-png-sprite.png") no-repeat;
	background-position: -62px -293px;
	height: 12px;
	width: 12px;
	padding: 0px;
	float: right;
	margin: 2px 0 0;
}

#clear_accordion_slice a {
	display:block;
}

/* search product list css overwrites */
.prods li {
	float:none !important;
}

.pagn {
	width:auto !important;
}

.prods li {
	text-align:left;
}

/* search setswatch and swatchContainer css */
.swatchContainer {
	width: 25px !important;
	position: absolute;
	top: 7px;
	left: 10px;
}

.image .swatchIcon {
	display:none;
	background: url("../images/uo-png-sprite.png") no-repeat !important;
	background-position: -184px -268px !important;
	width:20px;
	height:20px;
	position: absolute;
	top: 11px;
	left: 11px;
	padding: 0 !important;
	box-shadow: 0 !important;
	-moz-box-shadow: 0 !important;
	-webkit-box-shadow: 0 !important;
	border: none;
}

/*.swatchContainer::before {
	content: "";
	position: absolute;
	top: -15px;
	background: url('../images/colour-swatch-bg-top.png') no-repeat;
	height: 15px;
	width: 25px;
}

.swatchContainer::after {
	content: "";
	position: absolute;
	bottom: -15px;
	background: url('../images/colour-swatch-bg-bottom.png') no-repeat;
	height: 15px;
	width: 25px;
}*/

.sw_image {
	height:22px;
}

.swatchContainer a img.swatch {
	width: 23px;
	height: 23px;
	margin: 0 !important;
}

/*.sw-large a img.swatch {
	width: 18px;
	height: 18px;
}

.sw-small a img.swatch {
	width: 10px;
	height: 10px;
}*/

/*.swatchContainer a div.swatchOverlay {
	position:absolute;
	border:0 !important;
	top:-1px;
	left:-1px;
	background:url('../images/swatch-overlay.png') no-repeat;
	z-index: 2;
	height:22px;
	width:22px;
}*/

.swatchContainer .arrowUp {
	height:14px;
	width:22px;
	background: url("../images/uo-png-sprite.png") no-repeat;
	background-position: -80px -293px;
	cursor:pointer;
	margin:12px 0 0 3px;
}

.swatchContainer .arrowUp:hover, .swatchContainer .arrowDown:hover {
	opacity:0.7 !important;
	filter: alpha(opacity=70) !important;
}

.swatchContainer .arrowDown {
	height:14px;
	width:22px;
	background: url("../images/uo-png-sprite.png") no-repeat;
	background-position: -103px -293px;
	cursor:pointer;
	margin:7px 0 0 3px;
}

.swatchContainer .swatchNumber {
	text-align: center;
}

/*.swatchContainer a.sw_selected div.swatchOverlay {
	background:url('../images/swatch-overlay-chosen.png') no-repeat;
}*/

.swatchContainer .swatchImage {
	position:relative;
	height:25px;
	margin: 0 0 5px;
}

.swatchContainer a {
	margin: 0 !important;
}

.swatchLayer {
	height: 240px;
	width:25px;
	overflow: hidden;
	position:relative;
}

.swatchInvtref {
	position:absolute;
	margin-top:3px;
}

/* # QUICK BUY # */

/* Produc List Styles */
.quickLinkBox {
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 0;
	visibility: hidden;
	border: 1px solid #000;
}

.qb-large {
	background: #fff;
	width: 242px;
}

.qb-small {
	background:#fff;
	width: 140px;
}

a.quickBuyDetails { 
	display: block;
	text-align:center;
	padding: 9px 0;
	font-weight:bold;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0px 0px 0px black;
	-moz-box-shadow: 0px 0px 0px black;
	-webkit-box-shadow: 0px 0px 0px black;
}

.quickLinkBox a {
	border-radius: 0;
	background: none;
	border: none;
}

.quickBuyDetails {
	background: url(../images/grid_tile.jpg) repeat scroll 0 0 white;
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	border:1px solid #777;
}

.quickBuyDetails .productContent {
	width: 790px !important;
}

.quickBuy-Details .prodDesc {
	width:400px;
	float:right;
}

.quickBuy-Details .prodImages {
	width:375px;
	float:left;
}

.quickBuy-Details .flex-control-nav {
	display: none;
}

.quickBuy-Details .uo-product-slider {
	margin: 10px;
}

.quickBuy-Details .product-details h1 {
	position:relative;
	width: 85%;
}

.quickBuy-Details .proddetail-promobanner {
	margin-top:0;
}

.quickBuy-Details .proddetail-promobanner a img {
	width:330px;
}

.quickBuy-Details .productDetailTabs {
	border-top:1px solid black;
}

.quickBuyDetails .ui-dialog-titlebar {
	background: none;
	position: absolute;
	right: 16px;
	top: 16px;
}

.quickBuyDetails .ui-dialog-titlebar a {
	text-indent: 0;
	background: url('../images/uo-png-sprite.png') no-repeat -103px -265px;
	cursor:pointer;
	width: 24px;
	height: 24px;
	z-index: 1;
}

.quickBuyDetails .ui-dialog-titlebar a:hover {
	background-position: -80px -265px;
}

.quickBuyDetails .ui-dialog-titlebar a span {
	display:none;
}

.quickBuyInputs .product-att .ui-state-default, .quickBuyInputs .product-att .ui-widget-content .ui-state-default, .quickBuyInputs .product-att .ui-widget-header .ui-state-default {
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	border:1px solid #999 \9;
	height:
}

.ui-selectmenu-open {
	border-right:1px solid #999 \9;
	border-bottom:1px solid #999 \9;
	border-left:1px solid #999 \9;
}

.quickBuyQty #qtybox input#qty {
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	border:1px solid #999 \9;
	padding:6px 2px 0 \9;
	height:22px \9;
}

/* # PRODUCTDETAIL ACCESSORIES # */

/* We Recommend, Boutique Style, Recently Viewed  */
#bottomtab {
	margin: 20px 0 0;
	display:none;
}

#bottomtab .boxNoBorder {
	height: 410px;
}

#bottomtab .accessoryProds li {
	background: none;
	border: 1px solid #333;
	display: inline;
	float: none;
	margin: 0 13px 0 15px;
	padding: 3px 10px;
}

#bottomtab .accessoryProds li a {
	display: inline;
}

#bottomtab .accessoryProds span.addLine {
	border-left: 1px solid #444;
	font-size:14px;
}

.accessoryProds .nav {
	padding: 13px 0 0;
	text-align: center;
}

.accessoryProds {
	position:relative;
	height:42px;
	background: #FFF;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	border:1px solid #ccc;
}

#bottomtab .accessoryProds {
  z-index: 1;
}

.accessoryProds li.active {
	background-color: #bbffff !important;
}

.accessoryProds li {
	background:transparent !important;
	color:#333;
	font-weight:bold;
}

.accessoryProds li.active a {
	font-weight: bold;
}

#content-prodDetail .tabs .tabcontent .tab {
	border-top:none;
}

.liwrapper {
	position:relative;
}

.liwrapper img {
	border: none;
}

.liwrapper .image {
	width:185px;
	height:278px;
	background: url("../images/uo-loading.gif") no-repeat scroll 50% 50% transparent; 
}

.liwrapper .productlistinfo {
	margin:10px 0 0 0;
	font-weight:bold;
}
.liwrapper .productlistinfo .price .saleprice {
	color:red;
}
.liwrapper .productlistinfo .price .wasprice {
	font-weight: normal;
}

.featprods li, .sliderWrapper li {
	width:187px;
	padding:0 2px;
	margin:15px 0;
}

.featprods li:first-child, .sliderWrapper li:first-child {
	padding:0 2px 0 0;
}

.featprods li:last-child, .sliderWrapper li:last:child {
	padding:0 0 0 2px;
}

.irecslist {
	width:955px;
	overflow:hidden;
}

.sliderWrapper, .featprods {
	width: 2000px;
	margin: 0;
}

.sliderList .image, .sliderList .details {
	padding: 0;
}

/* ORIGINAL STYLING BY FED ON PREV SITE */

/* ** 2012 Category Headers Styles ** */
.editorialPage div#banner.new, .editorialPage div#banner.new { 
    position: relative;
    border: none;
    padding: 0;
    width: 100%;
    clear: both;
}

.editorialPage div#banner.new a, .editorialPage div#banner.new a { 
 	color: #333;
 	text-decoration: none;
}

.editorialPage div#banner.new div.logo, .editorialPage div#banner.new div.logo {   
    font-size: 24px;
    text-align: center;
	margin-bottom: 10px;
	padding: 10px 0;
	background: #fff;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	border:1px solid #ccc;
	width: 949px;
}

.editorialPage div#banner.new .logo span.banner-back, .editorialPage div#banner.new .logo span.banner-back {
    font-size: 14px;
	display: block;
	position: absolute;
    right: 1.65em;
    top: 1em;
}

.editorialPage div#banner.new div.copy, .editorialPage div#banner.new div.copy {
	background: #fff;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	border:1px solid #ccc;
	width: 949px;
	text-align: center;
	padding:  10px 0;
	margin:0;
}

#banner div.copy ul li {
	display: inline;
}

.editorialPage div#banner.new div.copy a, .editorialPage div#banner.new div.copy a {
	text-transform: capitalize;
	padding: 10px;
	margin: 0;
}

.editorialPage #banner.new .copy a:hover, .editorialPage #banner.new .copy a:hover {
	background: #000;
	color: #FFF;
}
 
/* 2012 Brand Header Style */
 
.editorialPage div#banner.brand, .editorialPage div#banner.brand {
	background: #FFF url('../images/catheader_bg.gif') no-repeat left top;
}  

.editorialPage div#banner.brand div.logo img, .editorialPage div#banner.brand div.logo img {
	display: block;
	margin: 10px;
}

.editorialPage div#banner.brand div.logo span, .editorialPage div#banner.brand div.logo span {
	display: none;
}  

.editorialPage div#banner.brand div.copy, .editorialPage div#banner.brand div.copy {
	margin-top: 10px;
}
/* @end New Brand Headers */

/* UO roundels */

.boutiqueLogo, .onlineExLogo, .uoExLogo {
	position: absolute;
	bottom: 2px;
	right: 2px;
	background-color: #fff;
	border: 1px solid #333;
	text-transform: uppercase;
	padding: 1px 0 0;
	z-index: 10;
	height: 15px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}

.roundels .boutiqueLogo-underlay, .roundels .onlineExLogo-underlay, .roundels .uoExLogo-underlay {
	margin: 8px 10px 10px 4px;
	float: left;
}

.boutiqueLogo-underlay, .onlineExLogo-underlay, .uoExLogo-underlay {
	position: relative;
	z-index: 0;
	height: 16px;
}

.uoExLogo-underlay {
	background-color: #00bcbc;
	width: 81px;
}

.uoExLogo {
	width: 81px;
}

.boutiqueLogo-underlay {
	background-color: #a75de8;
	width: 70px;
}

.boutiqueLogo {
	width: 70px;
}

.onlineExLogo-underlay {
	background-color: #1db4ff;
	width: 120px;
}

.onlineExLogo {
	width: 120px;
}
/* mainFooter margin */
.mainFooter {
	margin-top: 30px;
}

/* Signup Iframe */

.signup-img {
	background: url('../images/uo-png-sprite.png?v=3') no-repeat;
	background-position: -168px -156px;
	width: 70px;
	height: 15px;
    margin: -6px 0px 0px 20px;
    z-index: 5;
}
.signup-mask {
	height: 4px;
	width: 70px;
	background-color: white;
	margin: 3px 0px 0px 20px;
	position: absolute;
	z-index: 3;
}
.signup-img-fr {
	background: url('../images/uo-png-sprite.png?v=3') no-repeat;
	background-position: -8px -59px;
	width: 115px;
	height: 14px;
    margin: -6px 0px 0px 20px;
    position: absolute;
    z-index: 5;
}
.signup-mask-fr {
	height: 4px;
	width: 115px;
	background-color: white;
	margin: 3px 0px 0px 20px;
	position: absolute;
	z-index: 3;
}
.signup-img-de {
	background: url('../images/uo-png-sprite.png?v=3') no-repeat;
	background-position: -8px -78px;
	width: 97px;
	height: 14px;
    margin: -6px 0px 0px 20px;
    position: absolute;
    z-index: 5;
}
.signup-mask-de {
	height: 4px;
	width: 97px;
	background-color: white;
	margin: 3px 0px 0px 20px;
	position: absolute;
	z-index: 3;
}
.signupFrame {
	border:0;
	margin-top:5px;
	overflow: hidden;
}

/* @group Community */

.commHeader { /*border-bottom: 1px dotted #000;*/ position: relative; padding-bottom: 18px;}

.commHeader img { margin: 0; display: block;  margin: 20px auto; }

#contentwrapper div.comRight div.commHeader a img { flot: left; margin:  0;  }

/* View All Features */
.commHeader ul {position: absolute; right: 0; top: 10px; text-align: center; font-size: 1.333em; width: 115px; letter-spacing: 1px;line-height: 120%;}
/* Subscribe to UO Community */
.commHeader a.rss {position: absolute; left: 0; top: 10px;text-align: center; font-size: 1.333em; width: 130px; letter-spacing: 1px; line-height: 120%; text-transform: capitalize;}
.commHeader a {text-decoration: none; color: #999; text-transform: capitalize;}
.commHeader a:hover,
.commNav ul li a:hover,
.comRight a:hover {color: #00ccff;}

/* French Header Tweak */
#contentwrapper div.commHeader.FR a.rss { font-size: 15px; width: 120px; top: 14px;}

#contentwrapper div.commHeader.FR ul { width: 150px; top: 14px;}
#contentwrapper div.commHeader.FR ul li a { font-size: 15px;}

.commNav {border-bottom: 1px dotted #000;}
.commNav ul {text-align: left; width: 100%; overflow: hidden; padding-bottom: 20px; text-transform: uppercase;}
.commNav ul li {line-height: 24px; /*display: inline;*/}
.commNav ul li span {padding: 0 5px; color: #ccc;}
.commNav ul li a {color: #000; text-decoration: none;}

.comleft {float: right; width: 645px; border-left: 1px dotted; }
.comleft h2,
.comRight h2 {font-size: 2em; font-weight: bold; margin: 25px 0 15px; text-align: left;  }
#contentwrapper div.comleft div.comm-video { padding: 0 20px 15px; margin-bottom: 1px;float: left;}
.comleft li.comm { padding: 0 20px 15px; margin-bottom: 1px;float: left; width: 280px; text-align: left; /*border-right: 1px dotted #000;*/}

.comleft li.comm p {height: 45px; }
.comleft li.comm img {margin-bottom: 15px; border: none;}
.comleft li.comm strong {display: block;}
.comleft ul.commIndex li.comm a { }
.comleft ul.commIndex li.comm a:hover { color:#00ccff;}

.comm-video {
	margin-left:20px;
}

.comRight {text-align: left;  margin: 20px 0; width: 300px;}

.comRight h2.flicr,
.comRight h2.twitter,
.comRight h2.yt {margin-top: 29px; display: block;}
.comRight h2.yt {display: none; }
.comRight h2 a {text-decoration: none; }

.comRight .twitterComm { margin 0px, 0px, 0px, 0px; }
.comRight .twitterComm a:hover {text-decoration: none !important;}
.comRight .ytVid {padding-top: 6px; display: none}
.comRight #basicuse {margin-bottom: 5px;}
.comRight #basicuse li {display: inline;}
.comRight #basicuse li img {margin: 2px; border: none;}

#contentwrapper div.comRight a.comTwit { display: none;}

.comFull {margin-top: 38px;}
.comFull .showhideall {float: right;font-size: 1.083em; font-weight: bold; text-decoration: none;}
.comFull h1 {font-size: 1.083em; /*float: left;*/ clear: left; margin: 0 0 20px 0;}
.comFull h1.active,
.comFull h1:hover,
.comFull .showhideall:hover {color: #00ccff; cursor: pointer;}
.comFull ul {width: 100%; overflow: hidden; margin-bottom: 18px;}
.comFull li {width: 100px; margin: 0 16px 20px 0 ; font-size: 0.916em; display:inline-block;vertical-align: top;}
.comFull li img {width: 100px; height: 100px; margin-bottom: 5px; border: none;}
.comFull li strong {display: block;}

.comFull ul.commArchive li p { font-size: 10px;}
.comFull ul.commArchive li p a { line-height: 13px; font-size: 10px;}

/* lookbook aw12 */
.lookbookMain {
	
}
.lookbookMain .lookbookBanner {
	
}
.lookbookMain .lookbookContainer {
	height:630px;
	overflow:hidden;
}
.lookbookMain .lookbookShots {
	height:630px;
	overflow-y: auto;
}
.lookbookShots a {
	float: left;
	margin: 0 3px 0 0;
	position:relative;
}
.lookbookShots .active {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 106px;
	background: #57BAC9;
	opacity: .7;
	filter: alpha(opacity=70);
}
.lookbookMain .lookbookImage {
	height:630px;
}
.lookbookMain .lookbookAccessories {
	height:630px;
	overflow-y: auto;
	padding-right: 10px;
}
.lookbookAccessories .lookbookAccProds {
	padding:20px 0;
	border-bottom: 1px dotted #000;
}
.lookbookAccessories .lookbookAccContainer {

}
.lookbookAccessories .lookbookAccProds .details {
	display: inline-block;
	width: 165px;
	padding-left: 5px;
}
.lookbookattDetail {
	position:relative;
}
.lookbookattDetail label {
	display:none;
}
.lookbookattDetail input.lbSubmit {
	position: absolute;
	top:0;
	right:0;
	height: 44px;
	width: 48px;
	background: url('../images/uo-png-sprite.png') -7px -263px no-repeat scroll transparent;
	border: 0px none;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	cursor: pointer;
	white-space: normal;
}
.lookbookAccessories .lookbookAccProds img {
	vertical-align: top;
}
.productdetailatt {
	margin-bottom:5px;
}
.productdetailatt .ui-selectmenu {
	height:20px;
}
.productdetailatt .lookbookAtt {
	width:90px;
}
.productdetailatt .ui-state-default, .productdetailatt .ui-widget-content .ui-state-default, .productdetailatt .ui-widget-header .ui-state-default {
	background-color: #fff;
	color: #333;
	box-shadow: #444 1px 2px 3px;
	-webkit-box-shadow: #444 1px 2px 3px;
	border:1px solid #999 \9;
}
.productdetailatt .sort .ui-selectmenu-menu li a, .productdetailatt .ui-selectmenu-status {
	line-height: auto;
	color: #333;
	height: 15px;
	padding: 7px 0 4px 5px;
	text-transform: uppercase;
	font-size: 9px;
	font-weight:bold;
}
.productdetailatt .ui-selectmenu-icon {
	background: url('../images/uo-png-sprite.png') -1px -32px no-repeat scroll transparent;
	position: absolute;
	right: -11px;
	top: 0px;
	width: 11px;
	height: 21px;
}
.productdetailatt .ui-state-active .ui-selectmenu-icon {
  	background-position: -12px -32px;
}
body#invt_wslook5 .ui-selectmenu-menu li a {
	font-size: 9px;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;
}
body#invt_wslook5 .ui-selectmenu-menu li:hover {
	background: url('../images/paper-background-dark.jpg') repeat;
}

/* static pages copied from original base css */
/*HELP AND INFO*/
#helpandinfo {
	font:12px Arial, Helvetica, sans-serif;
}
#helpcontentstable a {
	color:#000000;
	text-decoration:none;
}
#helpcontentstable a:hover {text-decoration:underline;}
.helpcontentstableheader {
	text-transform:uppercase;
	font-weight:bold;
}
#helpcontentstable ul {
	list-style:none;
	padding:0;
}
#helpcontentstable li {padding:4px 0;}
#helpcontentstable, #deliveryinfotable {
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	width:700px;
	font-size:12px;
}
#helpcontentstable td, #deliveryinfotable  td {border:1px solid #CCCCCC;}
.helpsubjectheader {
	text-transform:uppercase;
	font-weight:bold;
	font-size:13px;
	margin:0 0 10px 0;
	width:100%;
	border-bottom:1px solid #000000;
	clear:both;
}
.helpsubjectheader h1 {font-size:13px;}
#helpcontent p {margin:10px 0;}
.question {
	text-transform:uppercase;
	font-weight:bold;
}
.answer {margin:0 0 20px 0;}
.answer ul {
	list-style:outside;
	padding:0 0 0 10px;
	margin:0 0 0 10px;
}
.answer li {
	padding:2px 0;
	display:list-item;
}
/*end*/

/*help(story) styles*/
#helpContent {text-align:left;margin:0px;}
#helpContent hr{border:0;border-bottom:1px solid #fff;border-top:1px solid #000000;}
/*end of help styles*/


/*faqs and joblist pages*/
#joblisting h1 {
	font-size:13px;
	border-bottom:1px solid #000000;
	text-transform:uppercase;
}
#joblisting h2 {
	font-size:13px;
	margin:0;
	padding:0;
}
#joblisting p {
	margin:15px 0;
}
#joblisting ul {
	list-style:disc;
	margin:0 0 0 30px;
}
#joblisting li {
	padding:3px 0;
}
#joblisting ul.joblist {
	list-style:none;
	margin:0 0 20px 0;
}
ul.anchorlist {margin:0 0 20px 0;padding:0;}
ul.anchorlist li{list-style:none;padding:0;line-height:20px;}
ul.anchorlist a{color:#000000;}
ul.anchorlist a:hover{color:#000000;}
.clear-height{height:16px;}
#joblistdesc{color:#999;}
.positions{width:315px;margin:26px 0 33px 0;}
.joblistdetail{margin:0;padding:34px 0 0 4px;border-top:1px solid #000000;}
.joblistdetail h2 a{color:#000000;font-size:1em;margin:0;padding:0;border:0;font-weight:bold;text-transform: uppercase;}
.joblistdetail a{color:#000000;	font-weight:bold;text-transform:uppercase;line-height:18px;}
/*end of faqs page*/

/* store locator */
.gateway {text-align: center;}
.gateway img {border: none; margin-bottom: 10px;}
.gateway li {float: left; width: 280px; margin: 10px; min-height: 390px;}
.gateway li.middle {margin: 10px 35px;}
.gateway li p {line-height: 15px;}
.gateway li a:hover {color: #00ccff}
.address p{margin:0;color:#000000;line-height:16px;font:12px Arial;}
.address p a {color:#000000;}
.address{margin-bottom: 20px;}
/* end store locator address */

/* Request Catalogue Form */

#comp01-container { height: 666px; }

#comp01-container img { margin: 40px 50px 0; }

#catalogueForm {
	width: 770px;
	margin-left: 50px;
    color: #000000;
    font: 12px Arial,Helvetica,sans-serif;
    position:  relative;    
    line-height: 23px;
    background-color: white;
    min-height: 400px;
    padding: 0 40px;
}

#catalogueForm select {
	background-color: #CCC; 
	border: 0;
}

#commentForm .required { color:  #000;}

#commentForm label span {
    float: left;
    font-weight: bold;
    min-width: 9em;
}

#commentForm em { font-size: 18px; color: #00CCFF; margin-right: 2px;}

#commentForm .EmailTextField, .RFF {
    background-color: #CCCCCC;
    border: 1px none;
    color: #000000;
    font: 13px Arial,Helvetica,sans-serif;
    height: 18px;
    width: 200px;
	margin-right: 10px; 
	clear: right;
	list-style-type: none;
	}

#commentForm .signUpForCatalogue p { float: left; } 

#commentForm input#submit { 
    background-color: #000;
    border: 1px none;
    color: #fff;
    font: 13px Arial,Helvetica,sans-serif;
    height: 36px;
    width: 100px;
    margin-top:  20px;	
}

#catalogue-banner { margin-bottom:  20px;}

#commentForm .FLeft { float: left;  margin-right: 40px;}

#commentForm .FLeft p.mandatory { 
	font-size: 1em; 
	color:  #00CCFF;
}

#commentForm .FLeft p.mandatory ul { list-style: none;}


#commentForm label span.FRadiob { 
	float: left; 
	width: 300px; 
}

#commentForm input#Opt_1 { 
	background-color: gray;
    border: 1px none; 
    color: #000000;
    font: 13px Arial,Helvetica,sans-serif;
    height: 18px;
}			  

#commentForm p label.error { display: block; margin:5px 0 0 123px; color: #00CCFF;}

/* DE only Styles */

#commentForm div.FRight.DE { float:  right; }
#commentForm div.FRight.DE p { clear: both; }
/*  end Request Catalogue Form */

/* END STATIC PAGES CSS */

/* NAV STYLES */

.leftnavcatcontent {
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform: uppercase;
	display:block;
	background-color:#FFFFFF;
}	
	
.leftnavcatcontent a {
	color:#000000;
	text-decoration:none;
}	

#leftnav ul ul{
	margin-bottom:0;
}

#leftnav ul li {
	margin:0;
	}

#leftnav ul li a{
}
#leftnav ul li a:hover{ color: #00ccff; text-decoration: none;
}
	
.leftnavcatopen	a, leftnavcatopen a:hover {
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform: uppercase;
	display:block;
	margin-bottom:3px;
	background-color:#FFFFFF;
	text-decoration:none;
}
	
.leftnavcat a {
	float:left;
	font-weight:bold;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-transform: uppercase;
	margin-bottom:1px;
}

.leftnavcat a:hover {
	color:#666666;
	text-transform: uppercase;
}

.leftnavsub a {
	color:#000000;
	font-size:11px;
	margin:0 0 1px 0;
	padding:1px;
	text-decoration:none;
}		

.leftnavsub a:hover {
	text-decoration:underline;
}	
			
.leftnavsubsub a {
	color:#000000;
	font-size:11px;
	margin:0 0 1px 10px;
	padding:1px;
	text-decoration:none;
}		

.leftnavsubsub a:hover {
	color:#000000;
	text-decoration:underline;
}	
.catsep {
	height:20px;
}
#static p {
margin: 0 0 20px 0;
}

/* END NAV STYLES */

/* prod detail shadow */
.warpShadow {
	background: url('../images/pd-warp-shadow.png') no-repeat;
	height: 103px;
	width: 381px;
	margin: -70px 0 0 31px;
}

/* BRANDS PAGE */
.contentheader {
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	color: #000000;
}

#brands ol {list-style-type: none; padding: 0; margin: 0;}
#brands ol.brandNav {text-align: center; text-transform: uppercase; font-weight: bold; font-size: 1.55em; border-bottom: 1px dotted; padding: 0 0 15px; margin: 0;}
#brands ol.brandNav li {display: inline; padding: 0 6px;}
#brands ol.brandNav li a,
#brands ol.brandList li.brands ul li a {text-decoration: none;}
#brands ol.brandNav li a:hover,
#brands ol.brandList li.brands ul li a:hover {color: #00ccff;}

#brands ol.brandList li.brands {border-bottom: 1px dotted; padding: 25px 0 25px 42px;}
#brands ol.brandList li.brands ul {width: 100%; overflow: hidden;}
#brands ol.brandList li.brands ul li {float: left; width: 148px; padding: 2px 0;}

#brands ol.brandList li#aBrands {background: url(../images/letters/a.gif) no-repeat left center;}
#brands ol.brandList li#bBrands {background: url(../images/letters/b.gif) no-repeat left center;}
#brands ol.brandList li#cBrands {background: url(../images/letters/c.gif) no-repeat left center;}
#brands ol.brandList li#dBrands {background: url(../images/letters/d.gif) no-repeat left center;}
#brands ol.brandList li#eBrands {background: url(../images/letters/e.gif) no-repeat left center;}
#brands ol.brandList li#fBrands {background: url(../images/letters/f.gif) no-repeat left center;}
#brands ol.brandList li#gBrands {background: url(../images/letters/g.gif) no-repeat left center;}
#brands ol.brandList li#hBrands {background: url(../images/letters/h.gif) no-repeat left center;}
#brands ol.brandList li#iBrands {background: url(../images/letters/i.gif) no-repeat left center;}
#brands ol.brandList li#jBrands {background: url(../images/letters/j.gif) no-repeat left center;}
#brands ol.brandList li#kBrands {background: url(../images/letters/k.gif) no-repeat left center;}
#brands ol.brandList li#lBrands {background: url(../images/letters/l.gif) no-repeat left center;}
#brands ol.brandList li#mBrands {background: url(../images/letters/m.gif) no-repeat left center;}
#brands ol.brandList li#nBrands {background: url(../images/letters/n.gif) no-repeat left center;}
#brands ol.brandList li#oBrands {background: url(../images/letters/o.gif) no-repeat left center;}
#brands ol.brandList li#pBrands {background: url(../images/letters/p.gif) no-repeat left center;}
#brands ol.brandList li#qBrands {background: url(../images/letters/q.gif) no-repeat left center;}
#brands ol.brandList li#rBrands {background: url(../images/letters/r.gif) no-repeat left center;}
#brands ol.brandList li#sBrands {background: url(../images/letters/s.gif) no-repeat left center;}
#brands ol.brandList li#tBrands {background: url(../images/letters/t.gif) no-repeat left center;}
#brands ol.brandList li#uBrands {background: url(../images/letters/u.gif) no-repeat left center;}
#brands ol.brandList li#vBrands {background: url(../images/letters/v.gif) no-repeat left center;}
#brands ol.brandList li#wBrands {background: url(../images/letters/w.gif) no-repeat left center;}
#brands ol.brandList li#xBrands {background: url(../images/letters/x.gif) no-repeat left center;}
#brands ol.brandList li#yBrands {background: url(../images/letters/y.gif) no-repeat left center;}
#brands ol.brandList li#zBrands {background: url(../images/letters/z.gif) no-repeat left center;}
/* END BRANDS PAGE */

/* ** productlist_full Layout ** */

.editorialPage div#banner {
    background: none;
    clear: both;
    float: left;
    border: 1px dotted #CCCCCC;
    margin-bottom: 20px;
    padding: 16px;
    width: 916px;
    clear: both;  
}

.editorialPage .brand {
	border: 0 !important;
}

.editorialPage #banner div.logo { 
    float: left;
    margin: 0 20px 0 0;    
    text-align: left;
    font-size: 30px;
	text-transform: capitalize;
	width: 300px;
}

.editorialPage #banner div.logo img {
	display: none;
	box-shadow:none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	filter: none;
}

.editorialPage #banner div.logo span {
	display: block;
}


.editorialPage #banner div.copy {
	float: left;
	width:590px;
	font-size: 12px;
	line-height: 16px; 
}

.editorialPage #banner div.copy p { 
    margin-top: 0px;
    font-size: 12px; 
    line-height: 16px; 
}

.editorialPage div.copy a { 
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold
}

.editorialPage div.copy a:hover { color:#00ccff; }

#banner div.copy ul li { display: inline; }

.mm_ul li a.mm_icatsale {
	color: #cc0000;
}
.mm_ul > li > div > div > ul > li > a.mm_subviewallpromo, .mm_ul > li > div > div > ul > li > a.mm_submpromoviewall {
	color: #009999;
}

/* Twitter feed for Valentines */

/* The container for the module */
#ValentinesTwitter {
	background: #000;
    width: 930px; /* Up to you but remember to change the div width below as well if you change it */
    padding: 0 10px;
    height:40px;
    overflow: hidden; /* clearfix */
}
 #ValentinesTwitter h5 {
    float: left; /* We'll make the heading sit on its own line next to the tweets */
    width: 0; /* Might wanna change this depending on the text in the heading */
    margin: 0;
    padding: 13px 0; /* I'll set the top and bottom padding here rather than in the container so as not to cut off any text */
    font-size: 14px;
    color: #fff;
    line-height: 1;
}
/* The marquee plug-in turns a marquee element into a div */
#ValentinesTwitter p, #ValentinesTwitter marquee, #ValentinesTwitter div {
    float: right;
    width: 930px; /* Container width - heading width - 10px (for some right padding) */
    margin: 0;
    padding: 13px 0; /* Again we set the padding in here so as not to cut text */
    line-height: 1;
    color:#fff;
    font-size:14px;
    text-transform:uppercase;
}
/* All the tweets will be links pointing to your page on twitter */
#ValentinesTwitter marquee a, #ValentinesTwitter div a {
    margin: 0 10px 0 0;
    color: #fff;
    text-decoration: none;
    font-size:14px;
    text-transform:uppercase;
}
/* The i is used to display the date of the tweet */
#ValentinesTwitter marquee a i, #ValentinesTwitter div a i {
    font-style: normal;
    color: #ec208c;
}

#ValentinesTwitter marquee a b, #ValentinesTwitter div a b {
    font-style: normal;
    color: pink;
}

ul#mm_ul li.navsfdigibook, ul#mm_ul li.navuofestivals {
	display:none;
}

/* Homepage signup email popup NEW */
#signupHeader-uk, #signupHeader-de, #signupHeader-fr {
	position: absolute;
	width: 100%;
	height: 170px;
	top: 0;
	left: 0;
}
#signupHeader-uk {
	background: url('../images/WT-assets/pop-up/msg_uk_6.png') no-repeat center; 
}
#signupHeader-de {
	background: url('../images/WT-assets/pop-up/msg_de_6.png') no-repeat center;
}
#signupHeader-fr {
	background: url('../images/WT-assets/pop-up/msg_fr_6.png') no-repeat center;
}
.signupForm {
    position:absolute;
    bottom:0;
    width:100%;
    height:0;
}
.signupForm form fieldset label {
	display:none;
}
.signupForm .input {
	border: #333436 4px solid;
	background: none;
	font-size: 12px;
	width: 265px;
	padding: 5px;
	border-image: initial;
}
.signupForm fieldset {
	display:inline-block;
	position:absolute;
	top:-1px;
	left:32px;
}
.signupForm form #guys {
	position:absolute;
	right:33px;
}
.signupForm form #gals {
	position:absolute;
	right:121px;
}
/*.signupForm .submit {
	display:inline-block;
}*/
.signupPopupOverlay {
	position: fixed !important;
	width: 100%;
	height: 100%;
	z-index: 9500 !important;
	zoom: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	overflow: hidden !important;
	background-color: black;
	right: 0;
	top: 0 !important;
	display:none;
}
.signupPopup {
	position: fixed;
	left: 0;
	top: 25%;
	width: 100%;
	z-index: 9501;
	display:none;
}
.signupPopupOuter {
	z-index: 9501 !important;
	position: relative;
	top: 0;
	margin: auto;
	width: 570px;
	height: 340px;
	/*background: url('../images/WT-assets/frame-short.png') no-repeat 0 0 transparent;*/
}
.signupPopupInner {
	width: 524px;
	position: relative;
	background: url('../images/WT-assets/pop-up/background.png') no-repeat 0 0 transparent;
	margin: 20px;
	text-align: center;
	height: 248px;
}
.signupPopupClose {
	height: 20px;
	width: 20px;
	position: absolute;
	top: 8px;
	right: 11px;
	padding: 0;
	z-index:10;
}
.signupPopupSignup {
	margin-left: auto;
	margin-right: auto;
	border: 0;
	width: 100%;
	padding: 0;
	text-align: center;
	height: 170px;
	left:0;
	top:0;
	position: relative;
}
.signupPopupDelivery {
	padding-top: 15px;
	display:none;
}
/* end */

/* Furniture Lookbook start */
#lookbook {
	position:relative;
	height:660px;
}
.uo-lookbook {
    width: 950px;
    height: 600px;
    margin: 0 auto;
    border: none;
    border-radius: 0;
}
.uo-lookbook .slides li {
    position: relative;
    width: 950px !important;
    height: 600px !important;
    background: url('../images/Search/loadingsearch.gif') no-repeat center;
	opacity: .30;
	filter: alpha(opacity=30);
	-moz-opacity: .30;
}
.uo-lookbook .slides li a {
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
}
.uo-lookbook .flex-control-nav {
    display: block;
    position:relative;
    padding:10px 0;
    width:950px;
    text-align: center;
}
.uo-lookbook .flex-control-nav li:first-child {
	margin: 0;
}
.uo-lookbook .flex-control-nav li {
	margin: 0 0 0 2px;
	display:inline-block;
}
.uo-lookbook .flex-control-nav li a {
	width: 70px;
	height: 40px;
}
.uo-lookbook .flex-control-nav li a:hover {
	background-position: 0px -40px;
}
.uo-lookbook .flex-control-nav li a.flex-active {
	background-position: 0px -40px;
}
.uo-lookbook .flex-direction-nav a {
	width: 44px;
	height: 45px;
	margin: -15px 15px 0;
	display: block;
	background: url("../images/uo-png-sprite.png") no-repeat scroll -79px -224px transparent;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	z-index: 1000;
	outline: none;
}
.uo-lookbook .flex-direction-nav .flex-next {
	background-position: -126px -219px;
	right: 0;
}
.uo-lookbook a.flex-next:hover {
	background-position: -130px -215px;
}
.uo-lookbook .flex-direction-nav .flex-prev {
	background-position: -80px -219px;
	left: 0;
}
.uo-lookbook a.flex-prev:hover {
	background-position: -76px -215px;
}
a.uo-hotspot {
    position: absolute;
    width: 21px;
    height: 20px;
    display: block;
    background: url("../images/lookbook/furniture_hotspot.png") no-repeat;
    top: 0;
    left: 0;
    padding: 0;
}
a.uo-hotspot:hover {
    opacity: 0.5;
}
/*** Dialog css ***/
.lookbookQuick {
	background: url('../images/grid_tile.jpg');
}
.lookbookQuick .ui-dialog-titlebar {
	display:none;
}
.lookbookQuick .quickLook-Details .productTitle {
	display: inline-block;
	padding-bottom:10px;
}
.lookbookQuick .quickLook-Details .productTitle h1 {
	position:relative !important;
	font-size:14px;
}
.lookbookQuick .quickLook-Details .priceDetails {
	padding-bottom: 10px;
	font-weight: bold;
	font-size:14px;
}
.lookbookQuick .productInfo .loadingImg {
	height: 120px;
}
/****** Spring Catalogue *******/
.gameTitle {
	overflow: hidden;
}
.fl {
	float: left;
}
#content.fr { 
	float: right;
}
.ml {
	margin-left: 10px;
}
.mr {
	margin-right: 10px;
}

.mb { 
	margin-bottom: 20px; 
}

.L-R {
	margin-left: 10px;
	margin-right: 10px;
}
.cl {
	clear: both;
}
.gameStartPaginator {
	clear: both;
	margin-bottom: 20px;
        text-align: center;
}
.gameStartPaginator li { 
	display: inline;
}
.video { 
	margin: 0px 30px 20px 30px !important;
}
.gameButton span {
	display: none;
}
.gameButton {
	display: block;
	width: 890px;
	height: 185px;
	background-image: url("/content/ebiz/urbanoutfitters/resources/images/spring-lookbook/Womens/w_page1_ftr_rollover.gif"); 
	margin-bottom: 20px;
}
.gameButton:hover {
	display: block;
	width: 890px;
	height: 185px;
	background-image: url("/content/ebiz/urbanoutfitters/resources/images/spring-lookbook/Womens/w_page1_ftr_rollover.gif");
	background-position: bottom;
}
@font-face {
    font-family: "UO Square Font";
    src: url('/content/ebiz/urbanoutfitters/resources/fonts/square.ttf') format("truetype");
}
.controlBox-holder {
    float: right;
    height: 100%;
    width: 50px;
}
.controlBox {
	margin-top:76px;
    width: 12px;
    height: 268px;
    position: absolute;
    border: 2px solid #fff;
    background-color: #000;
}
.controlBox > div {
	width: 12px;
    height: 89px;
    background: #000;
}
.controlBox > div .loadProgress {
    background: #00ca47;
    width: 14px;
    margin-left: -1px;
}
.borderScroll {
	border-bottom: 1px solid #00ca47;
}
.controlBox > div.fullyLoaded .loadProgress {
    height: 100%;
}
.segment {
	background: url('/content/ebiz/urbanoutfitters/resources/images/Search/loadingsearch.gif') no-repeat center;
	margin : 0 0 20px 0;
	width: 950px;
	height: 600px;
	position:relative;
}
.last {
	height:0px;
	margin:0;
}
.segment a.uo-hotspot {
    position: absolute;
    width: 21px;
    height: 20px;
    display: block;
    background: url("/content/ebiz/urbanoutfitters/resources/images/spring-lookbook/Womens/Hotspot.png") no-repeat;
    top: 0;
    left: 0;
    padding: 0;
}
.segment a.uo-hotspot:hover {
    opacity: 0.5;
}
.gameSticky {
	width: 50px;
	height: auto;
	overflow: hidden;
	position: absolute;
}
.fixMe {
    position: fixed;
}
.anchorLink-next, .anchorLink-prev {
	display:block;
	text-indent: -9999px;
	background-color: black;
	border: 2px solid white;
	width: 46px;
	height: 46px;
	cursor: pointer;
	background: url('/content/ebiz/urbanoutfitters/resources/images/spring-lookbook/spring-icons-sprite_uk.png') no-repeat center;
}
.anchorLink-next {
	background-position: 0 0;
}
.anchorLink-prev {
	background-position: 0 -92px;
	border-bottom: 0;
}
.anchorLink-next:hover {
	background-position: 0 -46px;
}
.anchorLink-prev:hover {
	background-position: 0 -138px;
}
.percentage {
	font-family: "UO Square Font", Helvetica, Arial, sans-serif;
	background-color: black;
	border: 2px solid white;
	width: 38px;
	height: 14px;
	margin-top: -2px;
	text-align: left;
	color: white;
	font-size: 16px;
	padding: 4px;
}
.bottomLinks {
	margin-top: 2px;
}
.toTop {
	display:block;
	text-indent: -9999px;
	background-color: black;
	border: 2px solid white;
	width: 46px;
	height: 22px;
	cursor: pointer;
	background: url('/content/ebiz/urbanoutfitters/resources/images/spring-lookbook/spring-icons-sprite_uk.png') no-repeat center;
	background-position: 0 -184px;
}
.toTop:hover {
	background-position: 0 -206px;
}
.womensCatalogue {
	margin-top: 2px;
}
.mensCatalogue a, .womensCatalogue a {
	margin-left: 18px;
	text-align: center;
	display:block;
	text-indent: -9999px;
	width: 28px;
	height: 88px;
	background: url("/content/ebiz/urbanoutfitters/resources/images/spring-lookbook/spring-icons-sprite_uk.png") no-repeat center;
	border: 2px solid white;
}
.mensCatalogue a {
	background-position: -0px -228px;
}
.mensCatalogue a:hover {
	background-position: -0px -316px;
}
.womensCatalogue a {
	background-position: -0px -404px;
}
.womensCatalogue a:hover {
	background-position: -0px -492px;
}
.mensCatalogue, .tweetMe, .pinMe, .facebookMe {
	margin-top: -2px;
}
.mens a {
	background-position: -0px -316px;
}
.womens a {
	background-position: -0px -492px;
}
a.tweetIt, a.pinIt, a.facebookIt {
	margin-left: 18px;
	text-align: center;
	display:block;
	text-indent: -9999px;
	width: 28px;
	height: 28px;
	background: url("/content/ebiz/urbanoutfitters/resources/images/spring-lookbook/spring-icons-sprite_uk.png") no-repeat center;
	border: 2px solid white;
}
a.tweetIt {
	background-position: -0px -580px;
}
a.tweetIt:hover {
	background-position: -0px -608px;
}
a.pinIt {
	background-position: -0px -636px;
}
a.pinIt:hover {
	background-position: -0px -664px;
}
a.facebookIt {
	background-position: -0px -692px;
}
a.facebookIt:hover {
	background-position: -0px -720px;
}

/*** Bummer page ***/
.bummerError {
	font-size: 196px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 180px;
	margin: 5px 0 5px -13px !important;
	letter-spacing: -10px;
	color: black;
}
.error404 {
	font-size: 16px;
	font-weight: bold;
}
/**** Brands Dropdown ****/
.footerBrandsButton {
	width: 420px;
	clear: both;
	padding-top: 20px;
	float:right;
	font-size:12px;
}
.footerBrandsButton div.footerBrandsBtn {
	display: block;
	text-align: center;
	font-weight: bold;
	background: url('../images/uo-png-sprite.png?v=6') no-repeat -63px -192px;
	width:24px;
	height:19px;
	text-indent: -222px;
	padding-top: 4px;
	cursor: pointer;
}
.footerBrandsButton div.footerBrandsBtn:hover {
	background-position: -61px -190px;
}
.footerBrandsButton div.footerBrandsBtn.brandsActive {
	background-position: -93px -192px;
}
.footerBrandsButton div.brandsActive:hover {
	background-position: -91px -190px;
}
.footerBrands {
	clear:both;
}
.footerBrands ul li {
	width: 464px;
	margin-left: 22px;
	padding: 20px 0;
	display:inline-block;
	vertical-align: top;
}
.footerBrands ul li:first-child {
	margin-left: 0;
}
.footerBrands ul li a {
	margin-right: 20px;
}
/****** New homepage layout *******/
.homepage-social-header {
	padding: 5px 0;
	clear: both;
}
.homepage-social-header span {
	height: 26px;
	width: 91px;
	background: url('../images/uo-png-sprite.png?v=6') no-repeat transparent -8px -513px;
	display: block;
	margin: 5px auto;
}
.homepage-slots.homepage-social-slots-3 .slot {
  	width: 302px; 
}
.homepage-slots.homepage-social-slots-2 .slot {
  	width: 464px; 
}
.homepage-slots.homepage-social-slots-1 .slot {
  	width: 950px; 
  	margin-left: 0;
}
/**** quickSignup ****/
.foot-signUp {
	width: 330px;
	position: relative;
}
.foot-signUp .thanks, .signupForm .thanks { 
	color: #666;
	font-weight: bold;
	font-size:16px;
	margin: 20px 0 0 0;
}
form#commentForm label span {
    display:none;
}
form#commentForm {
    margin-bottom:0;
}
form#commentForm input#email {
    width: 176px;
    height: 20px;
    border:2px solid #4d4d4d;
    padding-left:10px;
    background: none;
    float:left;
    font-size:12px;
}
form#commentForm #guys, form#commentForm #gals {
	position:absolute;
	background: url('../images/uo-png-sprite.png?v=6') no-repeat;
	height:34px;
	width:54px;
	overflow:hidden;
	border:none;
	-webkit-appearance: none;
	cursor:pointer;
}
form#commentForm #guys {
	right:18px;
	background-position: -63px -153px;
}
form#commentForm #guys:hover {
	background-position: -61px -151px;
}
form#commentForm #gals {
	right:74px;
	background-position: -7px -153px;
}
form#commentForm #gals:hover {
	background-position: -5px -151px;
}