/* Header */
#solrsearch {
  float: right;
  height: 24px;
  margin-top: 16px;
  position: relative;
  width: 200px;
}
.solr-textfield {
  background: #fff;
  border: 1px solid #333333;
  color: #333;
  font-size: 11px;
  height: 14px;
  padding: 4px 25px 4px 8px;
  position: absolute;
  right: 0;
  width: 160px;
  font-weight: bold;
}
.solr-submit {
  background:url("../images/uo-png-sprite.png") no-repeat;
  background-position: -132px -32px;
  border: 0 none;
  cursor: pointer;
  height: 12px;
  padding: 0;
  position: absolute;
  right: 6px;
  width: 12px;
  top:6px
}


/* Product detail */
.product-details {
  padding: 0 10px;
  position: relative;
}

.uo-product-slider, .uo-product-slider .slides li img { 
  width: 360px; 
  height: 540px;
}

.uo-product-slider {
    margin: 0 40px 15px;
    position: relative;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius:0;
    zoom: 1;
    z-index:10;
}

.uo-product-slider .slides li {
    background: url("../images/uo-loading.gif") no-repeat scroll 50% 50% transparent;
}
.uo-product-slider .flex-direction-nav a {
    width: 44px;
    height: 45px;
    margin: -15px 15px 0;
    display: block;
    background: url("../images/uo-png-sprite.png") no-repeat scroll -79px -224px transparent;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    z-index: 1000;
    outline: none;
}

.uo-product-slider .flex-direction-nav .flex-next {
    background-position: -126px -219px;
    right: 0;
}
.uo-product-slider .flex-direction-nav .flex-next:after {
    content: "";
    display: block;
    height: 45px;
    width: 15px;
    top: 0;
    position: absolute;
    right: -15px;
}
.uo-product-slider .flex-direction-nav .flex-prev { 
    background-position: -80px -219px;
    left: 0;
}
.uo-product-slider .flex-direction-nav .flex-prev:after {
    content: "";
    display: block;
    height: 45px;
    width: 15px;
    top: 0;
    position: absolute;
    left: -15px;
}
.uo-product-slider .flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}
.uo-product-slider:hover .flex-next {
    opacity: 1;
}
.uo-product-slider:hover .flex-prev {
    opacity: 1;
}
.uo-product-slider a.flex-next:hover {
    background-position: -130px -215px;
}
.uo-product-slider a.flex-prev:hover {
    background-position: -76px -215px;
}
.Zoompopup .flex-control-nav, .uo-product-slider .flex-control-nav {
    background: #FFF;
    height: 30px;
    padding: 16px 0 0 12px;
    position: absolute;
    right: -47px;
    text-align: center;
    top: 40px;
    width: 34px;
    border: 1px solid #000;
    border-left: 0;
    z-index: -1;
}
.Zoompopup .flex-control-nav {
    left: 0;
    top: 10px;
    display: none;
}
.Zoompopup .flex-control-nav li, .uo-product-slider .flex-control-nav li {
    display: block;
    margin: 0;
    position: relative;
}
.Zoompopup .flex-control-paging li a, .uo-product-slider .flex-control-paging li a {
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    display: none;
    color: #000;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius:0;
    background: none;
    text-indent: 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}
.Zoompopup .flex-control-paging li a.flex-active, .uo-product-slider .flex-control-paging li a.flex-active {
    cursor: default;
    display: block;
    background: none;
}
.uo-product-slider .cloud-zoom-big {
    border: none;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 4px 4px rgba(0,0,0,.2);
}
.uo-product-slider .cloud-zoom-lens {
    cursor: crosshair;
    background: url(../images/uo-slider-cursor.png) no-repeat;
    background-position: 0 0 !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    height: 30px !important;
    padding: 23px 0 0 33px;
    width: 120px !important;
    z-index: 10000;
    display: none;
    margin: 69px 0 0 56px;
    border: none;
    color: #333;
    text-decoration: none;
}
.uo-product-slider .cloud-zoom-lens a {
    text-decoration: none;
}
.uo-product-slider .cloud-zoom {
    cursor: crosshair;
}
.uo-product-slider .cloud-zoom-loading {
    background: none repeat scroll 0 0 #222222;
    border: none;
    bottom: 0;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    padding: 3px;
    text-transform: uppercase;
    top: 520px !important;
    left: 0 !important;
    width: 354px !important;
}
.zoomPopupWrapper .ui-dialog-content {
  padding: 0;
  font-size: 0;
}

.zoomPopupWrapper .ui-dialog-titlebar {
  height: 0;
  padding: 0;
  background: none;
}

.zoomPopupWrapper .ui-dialog-titlebar-close {
  background: url("../images/zoompopup-close.gif") no-repeat transparent;
  width: 36px;
  height: 35px;
  top: 10px;
  right: 10px;
  z-index: 2;
}

#viewLargeImg img {
  width: 100%
}

.zoomPopupWrapper .flex-direction-nav li a {
  background: url("../images/zoompopup-arrows.png") no-repeat transparent;
  width: 58px;
  height: 57px;
  margin-top: -29px;
}
.zoomPopupWrapper .flex-direction-nav li a.flex-prev {
  left: 14px;
}

.zoomPopupWrapper .flex-direction-nav li a.flex-next {
  right: 14px;
  background-position: -58px 0;
}

#productdetail-viewlarge {
  margin-bottom: 20px;
}

#productdetail-viewlarge a {
  background: url("../images/zoompopup-reveal-bg.png") no-repeat transparent;
  display: block;
  width: 40px;
  height: 24px;
  padding: 8px 15px;
  line-height: 12px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
.socialButtons {
  position: absolute;
  top: 40px;
  left: 0;
  width: 40px;
  background: #fff;
  border: 1px solid #333;
  border-right: 0;
}
.socialButtons li {
  display: block;
  height: 42px;
  cursor: pointer;
  position: relative;
}
.socialButtons li:first-child .social-logo {
  border-top: none;
}
.socialButtons li .social-logo {
  width: 15px;
  height: 42px;
  float: left;
  position: absolute;
  border-top: 1px solid #333;
  margin-left: 12px;
}
.socialButtons li .social-logo span {
  width: 15px;
  height: 15px;
  display: block;
  margin-top: 12px;
  background: url("../images/uo-png-sprite.png") no-repeat -191px -32px transparent;
}
.socialButtons li .social-logo .pinterest-logo {
  background-position: -191px -47px;
}
.socialButtons li .social-logo .twitter-logo {
  background-position: -191px -62px;
}
.socialButtons li:hover .social-logo .fb-logo {
  background-position: -206px -32px;
}
.socialButtons li:hover .social-logo .pinterest-logo {
  background-position: -206px -47px;
}
.socialButtons li:hover .social-logo .twitter-logo {
  background-position: -206px -62px;
}
.socialButtons li .social-button {
  float: left;
  padding: 11px 14px 4px;
  min-height: 27px;
  position: absolute;
  top: -1px;
  left: 39px;
  z-index: -1;
  background: #fff;
  border: 1px solid #333;
  border-left: none;
}
.minicartDetailContent .image a {
  display: block;
  width: 75px;
  height: 112px;
}

.minicartDetailTotals .items {
  display: none;
}

.minicartDetailDialog .error {
    background-color: #444444;
    color: #ffffff;
    font-size: 10px;
    font-weight: normal;
    margin: 10px 10px 0 10px;
    padding: 7px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 16px;
    border-bottom: none;
}

.basketScroll span {
    background: url("../images/uo-png-sprite.png") no-repeat scroll -158px -33px transparent;
    width: 7px;
    height: 5px;
    display: block;
    margin: 0 auto;
}

.basketScroll .down-arrow {
    background-position: -158px -40px;
}

.minicartDetailBottom a {
    background: none;
    border: 1px solid #333;
    margin: 0;
    padding: 7px 20px 6px !important;
    text-align: center;
    color: #333;  
}
.minicartDetailBottom .buttonArrow {
    background: #444;
    color: #ffffff;
    border: none;
    float: none;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    line-height: inherit;
    font-size: inherit;
    text-indent: inherit;
}
.mm_sub:after {
  font-size: 0px; line-height: 0%; width: 100px;
  border-top: 20px solid red;
  border-right: 20px solid #f6f6f6;
}
.homepage-slider .flex-direction-nav {
  display: block;
  height: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
}
.homepage-slider .flex-direction-nav li {
    display: block;
    height: 500px;
    position: absolute;
    width: 140px;
    right: 0;  
}
.homepage-slider .flex-direction-nav li:first-child {
    right: auto;
    left: 0;
}
.homepage-slider .flex-direction-nav a {
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    width: 44px;
    height: 45px;
    margin: -15px 0 0;
    display: block;
    background: url("../images/uo-png-sprite.png") no-repeat 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    z-index: 1000;
    outline: none;
}
.homepage-slider .flex-direction-nav .flex-next {
    background-position: -126px -220px;
    right: 10px;
}
.homepage-slider .flex-direction-nav a.flex-next:hover {
    background-position: -130px -215px;
}
.homepage-slider .flex-direction-nav .flex-prev { 
    background-position: -80px -220px;
    left: 10px;
}
.homepage-slider .flex-direction-nav a.flex-prev:hover {
    background-position: -76px -215px;
}
.homepage-slider .flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}
.homepage-slider .flex-direction-nav li:hover > a {
    opacity: 1;
}
.homepage-slider .flex-control-paging {
    display: block;
    float: left;
    left: 50%;
    position: absolute;
    bottom: 20px;
    width: auto;
    background: none;
    padding: 1px 28px;
    margin-left: -70px;
}
.homepage-slider .flex-control-paging li {
    display: block;
    float: left;
    position: relative;
    padding: 4px 0px 5px;
}
.homepage-slider .flex-control-nav li a {
    background: url("../images/uo-png-sprite.png") no-repeat -157px -267px;
    width: 24px;
    height: 24px;
}
.homepage-slider .flex-control-nav li a:hover {
    background-position: -155px -265px;
}
.homepage-slider .flex-control-nav li a.flex-active {
    opacity: 1;
    background-position: -129px -267px;
}
.homepage-slider .flex-control-nav li a.flex-active:hover {
    background-position: -127px -265px;
}
.homepage-slider {
  border: none; 
  margin: 20px 0 25px 0;
  width: 950px;
}
.homepage-slider .homepage-slide {
  width: 950px;
  height: 500px;
}
.homepage-slider .hpslide1 {
  background: #B1DAE2;
}
.homepage-slider .hpslide2 {
  background: #B4B3AC;
}
.homepage-slider .hpslide3 {
  background: #FFFACC;
}
.homepage-slider .hpslide4 {
  background: #78485D;
}
.homepage-slider h2 {
  text-align: center;
  line-height: 510px;
  color: #eee;
  font-size: 24px;
  letter-spacing: 20px;
}
.homepage-slots .slot {
  width: 300px; 
  margin-left: 25px;
  margin-bottom: 20px;
  float: left;
}
.homepage-slots .slot h3, .homepage-slots .slot p {
	text-align: center;
}
.homepage-slots .slot:first-child {
  margin-left: 0;
}
.homepage-slots .slot-image {
  background-color: #444;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  height: 280px; 
}

.signuphome {
  margin: 20px 0;
}

/* Search */

.searchContent .error {
  border: 1px solid #444444;
  margin: 0 5px 15px;
}

/* CURRENCY SELCTOR */

.switcher-sel {
  text-transform: uppercase;
  float: left;
  margin-left: 22px;
}
.switcher-sel:first-child {
  margin-left: 0;
}
.switcher-sel a {
  display: block;
  height: 20px;
  border: 1px solid #444;
  position: relative;
}
.switcher-sel a:hover, .switcher-sel a:active, .switcher-sel a:focus {
  opacity: 1;
}
.switcher-sel a .lang-flag {
  border-right: 1px solid #444;
  height: 20px;
  width: 22px;
  background: url("../images/flag-bg.gif") no-repeat 0 -1px;
  display: block;
  float: left;
}
.switcher-sel a.fr .lang-flag {
  background-position: 0 -22px;
}
.switcher-sel a.de .lang-flag {
  background-position: 0 -43px;
}
.switcher-sel .switcher-down {
  background: url("../images/uo-png-sprite.png") no-repeat scroll -1px -32px transparent;
  display: block;
  height: 23px;
  position: absolute;
  right: -12px;
  top: -1px;
  width: 11px;
}
.switcher-sel a .lang-copy {
  padding: 3px 8px 0;
  float: left;
  font-size: 11px;
  font-weight: bold;
}
.switcher-sel a .curr-copy {
  padding: 3px 6px 2px 6px;
  float: left;  
  width: 8px;
  font-size: 11px;
  font-weight: bold;
}
.switcher-content {
  display: none;
  position: absolute;
  width:100px;
  height:70px;
}
.switcher-content a:hover {
  background: #444444;
  color: #fff;
}
.switcher-content li {
  margin-top: 4px;
  width:67px;
}
.switcher-content li.curr-cont {
  width:33px;
}
.mainHeader a {
  font-weight: bold;
}


/*//////////////////*/
/*/AMENDS TO MERGE /*/
/*//////////////////*/


.mm_ul {
  margin-top: 16px;
}
.mm_fullwidth {
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
}
.mm_ul > li:hover > .mm_fullwidth {
  filter: alpha(opacity=1);
  opacity: 1;
  visibility: visible;
}
.tabcontent ul li {
  float: left;
}

.mmpromo {
  background: #444;
  height: 240px;
}

.mm_ul > li > a {
  letter-spacing: 0;
  font-weight: 700;
}

.prodDesc h1 {
  width: 100%;
}

.productDetailGradientBox.reviews {
  margin: 0;
}

div.zoomPopupWrapper {
  width: 780px !important;
  top: 20px !important;
}

#viewLargeImg {
  margin: 0;
  line-height: 0;
}

.loaderBar {
  background: url(../images/uo-loading.gif) no-repeat center center;
  display: block;
}

.minicartDetailTotals li {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.basketScroll{
  background: #fff;
  border: 1px solid #666;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.minicart-viewer {
  border-top: none;
}
.prodsMinicartCheckout li:first-child {
  border-top: 1px solid #333;
}
button::-moz-focus-inner {
  border: 0;
}
.error {
    background-color: #ff8b48;
    border-bottom: 1px solid #444;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    padding: 5px;
}
.product-details .error {
    background: none;
    border-bottom: none;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    text-align: left;
}
.producdetail-promo {
  padding: 5px 5px 0;
  overflow: hidden;
}
.producdetail-promo > div {
  float: left;
  margin-right: 15px;
}

.footer-bg {
  position: absolute;
}

/* GATEWAY FIX */
.wrapper .gw-container * { }
.wrapper .gw-container {margin:0;padding:0;color:#333;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.wrapper .gw-container h1 {font-size:1.6em;}
.wrapper .gw-container h2 {font-size:1.4em;}
.wrapper .gw-container h3 {font-size:1.2em; border-bottom:1px;}
.wrapper .gw-container p {font-size:12px;}
.wrapper .gw-container a {text-decoration: underline;color:#333;}
.wrapper .gw-container a:hover {color:#808080;text-decoration:none;}
.wrapper .gw-container ul {margin:0;padding:0;list-style:none;}
.wrapper .gw-container ul.bullet li{padding:2px;list-style: disc outside;margin:0 18px;}
.wrapper .gw-container { position: relative; width: 950px; height: 750px; margin-top: 0px;  }
.wrapper .gw-container h1, h2, h3, h4 { text-decoration: none; border: none; }
.wrapper .gw-container .gw-promo { position: absolute; top: 0px; right: 0px; z-index: 100; }
.wrapper .gw-container .gw-promo2 { position: absolute; top: 0px; right: 0px; z-index: 100; }
.wrapper .gw-container .gw-left { width: 22px; height: 45px; position: absolute; left: 0px; top: 200px; z-index: 100; }
.wrapper .gw-container .gw-right { width: 22px; height: 45px; position: absolute; right: 0px; top: 200px; z-index: 100; }
.wrapper .gw-left a { width: 22px; height: 45px; display: block; background: url('../images/160312_arrowleft.png') no-repeat; }
.wrapper .gw-right a { width: 22px; height: 45px; display: block; background: url('../images/160312_arrowright.png') no-repeat; }
.wrapper .gw-container .gw-links { position: absolute; margin: 20px 40px; z-index: 100; padding:10px 20px 20px 20px; /*background: rgba(255,254,255,0.35);*/ }
.wrapper .gw-container .gw-links span { float: left; width: 140px; }
.wrapper .gw-container .gw-links h1 { color: #333; font-size: 26px; margin:0;}
.wrapper .gw-container .gw-links span h3 { margin-top:  12px; }
.wrapper .gw-container .gw-links ul { margin-right: 20px; }
.wrapper .gw-container .gw-links ul.gwList { line-height: 15px; }
.wrapper .gw-container .gw-links li { margin-bottom: 3px; width: 140px; }
.wrapper .gw-container .gw-links li a { text-decoration: none; }
.wrapper .gw-container .gw-links li a:hover { text-decoration: underline; } 
.wrapper .gw-container #slides { text-align: center; width: 950px; height: 470px; overflow: hidden; } 
.wrapper .gw-container .gw-popular { width: 600px; float: left; overflow: hidden; }
.wrapper .gw-container .gw-popular h4 { width: 560px; border-bottom: 1px solid black; }  
.wrapper .gw-container .gw-popular ul li { display: inline; float: left; margin: 10px 28px 0 0;}
.wrapper .gw-container  ul li a { border: 0 !important;}
.wrapper .gw-container .gw-popular ul li p { text-align: center;} 
.wrapper .gw-container .gw-popular .popitems ul li a p { color: #333 !important;}
.wrapper .gw-container .gw-comm { width: 338px; float: right; overflow: hidden; }
.wrapper .gw-container .gw-comm h4 { width: 348px; border-bottom: 1px solid black; }
.wrapper .gw-container .gw-comm ul.commlist { float: left; display: inline; font-size: 11px; width: 368px; height: 160px; overflow: hidden; display: block; margin-bottom: 20px; }
.wrapper .gw-container .gw-comm ul.commlist li { width: 100px; display: inline !important; float: left; margin: 10px 20px 10px 0px; text-align: center; }
.wrapper .gw-container .gw-comm ul.commlist li p { width: 100px; line-height: 13px; font-size: 11px; }
.wrapper .gw-container .gw-comm .signUp { clear: both; margin-top: 10px;}
.wrapper .gw-container .gw-comm .signUp p span.gw-mail { background: url('../images/gw_mail.gif') no-repeat scroll 0% 0% transparent; display: block; height: 16px; width: 21px; float: left; margin-right: 5px;}
.wrapper .gw-container .gw-comm .signUp p { font-weight: bold; font-size: 14px;}
.wrapper .gw-container .gw-comm .signUp p img { margin-right: 10px; vertical-align: middle;  }
.wrapper .gw-container a img { border: 0 !important; }
.wrapper .gw-container .gw-popular .popitems img { display: block; margin-bottom: 1px;}



.wrapper .gw-container #slides { height: 530px !important; }
.wrapper .gw-container .gw-left { width: 22px; height: 45px; position: absolute; left: 0px; top: 245px; z-index: 110; }
.wrapper .gw-container .gw-right { width: 22px; height: 45px; position: absolute; right: 0px; top: 245px; z-index: 110; }
.wrapper .gw-container .gw-promo { display: none; !important; position: absolute; z-index: 100;  left: 797px;  top: 10px; }
.wrapper .gw-container .gw-promo2 { display: block; }
.wrapper .gw-container #next,#prev { display: block !important; }