/* header */
#solrsearch {
  float: right;
  height: 24px;
  margin-top: 12px;
  position: relative;
  width: 200px;
}
.solr-textfield {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #333333;
  color: #444444;
  font-size: 10px;
  height: 14px;
  padding: 4px 25px 4px 10px;
  position: absolute;
  right: 0;
  width: 160px;
}
.solr-submit {
  background: url(../images/bg-search-input.png) no-repeat scroll 3px 5px transparent;
  border: 0 none;
  cursor: pointer;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 0;
  width: 24px;
}



/*//////////////////*/
/*/AMENDS TO MERGE /*/
/*//////////////////*/


.mm_ul {
  margin-top: 16px;
}

.tabcontent ul li {
  float: left;
}

.mmpromo {
  background: #FFF100;
  height: 240px;
}

.mm_ul > li > a {
  letter-spacing: 0;
  font-weight: 700;
}