/* Header */
#solrsearch {
  float: right;
  height: 24px;
  margin-top: 12px;
  position: relative;
  width: 200px;
}
.solr-textfield {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #333333;
  color: #444444;
  font-size: 10px;
  height: 14px;
  padding: 4px 25px 4px 10px;
  position: absolute;
  right: 0;
  width: 160px;
}
.solr-submit {
  background: url(../images/bg-search-input.png) no-repeat scroll 3px 5px transparent;
  border: 0 none;
  cursor: pointer;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 0;
  width: 24px;
}


/* Product detail */
.product-data {
  margin-top: 20px;
}

.product-details {
  padding: 0 10px;
  position: relative;
}

.uo-product-slider, .uo-product-slider .slides li img { 
  width: 360px; 
  height: 540px;
}

.uo-product-slider {
    margin: 0 40px 60px;
    position: relative;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius:0;
    zoom: 1;
    border: 1px solid #666;
}

.uo-product-slider .flex-direction-nav a {
    width: 52px;
    height: 30px;
    margin: -15px 0 0;
    display: block;
    background: url(../images/uo-direction-nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
    z-index: 10000;
}

.uo-product-slider .flex-direction-nav .flex-next {
    background-position: -52px 0;
    right: 10px;
}
.uo-product-slider .flex-direction-nav .flex-prev { 
    left: 10px 
}
.uo-product-slider .flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}
.uo-product-slider:hover .flex-next {
    background-position: -52px -30px;
}
.uo-product-slider:hover .flex-prev {
    background-position: 0 -30px;
}
.uo-product-slider .flex-control-nav {
    background: url("../images/uo-slide-position-bg.png") no-repeat scroll 0 0 transparent;
    height: 39px;
    padding: 18px 0 0 9px;
    position: absolute;
    right: -51px;
    text-align: center;
    top: 40px;
    width: 41px;
}
.uo-product-slider .flex-control-nav li {
    position: absolute;
}
.uo-product-slider .flex-control-nav li {
    display: block;
    margin: 0;
    position: relative;
}
.uo-product-slider .flex-control-paging li a {
    cursor: pointer;
    font-family: Arial;
    display: none;
    color: #444444;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius:0;
    background: none;
    text-indent: 0;
    font-size: 16px;
}
.uo-product-slider .flex-control-paging li a.flex-active {
    cursor: default;
    display: block;
    background: none;
}
.uo-product-slider .cloud-zoom-big {
    border: none;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 4px 4px rgba(0,0,0,.2);
}
.uo-product-slider .cloud-zoom-lens {
    cursor: crosshair;
    cursor: none;
    background: url(../images/uo-slider-cursor.png) no-repeat;
    background-position: 0 0 !important;
    font-family: "Arial";
    font-size: 11px;
    height: 30px !important;
    padding: 23px 0 0 33px;
    width: 120px !important;
    z-index: 10000;
    display: none;
    margin: 69px 0 0 56px;
    border: none;
    color: #333;
    text-decoration: none;
}
.uo-product-slider .cloud-zoom-lens a {
    text-decoration: none;
}

.uo-product-slider .cloud-zoom-loading {
    background: none repeat scroll 0 0 #222222;
    border: none;
    bottom: 0;
    color: white;
    font-family: arial;
    font-size: 10px;
    padding: 3px;
    text-transform: uppercase;
    top: 520px !important;
    left: 0 !important;
    width: 354px !important;
}


/*//////////////////*/
/*/AMENDS TO MERGE /*/
/*//////////////////*/


.mm_ul {
  margin-top: 16px;
}

.tabcontent ul li {
  float: left;
}

.mmpromo {
  background: #FFF100;
  height: 240px;
}

.mm_ul > li > a {
  letter-spacing: 0;
  font-weight: 700;
}

.prodDesc h1 {
  width: 100%;
}

.productDetailGradientBox.reviews {
  margin: 0;
}