/* Header */
#solrsearch {
  float: right;
  height: 24px;
  margin-top: 16px;
  position: relative;
  width: 200px;
}
.solr-textfield {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #333333;
  color: #444444;
  font-size: 11px;
  height: 14px;
  padding: 4px 25px 4px 8px;
  position: absolute;
  right: 0;
  width: 160px;
  font-weight: bold;
}
.solr-submit {
  background: url(../images/bg-search-input.png) no-repeat scroll 3px 5px transparent;
  border: 0 none;
  cursor: pointer;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 0;
  width: 24px;
}


/* Product detail */
.product-details {
  padding: 0 10px;
  position: relative;
}

.uo-product-slider, .uo-product-slider .slides li img { 
  width: 360px; 
  height: 540px;
}

.uo-product-slider {
    margin: 0 40px 15px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius:0;
    zoom: 1;
}

.uo-product-slider .flex-direction-nav a {
    width: 45px;
    height: 45px;
    margin: -15px 15px 0;
    display: block;
    background: url("../images/uo-png-sprite.png") no-repeat scroll -79px -224px transparent;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0.8;
    z-index: 1000;
    outline: none;
}

.uo-product-slider .flex-direction-nav .flex-next {
    background-position: -125px -224px;
    right: 0;
}
.uo-product-slider .flex-direction-nav .flex-next:after {
    content: "";
    display: block;
    height: 45px;
    width: 15px;
    top: 0;
    position: absolute;
    right: -15px;
}
.uo-product-slider .flex-direction-nav .flex-prev { 
    background-position: -79px -224px;
    left: 0;
}
.uo-product-slider .flex-direction-nav .flex-prev:after {
    content: "";
    display: block;
    height: 45px;
    width: 15px;
    top: 0;
    position: absolute;
    left: -15px;
}
.uo-product-slider .flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}
.uo-product-slider:hover .flex-next {
    opacity: 1;
}
.uo-product-slider:hover .flex-prev {
    opacity: 1;
}
.Zoompopup .flex-control-nav, .uo-product-slider .flex-control-nav {
    background: url("../images/uo-png-sprite.png") no-repeat scroll -127px -93px transparent;
    height: 32px;
    padding: 18px 0 0 12px;
    position: absolute;
    right: -53px;
    text-align: center;
    top: 40px;
    width: 41px;
}
.Zoompopup .flex-control-nav {
    left: 0;
    top: 10px;
    display: none;
}
.Zoompopup .flex-control-nav li, .uo-product-slider .flex-control-nav li {
    display: block;
    margin: 0;
    position: relative;
}
.Zoompopup .flex-control-paging li a, .uo-product-slider .flex-control-paging li a {
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    display: none;
    color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius:0;
    background: none;
    text-indent: 0;
    font-size: 12px;
    font-weight: bold;
}
.Zoompopup .flex-control-paging li a.flex-active, .uo-product-slider .flex-control-paging li a.flex-active {
    cursor: default;
    display: block;
    background: none;
}
.uo-product-slider .cloud-zoom-big {
    border: none;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 4px 4px rgba(0,0,0,.2);
}
.uo-product-slider .cloud-zoom-lens {
    cursor: crosshair;
    background: url(../images/uo-slider-cursor.png) no-repeat;
    background-position: 0 0 !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    height: 30px !important;
    padding: 23px 0 0 33px;
    width: 120px !important;
    z-index: 10000;
    display: none;
    margin: 69px 0 0 56px;
    border: none;
    color: #333;
    text-decoration: none;
}
.uo-product-slider .cloud-zoom-lens a {
    text-decoration: none;
}
.uo-product-slider .cloud-zoom {
    cursor: crosshair;
}
.uo-product-slider .cloud-zoom-loading {
    background: none repeat scroll 0 0 #222222;
    border: none;
    bottom: 0;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    padding: 3px;
    text-transform: uppercase;
    top: 520px !important;
    left: 0 !important;
    width: 354px !important;
}
.zoomPopupWrapper .ui-dialog-content {
  padding: 0;
  font-size: 0;
}

.zoomPopupWrapper .ui-dialog-titlebar {
  height: 0;
  padding: 0;
  background: none;
}

.zoomPopupWrapper .ui-dialog-titlebar-close {
  background: url("../images/zoompopup-close.gif") no-repeat transparent;
  width: 36px;
  height: 35px;
  top: 10px;
  right: 10px;
  z-index: 2;
}

#viewLargeImg img {
  width: 100%
}

.zoomPopupWrapper .flex-direction-nav li a {
  background: url("../images/zoompopup-arrows.png") no-repeat transparent;
  width: 58px;
  height: 57px;
  margin-top: -29px;
}
.zoomPopupWrapper .flex-direction-nav li a.flex-prev {
  left: 14px;
}

.zoomPopupWrapper .flex-direction-nav li a.flex-next {
  right: 14px;
  background-position: -58px 0;
}

#productdetail-viewlarge {
  margin-bottom: 20px;
}

#productdetail-viewlarge a {
  background: url("../images/zoompopup-reveal-bg.png") no-repeat transparent;
  display: block;
  width: 40px;
  height: 24px;
  padding: 8px 15px;
  line-height: 12px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
.socialButtons {
  position: absolute;
  top: 40px;
  left: 0;
}
.socialButtons li {
  display: block;
  height: 42px;
  cursor: pointer;
  position: relative;
}
.socialButtons li .social-logo {
  width: 40px;
  height: 42px;
  float: left;
  background: url("../images/uo-png-sprite.png") no-repeat -179px -111px transparent;
  position: absolute;
}
.socialButtons li .social-logo span {
  width: 15px;
  height: 15px;
  display: block;
  margin: 12px 0 0 16px;
  background: url("../images/uo-png-sprite.png") no-repeat -191px -32px transparent;
}
.socialButtons li .social-logo .pinterest-logo {
  background-position: -191px -47px;
}
.socialButtons li .social-logo .twitter-logo {
  background-position: -191px -62px;
}
.socialButtons li:hover .social-logo .fb-logo {
  background-position: -206px -32px;
}
.socialButtons li:hover .social-logo .pinterest-logo {
  background-position: -206px -47px;
}
.socialButtons li:hover .social-logo .twitter-logo {
  background-position: -206px -62px;
}
.socialButtons li .social-button {
  float: left;
  padding: 8px 14px 0;
  min-height: 27px;
  position: absolute;
  top: 4px;
  left: 40px;
  z-index: -1;
  background: url(../images/paper-background.jpg) repeat scroll 0 0 #CFC5B6;
}
.minicartDetailContent .image a {
  display: block;
  width: 75px;
  height: 112px;
}

.minicartDetailTotals .items {
  display: none;
}

.minicartDetailDialog .error {
    background-color: #444444;
    color: #ffffff;
    font-size: 10px;
    font-weight: normal;
    margin: 10px 10px 0 10px;
    padding: 7px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 16px;
    border-bottom: none;
}

.basketScroll span {
    background: url("../images/uo-png-sprite.png") no-repeat scroll -158px -33px transparent;
    width: 7px;
    height: 5px;
    display: block;
    margin: 0 auto;
}

.basketScroll .down-arrow {
    background-position: -158px -40px;
}

.minicartDetailBottom a {
    background: none;
    border: 1px solid #333;
    margin: 0;
    padding: 7px 20px 6px !important;
    text-align: center;
    color: #444;  
}
.minicartDetailBottom .buttonArrow {
    background: #444;
    color: #ffffff;
    border: none;
    float: none;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.mm_sub:after {
  font-size: 0px; line-height: 0%; width: 100px;
  border-top: 20px solid red;
  border-right: 20px solid #f6f6f6;
}

.homepage-slider .flex-direction-nav a {
    width: 52px;
    height: 30px;
    margin: -15px 0 0;
    display: block;
    background: url(../images/uo-direction-nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
    z-index: 1000;
    outline: none;
}
.homepage-slider .flex-direction-nav .flex-next {
    background-position: -52px 0;
    padding-right: 10px;
    right: 0;
}
.homepage-slider .flex-direction-nav .flex-prev { 
    padding-left: 10px;
    background-position: 10px 0;
    left: 0;
}
.homepage-slider .flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}
.homepage-slider:hover .flex-next {
    background-position: -52px -30px;
}
.homepage-slider:hover .flex-prev {
    background-position: 10px -30px;
}
.homepage-slider .flex-control-paging {
    display: block;
    float: left;
    left: 50%;
    position: absolute;
    bottom: 20px;
    width: auto;
    background: url(../images/hp-slider-position-bg.png) no-repeat 0 0;
    padding: 1px 28px;
    margin-left: -70px;
}
.homepage-slider .flex-control-paging li {
    display: block;
    float: left;
    position: relative;
    padding: 4px 0px 5px;
}
.homepage-slider .flex-control-nav li a {
    background: url(../images/hp-slider-position.gif) no-repeat -21px 0;
    width: 20px;
    height: 16px;
}
.homepage-slider .flex-control-nav li a:hover, .homepage-slider .flex-control-nav li a.flex-active {
    opacity: 1;
    background-position: 0 0;
}
.homepage-slider {
  border: 1px solid #333; 
  margin: 20px 0;
  width: 948px;
}
.homepage-slider .homepage-slide {
  width: 948px;
  height: 450px;
}
.homepage-slider .hpslide1 {
  background: #ff0000;
}
.homepage-slider .hpslide2 {
  background: #00ff00;
}
.homepage-slider .hpslide3 {
  background: #0000ff;
}
.homepage-slider .hpslide4 {
  background: #f00fff;
}
.homepage-slider h2 {
  text-align: center;
  line-height: 450px;
  color: #eee;
  font-size: 24px;
  letter-spacing: 20px;
}
.homepage-slots .slot {
  width: 310px; 
  margin-left: 10px;
  margin-bottom: 20px;
  float: left;
}
.homepage-slots .slot:first-child {
  margin-left: 0;
}
.homepage-slots .slot-image {
  padding: 10px;
  border: 1px solid #333;
  margin-bottom: 10px;
  height: 140px; 
}

/* Search */

.searchContent .error {
  border: 1px solid #444444;
  margin: 0 5px 15px;
}

/* CURRENCY SELCTOR */

.switcher-sel {
  text-transform: uppercase;
  float: left;
  margin-left: 22px;
}
.switcher-sel:first-child {
  margin-left: 0;
}
.switcher-sel a {
  display: block;
  height: 20px;
  border: 1px solid #444;
  position: relative;
}
.switcher-sel a:hover, .switcher-sel a:active, .switcher-sel a:focus {
  opacity: 1;
}
.switcher-sel a .lang-flag {
  border-right: 1px solid #444;
  height: 20px;
  width: 22px;
  background: url("../images/flag-bg.gif") no-repeat 0 -1px;
  display: block;
  float: left;
}
.switcher-sel a.fr .lang-flag {
  background-position: 0 -22px;
}
.switcher-sel a.de .lang-flag {
  background-position: 0 -43px;
}
.switcher-sel .switcher-down {
  background: url("../images/uo-png-sprite.png") no-repeat scroll -1px -32px transparent;
  display: block;
  height: 23px;
  position: absolute;
  right: -12px;
  top: -1px;
  width: 11px;
}
.switcher-sel a .lang-copy {
  padding: 3px 8px 0;
  float: left;
  font-size: 11px;
  font-weight: bold;
}
.switcher-sel a .curr-copy {
  padding: 3px 6px 2px 6px;
  float: left;  
  width: 8px;
  font-size: 11px;
  font-weight: bold;
}
.switcher-content {
  display: none;
  position: absolute;
}
.switcher-content a:hover {
  background: #444444;
  color: #fff;
}
.switcher-content li {
  margin-top: 4px;
}
.mainHeader a {
  font-weight: bold;
}


/*//////////////////*/
/*/AMENDS TO MERGE /*/
/*//////////////////*/


.mm_ul {
  margin-top: 16px;
}
.mm_fullwidth {
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
}
.mm_ul > li:hover > .mm_fullwidth {
  filter: alpha(opacity=1);
  opacity: 1;
  visibility: visible;
}
.tabcontent ul li {
  float: left;
}

.mmpromo {
  background: #ff8b48;
  height: 240px;
}

.mm_ul > li > a {
  letter-spacing: 0;
  font-weight: 700;
}

.prodDesc h1 {
  width: 100%;
}

.productDetailGradientBox.reviews {
  margin: 0;
}

div.zoomPopupWrapper {
  width: 780px !important;
  top: 20px !important;
}

#viewLargeImg {
  margin: 0;
  line-height: 0;
}

.loaderBar {
  background: url(../images/uo-loading.gif) no-repeat center center;
  display: block;
}

.minicartDetailTotals li {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.basketScroll{
  background: url("../images/paper-background.jpg") repeat scroll 0 0 #CFC5B6;
  border: 1px solid #666;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.minicart-viewer {
  border-top: none;
}
.prodsMinicartCheckout li:first-child {
  border-top: 1px dotted #333;
}
button::-moz-focus-inner {
  border: 0;
}
.error {
    background-color: #ff8b48;
    border-bottom: 1px solid #444;
    color: #444;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    padding: 5px;
}
.product-details .error {
    background: none;
    border-bottom: none;
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    text-align: left;
}
.producdetail-promo {
  padding: 5px 5px 0;
  overflow: hidden;
}
.producdetail-promo > div {
  float: left;
  margin-right: 15px;
}