/* @override http://www.urbanoutfitters.co.uk/content/ebiz/urbanoutfitters/resources/css/search.css */

/* @override http://www.urbanoutfitters.co.uk/content/ebiz/urbanoutfitters/resources/css/search.css */

#footerTop ul.footTop { 
    float: left; 
}

#belowfooter {
	width: 950px;
	text-align: center;
}

#venda {
	display: block;
	clear: both;
	padding-top:5px;
	width: 140px;
	margin-left: 45%;
	
}

/* SOLR SEARCH */

#typeform, #filtertype {margin-left:12px;width:150px;}
#collate .termtext .facet .highlight {background-color:#900;color:white;}
#loadingsearch{background:#FFFFFF none repeat scroll 0 0;height:100%;top:0;position:fixed;width:950px;filter:alpha(opacity=70);-moz-opacity:.70;opacity:.70;z-index:1000;}
html, body {height:100%;} /*this must be added in order for the browsers to recognize the height:100% property of the loading image */
#loadingsearch img{display:block;margin:50px auto;}
#content-search #col-two {position:relative; width: 950px;}
/*#collate h3.collateheading {cursor:pointer;padding:0px 0 2px 12px;} */
.updatesearch {cursor:pointer;}
.toggleviewall {padding-left:12px; text-decoration:underline !important;}
#pricerange p {text-transform:capitalize;}
.pricecollateresult {height:50px;width:205px;padding-left: 2px;}

/* refineImage template */
.brandcollateresult .termtext a {display:block;padding:0;width:163px;}
.brandcollateresult .termtext, .atrattrvalue1collateresult .termtext, .atrattrvalue2collateresult .termtext, .parentCategoryRefcollateresult .termtext, .pdxtbrowsecollateresult .termtext, .pdxtsizecollateresult .termtext, .pdxtmaterialcollateresult .termtext {margin:2px 0;background-repeat:no-repeat;background-position:12px 0;}
.brandcollateresult .zerocount, .pdxtbrowsecollateresult .zerocount, .pdxtsizecollateresult .zerocount, .pdxtmaterialcollateresult .zerocount {padding:0px !important;display:none;}

.iconView {display:none;}
/* Price slider */
.refinelist #priceresults {display:block;}
#collate h3.collateheading {background:url("../images/Search/sprite.png") no-repeat scroll -1px -521px #FFFFFF; cursor:pointer; padding:7px 0 2px 12px;}

#searchResults.search-2column { width: 960px;}

#searchResults h1 { padding-left: 12px;}

#searchResults div.resultDetail div.resultMsg h4 { padding-left: 12px; }

#searchResults .pagnNumbers .pagnCurrent { padding:2px; margin: 1px; background: black; color: white; }

#searchResults .pagnLast a { padding:2px; margin: 1px; text-decoration: none;}

#searchResults .pagnNumbers a { padding:2px; margin: 1px; text-decoration: none;}
	
}



/*home page search field*/

#solrsearch .searchTextField {background-color: #FFFFFF; border: 1px solid #C0C0C0; color: #ABABAB; font-family: Arial,Helvetica,sans-serif; font-size: 11px; height: 18px; margin-bottom: 2px; text-transform: capitalize;width: 130px;}
#solrsearch #searchsubmit {background: url("/content/ebiz/urbanoutfitters/resources/images/bt_search_uk.png") no-repeat scroll 0 top transparent; clear: both; cursor: pointer; display: block; overflow: hidden; text-indent: -999px; width: 65px;border: 0 solid #000000; font: 11px Arial,Helvetica,sans-serif; height: 20px; left: 40px; margin: 3px 49px; padding: 1px; text-transform: lowercase;}
#solrsearch #searchsubmit:hover {background-color:#FFF; color:#000; background:url("/content/ebiz/urbanoutfitters/resources/images/bt_search_uk.png") no-repeat scroll left bottom transparent; clear:both; cursor:pointer; display:block;overflow:hidden;text-indent: -999px; width:55px;}


/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #000000; opacity: .3;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa; opacity: .3;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }

/* Resizable */
.ui-resizable { position: relative;}
.ui-resizable-se{background-image: url(../images/ui-icons_resize.png);}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

/* Component containers */
.ui-widget-content {border:5px solid #777777; background:#ffffff; color:#656565; padding:0 5px;}
.ui-widget-header {}

/* Dialog */
.ui-dialog {position:absolute; width:auto; overflow:hidden; text-align:left;}
.ui-dialog .ui-dialog-titlebar { position: relative;}
.ui-dialog .ui-dialog-title {}
.ui-dialog .ui-dialog-titlebar-close {cursor:pointer;position:absolute; right:0;  width:18px;padding:1px; margin: 4px 0 0 5px; height:17px;}
.ui-dialog .ui-dialog-titlebar-close span {display:block; margin: -1px 0 0 3px;}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {padding:0px;}
.ui-dialog .ui-dialog-content {border:0; padding:10px 15px 5px 15px; zoom: 1; margin:0 0 5px;overflow:hidden;}
.ui-dialog .ui-dialog-buttonpane {text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em;}
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

/* Close Icons - top right corner */
.ui-icon {display:block; text-indent:-99999px; overflow:hidden; background-repeat:no-repeat;}
.ui-icon {width:17px; height: 20px; }
.ui-widget-header .ui-icon {background-image:url(../images/sprite_icon.gif);background-position:0 -46px;}
.ui-dialog-titlebar .ui-state-hover{ border: 1px solid #D2D2D2; background: #F0F0F0; position:absolute; right:0;padding:0px;  width:18px; margin: 4px 0 0 5px; height:17px;}

/* positioning */
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: 0px 3px; }

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

/* Slider */
.pricecollateresult .ui-widget-content{border:1px solid #777777;margin-left: 6px;width: 162px; margin-top:5px;}
.ui-slider-horizontal {height:0.8em;}
.ui-slider {position:relative;text-align:left;}
.ui-slider-horizontal .ui-slider-range {height:100%;top:0;}
.ui-slider .ui-slider-range {background-position:0 0;border:0 none;display:block;font-size:0.7em;position:absolute;z-index:1;}
.ui-slider-horizontal .ui-slider-handle {margin-left:-0.6em;top:-0.3em;background-color:#FFFFFF;border:1px solid #777777;}
.ui-slider .ui-slider-handle {cursor:default;height:1.2em;position:absolute;width:1.2em;z-index:2;}

#content-search .prods ul li {
float: left;
width: 150px;
margin: 0 12px;/* original Venda value */ 
margin: 5px;
padding-bottom: 15px;
height:300px;
}

.prods ul li form div h2 {
color: #000000;
font-size: 14px;
font-weight: normal;
margin: 0 0 5px;
}

.pagn  {
width: 100%;
}

.pagnNumList {
text-align: center;
margin: 10px 0;
padding: 10px 0;
}

#collate .termtext {min-height:21px; margin-bottom:3px;}
#collate .updatesearch {float:left; clear:both; margin-top:1px;}


.collatedresult {overflow: auto; }

.collatedresult .zerocount { display:none; color: #bbb; font-size: .8em; }
.collatedresult .chosen { font-size: 1.1em; font-weight: bold;}
.refineImage img { vertical-align: -35%; }

.prods {padding: 0; font: 12px Arial; color: #999;}
.prods li {float: left; margin: 0 20px 0 0; padding-bottom: 15px; width: 150px;}
.prods p {margin:0; padding:0;}
.prods p.productname {font-weight: normal; color: black; font-size: 12px; margin: 0 0 5px 0;}
.prods p.list-promo {margin: 0 0 5px 0; color: #666; font-size: 11px;}
.prods .price {color: #666;}
.pricecollateresult {height:60px;}

#availsearch {margin:20px auto;}
