/* inline css so as not to conflict with fed css on ui */
.ui-selectmenu-open {
	border: none;
	width: 136px;
	box-shadow: #5C5C5C 1px 1px 5px;
	margin-top: 3px;
}
.ui-selectmenu-menu li a {
	font-size: 12px;
	padding: 6px 8px;
}
.ui-selectmenu-menu li {
	width: 136px;
}
.ui-selectmenu-menu li:hover {
	background: url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/paper-background-dark.jpg') repeat;
}