/* styles for v5+ browsers */
body {
	margin:0;
	padding:0;
	color:#000000;
	background:#cccccc;
	font:76% Arial, Times New Roman, Times, serif,Georgia;
	font-size:12px;
}

/* display elements */
h1, h2, h3, p {
	margin:.5em 0;
	padding:0;
}
h1 {
	font-size:1.6em;
}
h2 {
	font-size:1.4em;color:#000000;
}
h3 {
	font-size:1.2em;
	border-bottom:1px solid #000000;
}
p {
	font-size:12px;
}
a {
	text-decoration: underline;
	color:#6600cc;
}
a:hover {
	color:#000000;
}
.error {
	color:#1f79ac;
	background:#fff;
}
.bold {
	font-weight:bold;
}
.normal {
	font-weight:normal;
}
/* list elements */
ul {
	margin:0;
	padding:0;
	list-style:none;
}
ul.bullet li{
	padding:2px;
	list-style: disc outside;
	margin:0 18px;
}

/* admin elements */
#admin, #admin a {
	margin:0;
	padding:.5em 0;
	background:#f00;
	color:#fff;
}

/* hidden elements */
.hide {
	display:none;
}

.left {
	float:left;
}
.right {
	float:right;
}
.clear-all { /* can be used on a <div> or <br> to avoid collapsing divs - especially ns6 (pc) */
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
}

/* structural elements */
#wrapper {
	width:930px;
	background:#FFFFFF;
	padding:20px 20px 0 20px;
}

#col-one {
	width:190px;
	float:left;
	padding-left:10px;
	padding-right:20px;
}

#col-two {
	width:700px;
	padding-right:10px;
	float:left;
}

#col-two-three { 
	width:785px;
	float:right;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

#col-three {
	width:150px;
	float:right;
}

/* HEADER */

#headercontainer {
	width: 100%;
	clear:both;
	position:relative;
}

#aboveheader {
	position:absolute;
	top:-50px;
	left:0px;
	width:100%;
	clear:both;
	font:11px Arial;
	height:30px;
	line-height:30px;
	float:left;
}
#aboveheader a{
	color:#000000;
}	

#aboveheader a:hover{
	text-decoration:none;
}

#headerregion {
float:left;
}

#headerlinks {
float:right;
}

.flag {
position:relative;
top:1px;
}
	
#headerlinks li {
	display: inline;
	margin-left:5px;
 }
 
#headerlogo {
	float: left;
	clear:left;
	height:38px;
	width:585px;
	padding:10px 0 0 10px;
}


#headersearch {
	float:left;
	height:50px;
	width:225px;
}

.SearchTextField {
	background-color: #ffffff;
	color: #cccccc;
	font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	height:26px;
	width:150px;
	border:1px solid #CCCCCC;
	text-transform:uppercase;
}

#headercart {
	float:right;
	font-size:12px;
	height:50px;
	width:110px;
}

.wraplink {
	float:right;
	margin-top:3px;
}	
ul.linkpage {
	width:350px;
	margin:0;
	text-align: center;
	font:12px Courier New;
}
ul.linkpage li {
	display: inline;
	margin-right:6px;
	padding-left:12px; 
}
ul.linkpage li.first{
	display:inline;
	margin-left:0;
}
ul.linkpage a{
	color:#000000;
	text-decoration: underline;
}
ul.linkpage a:hover{
	color:#999;
	text-decoration: underline;
}	
.hd_line{
	width:630px;
	line-height:3px;
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/hd_line.gif);
	background-repeat: repeat-x;
}		

/* TOP NAV */
#maintopnav {
	width:930px;
	clear:both;
}	

#menutopnav ul li{
	float:left;
	padding-left:80px;
}	
	

#menutopnav ul li.noml{
	margin:0 0 0 0;
	float:left;
}		


#topnav {
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-transform:uppercase;
	width:930px;
	margin: 0 0 20px 0;
}

#topnav a{
color:#000000;
text-decoration:none;
}

#topnav a:hover{
color:#6600CC;
}
#topnav a.current{
color:#6600CC;
}
#topnav a.Sale{
background-color:#FFFFFF;
}
#topnav a.Sale:hover{
background-color:#FFFFFF;
}

/* SHOPPING CART */

.mini{
	float:right;
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
}

.mini a {
	color:#000000;
	text-decoration:none;
}

.mini a:hover {
 color:#6600cc;
}
	
#showminicart {
display:block;
clear:right;
}

#showminicart2 {
float:left;
margin: 0 1px 0 0;

}


a.item{
	 color:#ffffff;
	 text-decoration:none;
	 text-transform:uppercase;
	 display:block;
	 background-color:#6600CC;
	 line-height:18px;
	 float:left;
	 width:60px;
	 text-align:center;
}	

a.item:hover{	
	color:#ffffff;
}

/* END HEADER */


/* FOOTER */
.footerline {
background-image: url(/content/ebiz/urbanoutfitters/resources/images/21pxgreyline.gif);
background-repeat: repeat-x;
height: 21px;
width:930px;
}
.footersolidline {
	clear:both;
	width:930px;
	border-bottom:solid #999999 1px;
	margin: 12px 0 12px 0;
}
#footercontainer {
	width: 930px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10.5px;
	letter-spacing:0.2px;
	color:#000000;
}
#footercontainer a {
	color:#000000;
}
#footercontainer a:hover {
	text-decoration:none;
}
#footerleft {
	float:left;
	width:470px;
}
#footerright {
	float:left;
	clear:right;
	width:440px;
	margin-left:20px;
}
#footercontainer ul {
	clear:right;
	margin-bottom:5px;
}
#footercontainer li {
	display:inline;
	padding:0 3px 0 3px;
}
#footercontainer li.first {
	text-transform:uppercase;
}
#footercontainer li.last {
}
#footerlinks {
	padding:20px 0 10px 0;
	float:left;
}
#footerlinks li.first {
	text-transform:none;
}
#languagelinks {
	height:13px;
	padding: 4px 0;
	margin: 10px 0;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	clear:both;
}
.footercountryinfo {
	padding-left:3px;
}
.footercountryinfo a {
	text-decoration:none;
}
.footercountry {
	background-color:#FFFF00;
}
#venda {
	padding-top:7px;
	float:right;
}
.pdbottom {_padding-bottom:2px;}
/* END FOOTER */

#static-wrapper{
	width:930px;
	background:#FFFFFF;
	padding:0 20px 0 20px;
}
	
/* start styles to centre content (remove these styles if site should be left-aligned) */
body {
	text-align:left; /* centres content in ie4/5 */
}
#wrapper {
	margin:0; /* centres content (except in ie4/5) */
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	text-align:left; /* left-aligns all sub-content */
}
#col-two-three {
	text-align:left; /* ie4 fix needed due to float:right; */
}
/* end styles to centre content */

/* previous/continue buttons floated left/right within #buttons div */
#buttons {
	overflow:hidden;
 	width: 620px;
	padding:5px;
}


/* NAV STYLES */
.leftnavcatcontent {
	float:left;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform: uppercase;
}	
	
.leftnavcatcontent a {
	color:#000000;
}	

#leftnav ul ul{
	margin-bottom:0;
}

#leftnav ul li {
	margin:0;
	}

#leftnav ul li a{
	text-decoration:none;
}
	
.leftnavcatopen	a, leftnavcatopen a:hover {
	float:left;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform: uppercase;
	display:block;
	margin-bottom:3px;
}
	
.leftnavcat a {
	float:left;
	font-weight:bold;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-transform: uppercase;
	margin-bottom:1px;
}

.leftnavcat a:hover {
	color:#6600cc;
	text-transform: uppercase;
}

.leftnavsub a {
	color:#000000;
	float:left;
	font-size:11px;
	line-height:14px;
}		

.leftnavsub a:hover {
	color:#6600cc;
	text-decoration:underline;
}	
			
.leftnavsubsub a {
	color:#000000;
	float:left;
	font-size:11px;
	line-height:14px;
	margin-left:10px;
}		

.leftnavsubsub a:hover {
	color:#6600cc;
	text-decoration:underline;
}	
.catsep {
	width:150px;
	height:21px;
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/21pxline.gif);
	background-repeat:repeat-x;	
}

/* END NAV STYLES */

/* CRUMBTRAIL */	
#crumbTrail{
	font:11px Arial;
	color:#000000;
	padding-bottom: 5px;
	float:left;
}
#crumbTrail a{
	color:#000000;
}
#crumbTrail a:hover{
	text-decoration:none;
}
#crumbTrail2{
	font:11px Arial;
	color:#000000;
	padding-bottom: 5px;
	float:left;
}
#crumbTrail2 a{
	color:#000000;
}	
#crumbTrail2 a:hover{
	text-decoration:none;
}
	
/* PRODUCT LIST  */
#productlist {
	width:660px;
	float:right;
	}
ul#productlist{
	width:660px;
	padding:0;
	font:12px Arial;
	color:#999;
	}
ul#productlist p{
	margin:0;
	padding:0;
	}	
ul#productlist li {
	float:left;
	margin:0 20px 0 0;
	padding-bottom:15px;
	width:150px; 
	/*min-height:353px;
	height:353px;*/
	}
ul#productlist li.none {
	float:left;
	margin:0;
	width:150px;
	}	
ul#categorylist{
	width:630px;
	margin:0 0 15px 0;
	padding:0;
	}	
ul#categorylist li{
	float:left;
	margin:0 0 15px 0;
	width:155px;
	height:100px;
	text-align:center;
	}	
#accessories{
	margin-top:3px;
	padding:0;
	}	
#accessoies div.detAcc{
	float:left;
	height:103px;
	margin:0;padding:0;
	}	
/* featured products styles */
#featured ul  {
	margin:.5em;
	padding:.5em;
	border-bottom:1px solid #000;
	}
	
/* contact address */	
fieldset.inpform div{
	height:23px;
	}
fieldset.inpform{
	margin:0 0 15px 0;
	}
fieldset.inpform p{
	margin:0 0 10px 0;
	}
fieldset.inpform input{
	width:155px;
	border:1px solid #7E7F71;
	padding-left:5px;
	}
fieldset.inpform select{
	width:165px;
	}
.tick{
	margin:0 0 0 0;
	}
.tick input{
	float:left;
	}
.tick label{
	float:left;
	width:auto;
	padding-top:2px;
	}
select.ml4{
	margin-left:4px;
	}	
/*  Login */	
.sel input{float:left;	}
.sel label{width:auto;	}
/* Gategory */
.icatName{
	font:16px Arial;
	letter-spacing:.75px;
	font-weight: bold;
	color:#000000;
	}
	
/* popup available */
.avaHead{
	margin:20px 0 40px 0;
	color:#000;
	}
.talCol{
	width:100px;
	margin:10px 0 0 0;  
	float:left;
	text-align:left;
	}
.talCol img{
	margin:0 5px -3px 0;
	padding:0; 
	}	

/* PRODUCT DETAIL */		
.detailcolone{
	width:215px;
	float:left;
	margin-right:20px;
	}
.detailcoltwo{
	width:425px;
	float:left;
	padding-top:20px;
	}	
.detailcoltwo-left{
	float:left;
	width:205px;
	}
.h20{
	height:20px;
	}
.detailcoltwo-left fieldset{	
	margin:0;
	padding:0;
	}
.detailcoltwo-right{
	float:left;
	width:213px;
	}	
.availcolour{
	margin-top:3px;
	}	

.availcolour a{
	float:left;
	margin-right:3px;
	}

.availcolour a.last{
	margin-right:0px;
	}	
.twiceLine{
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/linebold.gif);
	background-repeat:repeat-x;
	width:200px;
	line-height:8px;
	}
.line{
	line-height:1px;
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/one_line.gif);
	background-repeat:repeat-x;
	margin-bottom:6px;
	}
.line2{
	line-height:2px;
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/one_line2.gif);
	background-repeat:repeat-x;
	}	
.emailline{
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/linebold.gif);
	background-repeat:repeat-x;
	}
.invtName{
	font:14px Arial;
	font-weight: bold;
	color:#000000;
	margin-bottom:3px;
	}
.inp input{
	width:17px;
	font:90% Arial;
	text-align:center;
	margin-top:5px;
	}
.quat{
	float:left;
	padding-top:12px;
	}
.proPrice{
	font:13px Arial;
	letter-spacing:.5px;
	font-weight: bold;
	color:#6600CC;
	}
.attList{
	float:left;height:16px;
	}	

/* General */
.mb2{	margin:0 0 2px 0;	}
.w160{ width:160px;	}	
.wh130{
	width:130px;
	height:130px;
	}
.h19{ 
	height:19px;
	margin-top:4px;
	}
.mg0{margin:0;	}	
.mgl5{margin-left:-5px;	}	
.mlr6{margin:0 6px 0 6px;	}
.mr6{margin:0 6px 0 0;	}
.mt6{margin-top:6px;	}
.mt9{margin-top:9px;	}
.ml5{margin-left:5px;	}
.mt8{margin-top:8px;	}

.inpbd{
	border:1px solid #7E7F71;
	}	
.catpage{
	width:625px ;
	height:400px ;
	}	
.font11{font: 11px Arial;	}
.font12{font: 12px Arial;	}
.font9{
	font:9px Arial;
	color:#959595;
	}
.lightgray{color:#999;	}	
.mediumgray{color:#000000;	}	
.darkgray{color:#000000;	}	
.lightblue{color:#00CCFF;	}
.red{color:#FE0034;	}	
.purple{color:#6600CC; }
.pink{color:#DD75B0;	}	
.blue{color:#1F79AC;	}	
.bluePomo{color:#0099FF;	}	
.green{color:#6600CC;	}	
.greenPrice{ color:#669966;	}	
.black{ color:#000000;	}
.center{text-align:center;	}
.textleft{text-align:left;}
.addPink{color:#da62a0;font:12px Arial;}	
.up{
	text-transform: uppercase;
	}
.transnone{text-transform: none;}
.itbo{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}	
.itbo a{
	color:#6600CC;
	}	
.itbo a:hover{
	color:#000000;
	}		
.itboCh a{
	color:#6600CC;
	}
.itboCh a:hover{
	color:#000000;
	}				

/* PAGE SELECT */
.pagesel{
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	padding-bottom:5px;
	}	
.pagesel a{
	color:#000000;
	}
.pagesel a:hover{
	text-decoration:none;
	}
.pageselSeh{
	font:11px Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:center;
	margin:5px 0 9px 0;
	line-height:12px;
	letter-spacing:.75px;
	}	
.pageselSeh a{
	color:#000000;
	}	
.pageselSeh a:hover{
	text-decoration:none;
	}	
/* END PAGE SELECT */

.sh-mes1{
	text-align:center;
	margin-bottom:9px;
	}			
.greenLine{
	line-height:1px;
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/one_line.gif);
	background-repeat:repeat-x;
	margin-bottom:8px;
	}
.selSeh{
	text-align:center;
	margin-bottom:14px;
	}	
.selSeh select{
	width:170px;
	margin-right:10px;	
	}	
	
/*  static page by Gim */	
/*shared styles*/
.heading-all h1{
	text-transform: uppercase;
	color:#000000;
	margin:0;padding:0;
	font-weight:normal;
	font:18px Arial;
	letter-spacing:1.5px;
	}
.heading-all .underline{
	border-top:2px solid #000000;
	height:2px;
	}
.heading-all .underline p{margin:0;padding:0;	}

.content-text{
	margin:10px 0 0 0;	
	}
.content-text h2{
	color:#000000;
	font-size:1em;
	margin:0;
	padding:0;
	}
.content-text p{
	color:#000000; 
	margin:0 0 20px 0;	
	}
.content-text p.topic{
	margin:0 0 0 0;
	padding:0;
	}
.content-text a{
	color:#6600CC;	
	}
.content-text a.noline{border:0;	}
.content-text ul{
	margin:5px 0 5px 30px ;
	color:#000000;
	list-style:disc;
	}
.content-text ul.nodecoration{
	margin:0;
	color:#000000;
	list-style:none;	
	}
.formset textarea {
	float:left;
	width:150px;
	margin:0;
	_margin/**/:0 0 0 3px;
	font-family:arial;
	}
.formset div.spacing {height:3px;margin:0;padding:0;	}
.formset div.spacing p{margin:0;padding:0;	}
.formset fieldset { margin:0;padding:0;	}
.formset fieldset label{
	width:180px;
	}
.formset fieldset input{
	width:150px;
	}
.hmarding-zero{/*set margin and padding of h1,h2 to be zero*/
	margin:0;
	padding:0;
	}
#storelocations{/*wrapper of the page*/
	width:700px;
	padding:0 0 40px 0;
	}
	
#store-events-annoucements{
	margin:30px 0 0 0;
	padding: 0;
	}

.smallline{
	float:left;
	width:100%;
	height:5px;
	border-top:1px solid #000000;
	}
#store-events-annoucements {
	color:#999;
	font:12px Arial;
	line-height:16px;
	}
#store-events-annoucements a{color:#6600CC;	}

.address p{margin:0;color:#000000;line-height:16px;font:12px Arial;	}
.address p a {color:#6600CC;		}
.address{margin-bottom: 20px;}
/*end of store locator page*/

/*faqs and joblist pages*/
ul.anchorlist {margin:10px 0 53px 0;padding:0;	}
ul.anchorlist li{list-style:none;padding:0 0 0 4px;line-height:16px;	}
ul.anchorlist a{color:#6600CC;	}
ul.anchorlist a:hover{color:#000000;	}
.bluet a{color:#6600CC;	}
.bluet a:hover{color:#000000;}
.clear-height{height:16px;	}

#joblistdesc{color:#999;	}
.positions{width:315px;margin:26px 0 33px 0;	}
.joblistdetail{margin:0;padding:34px 0 0 4px;border-top:1px solid #000000;	}
.joblistdetail h2 a{color:#000000;font-size:1em;margin:0;padding:0;border:0;font-weight:bold;text-transform: uppercase;}
.joblistdetail a{color:#6600CC;	font-weight:bold;text-transform:uppercase;line-height:18px;}
/*end of faqs page*/

/*music center styles*/
.musiccenter{
	width:384px;
	margin:0 0 0 29px;
	padding:0;
	}
.marginleft29{
	margin:0 0 0 29px;
	}
div.box-music-center {
	font-family: Arial, Courier New ,Times;
	width:829px;
	}
.desc-spacing{margin-top:10px;margin-bottom:10px;	}
.list-spacing{margin-top:30px;margin-bottom:10px;	}
.desc-bottom-line{padding-bottom:15px;border-bottom:1px solid #000000	}

.musiccenter-image{width:130px;	}
.musiccenter-button{padding: 6px 0 0 0;text-align:center;	}
.musiccenter .desc{
	width:241px;
	margin:0;
	padding:0 0 0 3px;
	}
.musiccenter .desc h2{
	color:#000000;
	font-size:.9em;
	font-weight:bold;
	margin:0 0 8px 0;
	padding:0 0 8px 0;
	border-bottom:2px solid #000000;
	}
.musiccenter .desc p{
	font-family:Arial;
	font-size:.9em;
	color:#000000;
	margin:0;
	padding:0;
	}
#musiccenter-detail {margin:0 0 0 29px;	}
#musiccenter-detail h1{
	text-transform: uppercase;
	color:#000000;
	margin:0;padding:0;
	font-weight:normal;
	}
#musiccenter-detail .underline{
	border-top:2px solid #000000;
	border-bottom:1px solid #000000;
	height:2px;
	}
#musiccenter-detail .underline p{margin:0;padding:0;	}
#musiccenter-detail img{margin:10px;	}
#musiccenter-detail p{padding:0 0 0 10px;	}
/*end of music center page*/

/*sign up for newsletter styles*/
.email label{color:#3d6c5a;width:100px;position:relative;top:3px;	}
.email input{font:10.5px Arial;	}
/*end of sign up for newsletter*/

/*help(story) styles*/
#helpContent {text-align:left;margin:0px;	}
#helpContent hr{border:0;border-bottom:1px solid #fff;border-top:1px solid #000000;	}
/*end of help styles*/

/* Myaccount by Jeab*/
#col-myaccount-login{
	width:630px;
	height:349px;
	margin-top:-15px;
	margin-bottom:20px;
	float:right;
	background:#FFFFFF url(../images/bg_myaccount_signin.jpg) no-repeat;
}
#col-two-three-myaccount {
	width:630px;
	float:right;
	background: #FFFFFF;
	color:#989898;
	margin:0;
	padding:0;
	}
#col-two-myaccount {
	width:210px;
	float:left;
	background: #FFFFFF;
	margin:0;
	padding:0;
}
#col-three-myaccount {
	width:391px;
	float:left;
	background: #FFFFFF;
	color:#989898;;
	margin:24px 0 0 27px;
	padding:0;
}
#cov_colRight a:link,
#cov_colRight a:hover,
#cov_colRight a:active,
#cov_colRight a:visited,
#covMyContent a:link,
#covMyContent a:hover,
#covMyContent a:active,
#covMyContent a:visited {
	color:#999;
}
#col-two-three-myaccount a:link,
#col-two-three-myaccount a:hover,
#col-two-three-myaccount a:active,
#col-two-three-myaccount a:visited {
	color:#6600CC;		
	}
#covLogin a:link,
#covLogin a:hover,
#covLogin a:active,
#covLogin a:visited {
	color:#FE0034;
	text-decoration:none;
	font:12px Arial;
}
#covLogin {
	width:630px;
	float:left;
	margin:125px 0 0 0;
	padding:0;
	color:#000000;
}
#covLogin .error {
	margin: 0 0 5px 84px;
}
#covLogin-col-one {
	width:290px;
	float:left;
	margin:0;
	padding:0;
}
#covLogin-col-two {
	width:270px;
	float:left;
	margin:0;
	padding:0;
}
#login-col1 {
	margin:0 0 0 7px;
	padding:0;
}
#login-col2 {
	margin:0 0 0 0;
	padding:0;
}
#covLogin label {
	width:150px;
	margin:0;
	padding:0 0 0 0;
}
.inputtext150 {
	width:150px;
    margin:0;
	padding:0 0 0 0;
}
#button_login {
	margin-top: 7px !important;
	margin-top/**/:/**/5px;
	padding:0;
}
.row {
	height:15px;
	margin:3px 0 0 0;
	padding:0;
}
.bluelink {
	color:#0D75AC;
}

/*/////////// My Account //////////////// */
#covMyaccount {
	padding:0;
	margin:-7px 0 0 0;
	font-family:Arial;
	color:#000000;
} 
#covMyaccount p {
	margin-bottom:13px;
}
.fontT{font:12px Arial;}
.fontC{font-family:Arial;font-size:1em;}
.fontC a{font-family:Arial;font-size:1em;}
.fontC2{font-family:Arial;font-size:1.1em;}
.bblack {color:#000;}
.bgray {color:#000000;}
/*#bpink {color:#dd75b0;}*/
#bpink {color:#999;} /*RT65125*/
#bblue {color:#1f79ac;}
#grayHeader {
	background:#FFFFFF url(../images/img_gray_line.gif) bottom left;
	background-repeat:repeat-x;
	height:15px;
}
#greenHeader {
	margin:0 0 13px 0;
	padding:0;
}
#greenHeader2 {
	margin:0 0 5px 0;
	padding:0;
}
#pinkHeader {
	color:#000000;
	font-size:12px;
	padding-bottom:3px;
	font-family:Arial;
}
#pinkHeader2 {
	/*color:#da62a0;*/
	color:#999; /*RT65125*/
	font-size:1em;
	font-weight:bold;
	padding-bottom:1px;
	font-family:Arial;
}
#pinkHeader3 {
	color:#999;
	font-size:1.1em;
	font-weight:bold;
	font-family:Arial;
}
#pinkHeader4 {
	color:#999;
	font-size:1em;
	font-weight:bold;
	padding-bottom:0px;
	font-family:Arial;
}

#covNav_Myaccount {
	margin:24px 0 0 0;
	padding:0;
	color:#000000;
	font-family:Arial;
}
#innerNav {
	margin:7px 0;
}
#height30 {
	height:30px;
}
#height20 {
	height:20px;
}
#height15 {
	height:15px;
}
#height10 {
	height:10px;
}
#height5 {
	height:5px;
}
#mynav {
	margin:0;
	padding:0;
}
ul#mynav {
	margin-bottom:50px;
	padding:0;
	list-style: none;
	font-family:Arial;
	font-weight:bold;
	color:#1f79ac;
}
ul#mynav li {
	margin:0;
	padding:0 0 3px 0;
}
/*/////////// My Account - Another Part//////////////// */
#covMyContent {
	width:630px;
	margin:0 0 25px 0;
	padding:0;
	float:right;
}
#covMyContent p {
	color:#959595;
	font-family:Arial;
}
#covMyContent fieldset,
#covMyContent fieldset.inpform,
#covMyContent fieldset.inpform2 {
	margin-top:18px;
	padding:0;
	font-family:Arial;
	color:#000;
}
.inplink  {
	color:#6600CC;	
}
ul#addresslist li {
	margin:0 0 15px 0;
	padding:0;
}
.view_button {
	padding:10px 0 6px 0;
}
table#orderhistorylist th {
	color:#000000;
	font-weight:normal;
	text-align:left;
	font-family:Arial;
}
table#orderhistorylist td {
	color:#000000;
	font-weight:normal;
	text-align:left;
	font-family:Arial;
}
.blueline {	
	float:left;
	color:#999;
	text-decoration:none;
	border-bottom:1px solid #00CCFF;	
}
#my_covContent{
	width:390px;
	padding:0 0 40px 0;
	margin:0;
	color:#000000;
	font-family:Arial;
}
#my_covContent p {
 	padding-bottom:7px;
}
#my_covContent fieldset {
	margin:0;
	padding:0;
}
#my-button {
	padding-top:12px;
}
#my-button2 {
	padding-top:2px;
}
#my-button3 {
	margin-top:-10px;
}
.alignM	{
	vertical-align:top;
}
#shippadd fieldset {
	/*background: #EAEDF0;*/
	margin: 0px 0px 15px 0px;
	padding: 0px;
}
#shippadd p {
	margin:0px 0px 11px 0px;
	padding:0px;
}
#contact {
	color:#000000;
	font-family:Arial;
	padding-bottom:17px;
}
#bcontent {
	color:#000000;
	font-family:Arial;
}
table#ordersummary th {
	color:#000;
	font-family:Arial;
	font-weight:normal;
	text-align:left;
	width:330px;
}
table#ordersummary td {
	color:#000000;
	font-family:Arial;
	text-align:right;
}
/***** FORM ON LOGIN & MYACCOUNT *******/
fieldset.inpform label,
fieldset.inpform2 label,
div.phonelabel {
	width:209px;
}
fieldset.inpform .tickBox label {
	width:550px;
	float:left;
	padding:1px 0 0 5px;
}
fieldset.inpform .tickBox input {
	width:15px;
	float:left;
	border:0;
}
.tickBox input{
	float:left;
	width:10px;
}
.tickBox label{
	float:left;
	color:#000;
	font-family:Arial;
}
label.prefer {
	padding-left:5px;
}
.phone input.w123 {
	width:118px !important;  /*for netscape*/
	width/**/:116px;            /*for ie*/	
}
.phone input.w126 {
	width:121px !important;  /*for netscape*/
	width/**/:118px;            /*for ie*/	
}
.phone input {
	margin-right:6px;
}
.phone label{
	clear:both;
	width:300px;
}
.phone input.w30{ width:30px;  }   /*for safari*/

ul#referlist {
	padding:0;
	margin:0;
	list-style:none;
	font-family:Arial;
	color:#000000;
}
ul#referlist li {
	padding:0 0 2px 0;
	margin:0;
}
fieldset.addlist{
	font-family:Arial;
	font-size:.9em;
	color:#000000;
}
fieldset.addlist input {
	float:left;
}
fieldset.addlist label{
	float:left;
	padding:0 0 0 5px;
	width:300px;
}
fieldset.addlist p{
	margin: -5px 0 0 0;
	padding:0;
}
/*##### Address Book ########*/
#my_covContentZip {
	margin:0 0 25px 0;
	padding:0;
	font-family:Arial;
	color:#959595;
}
#my_covContentZip fieldset.inpform{
	margin-top:10px;
	padding:0;
	font-family:Arial;
	color:#000;
}
#my_covContentZip a {
	color:#6600CC;			
}
/*##### col-right 630px content (wz_pwrm-screen)*/
#cov_colRight {
	width:630px;
	float:right;
	padding:0;
	margin:0 0 25px 0;
	font-family:Arial;
	color:#000000;
}
#cov_colRight fieldset {
	margin:0;
	padding:10px 0 0 0;
	font-family:Arial;
	color:#000;
}
#button_v1 {
	margin:0;
	padding:5px 0 10px 0;
}
#button_v2 {
	margin:0;
	padding:10px 0 10px 0;
}
#button_v3 {
	margin:0;
	padding:0 0 10px 0;
}
#cov_colRightMyaccount {
	width:390px;
	float:right;
	padding:0;
	margin:0 0 25px 0;
	font-family:Arial;
	color:#000000;
}
#cov_colRightMyaccount fieldset {
	margin:0;
	padding:0 0 0 0;
}
#cov_colRightMyaccount fieldset label {
	margin:0;
	padding:0 0 0 5px;
	font-family:Arial;
	color:#000;
}
#cov_colRightMyaccount fieldset label.invisible {
	color:#fff;
}
fieldset.giftcert{margin:9px 0 0 -10px;}
fieldset.giftcert div{	height:23px;}
fieldset.giftcert label{width:110px;}		
fontcourier{
  	font-family:Arial;
}
input.referTick {
	width:15px;
}
.tickbox_containner{
	width:315px;
	border-top: 2px solid #000000;
	padding-top:15px;
}
/*   Safari    & IE 6    */
/*\*/
html*.tickbox_containner {       
  *margin-top:10px;     /*   IE 6    */
}/**/
/*   IE  7    */
*:first-child+html .tickbox_containner {
 	margin-top:30px !important;
}
.tickbox_inner1{
	width:20px;
	float:left;
	}
.tickbox_inner2{
	font-size:0.8em;
	color:#000;
	width:279px;
	float:right;
	}
.rdAlign{
	margin-top:3px;  /*for Safari*/
} 
.rdAlign{
	margin-top:1px !important;#
	margin-top/**/:2px;#
}
.phone input.w30{ width:25px;#  }   /*for ie firefox netscape*/

/* Extra CSS for WYSIWYG */

#static{
text-align:left;
margin:0;
padding:0px;
}	
#static h1{
	text-transform: uppercase;
	color:#000000;
	margin-bottom:10px;
	padding:0;
	font-weight:bold;
	font:13px Arial;
	letter-spacing:1.5px;
	}
#static .underline{
	border-top:2px solid #000000;
	height:2px;
	}
#static h5{
	color:#000000; 
	font-size:1em;
	margin:0;
	padding-bottom:10px;
	font-weight:normal;
	}
 #static a{
	color:#6600CC;	
	}
#static ul{
	list-style:disc;
   margin:5px 0 5px 15px ;
	}
#static ul li{
	line-height:20px;
	} 
#static p{
	margin:0 0 20px 0;	
	}
	#col-two #static h2{
	color:#000000;
	text-transform:capitalize;
	font:12px Arial;
	margin-bottom:5px;
	padding:0;
	font-weight:bold;
	}
/* for some page (paymentoptions,managingyouraccount and termsandconditions)*/	
	
#static2{
text-align:left;
margin:0;
padding:0;
}	
 #static2 h1{
	text-transform: uppercase;
	color:#000000;
	margin:0;
	padding:0;
	font-weight:normal;
	font:18px Arial;
	letter-spacing:1.5px;
	}
	#col-two #static2 .underline{
	border-top:2px solid #000000;
	height:2px;
	}
#static2 h5{
	color:#000000; 
	font-size:1em;
	margin:0;
	padding-bottom:10px;
	}
#static2 a{
	color:#999;
	text-decoration:none;
	border-bottom:1px solid #da74b5;	
	}
#static2 ul{
	color:#000000; 
	  margin:5px 0 5px 30px ;
	  	list-style:disc;
	}
	#static2 ul li{
	line-height:18px;
	color:#000000;
	} 
	#static2 p{
    margin:0 0 20px 0;	
	color:#000000; 
	} 
#static2 h2{
	color:#000000;
	font:12px Arial;
	font-weight:bold;
	margin:0;
	padding:0;
	text-transform: uppercase;
	}
	
/* BRANDS PAGE */

.contentheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	color: #000000;
}

.brandsheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:30px;
	font-weight: bold;
	color:#000000;
}

.brandsaz {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.brandsaz a{
	color:#6600CC;
}

.brandsaz a:hover{
	color:#000000;
}

.brandslist {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
}

.brandslist a{
	font-size:12px;
	font-weight:normal;
	color:#6600CC;
}
.brandslist a:hover{
	color:#000000;
}	
/* END BRANDS PAGE */

/* /////////////////////NEW PRODUCT DETAIL PAGE///////////////////// */
#productdetail{
	width:700px;
	margin-top:20px;
}

.productdetailsubheads {
	color:#000000;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	line-height:20px;
}	

.productdetaillabel {
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	line-height:20px;
}

.productdetailcolone {
	float:left;
	width:300px;
}

.productdetailcoltwo {
	width:400px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.productname {
	font-weight:bold;
	font-size:13px;
	padding-bottom:3px;
}
.productprice {
	font-weight:bold;
	color:#6600CC;
	padding-bottom:5px;
}


.productdetailatt  {
	float:left;
	margin-right:20px;
}

.productdetailattlink {
clear:left;
}

.productdetailattlink a{
	font-size:10px;
	text-decoration:none;
	color:#999999;
	line-height:20px;
}
.productdetailattlink a:hover{
	text-decoration:underline;
}

.doubleline {
	width:100%;
	height:1px;
	border-top: solid #000000 1px;
	border-bottom: solid #000000 1px;
	margin-bottom:10px;
	margin-top:10px;
}

.thickline700 {
	width:700px;
	height:1px;
	border-bottom: solid #000000 2px;
	margin-top:10px;
}

.productdetailaccessories{
	margin-top:20px;
}

#accessories img{
	padding-right:2px;
	float:left;
}

#productdetailimage {
	padding-right:2px;
	float:left;
}

#productdetailthumbs ul {
	list-style:none;
	border:0;
	padding:0;
	float:left;
}

#productdetailthumbs li {
	height:80px;
	display:block;
	border-bottom:#FFFFFF 2px solid;
}

.emailafriend {
	font-size:11px;
	padding-top:10px;
}
.emailafriend a{
	color:#999999;
	text-decoration:none;
}

.emailafriend a:hover{
	text-decoration:underline;
}

.emailafriend li {
	display:inline;
	padding-right:15px;
}

#addedmsg {
	color:#6600CC;
	font-size:11px;
	font-weight:bold;
	margin-top:20px;
	text-align:center;
	width:200px;
}
#continueshoppingblock {
	font: 14px arial;
	font-weight:bold;
	color:#000000;
	margin:20px 0 0 0;
	clear:both;
}
.continueshopping a {
	font: 14px arial;
	font-weight:bold;
	color:#000000;
	margin-right:4px;
	text-decoration:none;
}

.continueshoppinglink a {
	margin-left:3px;
	font: 14px arial;
	font-weight:bold;
	color:#999999;
	text-transform:uppercase;
	text-decoration:none;
}
.continueshoppinglink a:hover {
	color:#000000;
}

#zoomImage {
	font-size:11px;
	margin-top:2px;
}

#zoomImage a, #hideZoomedImage a { 
	color: #999999; 
	text-decoration: none; 
}
 
#zoomedImage {
	position: absolute;
	border: solid 1px #000000;
	width: 380px;
	height: 570px;
	overflow: hidden;
	background-color:#FFFFFF;
	background-image: url('http://www.urbanoutfitters.co.uk/content/ebiz/urbanoutfitters/resources/images/loadingAnimation.gif');
	background-repeat:no-repeat;
	background-position:center;	
}

#hideZoomedImage {
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 363px;
	padding-bottom: 1px;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	width: 16px;
	text-align: center;
	background: #eeeeee;
	border-left: solid 1px #999999;
	border-bottom: solid 1px #999999;
	z-index:11;
}

#blurWrapper { 
	position: absolute; 
	top: 0px;
	left: 0px;
	z-index: 99;
	background: url('http://www.urbanoutfitters.co.uk/content/ebiz/urbanoutfitters/resources/images/spacer.gif');
}    

#outofstockDiv {
	color:#6600CC;
	font-size:11px;
	font-weight:bold;
	padding-top:20px;
	text-align:center;
	width:200px;
	clear:left;
}

#options_deliveryinfo {
	display:none;
	margin-top:5px;
	font-size:11px;
	color:#000000;
}

.morecoloursbanner {
	font-size:10px;
	font-weight:bold;
	color:#000000;
	height:15px;
}

#options_sizechart {
	display:none;
}

/* SIZE CHART TABLE */
.viewsizechart h1 {
	font-weight:bold;
	font-size:11px;
}
.viewsizechart h2 {
	font-size:11px;
}
.viewsizechart table {
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}
.viewsizechart tr{
	font-size:10.5px;
}
.viewsizechart th{
	width:160px;
	text-align:left;
	font-size:10.5px;
	font-family:arial;
	font-weight:bold;
	margin:0;
	padding:4px;
	color:#000000;
	border: 1px solid #CCCCCC;
}
.viewsizechart td{
	width:40px;
	font-size:10.5px;
	padding:4px;
	margin:0;
	font-family:Arial;	
	color:#000000;
	border: 1px solid #CCCCCC;
}
.viewsizechart {
	color:#000000
}
.sizecharttable {
	margin:10px 0 0 0;
}
.sizewidth td {
	width:80px
}
/* END SIZE CHART TABLE */

.joblisting {
padding-top:20px;
border-bottom:1px solid #000000;
}
#instockDiv {
padding-top:20px;
}

#popup {
	text-align:center;
	background:#FFFFFF;
	padding:10px;
}
/*CRITEO*/
/* title column of the widget */
td#cto_gsi_7709686_tt {
	font:11px Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
}
/* class of content columns */
td.cto_gsi_7709686_si {
	padding:0;
	margin:0;
}
/*CRITEO BASKET PAGE WIDGET*/
#criteocheckout {
	margin: 30px 0 10px 0;
}
#criteocheckoutheader {
	border-top:1px solid #000000;
	font:11px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.cto_ch_7709730_tdtxt {
	width:220px;
}
a.cto_ch_7709730_tl {
	color:#000000;
	font:10px Arial, Helvetica, sans-serif;
}
img.cto_ch_7709730_tl {
	border:0;
}
/*end*/	

/*HELP AND INFO*/
#helpandinfo {
	font:12px Arial, Helvetica, sans-serif;
}
#helpcontentstable a {
	color:#000000;
	text-decoration:none;
}
#helpcontentstable a:hover {
	text-decoration:underline;
}
.helpcontentstableheader {
	text-transform:uppercase;
	font-weight:bold;
}
#helpcontentstable ul {
	list-style:none;
	padding:0;
}
#helpcontentstable li {
	padding:4px 0;
}
#helpcontentstable, #deliveryinfotable {
border:1px solid #CCCCCC;
border-collapse:collapse;
width:700px;
font-size:12px;
}
#helpcontentstable td, #deliveryinfotable  td {
border:1px solid #CCCCCC;
}
.helpsubjectheader {
	text-transform:uppercase;
	font-weight:bold;
	font-size:13px;
	margin:0 0 10px 0;
	width:100%;
	border-bottom:1px solid #000000;
	clear:both;
}
#helpcontent p {
	margin:10px 0;
}
.question {
	text-transform:uppercase;
	font-weight:bold;
}
.answer {
	margin:0 0 20px 0;
}
.answer ul {
	list-style:outside;
	padding:0 0 0 10px;
	margin:0 0 0 10px;
}
.answer li {
	padding:2px 0;
	display:list-item;
}
/*end*/