/* styles for v5+ browsers */

body {
	margin:0;
	padding:0;
	color:#666;
	background:#fff;
	font:76% Courier New ,Times;
	}

/* display elements */
h1, h2, h3, p {
	margin:.5em 0;
	padding:0;
	}
h1 {
	font-size:1.6em;
	}
h2 {
	font-size:1.4em;
	}
h3 {
	font-size:1.2em;
	border-bottom:1px solid #1B78B1;
	}
p{
	font-size:1.1em;
	}
a {
	text-decoration: none;
	color:#666;
	}
a:hover {
	color:#666;
	}
.error {
	color:#f00;
	background:#fff;
	}
.bold {
	font-weight:bold;
	}

/* list elements */
ul {
	margin:0;
	padding:0;
	list-style:none;
	}

/* admin elements */
#admin, #admin a {
	margin:0;
	padding:.5em 0;
	background:#f00;
	color:#fff;
	}

/* hidden elements */
.hide {
	display:none;
	}

.left {
	float:left;
	}
.right {
	float:right;
	}
.clear-all { /* can be used on a <div> or <br> to avoid collapsing divs - especially ns6 (pc) */
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
}

/* structural elements */
/* if no right column required, remove #col-three and #col-two then put content in #col-two-three */
#wrapper {
	width:830px; /* #wrapper = #col-one + 10px + #col-two-three */
	background:#fff;
	}
#header {
	width:100%;
	height:96;
	margin:0;
	padding:0;
	background:#fff;
	}
#col-one {
	width:180px;
	float:left;
	margin:0 20px 0 0;
	background:#fff;
	}
#col-two-three { /* #col-two-three = #col-two + 10px + #col-three */
	width:630px;
	float:right;
	margin:0;
	padding:0;	
	background:#fff;
	}
#col-two {
	width:630px;
	float:left;
	margin:0;
	padding:0;		
	background:#fff;
	}
#col-three {
	width:150px;
	float:right;
	background:#fff;
	}
#footer {
	width:100%;
	clear:both;
	margin:0;
	padding:6px 0;
	background:#ddd;
	}
#footer li {
	float:left;
	display:inline;
	border-left:1px solid #666;
	padding:0 .5em;
	}
#footer li.first {
	border-left:0;
	}
#footer li#venda {
	float:right;
	margin-right:3px;
	border-left:0;
	padding:0;
	}
#static-wrapper{
	width:801px;
	background:#bbb;
	padding:0 0 10px 29px ;
	}
/* start styles to centre content (remove these styles if site should be left-aligned) */
body {
	text-align:center; /* centres content in ie4/5 */
	}
#wrapper {
	margin:0 auto; /* centres content (except in ie4/5) */
	text-align:left; /* left-aligns all sub-content */
	}
#col-two-three {
	text-align:left; /* ie4 fix needed due to float:right; */
	}
/* end styles to centre content */

/* previous/continue buttons floated left/right within #buttons div */
#buttons {
	overflow:hidden;
 	width: 620px;
	border-top:1px solid #000;
	padding:5px;
}

/* nav styles */
#leftnav{
	background-image:url(/content/ebiz/urbanoutfitters/resources/images/bg_leftnav.gif);
	}
#leftnav ul li {
	margin:0;
	padding:5px 0 5px 5px;
	}
	
#leftnav ul li ul li {
	border:0;
	padding:5px 0 0 10px;
	}

/* product list styles */
ul#productlist{
	width:630px;
	margin:0;
	padding:0;
	float:left;
	}
ul#productlist li {
	float:left;
	margin:0 10px 25px 0;
	width:150px; 
	min-height:353px;
	height:353px;
	}
ul#productlist li.none {
	float:left;
	margin:0 0 25px 0;
	width:150px;
	min-height:343px;
	height:343px;
	
	}	
ul#accessoies li{
	display: inline;
	float:left;
	}	
/* featured products styles */
#featured ul  {
	margin:.5em;
	padding:.5em;
	border-bottom:1px solid #000;
	}
	
/* contact address */	
fieldset.inpform div{
	height:23px;
	}
fieldset.inpform{
	margin:0 0 15px 0;
	}
fieldset.inpform p{
	margin:0 0 10px 0;
	}
fieldset.inpform input{
	width:160px;
	border:1px solid #7E7F71;
	}
fieldset.inpform select{
	width:165px;
	}
.phone input.w30{ width:30px;}

.phone input.w123{ width:123px;}	

.tick{
	margin:8px 0 5px 0;
	}
.tick{
	margin:8px 0 5px 0;
	}
.tick input{
	float:left;
	}
.tick label{
	float:left;
	width:auto;
	margin-top:2px;
	}
select.ml4{
	margin-left:4px;
	}	
/*  Login */	
.sel input{float:left;}
.sel label{width:auto;}

/* General */
.mb2{	margin:0 0 2px 0;	}
.w160{ width:160px;}	

.inpbd{
	border:1px solid #7E7F71;
	}	
.catpage{
	width:625px ;
	height:400px ;
	}	
.font11{
	font: 11px Dillenia;
	}
.red{
	color:#DD75B0;
	}	
	/*  Top nav */
	
#menutopnav ul li{
	margin:20px 0 0 0;
	height:22px;
	float:left;
	}	
.mini{
	float:right;
	margin:0;
	
	}