<venda_detblock>
	<tr>
		<venda_oirfnbr field=hidden>
		<td><venda_oiivname><!-- <venda_oisub> --></td>
		<td><input type="text" name="oiqty-<venda_oirfnbr>" size="3" maxlength="6" value="<venda_oiqty>"></td>
		<td><select name="oiabsel-<venda_oirfnbr>"><venda_oiabsel></select></td>
	</tr>
</venda_detblock>

<h1>Multiple Delivery Addresses</h1>


<venda_form>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>

<p>On this page you can decide where to send different items in the same order.</p>
<p>Choose where to have your items delivered.</p>

<table summary="Your items listed so you can choose the quantity, and also which address to ship the item to"  border="0" id="basket" cellpadding="0" cellspacing="0" width="520">
	<thead>
	<tr>
		<th scope="col">Description</th>
		<th scope="col">Qty</th>
		<th scope="col">Address For This Item</th>
	</tr>
	</thead>
	<tbody>
	<venda_detail>
	</tbody>
</table>

<div id="buttons">
<a href="#" onClick='<venda_wizbutton step=shipadd,param2=multiple,value=Address Book,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addnewaddress.gif" alt="ADD NEW ADDRESS" border="0" class="left"></a>

<a href="#" onClick='<venda_wizbutton step=itemship,mode=process,value=Update Quantities,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_update.gif" alt="UPDATE QUANTITIES" border="0" class="left"></a>

<a href="#" onClick='<venda_wizbutton step=confirm,mode=process,value=Done,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_done.gif" alt="DONE" border="0" class="right"></a>
</div>

</form>

<!--
workflow: <venda_workflow>
param1: <venda_param1>
param2: <venda_param2>
page: orad-itemship.html
-->
<venda_inctemplate name=googleTrackingWorkflows,type=includes>