<html lang="<venda_block label=487,ohusgrrf!=guest_de,ohusgrrf!=guest_fr>en</venda_block label=487><venda_block label=488,ohusgrrf=guest_de>de</venda_block label=488><venda_block label=489,ohusgrrf=guest_fr>fr</venda_block label=489>">
<meta http-equiv="Content-Type" content="text/html; charset=iso8859-1">
<head>
<venda_block label=1011,ohusgrrf!=guest_de,ohusgrrf!=guest_fr><title><venda_ebizname> Refund Details</title></venda_block label=1011>
<venda_block label=1012,ohusgrrf=guest_de><title><venda_ebizname> Rückerstattungsinformationen</title></venda_block label=1012>	
<venda_block label=1013,ohusgrrf=guest_fr><title><venda_ebizname> Informations de remboursement</title></venda_block label=1013>	
</head>
<body style="width:500px; color:#000; margin:5px 20px; background:#fff;">

<venda_inctemplate name=htmlEmailCssEtc,type=includes/emailContents>

<br><br>
<venda_block label=1021,ohusgrrf!=guest_de,ohusgrrf!=guest_fr>
<a href="<venda_ebizurl>/page/home&cm_mmc=service-_-all-_-all_refunds-_-all"><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/logoemail.gif" alt="<venda_ebizname>" border="0"></a>
<br><br>
<strong>Refund</strong>
</venda_block label=1021>
<venda_block label=1022,ohusgrrf=guest_de>
<a href="http://www.urbanoutfitters.de/page/home&cm_mmc=service-_-all-_-all_refunds-_-all"><img src="http://www.urbanoutfitters.de/content/ebiz/<venda_bsref>/resources/images/logoemail.gif" alt="<venda_ebizname>" border="0"></a>
<br><br>
<strong>Rückerstattung</strong>
</venda_block label=1022>
<venda_block label=1023,ohusgrrf=guest_fr>
<a href="http://www.urbanoutfitters.fr/page/home&cm_mmc=service-_-all-_-all_refunds-_-all"><img src="http://www.urbanoutfitters.fr/content/ebiz/<venda_bsref>/resources/images/logoemail.gif" alt="<venda_ebizname>" border="0"></a>
<br><br>
<strong>Remboursement</strong>
</venda_block label=1023>
<br><br>

<venda_inctemplate name=htmlEmailHeader,type=includes/emailContents>

<venda_block label=1031,ohusgrrf!=guest_de,ohusgrrf!=guest_fr>
<p>Your return from order <venda_ohordnum> was processed on <venda_nowdaymon>/<venda_nowmon>/<venda_nowyear>. A credit of <venda_currsym><venda_refamt> has been applied to your card. Please allow 3-5 working days for your refund to appear.</p>
<p>If your original order contained a promotional discount, we have taken this into account so the refund price of individual items may therefore vary from the original selling price.</p>
<p>For questions related to your order, please <a href="<venda_dispview page=contactus>&cm_mmc=service-_-all-_-all_refunds-_-all"><b>email us</b></a> or ring us at <venda_ebizphone> 24 hours a day Mon-Fri, 9:00 - 18:00 Sat and Sun.</p>
<p>Thank you for shopping at <a href="<venda_ebizurl>/page/home&cm_mmc=service-_-all-_-all_refunds-_-all"><venda_ebizurl></a>.</p>
</venda_block label=1031>
<venda_block label=1032,ohusgrrf=guest_de>
<p>Die Rücksendung Ihre Bestellung <venda_ohordnum> wurde am <venda_nowdaymon>/<venda_nowmon>/<venda_nowyear> bearbeitet. Eine Gutschrift von <venda_currsym><venda_refamt> wurde Ihrer Karte angerechnet. Gestatten Sie uns bitte 3 bis 5 Werktage, bis die Rückerstattung erscheint.</p>
<p>Wenn Ihre Bestellung einen Werberabatt enthalten hat, haben wir dies berücksichtigt. Aus diesem Grund kann der Rückerstattungspreis der einzelnen Artikel vom ursprünglichen Verkaufspreis abweichen.</p>
<p>Bei Fragen bezüglich Ihrer Bestellung, kontaktieren Sie uns bitte <a href="<venda_dispview page=contactus>&cm_mmc=service-_-all-_-all_refunds-_-all"><b>schick uns eine e-mail</b></a> oder rufen Sie uns an unter 06 93 80 78 93 39 Montag bis Freitag von 10:00 bis 18:00 Uhr.</p>
<p>Vielen Dank für Ihren Einkauf bei <a href="http://www.urbanoutfitters.de/page/home&cm_mmc=service-_-all-_-all_refunds-_-all">http://www.urbanoutfitters.de</a>.</p>
</venda_block label=1032>
<venda_block label=1033,ohusgrrf=guest_fr>
<p>Le retour concernant votre commande <venda_ohordnum>
  a été traité le <venda_nowdaymon>/<venda_nowmon>/<venda_nowyear>. La somme de <venda_currsym><venda_refamt>
  a été créditée sur votre carte. Merci de patienter entre 3 et 5 jours pour que votre remboursement apparaisse sur votre relevé.</p>
<p>Si votre commande initiale prenait en compte un code promotionnel, nous avons considéré ce détail, le prix de remboursement des articles par unité peut donc varier du prix de vente d'origine.</p>

<p>Pour toute question concernant votre commande, <a href="<venda_dispview page=contactus>&cm_mmc=service-_-all-_-all_refunds-_-all"><b>envoyez-nous un email</b></a> ou par téléphone +33 (0) 1 57 32 44 22 au du lun. au ven., de 9h00 à 18h00.</p>
<p>Merci d'avoir fait vos achats sur <a href="http://www.urbanoutfitters.fr/page/home&cm_mmc=service-_-all-_-all_refunds-_-all">http://www.urbanoutfitters.fr</a>.</p>
</venda_block label=1033>
<venda_inctemplate name=htmlEmailFooter,type=includes/emailContents>

</body>
</html>
