<style type="text/css">
#primaryNav li a.headlink.top-cat-features {color:#0cf!important;}
</style>
<!-- Adding Classes for languages styling -->
<!-- mp_trans_remove_start -->
<div class="commHeader">
<!-- mp_trans_remove_end -->
<!-- mp_trans_disable_start -->
<!-- mp_trans_add="FR" 
<div class="commHeader FR">
-->
<!-- mp_trans_add="DE" 
<div class="commHeader DE">
-->
<!-- mp_trans_disable_end -->
	<a style="border:0;" href="<venda_dispview scat=community>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/uo-community_uk.gif" border="0" alt="UO Community"/></a>
	<ul>
		<li><a class="back" href="<venda_dispview scat=community>" title="Back to main page">Back to Main Page</a></li>
	</ul>
	<a class="rss" href="<venda_dispview scat=community>&layout=rss&temp=rss" target="_blank" title="Subscribe via RSS">Subscribe to UO Community</a>
</div>

<venda_detblock>
	<h1 class="<venda_scatref1>"><venda_scatname1></h1>
	<venda_category rec=scat,ref=<venda_scatref1>,temp=community_archiveindex>
</venda_detblock>

<div class="comFull">
	<a class="showhideall" href="#">Expand All / Collapse All</a>
	<venda_detail>
</div>


<script type="text/javascript">
jQuery(document).ready(function(){
	
	//Show/hide sections when title clicked
	jQuery('.comFull h1').click(function() {
			jQuery(this).next().toggle();
			jQuery(this).toggleClass('active');
			return false;
		}).next().hide();
	
	//Show/hide all sections link
	var flip = 0;
	jQuery('.showhideall').click(function() {
			jQuery('.commArchive').toggle( flip++ % 2 == 0 );
			jQuery('.comFull h1').removeClass('active');
			return false;
		})
	
	//Show section if location.hash is present else show all sections
	if (location.hash) {
		jQuery('h1.'+location.hash.slice(1)).addClass('active');
		jQuery('h1.'+location.hash.slice(1)).next().show();	
	}
	else {
		jQuery('.commArchive').show();
		jQuery('.comFull h1').addClass('active');
		var flip = 1;
	};
});
</script>