<html>
<head>
<title><venda_text id=adm_1></title>
<LINK rel='stylesheet' href='<venda_adminstyles>/styles.css' type='text/css'>
</head>
<body class="admn_mainBg" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<venda_form>
<table border="0" cellspacing="0" cellpadding="1" align="center" width="95%">
<tr>
<td class="admn_fieldHDR">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><venda_spacer width=1,height=15,border=0></td>
	</tr>
	<tr>
		<td bgcolor="#CCCCCC" class="admn_fieldHDR" height=15>&nbsp;<venda_cattree class=admn_fieldHDR></td>
	</tr>
</table>
</td>
</tr>
<tr><td><venda_spacer width=1,height=5,border=0></td></tr>
</table>
<style type="text/css">

#addelement {
	padding-left:29px;
	font:76% Verdana, Helvetica, Arial, sans-serif;
}
#addelement h2 {
	color:#036;
	font-size:1.4em;
	font-weight:bold;
	padding:15px 0 5px 0;
	margin:0;
}
#addelement span {
	color:#09F;
	font-size:0.9em;
	font-weight:bold;
}
#addelement a {
	font-size:0.7em;
	display:block;
	padding-top:5px;
	text-decoration:underline;
}
#addelement p {
	font-size:0.6em;
	padding:5px 10px 0 0;
	margin:0;
	color:#666;
}
</style>

<div id="addelement">
<h2>&lt;HEAD&gt; Elements&nbsp;&nbsp;&nbsp;<span class="subheader">Files sourced within the &lt;HEAD&gt; tag of the HTML.</span></h2>
<table cellpadding="0" cellspacing="0" border="0" width="800">
	<tr>
		<td width="219"><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=css&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>">CSS:</a></td>
		<td width="211"><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=js&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>">Javascript:</a></td>
		<td width="211">&nbsp;</td>
		<td width="159">&nbsp;</td>
	</tr>
	<tr>
		<td><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=css&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>"><img src="<venda_supportdir>/images/elements/cssfile.gif" width="53" height="14" border="0" alt="CSS"></a></td>
		<td colspan="3"><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=js&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>"><img src="<venda_supportdir>/images/elements/jsfile.gif" width="49" height="14" border="0" alt="Javascript"></a></td>
	</tr>
	<tr>
		<td valign="top"><p>Add location, file name and optional prefix</p></td>
		<td valign="top" colspan="3"><p>Add location and file name</p></td>
	</tr>
	<tr><td colspan="4"><venda_spacer width=10,height=20,border=0></td></tr>
</table>

<hr noshade size="1">
<h2>SEARCH ELEMENTS&nbsp;&nbsp;&nbsp;<span class="subheader">Click image or link to add element. Element Name field is used to populate &lt;h2&gt; html tag on Locayta Search Element. Note that the individual fields are just input boxes in HTML, they are not standalone forms.</span></h2>
<table cellpadding="0" cellspacing="0" border="0" width="800">
	<tr>
		<td width="219"><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=guidednavsearchbox&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>">Locayta Search:</a><!-- for xapian search value=searchbox --></td>
	</tr>
	<tr>
		<td><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=guidednavsearchbox&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>"><img src="<venda_supportdir>/images/elements/guidednavsearchbox.gif" width="160" height="72" border="0" alt="Locayta Search"></a></td>
	</tr>
	<tr>
		<td valign="top"><p>Add validation text, itemsperpage value, collate string and form legend, label and value text</p></td>
	</tr>
	<tr><td colspan="4"><venda_spacer width=10,height=20,border=0></td></tr>
</table>

<hr noshade size="1">
<h2><venda_text id=adm_2732>&nbsp;&nbsp;&nbsp;<span class="subheader"><venda_text id=adm_2733></span></h2>
<table cellpadding="0" cellspacing="0" border="0" width="800">
	<tr>
		<td><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=bestsellers&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>">Bestsellers:</a><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=bestsellers&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>"><img src="<venda_supportdir>/images/elements/bestsellers.gif" width="165" height="205" border="0" alt="Bestsellers"></a><p>Used to display the products based on sale rank</p></td>
	</tr>
	<tr><td colspan="4"><venda_spacer width=10,height=10,border=0></td></tr>
</table>

<hr noshade size="1">
<h2><venda_text id=adm_2738>S&nbsp;&nbsp;&nbsp;<span class="subheader">For Venda Logos, the correct language version will be used. <venda_text id=adm_2739></span></h2>
<table cellpadding="0" cellspacing="0" border="0" width="950">
	<tr>
		<td width="211"><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=logo_light&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>">logo_light:</a></td>
		<td width="211"><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=logo_dark&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>">logo_dark:</a></td>
		<td width="211"><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=pci_logo&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>">PCI Logo:</a></td>
		<td width="219"></td>
		<td width=""></td>
	</tr>
	<tr>
		<td><div style="width:120px;background-color:white;"><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=logo_light&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>"><img src="<venda_supportdir>/images/vendalogo/en_logo_light.png" border="0" alt="logo_light"></a></div></td>
		<td><div style="width:120px;background-color:black;"><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=logo_dark&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>"><img src="<venda_supportdir>/images/vendalogo/en_logo_dark.png" border="0" alt="logo_dark"></a></div></td>
		<td><div style="width:100px;background-color:white;"><a href="<venda_codehttps>?ex=tl_cats-recform&elementtype=pci_logo&mode=add&bsref=<venda_bsref>&bklist=<venda_bklist>"><img src="<venda_supportdir>/images/pcilogo/en_pcilogo_lightcolour.png" border="0" alt="PCI Logo"></a></div></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td><p>No parameters required</p></td>
		<td><p>No parameters required</p></td>
		<td><p>Specify background type and logo style as well as the popup width & height</p></td>
		<td></td>
		<td></td>
	</tr>
	<tr><td><venda_spacer width=10,height=20,border=0></td></tr>
</table>
<hr noshade size="1">

</div>
</form>
</body>
</html>
