<div id="__avail_log__" style="display:none"></div>
<venda_inctemplate type=includes,name=availjs>
<div id="avail-emarkid" style="display:none;">5f1f75b4-e67b-11df-9878-12313b032222</div>
<!-- Avail Product Panel -->
<div id="availsearch">
<h2 class="header-avail" id="h2searchrecs">Still can't find what you're looking for? How about these? </h2>

<div id="avail-panel-searchrecs" class="irecslist">
<!-- ajax content will go here -->
</div>

</div>

<!-- Avail function calls -->
<script type="text/javascript">
//addEvent(window, 'load', function() {populateSearchRecs("searchrecs"); }, false);
</script>
