<venda_detblock1>
<tr>
	<td valign="top">
	<venda_block label=111,invtatt1=notnull>
		<!-- if product has attributes -->
		<a href="<venda_dispview invt=<venda_invtparef>>"><venda_invtname></a><venda_block label=200,invtatt1=notnull>, <venda_invtatt1></venda_block label=200><venda_block label=201,invtatt2=notnull>, <venda_invtatt2></venda_block label=201>
	</venda_block label=111>
	<venda_block label=113,invtatt1=null>
		<!-- if product has no attributes -->
		<a href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a>
	</venda_block label=113>
	</td>
	<td valign="top"><venda_glstqty></td>
	<td valign="top"><venda_currsym><venda_block label=204,invtatrsell=null><venda_invtsell></venda_block label=204><venda_block label=204,invtatrsell=notnull><venda_invtatrsell></venda_block label=204></td>
	<td valign="top"><venda_title> <venda_lname> <venda_fname> - <venda_usemail> <venda_oicmt></td>
	<venda_block label=304,editgiftlist=1>
	<!-- 
	<th scope="col"><venda_gwname></td>
	<th scope="col"><venda_oicmt></td>
	<th scope="col"><a href="#" onclick='<venda_wizbutton step=glstlistpurch,param1=<venda_glstrfnbr>,param2=cancel,mode=process,callonly=yes> return false;'>Cancel</a></td>
	 -->
	</venda_block label=304>
</tr>
</venda_detblock1>

<venda_form>
<input type="hidden" name="glstrfnbr" value=<venda_glstrfnbr>>
<h1>View Bought Items</h1>
<venda_block label=201,errors=notnull><p class="error"><venda_errors></p></venda_block label=201>

<table cellpadding="0" cellspacing="0" border="1" width="100%" id="boughtItems" summary="Items that have already been bought from your Gift List">
<thead>
<tr>
	<th scope="col">Product</th>
	<th scope="col">Qty</th>
	<th scope="col">Price</th>
	<th scope="col">Buyer</th>
	<venda_block label=304,editgiftlist=1>
	<!-- 
	<th scope="col">Wrap</td>
	<th scope="col">Cmnt</td>
	<th scope="col">Cancel</td>
	 -->
	</venda_block label=304>
</tr>
</thead>
<tbody>
<venda_detail1>
</tbody>
</table>

<p><a href="<venda_codehttp>?ex=co_wizr-giftlist&bsref=<venda_bsref>&step=glstlist"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_returntolist.gif" alt="Return to Gift List" border="0"></a></p>

</form>

<!--
page: wz_glst-listpurch.html
workflow: <venda_workflow>
step: <venda_curstep>
-->