<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<venda_menu template=title>
<venda_page page=metainformation>
<venda_menu template=css>
<venda_menu template=js>
<!-- Web Trends tag -->
<venda_inctemplate name=webtrendsFooter,type=includes/webtrends>
<!-- Web Trends tag -->
</head>
<body>
<venda_menu template=admin>
<venda_menu template=demo>

<!-- Webtrends Optimize -->
<script type="text/javascript">WTOptimize.setup({s_pageTimeout: 8000});</script>
<!-- Webtrends Optimize End -->

<a href="#content" class="hide" accesskey="2">Skip to content</a>

<!-- start wrapper -->
<div id="wrapper">

<div id="aboveheader">
<venda_menu template=aboveheader>
</div>
	
	<div id="contentwrapper">
	
<venda_menu template=header>

<!-- start column 1 -->
<div id="col-one">
<venda_inctemplate name=content_nav,type=includes>
</div>
<!-- end column 1 -->


<!-- start column 2 -->
<div id="col-two">

<!-- start content -->
<a name="content" id="content"></a>
<venda_content>
<!-- end content -->

</div>
<!-- end column 2 -->

<div class="clear-all"><!-- ns6 hack --></div>

<venda_menu template=footer>
</div>
<div id="belowfooter">
<venda_menu template=belowfooter>
</div>
</div>
<!-- end wrapper -->
<venda_inctemplate name=tealiumtracking,type=includes/tracking>
</body>
</html>