<venda_detblock>
	<li>
		
        <venda_block label=1,catref01=womens,catref01=mens,catref01=home,catref01=christmas,catref01=sale,operator=or>
        <div class="leftnavsub">
            <a href="<venda_dispview icat=<venda_icatref1>>&bklist=icat,4,shop,<venda_icatref>,<venda_icatref1>" id="nav<venda_icatref1>"><div class="<venda_icatref1>leftnavsubsel"><venda_icatname1></div></a>
            <div class="clear-all"></div>
       	</div>
	</venda_block label=1>
        
		    <venda_block label=2,catref01=womensclothing,catref01=shoes,catref01=womensaccessories,catref01=womenssale,catref01=womenscollections,operator=or>
        <div class="leftnavsub">
          	<a href="<venda_dispview icat=<venda_icatref1>>&bklist=icat,5,shop,womens,<venda_icatref>,<venda_icatref1>" id="nav<venda_icatref1>"><div class="<venda_icatref1>leftnavsubsel"><venda_icatname1></div></a>

			<div class="clear-all"></div>	
       	</div>
	</venda_block label=2>
    
     <venda_block label=3,catref01=mensclothing,catref01=menscollections,catref01=mshoesgw,catref01=mensbrands,catref01=mensaccessories,catref01=menssale,operator=or>
        <div class="leftnavsub">
          	<a href="<venda_dispview icat=<venda_icatref1>>&bklist=icat,5,shop,mens,<venda_icatref>,<venda_icatref1>" id="nav<venda_icatref1>"><div class="<venda_icatref1>leftnavsubsel"><venda_icatname1></div></a>

			<div class="clear-all"></div>	
       	</div>
	</venda_block label=3>
    
   	<venda_block label=4,catref01=homecategories,catref01=housecollections,catref01=homesale,catref01=musicdept,operator=or>
        <div class="leftnavsub">
          	<a href="<venda_dispview icat=<venda_icatref1>>&bklist=icat,5,shop,home,<venda_icatref>,<venda_icatref1>" id="nav<venda_icatref1>"><div class="<venda_icatref1>leftnavsubsel"><venda_icatname1></div></a>

			<div class="clear-all"></div>	
       	</div>
	</venda_block label=4>
    
    <venda_block label=5,catref01=christmascategories,catref01=christmasbrands,catref01=womensbrands,catref01=christmassale,operator=or>
        <div class="leftnavsub">
          	<a href="<venda_dispview icat=<venda_icatref1>>&bklist=icat,5,shop,christmas,<venda_icatref>,<venda_icatref1>" id="nav<venda_icatref1>"><div class="<venda_icatref1>leftnavsubsel"><venda_icatname1></div></a>

			<div class="clear-all"></div>	
       	</div>
	</venda_block label=5>
    
     <venda_block label=6,catref01=salechristmasw,catref01=salechristmaswacc,catref01=salechristmasm,catref01=salechristmash,catref01=salechristmasb,operator=or>
        <div class="leftnavsub">
          	<a href="<venda_dispview icat=<venda_icatref1>>&bklist=icat,5,shop,sale,<venda_icatref>,<venda_icatref1>" id="nav<venda_icatref1>"><div class="<venda_icatref1>leftnavsubsel"><venda_icatname1></div></a>

			<div class="clear-all"></div>	
       	</div>
	</venda_block label=6>
    
		
		<venda_category ref=<venda_icatref1>,rec=icat,temp=sub_sub_shop,incattree=1>
	
    </li>
</venda_detblock>

	<div id="leftnavsub">
        <ul id="<venda_icatref>">
			<venda_detail>
		</ul>
	</div>
    
    
<style type="text/css">
.<venda_cattree index=-1,value=catref>leftnavsubsel { background-color:#FFFF00;  }
</style>

<script>
function showitsub(id) {
	if (document.getElementById(id)) {
		document.getElementById(id).style.display = 'block';
		var navcat = "nav"+id;
		var wrapcat = "wrap"+id;
		//document.getElementById(navcat).style.color = '#6600CC';
		//document.getElementById(navcat).style.borderBottomColor = '#6600CC';
		//document.getElementById(navcat).style.borderBottomStyle = 'solid';
		//document.getElementById(navcat).style.borderBottomWidth = '1px'; 
		
	}
}
</script>

<script>showitsub('<venda_cattree index=3,value=catref>');</script>  



