<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<venda_menu template=title>
<venda_page page=metainformation>
<link rel="stylesheet" type="text/css" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/styleguide.css" />
<venda_menu template=js>
<!-- Web Trends tag -->
<venda_inctemplate name=webtrendsFooter,type=includes/webtrends>
<!-- Web Trends tag -->
</head>
<body>
<venda_menu template=admin>
<venda_menu template=demo>

<!-- Webtrends Optimize -->
<script type="text/javascript">WTOptimize.setup({s_pageTimeout: 8000});</script>
<!-- Webtrends Optimize End -->

<a href="#content" class="hide" accesskey="2">Skip to content</a>

<!-- start wrapper -->
<div id="wrapper">
	
    <div id="contentwrapper">
	
	<venda_menu template=lookshead>

	<!-- start content -->
	<a name="content" id="content"></a>
	<venda_content>
	<!-- end content -->

	<div class="clear-all"><!-- ns6 hack --></div>

    </div>
    <!-- end contentwrapper -->
    
</div>
<!-- end wrapper -->

<venda_inctemplate name=tealiumtracking,type=includes/tracking>
</body>
</html>