<div class="signupPopupOverlay"></div>
<div class="signupPopup">
	<!-- mp_trans_remove_start-->
	<div class="invalidEmail" style="display:none;">Please enter a valid email address.</div>
	<!-- mp_trans_remove_end-->
    <!-- mp_trans_disable_start-->
        <!-- mp_trans_add="FR"
        	<div class="invalidEmail" style="display:none;">Veuillez entrer une adresse e-mail valide.</div>
        -->
        <!-- mp_trans_add="DE"
	      	<div class="invalidEmail" style="display:none;">Bitte geben Sie eine g&uuml;ltige E-Mail-Adresse ein.</div>
	    -->
	<!-- mp_trans_disable_end-->
	<div class="signupPopupOuter">
		<div class="signupPopupInner clearfix">
            <div class="signupPopupClose">
            	<div class="signupPopupCloseLink" onclick="Venda.Widget.modalSignup.action.closePopup();" style="border:0;cursor:pointer;">
            		<img style="float: right;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/close.png" border="0">
            	</div>
            </div>

            <div class="signupPopupSignup">
            	<!-- mp_trans_remove_start-->
	            <div id="signupHeader-uk"></div>
	            <div id="signupForm" class="signupForm">
	            	<div class="thanks" style="display:none;">Thank you for signing up!</div>
	            	<form id="modalSignup" onsubmit="javascript:return false;" action="http://ebm.cheetahmail.com/r/regf2" method="GET">
	            	<input type="hidden" name="aid" value="2068353000">
	            	<input type="hidden" name="n" value="9">
	            	<input type="hidden" name="a" value="1">
	            	<venda_block label=1,mode=value,<venda_sessionlocation>=restofworld>
		            	<input type="hidden" name="COUNTRY" value="UNITED KINGDOM">
		            	<input type="hidden" name="SOURCE" value="UK-GBP-POPUP">
		            </venda_block label=1>
		            <venda_block label=2,mode=value,<venda_sessionlocation>!=restofworld>
		            	<input type="hidden" name="COUNTRY" value="EUROPE">
		            	<input type="hidden" name="SOURCE" value="UK-EURO-POPUP">
					</venda_block label=2>
	            	
	            	<input type="hidden" name="GENDER" value="">
	            	<fieldset>
	            		<label>Email Address</label>
	            		<input type="text" class="input" name="email" value="" style="background-position: 0px 3px;" />
	            	</fieldset>
	            	<input class="submitForm" id="guys" type="image" border="0" name="submit" value="" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/btn_uk_guys.png" alt="Submit" data-gender="M" onclick="Venda.Widget.modalSignup.action.genderFunction(this);">
	            	<input class="submitForm" id="gals" type="image" border="0" name="submit" value="" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/btn_uk_gals.png" alt="Submit" data-gender="F" onclick="Venda.Widget.modalSignup.action.genderFunction(this);">
	            	</form>
				</div>
	            <!-- mp_trans_remove_end-->
            	<!-- mp_trans_disable_start-->
            	<!-- mp_trans_add="FR" 
	            		<div id="signupHeader-fr"></div>
	            		<div id="signupForm" class="signupForm">
	            			<div class="thanks" style="display:none;">Merci!</div>
	            			<form id="modalSignup" onsubmit="javascript:return false;" action="http://ebm.cheetahmail.com/r/regf2" method="GET">
	            			<input type="hidden" name="aid" value="1061210640">
	            			<input type="hidden" name="n" value="8">
	            			<input type="hidden" name="a" value="1">
	            			<input type="hidden" name="COUNTRY" value="FRANCE">
	            			<input type="hidden" name="SOURCE" value="FR-EURO-POPUP">
	            			<input type="hidden" name="GENDER" value="">
	            			<fieldset>
	            				<label>Email Address</label>
	            				<input type="text" class="input" name="email" value="" style="background-position: 0px 3px;" />
	            			</fieldset>
	            			<input class="submitForm" id="guys" type="image" border="0" name="submit" value="" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/btn_fr_men.png" alt="Submit" data-gender="M" onclick="Venda.Widget.modalSignup.action.genderFunction(this);">
	            			<input class="submitForm" id="gals" type="image" border="0" name="submit" value="" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/btn_fr_women.png" alt="Submit" data-gender="F" onclick="Venda.Widget.modalSignup.action.genderFunction(this);">
	            			</form>
	            		</div>
	            	-->
	            	<!-- mp_trans_add="DE" 
		            	<div id="signupHeader-de"></div>
	            		<div id="signupForm" class="signupForm">
	            			<div class="thanks" style="display:none;">Vielen Dank f&uuml;r Ihre Anmeldung</div>
	            			<form id="modalSignup" onsubmit="javascript:return false;" action="http://ebm.cheetahmail.com/r/regf2" method="GET">
	            			<input type="hidden" name="aid" value="2085808709">
	            			<input type="hidden" name="n" value="5">
	            			<input type="hidden" name="a" value="1">
	            			<input type="hidden" name="COUNTRY" value="GERMANY">
	            			<input type="hidden" name="SOURCE" value="DE-EURO-POPUP">
	            			<input type="hidden" name="GENDER" value="">
	            			<fieldset>
	            				<label>Email Address</label>
	            				<input type="text" class="input" name="email" value="" style="background-position: 0px 3px;" />
	            			</fieldset>
	            			<input class="submitForm" id="guys" type="image" border="0" name="submit" value="" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/btn_de_men.png" alt="Submit" data-gender="M" onclick="Venda.Widget.modalSignup.action.genderFunction(this);">
	            			<input class="submitForm" id="gals" type="image" border="0" name="submit" value="" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/btn_de_women.png" alt="Submit" data-gender="F" onclick="Venda.Widget.modalSignup.action.genderFunction(this);">
	            			</form>
	            		</div>
		            -->
		        <!-- mp_trans_disable_end-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function () {
	jQuery.when(
		jQuery.getScript("<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/modalSignup.js"),
		jQuery.Deferred(function( deferred ){
			jQuery( deferred.resolve );
		})
	).done(function(){
		Venda.Widget.modalSignup.action.init();
	});
});
</script>