<div class="signupPopupOverlay"></div>
<div class="signupPopup">
	<!-- mp_trans_remove_start-->
	<div class="invalidEmail" style="display:none;">Please enter a valid email address.</div>
	<!-- mp_trans_remove_end-->
    <!-- mp_trans_disable_start-->
        <!-- mp_trans_add="FR"
        	<div class="invalidEmail" style="display:none;">Veuillez entrer une adresse e-mail valide.</div>
        -->
        <!-- mp_trans_add="DE"
	      	<div class="invalidEmail" style="display:none;">Bitte geben Sie eine g&uuml;ltige E-Mail-Adresse ein.</div>
	    -->
	<!-- mp_trans_disable_end-->
	<div class="signupPopupOuter">
		<div class="signupPopupInner clearfix">
            <div class="signupPopupClose">
            	<a class="signupPopupCloseLink" href="javascript:" style="border:0;">
            		<img style="float: right;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/close.png" border="0">
            	</a>
            </div>

            <div class="signupPopupSignup">
            	<!-- mp_trans_remove_start-->
	            <div id="signupHeader-uk"></div>
	            <div id="signupForm" class="signupForm">
	            	<form onsubmit="validateFields(this);return false;" action="https://ebm.cheetahmail.com/r/regf2" method="POST" id="signup">
	            	<input type="hidden" name="aid" value="2068353000">
	            	<input type="hidden" name="n" value="9">
	            	<input type="hidden" name="a" value="1">
	            	<venda_block label=1,mode=value,<venda_sessionlocation>=restofworld>
		            	<input type="hidden" name="COUNTRY" value="UNITED KINGDOM">
		            	<input type="hidden" name="SOURCE" value="UK-GBP-POPUP">
		            </venda_block label=1>
		            <venda_block label=2,mode=value,<venda_sessionlocation>!=restofworld>
		            	<input type="hidden" name="COUNTRY" value="EUROPE">
		            	<input type="hidden" name="SOURCE" value="EU-GBP-POPUP">
					</venda_block label=2>
	            	
	            	<input type="hidden" name="GENDER" value="">
	            	<fieldset>
	            		<label>Email Address</label>
	            		<input type="text" class="input" name="email" value="" style="background-position: 0px 3px;" />
	            	</fieldset>
	            	<input class="submitForm" id="guys" type="image" border="0" name="submit" value="submit" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/btn_uk_guys.png" alt="Submit" data-gender="M">
	            	<input class="submitForm" id="gals" type="image" border="0" name="submit" value="submit" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/btn_uk_gals.png" alt="Submit" data-gender="F">
	            	</form>
				</div>
	            <!-- mp_trans_remove_end-->
            	<!-- mp_trans_disable_start-->
            	<!-- mp_trans_add="FR" 
	            		<div id="signupHeader-fr"></div>
	            		<div id="signupForm" class="signupForm">
	            			<form onsubmit="validateFields(this);return false;" action="https://ebm.cheetahmail.com/r/regf2" method="POST" id="signup">
	            			<input type="hidden" name="aid" value="1061210640">
	            			<input type="hidden" name="n" value="8">
	            			<input type="hidden" name="a" value="1">
	            			<input type="hidden" name="COUNTRY" value="FRANCE">
	            			<input type="hidden" name="SOURCE" value="FR-EURO-POPUP">
	            			<input type="hidden" name="GENDER" value="">
	            			<fieldset>
	            				<label>Email Address</label>
	            				<input type="text" class="input" name="email" value="" style="background-position: 0px 3px;" />
	            			</fieldset>
	            			<input class="submitForm" id="guys" type="image" border="0" name="submit" value="submit" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/btn_fr_men.png" alt="Submit" data-gender="M">
	            			<input class="submitForm" id="gals" type="image" border="0" name="submit" value="submit" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/btn_fr_women.png" alt="Submit" data-gender="F">
	            			</form>
	            		</div>
	            	-->
	            	<!-- mp_trans_add="DE" 
		            	<div id="signupHeader-de"></div>
	            		<div id="signupForm" class="signupForm">
	            			<form onsubmit="validateFields(this);return false;" action="https://ebm.cheetahmail.com/r/regf2" method="POST" id="signup">
	            			<input type="hidden" name="aid" value="2085808709">
	            			<input type="hidden" name="n" value="5">
	            			<input type="hidden" name="a" value="1">
	            			<input type="hidden" name="COUNTRY" value="GERMANY">
	            			<input type="hidden" name="SOURCE" value="DE-EURO-POPUP">
	            			<input type="hidden" name="GENDER" value="">
	            			<fieldset>
	            				<label>Email Address</label>
	            				<input type="text" class="input" name="email" value="" style="background-position: 0px 3px;" />
	            			</fieldset>
	            			<input class="submitForm" id="guys" type="image" border="0" name="submit" value="submit" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/btn_de_men.png" alt="Submit" data-gender="M">
	            			<input class="submitForm" id="gals" type="image" border="0" name="submit" value="submit" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/WT-assets/pop-up/btn_de_women.png" alt="Submit" data-gender="F">
	            			</form>
	            		</div>
		            -->
		        <!-- mp_trans_disable_end-->
            </div>
            <script>
            	function addGender(gender){
	            	jQuery('input[name=GENDER]').val(gender);
	            	console.log(jQuery('input[name=GENDER]').val());
	            }
	            jQuery(".submitForm").click(function() {
		            addGender(jQuery(this).data("gender"));
		        });	
            </script>
        </div>
    </div>
</div>
