
<div class="mini">
    <a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" id="showminicart" title="VIEW BASKET">View Basket</a>

     <venda_block label=321,qty&gt;0>
        <a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" id="showminicart2" title="VIEW BASKET">
         <img alt="VIEW BASKET" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_basketnew.gif" border="0"></a>
     </venda_block label=321>
             
     <venda_block label=322,qty=0,qty=null,operator=or>
         <a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" id="showminicart2" title="VIEW BASKET">
           <img alt="VIEW BASKET" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_basketnew.gif" border="0"></a>
     </venda_block label=322>  
     <a class="item" href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22">      
      <venda_block label=466,cartitemtotal=0>  
       <span class="bracket">(</span><span class="zero">0</span><span class="bracket">)</span>    
       <span class="itemtxt"> items</span><!--items-->
       <span class="total"><venda_total></span>
      </venda_block label=466></a>
</div>