<!-- PRODUCT LIST TOP BANNER -->
<center style="margin-left:5px;">
<venda_block icxttopbannerlinkref=notnull>
<a href="<venda_dispview icat=<venda_icxttopbannerlinkref>>"> <venda_media rec=icat,type=pict,key=categorybanner,border=0></a>
</venda_block>
<venda_block icxttopbannerlinkref=null>
<venda_media rec=icat,type=pict,key=categorybanner,border=0>
</venda_block>
</center>

<!-- Category zone: category results will be inserted inside div tag -->
<div lmzone="category" facetdomid="Facets" filterdomid="Filters"></div>
<!-- Facets zone: facets will be inserted inside div tag -->
<div id="Facets"></div>
<!-- Filters zone: filters will be inserted inside div tag -->
<div id="Filters"></div>
	
<venda_tpxt mode=set,name=categoryTopBanner,value=<venda_page page=<venda_icxttopbannerlinkref>>>
<venda_tpxt mode=set,name=categorySearch,value=<venda_icatref>>
<venda_tpxt mode=set,name=icatHideRefine,value=<venda_icxthiderefine>>
<venda_tpxt mode=set,name=icatSort,value=<venda_icatsort>>

<div id="parentCatName" style="display:none;"><venda_icatname></div>
<div id="parentCatLDesc" style="display:none;"><venda_icatldesc></div>
<div id="parentCatRef" style="display:none;"><venda_icatref></div>