<title><venda_ebizname>
<venda_block label=1,invtname=notnull> - <venda_invtname></venda_block label=1>
<venda_block label=2,icatname=notnull> - <venda_icatname></venda_block label=2>
<venda_block label=3,pagename=notnull,pageref!=home> - <venda_pagename></venda_block label=3>
<venda_block label=4,pcatname=notnull> - <venda_pcatname></venda_block label=4>
<venda_block label=5,stryname=notnull> - <venda_stryname></venda_block label=5>
<venda_block label=6,scatname=notnull> - <venda_scatname></venda_block label=6>
<venda_block label=7,errors=notnull> - Error(s) on page</venda_block label=7>
<venda_block label=8,pageref=home><venda_page page=homepagetitle></venda_block label=8>
</title>