<venda_inctemplate name=htmlEmailDetblocksCancel,type=includes/emailContents>
<html lang="<venda_block label=487,ohusgrrf!=guest_de,ohusgrrf!=guest_fr>en</venda_block label=487><venda_block label=488,ohusgrrf=guest_de>de</venda_block label=488><venda_block label=489,ohusgrrf=guest_fr>fr</venda_block label=489>">
<meta http-equiv="Content-Type" content="text/html; charset=iso8859-1">
<head>
<venda_block label=1011,ohusgrrf!=guest_de,ohusgrrf!=guest_fr><title><venda_ebizname> Order Cancellation - <venda_ohordnum></title></venda_block label=1011>
<venda_block label=1012,ohusgrrf=guest_de><title><venda_ebizname> Auftragsstornierung - <venda_ohordnum></title></venda_block label=1012>
<venda_block label=1013,ohusgrrf=guest_fr><title><venda_ebizname> Annulation de commande - <venda_ohordnum></title></venda_block label=1013>
</head>
<body style="width:500px; color:#000; margin:5px 20px; background:#fff;">

<venda_inctemplate name=htmlEmailCssEtc,type=includes/emailContents>

<br><br>
<venda_block label=1021,ohusgrrf!=guest_de,ohusgrrf!=guest_fr>
<a href="<venda_ebizurl>"><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/logoemail.gif" alt="<venda_ebizname>" border="0"></a>
<br><br>
<strong>Order Cancellation</strong>
</venda_block label=1021>

<venda_block label=1022,ohusgrrf=guest_de>
<a href="http://www.urbanoutfitters.de/"><img src="http://www.urbanoutfitters.de/content/ebiz/<venda_bsref>/resources/images/logoemail.gif" alt="<venda_ebizname>" border="0"></a>
<br><br>
<strong>Auftragsstornierung</strong>
</venda_block label=1022>

<venda_block label=1023,ohusgrrf=guest_fr>
<a href="http://www.urbanoutfitters.fr/"><img src="http://www.urbanoutfitters.fr/content/ebiz/<venda_bsref>/resources/images/logoemail.gif" alt="<venda_ebizname>" border="0"></a>
<br><br>
<strong>Annulation de commande</strong>
</venda_block label=1023>
<br><br>

<venda_inctemplate name=htmlEmailHeader,type=includes/emailContents>
<venda_block label=1031,ohusgrrf!=guest_de,ohusgrrf!=guest_fr><p>Thank you for visiting <venda_ebizname>. Unfortunately we were unable to despatch some or all of the items in order number <venda_ohordnum>.</p></venda_block label=1031>

<venda_block label=1032,ohusgrrf=guest_de>
  <p>Vielen Dank f&uuml;r Ihren Besuch bei 
    <venda_ebizname>
. Leider k&ouml;nnen wir einige oder alle bestellten Artikel nicht versenden. Die Auftragsnummer lautet 
<venda_ohordnum>.</p></venda_block label=1032>

<venda_block label=1033,ohusgrrf=guest_fr><p>Nous vous remercions de votre visite. <venda_ebizname> 
Nous ne pouvons malheureusement pas exp&eacute;dier la totalit&eacute; ou certains articles de la commande num&eacute;ro 
<venda_ohordnum>.</p></venda_block label=1033>

<venda_inctemplate name=htmlEmailBodyCancel,type=includes/emailContents>

<venda_block label=1041,ohusgrrf!=guest_de,ohusgrrf!=guest_fr>
<p>We apologise for any inconvenience this may have caused. If you have any questions regarding this order, please contact us at <a href="mailto:<venda_ebizemail>"><venda_ebizemail></a> or ring us at <venda_ebizarea> <venda_ebizphone> Mon-Fri, 9:00-18:00.</p>
<p>Thank you for shopping at <a href="<venda_ebizurl>"><venda_ebizurl></a></p>
</venda_block label=1041>
<venda_block label=1042,ohusgrrf=guest_de>
<p>Wir entschuldigen uns f&uuml;r jegliche dadurch verursachte Unannehmlichkeiten. Bei Fragen zu dieser Bestellung, kontaktieren Sie uns bitte per E-Mail unter <a href="mailto:service@urbanoutfitters.de">service@urbanoutfitters.de</a> oder rufen Sie uns an unter 06 93 80 78 93 39 Montag bis Freitag, 10:00 Uhr bis 18:00 Uhr.</p>
<p>Vielen Dank für Ihren Einkauf bei <a href="http://www.urbanoutfitters.de">http://www.urbanoutfitters.de</a></p>
</venda_block label=1042>
<venda_block label=1043,ohusgrrf=guest_fr>
<p>Veuillez nous excuser pour tout inconv&eacute;nient qui pourrait en d&eacute;couler. Pour toute question concernant cette commande, veuillez nous contacter &agrave; l'adresse <a href="mailto:service@urbanoutfitters.fr">service@urbanoutfitters.fr</a> ou par t&eacute;l&eacute;phone +33 (0) 1 57 32 44 22 au du lun. au ven., de 9h00 &agrave; 18h00.</p>
<p>Merci d'avoir fait vos achats sur <a href="http://www.urbanoutfitters.fr">http://www.urbanoutfitters.fr</a></p>
</venda_block label=1043>

<venda_inctemplate name=htmlEmailFooter,type=includes/emailContents>
</body>
</html>
