<!-- Venda Templates: v11.5 - do not remove -->
<venda_tpcomment><!-- tag values used for minicart update without reload --></venda_tpcomment>
<div id="tag-addedmsgref" style="display:none;"><venda_addedmsg msg=addedref></div>
<div id="tag-bsref" style="display:none;"><venda_bsref></div>
<div id="tag-vbmhtxt" style="display:none;"><venda_htxt mode=get,name=vbm></div>
<div id="tag-vbmsrchhtxt" style="display:none;"><venda_htxt mode=get,name=searchadd></div>
<div id="tag-sitecurrency" style="display:none;"><venda_currencycode></div>

<div id="tag-addedmsg" style="display:none;"><venda_block label=32,mode=value,<venda_addedmsg msg=addedref>=notnull><venda_addedmsg msg=addedref></venda_block label=32></div>
<!-- mp_trans_remove_start -->
<div id="tag-codehttp" style="display:none;"><venda_codehttp></div>
<!-- mp_trans_remove_end -->
<!-- mp_trans_disable_start -->
<!-- mp_trans_add="DE"
<div id="tag-codehttp" style="display:none;">http://www.urbanoutfitters.de/bin/venda</div>
-->
<!-- mp_trans_add="FR"
<div id="tag-codehttp" style="display:none;">http://www.urbanoutfitters.fr/bin/venda</div>
-->
<!-- mp_trans_disable_end -->

<div id="tag-addtobaskettext" style="display:none;"><venda_text id=site.productdetail.adding_item_to_basket></div>
<div id="tag-headertext" style="display:none;"><span><venda_text id=site.minicart.header.text></span></div>

<div class="header-bg"></div>

<div class="grid_7 clearfix">
  <div class="grid_7 alpha omega">
    <venda_inctemplate name=regionLanguageSwitch,type=widgets>
    <a href="<venda_dispview page=emailsignup>" title="Email sign up" class="emailsu">
      <!-- mp_trans_remove_start -->
      	<span class="emailsu-copy">Email sign up</span>
	  <!-- mp_trans_remove_end -->
	  <!-- mp_trans_disable_start -->
	  	<!-- mp_trans_add="DE"
		  	<span class="emailsu-copy">Newsletter Anmeldung</span>
		-->
		<!-- mp_trans_add="FR"
			<span class="emailsu-copy">S'abonner aux emails</span>
		-->
	  <!-- mp_trans_disable_end -->
    </a>
  </div>
  <div class="grid_7 alpha omega">
    <p class="location-text"></p>
  </div>
</div>

<div class="grid_17 clearfix">
  <venda_block label=111,pageref!=home><a href="<venda_dispview page=home>" title="<venda_ebizname>"></venda_block label=111><img id="logo" class="logo" src="" data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/uo-logo-" alt="<venda_ebizname>"><venda_block label=112,pageref!=home></a></venda_block label=112>
  	<div class="minicartStatic">
  		<venda_minicart template=itemsTotal>
  
  		<div id="minicartDetailWrapper">
  		</div>
  	</div>
    <ul class="headerLinks">
    	<venda_block label=20,ustype=R><venda_tpcomment><!-- When editing these links please note you also should edit div id="tag-signinloggedinlinks" below --></venda_tpcomment>
    	<venda_block label=245,usgrref!=instore>
    	<li class="myaccount"><venda_block label=300,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1><a href="<venda_dispview page=myaccount>"></venda_block label=300><venda_block label=301,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1><a href="<venda_codehttps>?ex=co_wizr-login&bsref=<venda_bsref>"></venda_block label=301>My Account</a></li>
    	</venda_block label=245>
    	<li class="logout loginout"><a href="<venda_dispview page=home>&log=4">Logout</a></li>
    	</venda_block label=20>
    	<venda_block label=21,ustype!=R>
    	<li class="login loginout"><a href="<venda_codehttps>?ex=co_wizr-register&bsref=<venda_bsref>">Log In</a></li>
    	<li class="login loginout"><a href="<venda_codehttps>?ex=co_wizr-register&bsref=<venda_bsref>">Register</a></li>
    	</venda_block label=21>
    </ul>
	  <venda_inctemplate name=locaytaSearch,type=includes>
</div>

<div class="grid_24">

  </venda_tpcomment><venda_category rec=icat,ref=shop,temp=dynamicTopNavigation,itemsperpage=100>

</div>
<div class="grid_24">
  
  <venda_block label=980,workflow!=shopcart>
  <venda_block label=113,pageref!=home><p class="crumbtrail clearfix">
  <a href="<venda_ebizurl>" class="crumbtrailHome">Home</a>
  <venda_cattree class=crumbtrailAnchor><venda_block label=pdcrumb,rtype=invt>&nbsp;&gt;&nbsp;<span class="crumbtrailEnd"><venda_invtname></span></venda_block label=pdcrumb>
  </p></venda_block label=113>
  </venda_block label=980>
  
  <div id="tags_cattree" style="display: none;">
  <venda_cattree index=1, value=catref>,
  <venda_cattree index=2, value=catref>,
  <venda_cattree index=3, value=catref>
  </div>
  
</div>

<venda_tpcomment><!--  Configuration to show signin screen as popup. Please include the signinpoup template: <venda _ inctemplate name = signinPopup,type = widgets> --></venda_tpcomment>

<script>
var index = Math.floor(Math.random() * 9) + 1;
jQuery(document).ready(function() {
	var logoSrc = jQuery("img.logo").attr("data-src");
	jQuery("img.logo").attr('src', logoSrc + index + '.png');
});
</script>
