<div id="cov_colRightMyaccount">
<div id="grayHeader"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/hdr_refer_a_friend.gif" alt="REFER A FRIEND" border="0"></div>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>

<venda_userinfo>	
<p>Thank you, <venda_sesname>, for telling your friends about <venda_ebizname>.</p>
</venda_userinfo>
<p>As long as your friends are not already registered with <venda_ebizname>, they will receive an email containing their voucher code within 24 hours.</p>
<p>Remember, you have the chance to keep earning vouchers for every friend you tell about us.</p>
<div id="my-button">
<a href="<venda_dispview page=myaccount>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_backtomyaccount.gif" alt="back to my account" border="0" class="right"></a>
</div>
</div>
  <script language="JavaScript" type="text/javascript">
catID="MY ACCOUNT";
stepName="Refer+a+friend";
</script> 