<div id="referfriendthankyou">
<h1><venda_text id=site.refer_friend_thank_you.heading></h1>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>

<venda_tpcomment><!-- Start: Voucher Info --></venda_tpcomment>
	<venda_userinfo>	
	<p class="refrThank"><venda_text id=site.refer_friend_thank_you.thank_you></p>
	</venda_userinfo>
	<p class="refrReceiveMail"><venda_text id=site.refer_friend_thank_you.friends_will_receive_email></p>
	<p class="refrThankEarn"><venda_text id=site.refer_friend_thank_you.keep_earning_vouchers></p>
<venda_tpcomment><!-- End: Voucher Info --></venda_tpcomment>

<venda_tpcomment><!-- Start: JS Buttons --></venda_tpcomment>
	<div id="buttons">
	<a href="<venda_dispview page=myaccount>"><venda_text id=site.button.back_to_my_account></a>
	</div>
<venda_tpcomment><!-- End: JS Buttons --></venda_tpcomment>

</div>
<!-- 
param1: <venda_param1>
param2: <venda_param2>
workflow: <venda_workflow>
page: wz_refr-thankyou.html
 -->
<venda_tpxt mode=set,name=track,value=refr-thankyou> 
<venda_inctemplate name=cmCreateRegistrationTag,type=includes/tracking/coremetrics>
<venda_inctemplate name=cm-wz_refr-thankyou,type=includes/tracking/coremetrics> 