<script type="text/javascript">
  defImgAtt = "Blue",
  defImgSku = jQuery('#tag-invtref').text()
	Venda.Attributes.StoreImageSwaps({ 
		"param": "",
		"images": {
			imgS: [
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_t1.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_t2.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_t3.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_t4.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_t5.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_t6.jpg"
			],
			imgM: [
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_l1.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_l2.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_l3.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_l4.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_l5.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_l6.jpg"
			],
			imgL: [
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_h1.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_h2.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_h3.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_h4.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_h5.jpg",
			"http://urbanoutfitters.uat.venda.com/content/ebiz/urbanoutfitters/invt/" + defImgSku + "/" + defImgSku + "_" + defImgAtt + "_h6.jpg"
			]
		}
	});
</script>