<venda_block label=9,icatref!=womens,icatref!=mens,icatref!=sale,icatref!=home,icatref!=autumncatalogue>
<venda_page page=homecatmobile>
<div class="categories">
	<venda_block label=3,icatref!=shop>
	<div class="catBanner">
		<venda_block label=4,med-headermobile=notnull><venda_media rec=icat,type=movie-swf-pict,key=headermobile></venda_block label=4>
		<venda_block label=5,med-headermobile=null><div class="noImage"><venda_icatname></div></venda_block label=5>
	</div>
	</venda_block label=3>
</div>
</venda_block label=9>
<venda_block label=10,icatref=womens,icatref=mens,operator=or>
	<venda_page page=<venda_icatref>homemobile>
</venda_block label=10>
<venda_block label=11,icatref=sale>
	<venda_page page=<venda_icatref>mobilegw>
</venda_block label=11>
<venda_block label=12,icatref=home>
	<venda_page page=<venda_icatref>gatewaymobile>
</venda_block label=12>