<!DOCTYPE html>
<html>
<head>
	<title><venda_setting type=ebiz,name=name></title>
	<venda_inctemplate name=metatagsMobile,type=mainIncludes>
	<venda_inctemplate name=jsMobile,type=mainIncludes>
	<venda_inctemplate name=cssMobile,type=mainIncludes>
</head>

<body>
	<venda_inctemplate name=regionLanguageSwitchMobile,type=widgets>

	<div id="mobile" data-role="page" data-theme="a">
	    <div data-role="header" class="header">
			<venda_inctemplate name=headerMobile,type=mainIncludes>
		</div><!-- /header -->

	    <div data-role="content" class="main-content">
	        <venda_content>
	    </div><!-- /content -->
	    
		<div data-role="footer">
			<venda_inctemplate name=footerMobile,type=mainIncludes>
		</div><!-- /footer -->
	</div><!-- /page -->

	<venda_inctemplate name=bodyBottom,type=tracking/mobile/shared>
</body>
</html>