<venda_detblock1>
<div class="productPackage">
	<venda_block label=601,workflow=shopcart,curstep=confirm>
		<script language="javascript" type="text/javascript">
		<!-- 
		numberAddresses = numberAddresses+1;
		// -->
		</script>
	</venda_block label=601>

	<venda_block label=47,pkshipreq=1>
        <div class="order-summary-shipping-to order-summary-box">
        <div class="OrderSummaryHdr"><venda_text id=site.order_confirmation.label.delivery_address></div>
		<!-- start delivery address -->
		<p>
		<strong><venda_pktitle> <!-- mp_trans_disable_start --><venda_pkfname> <venda_pklname></strong><br>
		<venda_block label=71,pkcompany=notnull><venda_pkcompany><br></venda_block label=71>
		<venda_pknum> <venda_pkaddr1><br>
		<venda_block label=72,pkaddr2=notnull> <venda_pkaddr2> </venda_block label=72>
		<venda_pkcity>
		<venda_block label=73,pkstate=notnull><venda_pkstate> </venda_block label=73><venda_pkzipc><br>
		<venda_pkcntry>
		<!-- mp_trans_disable_end -->
		</p>
		<venda_block label=502,workflow!=ordlookup,curstep=confirm>
		    <a href="#" class="button edit" onClick='<venda_wizbutton step=shipadd,param2=adbook,mode=process,callonly=yes> return false;'>Change Delivery Address</a>
		</venda_block label=502>
        <div class="order-summary-box-footer"></div>
		</div>
		<!-- end delivery address -->
        <div class="clear-all "></div>
	</venda_block label=47>
	

	<venda_block label=471,pkshipreq!=1>
		<p>Note: Services and Gift Certificates do not require delivery and have no delivery costs.</p>
	</venda_block label=471>
    <venda_block label=84,oishipname!=bikes>
    <!--Delivery comment textarea-->
	    <venda_block label=555,mode=value,<venda_setting type=ebiz,name=showdeliverycomment>=1>
	    <div id="orcfcomment" class="box order-summary-box jsToggle" >
        <div class="OrderSummaryHdr"><venda_text id=site.order_confirmation.label.delivery_title></div>
        <div>
            <label for="comment"><venda_text id=site.order_confirmation.label.delivery_comment></label>
	        <textarea name="comment" id="comment" rows="5" cols="30"></textarea>
            <p><venda_text id=site.order_confirmation.label.delivery_maxChar></p>
        </div>
        <div class="order-summary-box-footer"></div>
        </div>
	    </venda_block label=555>
    </venda_block label=84>

	<venda_block label=90,pkshipreq=1,shipmethod!=free>
		<venda_block label=501,workflow!=ordlookup,curstep!=finish>
                <div class="order-summary-delivery-options order-summary-box">
				<div class="OrderSummaryHdr"><venda_text id=site.order_confirmation.label.delivery_options></div>
                <ul>
                    <venda_detail3>
                </ul>
				
                <div class="order-summary-box-footer"></div>
			</div>
		</venda_block label=501>
	</venda_block label=90>
    
    <venda_block label=83,pkdsref=salvesen><venda_page page=ordersummessage></venda_block label=83>
    
    <div class="order-summary-items order-summary-box">
    <div class="OrderSummaryHdr"><venda_text id=site.order_confirmation.label.delivery_order></div>
    <table summary="Information about each item in your order">
		<tbody>
			<venda_detail2>
		</tbody>
	</table>
    <div class="order-summary-box-footer"></div>
    </div>
	
	<venda_block label=36,allgiftcert!=1></venda_block label=36>
	<!-- start Return Request -->
	<venda_block label=308,pkstatus=5,allgiftcert!=1>
		<p>To return item(s), select a reason from the dropdown below and enter your comments in the space provided, then click 'Return'.</p>
		<p>Then please wait for Customer Service to contact you.</p>
		<p>If you have any problems, please send an email to <a href="mailto:<venda_ebizemail>"><venda_ebizemail></a></p>
		<script language="javascript" type="text/javascript">
		function popup(theURL,winName,features) {
			window.open(theURL,winName,features);
		}
		// -->
		</script>
		<p><a href="#" onClick="popup('<venda_dispview page=privacy#returns>','popup','scrollbars=yes,resizable=yes,width=420,height=260'); return false;" class="blacklink">Please see our full Returns Policy here.</a></p>
		<p><strong>Please complete a reason for return below:</strong><br>
			<select name="field3">
			<option value="">Please select...</option>
			<venda_page page=reasonsforreturn>
			</select>
			<br>
			<textarea cols="40" rows="3" wrap="soft" name="field4"></textarea>
		</p>
		<a href="javascript:showValues()"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_return.gif" border="0" alt="return items" class="right"></a>
	</venda_block label=308>
	<!-- end Return Request -->
</div>
</venda_detblock1>

<venda_detblock2>
	<tr>
        <td>
            <table>
                <tr>
                    <venda_block label=310,oistatus=5,oiitype!=3>
	                    <script language="JavaScript">
	                    <!--
	                    function check<venda_oirfnbr>(){
		                    if (document.wizform.can<venda_oirfnbr>.checked){
		    	                document.wizform.can<venda_oirfnbr>.value = "<venda_oiivname> (<venda_oiivref>), ";
		    	                }
		                    else {
		    	                document.wizform.can<venda_oirfnbr>.value = "";
		    	                }
		                    }
	                    //-->
	                    </script>
		                <td valign="top" class="hide">
		                <input type="hidden" name="can<venda_oirfnbr>" value="" onChange="javascript:check<venda_oirfnbr>()">
		                </td>
	                </venda_block label=310>
		            <td rowspan="2">
			            <venda_block label=119,med-thumb=notnull>
				            <venda_media rec=invt,type=movie-swf-pict,key=thumb,alt=<venda_invtname>,width=67,height=103>
			            </venda_block label=119>
			            <venda_block label=120,med-thumb=null>
				            <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/noimage_thu.jpg" alt="Image Not Available" style="width:67px;height:93px;">
			            </venda_block label=120>
		            </td>
                    <th class="item"><venda_text id=order.item></th>
	                <th class="price"><venda_text id=order.price></th>
	                <th class="quantity"><venda_text id=order.quantity></th>
	                <th class="totalprice"><venda_text id=order.total_price></th>
                </tr>
                <tr>
		            <td class="item">
                        <span class="items-product-name"><venda_oiivname></span>
                        <venda_block label=111,invtatt1=notnull>
            	            <span class="items-product-colour">Colour: <venda_invtatt1></span>
          	            </venda_block label=111>
                        <venda_block label=112,invtatt2=notnull>
               	            <span class="items-product-size">Size: <venda_invtatt2></span>
           	            </venda_block label=112>
	                    <!--<venda_block label=113,invtatt3=notnull> 
		                    <div class="items-product-opt"><venda_invtatrlbl3>:<venda_invtatt3></div>
                        </venda_block label=113>-->
                        <venda_block label=114,invtatt4=notnull> 
		                    <div class="items-product-opt"><venda_invtatrlbl4>:<venda_invtatt4></div>
                        </venda_block label=114>

			            <venda_block label=221,oigwrefqty=notnull>
				            <p><venda_oigwrefqty> of <venda_oiqty> items gift boxed</p>
				            <venda_block label=313,status=notnull> </venda_block label=313>    
			            </venda_block label=221>
	
			            <venda_block label=222,invtpreorder=notnull>
				            <p>Preorder: This item is not released until <venda_invtreleasedy>/<venda_invtreleasemn>/<venda_invtreleaseyr></p>
				            <venda_block label=314,status=notnull> </venda_block label=314>    
			            </venda_block label=222>

	
			            <venda_block label=45,oiitype=3>
				            <p>
				            Sent To: <venda_gcto> at <venda_gcemail><br>
				            Expiry date: <venda_gcexpires><br>
				            Message: <venda_oicmt>
				            <!-- <br>From: <strong><venda_gcfrom></strong> -->
				            <venda_block label=312,status=notnull> </venda_block label=312>
				            </p>
			            </venda_block label=45>
                        <input type="hidden" class="venda_oishipname" value="<venda_oishipname>" />
		            </td>
                    <td class="priceeach">
                        <span class="pounds"><venda_currsym><venda_invtsell></span>
                        <venda_block label=19,invtwas=notnull>
                            <span class="was">(Was <venda_currsym><venda_invtwas>)</span>	
                        </venda_block label=19>

                        <div style="display:none;" class="invtref"><venda_block label=1001,invtparef=notnull><venda_invtparef></venda_block label=1001><venda_block label=1002,invtparef=null><venda_invtref></venda_block label=1002></div>
                        <div style="display:none;" class="invtname"><venda_invtname></div>
                        <div style="display:none;" class="invtqty"><venda_oiqty></div>
                        <div style="display:none;" class="invtbrand"><venda_invtbrand></div>
                        <div style="display:none;" class="sellprice"><venda_block label=1111,invtatt1=null><venda_invtsell></venda_block label=1111><venda_block label=1112,invtatt1=notnull><venda_invtatrsell></venda_block label=1112></div>
                        <div style="display:none;" class="wasprice"><venda_block label=1113,invtatt1=null><venda_invtwas></venda_block label=1113><venda_block label=1114,invtatt1=notnull><venda_invtatrwas></venda_block label=1114></div>

                    </td>
                    <td class="items-qty"><venda_oiqty></td>
                    <td class="items-total"><venda_currsym><venda_oiextsub></td>
	            </tr>
            </table>
            <div style="display:none;" class="orfn-detail">
                <div style="display:none;" class="invtref"><venda_block label=1001,invtparef=notnull><venda_invtparef></venda_block label=1001><venda_block label=1002,invtparef=null><venda_invtref></venda_block label=1002></div>
                <div style="display:none;" class="invtname"><venda_oiivname></div>
                <div style="display:none;" class="invtqty"><venda_oiqty></div>
                <div style="display:none;" class="invtbrand"><venda_invtbrand></div>
                <div style="display:none;" class="sellprice"><venda_block label=1111,invtatt1=null><venda_invtsell></venda_block label=1111><venda_block label=1112,invtatt1=notnull><venda_invtatrsell></venda_block label=1112></div>
                <div style="display:none;" class="wasprice"><venda_block label=1113,invtatt1=null><venda_invtwas></venda_block label=1113><venda_block label=1114,invtatt1=notnull><venda_invtatrwas></venda_block label=1114></div>
            </div>
        </td>
    </tr>
</venda_detblock2>
