<venda_block label=10,param1!=survey>
<div id="cov_colRightMyaccount">
<div class="myAccountPageHeader">
<venda_block label=200,mode=value,<venda_htxt mode=get,name=pass>=change>Change Your Email Address / Password</venda_block label=200>
<venda_block label=201,mode=value,<venda_htxt mode=get,name=addr>=change>Edit Billing Details</venda_block label=201>
<venda_block label=202,mode=value,<venda_htxt mode=get,name=comm>=change>Communication Preferences</venda_block label=202>
</div>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>

<venda_form>
<input type="hidden" name="uslgemail" value="">
<input type="hidden" name="page" value="myaccount">
<!-- Hit Ext fields need be passed again, if errors are not null -->
<input type="hidden" name="htxt" value="<venda_htxt mode=make,pass=change>">
<input type="hidden" name="htxt" value="<venda_htxt mode=make,addr=change>">
<input type="hidden" name="htxt" value="<venda_htxt mode=make,comm=change>">

<venda_block label=100,mode=value,<venda_htxt mode=get,name=pass>=change>
<p>If you wish to update any of your details, make your changes below and click on the 'Continue' button at the bottom of the page.</p>
<p>Fields with an asterisk (<span class="required">*</span>) must be filled in.</p>
<script language="JavaScript" type="text/javascript">
		<!-- Hide
			function checkemail(str) {
				var filter =/^\w+[\+\.\w-]*@([\w-]+\.)*\w+[\w-]*\.([a-z]{2,7}|\d+)$/i;
				return (filter.test(str));
			}
			function CheckFields(form1) {
				if (form1.usemail.value == '') {
					alert("Please enter an email address correctly.");
					form1.usemail.focus();
					return;
				}
				if ( !checkemail(form1.usemail.value) ) {
					alert("Please enter a valid email address");
					form1.usemail.focus();
					return;
				}
				if (form1.uspswd.value != form1.uspswd2.value) {
					alert("Please enter an email address.");
					form1.uspswd.value='';
					form1.uspswd2.value='';
					form1.uspswd.focus();
					return;
				}
					form1.submit();
			}
		//End Javascript-->
		</script>
<!-- pass communication values otherwise these will be reset when the password is changed -->
<input type="hidden" name="blkpost" value="<venda_blkpost>">
<input type="hidden" name="blkemail" value="<venda_blkemail>">
<venda_title field=hidden>
<venda_fname field=hidden>
<venda_lname field=hidden>
<venda_zipc field=hidden>
<fieldset class="inpform">
<legend class="hide">Your Email Address and Password:</legend>
<div class="mb2"><label for="usemail">Email Address: <span class="required">*</span></label><venda_usemail field=text,size=25,maxlength=254,required=yes></div>
<div><label for="uspswd">New Password:</label><venda_uspswd field=password,size=25,maxsize=16></div>
<div><label for="uspswd2">Retype New Password:</label><venda_uspswd2 field=password,size=25,maxsize=16></div>
</fieldset>
</venda_block label=100>
<venda_block label=101,mode=value,<venda_htxt mode=get,name=addr>=change>
<p>If you wish to update any of your details, make your changes below and click on the 'Continue' button at the bottom of the page.</p>
<p>Fields with an asterisk (<span class="required">*</span>) must be filled in.</p>
<script language="JavaScript" type="text/javascript">
		<!-- Hide
			function CheckFields(form1) {
				if ( document.form.fname.value ==""  ){
					alert("Please enter a first name.");
					document.form.fname.focus();
					return;
				}
				if ( document.form.lname.value =="" ){
					alert("Please enter a last name.");
					document.form.lname.focus();
					return;
				}
				if (document.form.num.value ==""){
					alert("Please enter a house name or flat number.");
					document.form.num.focus();
					return;
				}
				if (document.form.addr1.value =="") {
			    	alert("Please enter an address.");
					document.form.addr1.focus();
					return;
		     			}
				if ( document.form.city.value == "" ){
					alert("Please enter a town or city.");
					document.form.city.focus();
					return;
				}
				/*if ( document.form.zipc.value == "" ){
					alert("You did not enter your Postcode.");
					document.form.zipc.focus();
					return;
				}*/
				if ( document.form.cntry.value == "" ){
					alert("Please select a country.");
					document.form.cntry.focus();
					return;
				}
				var seletedcnty = document.form.cntry.value
			if(seletedcnty=="Austria"||seletedcnty=="Belgium"||seletedcnty=="Netherlands"||seletedcnty=="France"||seletedcnty=="Germany"||seletedcnty=="Luxembourg"||seletedcnty=="Italy"||seletedcnty=="Spain"||seletedcnty=="Finland"||seletedcnty=="Portugal"||seletedcnty=="Denmark"||seletedcnty=="Sweden"||seletedcnty=="Norway"||seletedcnty=="Switzerland"||seletedcnty=="Greece"||seletedcnty=="UK Channel Islands"||seletedcnty=="UK Isle of Man"||seletedcnty=="UK Isle of Wight"||seletedcnty=="UK Jersey"||seletedcnty=="UK Northern Ireland"||seletedcnty=="UK Scottish Highlands"||seletedcnty=="United Kingdom"||seletedcnty=="United States"){
				if (document.form.zipc.value == ""){
					alert("Please enter a postcode.");
					document.getElementById("addstar").innerHTML = "<span class='required'>*</span>";
					document.form.zipc.focus();
					
				return;
				}			
			}else{document.getElementById("addstar").innerHTML = "";}
				if ( document.form.area.value == "" ){
					alert("Please enter a phone area.");
					document.form.area.focus();
					return;
				}
				if ( document.form.phone.value == "" ){
					alert("Please enter a phone number.");
					document.form.phone.focus();
					return;
				}		
				document.form.submit();
			}
		//End Javascript-->
		</script>
<!-- pass communication values otherwise these will be reset when the address details are updated -->
<input type="hidden" name="blkpost" value="<venda_blkpost>">
<input type="hidden" name="blkemail" value="<venda_blkemail>">
<venda_usemail field=hidden>
<venda_uspswd field=hidden>
<venda_uspswd2 field=hidden>
<fieldset class="inpform">
<legend class="hide">Your Billing Address:</legend>
<div id="pinkHeader2">YOUR BILLING ADDRESS</div>
<div><label for="title">Title:</label><venda_title field=text,size=25,maxlength=5></div>
<div><label for="fname">First Name: <span class="required">*</span></label><venda_fname field=text,size=25,maxlength=30,required=yes></div>
<div><label for="lname">Last Name: <span class="required">*</span></label><venda_lname field=text,size=25,maxlength=30,required=yes></div>
<div><label for="company">Company:</label><venda_company field=text,size=25,maxlength=20></div>
<div><label for="num">House Name/Flat Number: <span class="required">*</span></label><venda_num field=text,size=25,maxlength=20,required=yes></div>
<div><label for="addr1">Address: <span class="required">*</span></label><venda_addr1 field=text,size=25,maxlength=50,required=yes></div>
<div><label for="addr2" class="invisible">Address Line 2:</label><venda_addr2 field=text,size=25,maxlength=50></div>
<div><label for="city">City: <span class="required">*</span></label><venda_city field=text,size=25,maxlength=30,required=yes></div>
<div><label for="state">County:</label><venda_state field=text,size=25,maxlength=20></div>
<div><label for="zipc">Postcode: <span id="addstar"></span></label><venda_zipc field=text,size=25,maxlength=20></div>
<div><label for="cntry">Country: <span class="required">*</span></label><venda_cntry field=hidden><venda_cntry></div>
<div class="phone"><div class="phonelabel"><label for="phone" class="dontFloat">Phone Number: <span class="required">*</span></label><label for="area" class="dontFloat invisible">and Area Code:</label></div><venda_area field=text,size=4,maxlength=6,required=yes,class=w30><venda_phone field=text,size=18,maxlength=20,required=yes,class=w123></div>
</fieldset>
</venda_block label=101>

<venda_block label=102,mode=value,<venda_htxt mode=get,name=comm>=change>
<script language="JavaScript" type="text/javascript">
		<!-- Hide
			function CheckFields1(form1) { 
				form1.submit();
			}
		//End Javascript-->
		</script>
<venda_title field=hidden>
<venda_fname field=hidden>
<venda_lname field=hidden>
<venda_usemail field=hidden>
<venda_uspswd field=hidden>
<venda_uspswd2 field=hidden>
<venda_zipc field=hidden>
<p><strong>Update your information below and click continue.</strong></p>
<p>How would you like to be kept updated? Tick below to edit your communication preferences.</p>
<fieldset>
<legend class="hide">Your Communication Options:</legend>
<div><label for="blkemailform"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/icon_email.gif" width="15" height="14" alt="By Email" border="0" class="alignM"> By Email:</label><venda_blkemailform></div>
<div><label for="usmailform">Email Format:</label><select name="usmailform" size="1" class="dropDown ml4"><venda_selectmailform></select></div>
<div><label for="blkpostform"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/icon_post.gif" width="19" height="14" alt="By Post" border="0" class="alignM"> By Post:</label><venda_blkpostform></div>
<!--p>Please rest assured that we will not provide your information to any other company without your consent, and you can unsubscribe at any time.</p-->

<div id="pinkHeader4">PREFERENCES</div>
<div>Please select the areas that interest you (optional)</div>
<div class="tick"><input type="checkbox" name="usxtwmapparel" id="usxtwmapparel" value="1" <venda_block label=182,usxusxtwmapparel=1>checked="checked"</venda_block label=182>><label for="usxtwmapparel" class="prefer">Women's Apparel</label><input type="hidden" name="formusxtwmapparel" value="1">
</div>

<div class="tick"><input type="checkbox" name="usxtwmaccess" id="usxtwmaccess" value="1" <venda_block label=183,usxusxtwmaccess=1>checked="checked"</venda_block label=183>><label for="usxtwmaccess" class="prefer">Women's Accessories</label><input type="hidden" name="formusxtwmaccess" value="1">
</div>

<div class="tick"><input type="checkbox" name="usxtwmshoes" id="usxtwmshoes" value="1" <venda_block label=184,usxusxtwmshoes=1>checked="checked"</venda_block label=184>><label for="usxtwmshoes" class="prefer">Women's Shoes</label><input type="hidden" name="formusxtwmshoes" value="1">
</div>

<div class="tick"><input type="checkbox" name="usxtmnapparel" id="usxtmnapparel" value="1" <venda_block label=185,usxusxtmnapparel=1>checked="checked"</venda_block label=185>><label for="usxtmnapparel" class="prefer">Men's Apparel</label><input type="hidden" name="formusxtmnapparel" value="1">
</div>

<div class="tick"><input type="checkbox" name="usxtmnaccess" id="usxtmnaccess" value="1" <venda_block label=186,usxusxtmnaccess=1>checked="checked"</venda_block label=186>><label for="usxtmnaccess" class="prefer">Men's Accessories</label><input type="hidden" name="formusxtmnaccess" value="1">
</div>

<div class="tick"><input type="checkbox" name="usxtmnshoes" id="usxtmnshoes" value="1" <venda_block label=187,usxusxtmnshoes=1>checked="checked"</venda_block label=187>><label for="usxtmnshoes" class="prefer">Men's Shoes</label><input type="hidden" name="formusxtmnshoes" value="1">
</div>

<div class="tick"><input type="checkbox" name="usxtapartment" id="usxtapartment" value="1" <venda_block label=188,usxusxtapartment=1>checked="checked"</venda_block label=188>><label for="usxtapartment" class="prefer">Home</label><input type="hidden" name="formusxtapartment" value="1">
</div>

<div><label for="usxusxtgender">Your gender?</label><select name="usxusxtgender" class="ml4"><venda_usxselectusxtgender></select><venda_defaultusxselectusxtgenderstart name=Select:></div>

</fieldset>
</venda_block label=102>
<div id="button_v3">
<a href="<venda_dispview page=myaccount>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="PREVIOUS" border="0" class="left"></a>
<input type="image" onClick="CheckFields<venda_block label=103,mode=value,<venda_htxt mode=get,name=comm>=change>1</venda_block label=103>(document.form); return false;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continue.gif" alt="CONTINUE" class="right">
</div><div class="clear-all"><!-- --></div>

</form>
</div>
</venda_block label=10>

<venda_block label=11,param1=survey>
<div id="my_covContent">
<div id="grayHeader">CHANGE PROFILE</div>
<p>Fields with an asterisk (<span class="required">*</span>) must be filled in.</p>

<script language="JavaScript">
function submitForm() {
	if (document.form.usxusxtdropdown.value == ""){
		alert("Please choose an option from the dropdown");
		return;
	}
	if (document.form.usxttextfield.value == ""){
		alert("Please complete the text field");
		return;
	}
	if (document.form.usxusxtradio.value == ""){
		alert("Please choose one of the radio buttons");
		return;
	}
	document.form.submit();
}
</script>
<venda_form>
<input type="hidden" name="uslgemail" value="">
<input type="hidden" name="page" value="myaccount">

<fieldset>
<legend>Example checkbox</legend>
<!-- label for attribute is same as user extended field tag -->
<div><label for="usxtcheckbox">Checkbox 1</label>
<!-- name and id are same as user extended field tag -->
<!-- to use in a condition the tag must be prefixed with 'usx', i.e. usxusxtcheckbox-->
<input type="checkbox" name="usxtcheckbox" id="usxtcheckbox" value="1" <venda_block label=182,usxusxtcheckbox=1>checked="checked"</venda_block label=182>>
</div>
<!-- hidden field essential with checkboxes, must have name 'form' then 'user extended field tag' -->
<input type="hidden" name="formusxtcheckbox" value="1">

</fieldset>

<fieldset class="inpform">
<legend>Example dropdown</legend>
<div><label for="usxusxtdropdown">Select an option <span class="required">*</span></label>
<!-- name is the user extended field tag prefixed with 'usx' -->
<!-- the tag that dynamically creates all the options in the dropdown is the tag prefixed with 'usxselect' -->
<!-- <venda_defaultusxselectusxtdropdown... allows you to specify the first line of text in the dropdown. If you do not want this to say Please Select... change the name= section in the tag below -->
<select name="usxusxtdropdown"><venda_usxselectusxtdropdown></select><venda_defaultusxselectusxtdropdownstart name=Please Select...>
</div>
</fieldset>

<fieldset class="inpform">
<legend>Example text field</legend>
<div><label for="usxttextfield">Text Field <span class="required">*</span></label>
<!-- name is same as user extended field tag -->
<!-- to display contents of tag use <venda_usxtag> as shown -->
<!-- to use in a condition the tag must be prefixed with 'usx', i.e. usxusxttextfield-->
<input type="text" name="usxttextfield" value="<venda_block label=156,usxusxttextfield=notnull><venda_usxusxttextfield></venda_block label=156>">
</div>
</fieldset>

<fieldset>
<legend>Example radio <span class="required">*</span></legend>
<!-- name is same as user extended field tag -->
<!-- note that values with spaces will not work in conditions -->
<div><label for="usxtradio">Radio 1</label><input type="radio" name="usxtradio" value="Radio1"<venda_block label=150,usxusxtradio=Radio1> checked="checked"</venda_block label=150>></div>
<div><label for="usxtradio">Radio 2</label><input type="radio" name="usxtradio" value="Radio2"<venda_block label=151,usxusxtradio=Radio2> checked="checked"</venda_block label=151>></div>
</fieldset>

<div id="my-button">
<a href="<venda_dispview page=myaccount>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="PREVIOUS" border="0" class="left"></a>
<input type="image" onClick="submitForm(); return false;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continue.gif" alt="CONTINUE" class="right">
</div>

<!-- remove the comments when you are done -->

</form>
</div>
</venda_block label=11>
<script language="JavaScript" type="text/javascript">
catID="MY ACCOUNT";
stepName="Edit+Your+Account+Details";
</script> 


