<venda_block label=24,mode=value,<venda_tpxt mode=get,name=instore>!=1>
<venda_tpcomment><!-- Use this format "Items: 1" for items if set 'true'
Use this format "1 Item" for items if set 'false'--></venda_tpcomment>
<div id="tag-itemBD" style="display:none;"><venda_text id=site.basketdetail.item></div>
<div id="tag-itemsBD" style="display:none;"><venda_text id=site.basketdetail.items></div>

<div class="minicart">
<div class="minicartContainerHighlight"></div>
<ul class="minicartContent<venda_block label=50,cartitemtotal!=0> items_added</venda_block label=50><venda_block label=51,cartitemtotal=0> items_empty</venda_block label=51>">
  <li class="total"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" id="minicart_total"><span id="updateTotal"><venda_total></span></a></li>
  <li><h5 class="minicartHeader showminicart" data-track="open-minicart"></h5></li>
	<li class="items"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" id="minicart_items"><span id="updateItems"><venda_cartitemtotal></span></a></li>
</ul>
</div>

</venda_block label=24>