<venda_detblock>
	<venda_story template=review,story=<venda_stryref1>>
</venda_detblock>

<venda_block label=32,rectot&gt;0>
	<h5>Customer Reviews</h5>
	<div id="customerReviews"><venda_detail></div>
	<div><a href="#" onClick="toggle('reviewDiv', ''); return false;"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/icon_review.gif" width="15" height="15" alt="Write a review" border="0"></a> <a href="#" onClick="toggle('reviewDiv', ''); return false;">Write a review</a></div>
</venda_block label=32>