<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="<venda_block label=10,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=10><venda_block label=11,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=11>" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="<venda_block label=20,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=20><venda_block label=21,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=21>" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="<venda_block label=30,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=30><venda_block label=31,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=31>" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="<venda_block label=40,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=40><venda_block label=41,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=41>" class="no-js"> <!--<![endif]-->
<head>
    <venda_menu template=title>
    <venda_page page=metainformation>
    <venda_block,mode=value,<venda_tpxt mode=get,name=orsc>!=1>
    <venda_inctemplate name=css_co,type=mainIncludes>
    <venda_inctemplate name=js_co,type=mainIncludes>
    </venda_block>
    <venda_block,mode=value,<venda_tpxt mode=get,name=orsc>=1>
    <venda_inctemplate name=css,type=mainIncludes>
    <venda_inctemplate name=js,type=mainIncludes>
    </venda_block>
<!-- Web Trends tag -->
<venda_inctemplate name=webtrendsFooter,type=includes/webtrends>
<!-- Web Trends tag -->
</head>
<body id="<venda_rtype>_<venda_ref>">
<venda_inctemplate name=bodyTop,type=tracking/shared>
<venda_inctemplate name=admin,type=mainIncludes>
<venda_inctemplate name=demo,type=mainIncludes>
<div class="wrapper">
<a href="#content" class="hide"><venda_text id=site.skip_to_content></a>
<div class="mainHeader container_24 clearfix">
    <venda_block,mode=value,<venda_tpxt mode=get,name=orsc>=1>
    <venda_inctemplate name=header,type=mainIncludes>
    </venda_block>
    <venda_block,mode=value,<venda_tpxt mode=get,name=orsc>!=1>
    <venda_inctemplate name=checkoutHeader,type=mainIncludes>
    </venda_block>
</div><!-- end mainHeader -->
	<div class="checkoutTemplate contentWrapper container_24 clearfix">
		<div class="content grid_24"><a name="content" id="content"></a><venda_content></div>
	</div><!-- end content container -->

    <venda_block,mode=value,<venda_tpxt mode=get,name=orsc>=1>
    <div class="mainFooter container_24 clearfix">
		<venda_inctemplate name=footer,type=mainIncludes>
	</div><!-- end mainFooter -->
    <div class="full-width foot-devider"></div>
	<div class="subFooter container_24 clearfix">
		<venda_inctemplate name=subfooter,type=mainIncludes>
	</div><!-- end subFooter -->
    </venda_block>
    <venda_block,mode=value,<venda_tpxt mode=get,name=orsc>!=1>
    <div class="mainFooter container_24 clearfix">
    <venda_inctemplate name=checkoutFooter,type=mainIncludes>
    </div><!-- end mainFooter -->
    </venda_block>
</div><!-- end wrapper -->
<venda_inctemplate name=workflowSteps,type=tracking/shared>
<venda_inctemplate name=bodyBottom,type=tracking/shared>
<venda_inctemplate name=tealiumtracking,type=includes/tracking>
</body>
</html>
