<div id="thankyou">

	<venda_block label=12,mode=value,<venda_htxt mode=get,name=foo>=writereview>
	<h1>Write A Review</h1>
	<p>Your review of '<venda_invtname>' has been sent.</p>
	</venda_block label=12>
	
	<venda_block label=13,mode=value,<venda_htxt mode=get,name=foo>!=writereview>
	<h1>Email me when this item is back in stock</h1>
	<p>Thank you, you will receive an email when '<venda_invtname>' is back in stock.</p>
	</venda_block label=13>
	
	<p><a href="<venda_dispview invt=<venda_invtref>>">Click here to return to the product you were previously viewing.</a></p>
</div>