<div class="checkoutFooter">
    <venda_page page=footerlinkscheckout>
    <div class="cards">
        <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/uo-payment-opts-lrg_uk.png?v=2" />
    </div>
    <div class="grid_4" >
	    <!-- mp_trans_remove_start-->
	    	UrbanOutfitters.co.uk is secure. Your personal details are protected at all times
	    <!-- mp_trans_remove_end-->
	    <!-- mp_trans_disable_start-->
			<!-- mp_trans_add="FR" 
				UrbanOutfitters.fr est un site s&eacute;curis&eacute;. Vos informations personnelles sont prot&eacute;g&eacute;es de fa&ccedil;on optimale
			-->
			<!-- mp_trans_add="DE" 
				UrbanOutfitters.de ist sicher. Ihre pers&ouml;nlichen Daten sind zu jedem Zeitpunkt gesch&uuml;tzt.
			-->
		<!-- mp_trans_disable_end-->
    </div>
    <div class="grid_4 push_16"><venda_inctemplate name=vendaLogo,type=widgets></div>
    <p class=" grid_10 pull_1 footerText">&copy; <venda_dateformat date=now,format=yyyy> <venda_ebizname> Europe</p>
</div>