<script type="text/javascript">
    jQuery(function() {
    	var pi = jQuery('.cloud-zoom').html();
    	jQuery('.tellafriendPI').html(pi);
        jQuery("body").trigger("tellafriendform-loaded");
    });
</script>

<form action="<venda_codehttp>" method="post" name="tellafriendform" id="tellafriendform">								
<input type="hidden" name="ex" value="co_disp-referfr">
<input type="hidden" name="bsref" value="<venda_bsref>">
<input type="hidden" name="from" value="<venda_setting type=ebiz,name=email>">
<input type="hidden" name="subject" value="Urban Outfitters Product Recommendation">
<input type="hidden" name="invt" value="<venda_invtref>">
<input type="hidden" name="label1" value="">
<input type="hidden" name="temp" value="tellafriendthankyou">
<input type="hidden" name="htxt" value="<venda_htxt mode=make,foo=tellafriend>">
<input type="hidden" name="layout" value="">

<div class="tellafriend">
<h1>Share With A Friend</h1>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>
<p>If you've seen something you reckon your mate would like, use the form below to send a personal message and link to <strong><venda_invtname></strong>. We'll even give you a little preview of the email they'll receive!.</p>

<span style="display: block;margin: 10px 0;">* Required Fields</span>
<fieldset>
<div><label for="fname"><venda_text id=desktop.form.your_name><span class="hideScreenReaderSafe"> <venda_text id=desktop.form.required></span> <span class="required">*</span></label> 
<venda_userinfo>
<venda_block label=102,ustype!=R><input class="tellaInput" name="fname" size="20" maxlength="50" value="* Your Name"></venda_block label=102>
<venda_block label=103,ustype=R><input class="tellaInput" name="fname" size="20" maxlength="50" value="<venda_fname>&nbsp;<venda_lname>" readonly="1"></venda_block label=103>
</venda_userinfo></div>
<div><label for="name"><venda_text id=desktop.form.friends_name><span class="hideScreenReaderSafe"> <venda_text id=desktop.form.required></span> <span class="required">*</span></label> <input class="tellaInput" name="name" id="name" size="20" maxlength="50" value="* Your Friend's Name"></div>
<div><label for="email"><venda_text id=desktop.form.friends_email><span class="hideScreenReaderSafe"> <venda_text id=desktop.form.required></span> <span class="required">*</span></label> <input class="tellaInput" name="email" id="email" size="20" maxlength="150" value="* Your Friend's Email"></div>
<div><label for="field1"><venda_text id=desktop.form.message><span class="hideScreenReaderSafe"> <venda_text id=desktop.form.required></span> <span class="required">*</span></label> <textarea cols="46" name="field1" id="field1" rows="3">Write your message here... (200 max.)</textarea></div>
</fieldset>

<div class="tellafriendPIC">
<div class="tellafriendPI"></div>
<div class="tellafriendBG"></div>
</div>

<span style="display: block;margin: 10px 0;">Your friend's email addresses won't be used for promotional purposes and won't be shared with 3rd parties.<br /><b><a href="<venda_dispview page=privacypolicy>">Read our privacy policy ></a></b></span>

<div>
<input type="submit" value="" class="button  buttonArrow right submit submitTellafriend">
</div>
</div>
</form>

<!-- tpxt used for crumbtrail -->
<venda_tpxt mode=set,name=invtname,value=<venda_invtname>>
<venda_tpxt mode=set,name=track,value=tellafriend>

<style>
@font-face {
    font-family: "UO Font";
    src: url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/fonts/ywft-absent-grotesque-medium-webfont.eot');
    src: url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/fonts/ywft-absent-grotesque-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/fonts/ywft-absent-grotesque-medium-webfont.woff') format('woff'),
         url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/fonts/ywft-absent-grotesque-medium-webfont.ttf') format('truetype'),
         url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/fonts/ywft-absent-grotesque-medium-webfont.svg#ywft_absent_grotesque_mediuMd') format('svg');
    font-weight: normal;
    font-style: normal;
}
.tellafriendDialog {
	background: url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/grid_tile.jpg') repeat scroll 0 0 #fff;
	border: 2px solid #020202;
}
.tellafriendDialog .ui-dialog-titlebar {
	display: none !important;
}
.tellafriendDialog .ui-dialog-content {
	padding: 25px 42px;
}
.tellafriendDialog h1 {
	font-family: "UO Font", Helvetica, Arial, sans-serif;
	position: relative;
	font-size: 43px;
	text-transform: uppercase;
}
.tellafriendDialog p {
	font-size: 16px;
	line-height: 22px;
}
.tellafriendDialog fieldset {
	width: 486px;
	display: inline-block;
	vertical-align: top;
}
.tellafriendDialog fieldset > div:first-of-type {
	margin-top: -3px;
}
.tellafriendDialog label {
	display:none;
}
.tellafriendDialog input.tellaInput {
	width: 450px;
	height: 23px;
	padding: 5px;
	border: 2px solid;
	font-size: 16px;
	color: #58595b;
	background-color: #f7f7f7;
}
.tellafriendDialog textarea {
	width: 450px;
	height: 171px;
	padding: 5px;
	border: 2px solid;
	font-size: 14px;
	color: #58595b;
	background-color: #f7f7f7;
}
.tellafriendDialog .tellafriendPIC {
	display: inline-block;
	position:relative;
}
.tellafriendDialog .tellafriendPI img {
	width: 207px;
	height: 313px;
	border: 2px solid;
	position: absolute;
	top: -3px;
	left: 4px;
	z-index: 1;
}
.tellafriendDialog .tellafriendBG {
	width: 211px;
	height: 317px;
	background-color: #333;
	z-index: 0;
}
.tellafriendDialog .submit {
	background: url('<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/uo-png-sprite.png') no-repeat;
	background-position: -8px -547px;
	width: 185px;
	height: 38px;
	border: 0;
	float: left;
}
.tellafriendDialog .submit:hover {
	background-position: -12px -543px;
}
</style>