<div class="resultMsg">
<!--Showing <venda_pgn_firstdisplayitem> - <venda_pgn_lastdisplayitem> of --><venda_pgn_totalitems> styles found
</div>
<div class="pagn_viewAll">
<venda_block label=1122,mode=value,<venda_setting type=ebiz,name=showsearchviewall>=1,<venda_pgn_totalpages>&gt;1>
</venda_block label=1122>
<venda_tpcomment><!-- show 'view all' link --></venda_tpcomment>
<venda_block label=999,mode=value,<venda_pgn_isviewall>!=1>
<span class="pagnViewAll">
	<venda_block label=1125,mode=value,<venda_setting type=ebiz,name=setsearchviewallvalue>=notnull>
		<venda_block label=1123,mode=value,<venda_pgn_totalitems>&lt;<venda_setting type=ebiz,name=setsearchviewallvalue>>
			<a class="updatesearch" href="<venda_pgn_baseurl>&setpagenum=1&isviewall=1&perpage=<venda_pgn_totalitems>" title="<venda_text id=desktop.button.viewall>">View all</a>
		</venda_block label=1123>
		<venda_block label=1124,mode=value,<venda_pgn_totalitems>&gt;<venda_setting type=ebiz,name=setsearchviewallvalue>>
			<a class="updatesearch" href="<venda_pgn_baseurl>&setpagenum=1&isviewall=1&perpage=<venda_setting type=ebiz,name=setsearchviewallvalue>" title="<venda_text id=desktop.button.viewallmax>">View all</a>
		</venda_block label=1124>
	</venda_block label=1125>	
</span>
</venda_block label=999>
<venda_block label=1120,mode=value,<venda_pgn_isviewall>=1>
			<!-- show paged view -->
<span class="pagnShowViewByPaged<venda_block label=1136,mode=value,<venda_pgn_totalpages>=1> setMarginPagedView</venda_block label=1136>"><a class="updatesearch" href="<venda_pgn_baseurl>&setpagenum=1&perpage=32" title="<venda_text id=desktop.info.pagn_page_go_viewbypage>">View by page</a>
</span>
</venda_block label=1120>
</div>