<venda_detblock>
<div class="detAcc"><a href="<venda_dispview invt=<venda_invtref>>" title="<venda_invtname>"><venda_block label=4,med-thumb=notnull><venda_media rec=invt,type=movie-swf-pict,key=thumb,border=0,width=67,height=101></venda_block label=4><venda_block label=5,med-thumb=null><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/noimage_thu.jpg" alt="<venda_invtname>" title="<venda_invtname>" border="0"></venda_block label=5></a></div>
</venda_detblock>


<span class="productdetailsubheads">More Ideas</span><div id="accessories"><venda_detail></div> 