<venda_detblock3>
	<venda_resultgrp maxnext=7>	
</venda_detblock3>

<venda_detblock2>
<tr>	
	<td><a href="<venda_codehttp>?ex=co_wizr-xapian&threshold=<venda_threshold>&bsref=<venda_bsref>&searchlike=1&searchcat=<venda_ref1>&searchex=<venda_newquery>&itemsperpage=10&srchopt=<venda_srchopt><venda_srchoptions>"><venda_name1></a></td>
	<td><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/rela_<venda_relband1>.gif" alt="Category Relevance <venda_relband1> out of 10" border="0"></td>
</tr>
</venda_detblock2>

<venda_detblock1>
<venda_block label=342,invtname1=notnull>
<venda_inctemplate name=productlistDetblock,type=includes>
</venda_block label=342>
<!-- if you are only searching for products you can remove conditions 43 to 45 and take out condition 342 above -->
<venda_block label=43,pagename1=notnull>
<li>
<h3><venda_pagename1></h3>
<p><a href="<venda_dispview page=<venda_pageref1>>">View page</a></p>
<p><a href="<venda_codehttp>?ex=co_wizr-xapian&bsref=<venda_bsref>&xptpl=wz_xapian_all&morelike=<venda_xapdoc1>&itemsperpage=10&searchpage=1">More like this</a></p>
</li>
</venda_block label=43>
<venda_block label=44,stryname1=notnull>
<li>
<h3><venda_stryname1></h3>
<p><a href="<venda_dispview stry=<venda_stryref1>>">View story</a></p>
<p><a href="<venda_codehttp>?ex=co_wizr-xapian&bsref=<venda_bsref>&xptpl=wz_xapian_all&morelike=<venda_xapdoc1>&itemsperpage=10&searchstry=1">More like this</a></p>
</li>
</venda_block label=44>
<venda_block label=45,icatname1=notnull>
<li>
<h3><venda_icatname1></h3>
<p><a href="<venda_dispview icat=<venda_icatref1>>">View product Category</a></p>
<p><a href="<venda_codehttp>?ex=co_wizr-xapian&bsref=<venda_bsref>&xptpl=wz_xapian_all&morelike=<venda_xapdoc1>&itemsperpage=10&searchicat=1">More like this</a></p>
</li>
</venda_block label=45>
</venda_detblock1>

<venda_form method=get>
<!-- Check the include template 'searchFields' to ensure all the correct fields are passed through in case you want to add refine search --->
<venda_inctemplate name=searchFields,type=includes>
<!--Original search query and carryfields values passed through below  -->
<input type="hidden" name="searchex" id="searchex" value="<venda_block query=notnull><venda_query></venda_block><venda_block label=336,query=null>*</venda_block label=336>">
<input type="hidden" name="sortname" id="sortname" value="<venda_block field_sortname=notnull><venda_field_sortname></venda_block>">
<input type="hidden" name="sortprice" id="sortprice" value="<venda_block field_sortprice=notnull><venda_field_sortprice></venda_block>">
<input type="hidden" name="sortrelease" id="sortrelease" value="<venda_block field_sortrelease=notnull><venda_field_sortrelease></venda_block>">

<h1>Search Results<venda_block label=65,query=notnull> for <venda_query></venda_block label=65></h1>

<venda_block label=101,spell=notnull,sertotal=notnull>
<p>Your search for '<venda_catname> <venda_query>' returned no results. The closest match was '<venda_spell>'.</p>
</venda_block label=101>

<venda_block label=2,sertotal=null,query=notnull>
<p>Sorry, we currently have no products  related to '<venda_catname> <venda_query>'.</p>
</venda_block label=2>


<venda_block label=63,sertotal=null,query=null>
<p>You did not enter any search keywords, please try again.</p>
</venda_block label=63>

<venda_block label=3,sercattotal&gt;0>
<table cellspacing="0" cellpadding="0" border="0" summary="categories relevant to your search">
<thead>
	<tr>
		<th scope="col">Categories</th>
		<th scope="col">Relevance</th>
	</tr>
</thead>
<tbody>
	<venda_detail2>
</tbody>
</table>	
</venda_block label=3>

<venda_block label=1,sertotal=notnull>
<h2>Sort By:</h2>
<!-- Edit the include template 'searchString' to ensure all the correct fields are passed through. It must contain all the parameters that are in the 'searchFields' include template -->
<ul>
<li><a href="<venda_inctemplate name=searchString,type=includes>&sortname=f">A-Z</a></li>
<li><a href="<venda_inctemplate name=searchString,type=includes>&sortname=r">Z-A</a></li>

<!-- cannot use links below if searching for stories, pages, icats -->
<li><a href="<venda_inctemplate name=searchString,type=includes>&sortprice=up">Price Ascending</a></li>
<li><a href="<venda_inctemplate name=searchString,type=includes>&sortprice=down">Price Descending</a></li>

<li><a href="<venda_inctemplate name=searchString,type=includes>&sortrelease=up">Release Date Ascending</a></li>
<li><a href="<venda_inctemplate name=searchString,type=includes>&sortrelease=down">Release Date Descending</a></li>
</ul>

</venda_form>	

<p>
<venda_block label=33,prevpage=notnull><a href='#' onClick='Step2(document.wizform,"xapian","", "<venda_searchprev>", "","_self","","","");'>Previous</a></venda_block label=33>

<venda_detail3>

<venda_block label=34,nextpage=notnull><a href='#' onClick='Step2(document.wizform,"xapian","", "<venda_searchnext>", "","_self","","","");'>Next</a></venda_block label=34>
</p>

<ul id="productlist">
<venda_detail1>
</ul>

<p>
<venda_block label=35,prevpage=notnull><a href='#' onClick='Step2(document.wizform,"xapian","", "<venda_searchprev>", "","_self","","","");'>Previous</a></venda_block label=35>

<venda_detail3>

<venda_block label=36,nextpage=notnull><a href='#' onClick='Step2(document.wizform,"xapian","", "<venda_searchnext>", "","_self","","","");'>Next</a></venda_block label=36>
</p>
</venda_block label=1>


	


<script language="javascript" type="text/javascript">
<!-- 
// populate search field with query
document.searchform.searchex.value = '<venda_query>';
// -->
</script>

<!-- tell productlistDetblock include that this is standard search -->
<venda_tpxt mode=set,name=template,value=standardsearch>