<html>
<head>
<title>Gift List Confirmation</title>
</head>
<body>

<h1>Gift List Confirmation</h1>

<p>Dear <strong><venda_glstcreatorfname></strong><venda_block label=10,glstpartnerfname=notnull> and <strong><venda_glstpartnerfname></strong></venda_block label=10></p>
<p>Congratulations and thank you for choosing <venda_ebizname> for your Gift List. Your Gift List has been set up successfully and your Gift List details are shown below.</p>

<p><strong>Gift List ID:</strong> <venda_glstrfnbr></p>
<p><strong>Gift List Password:</strong> <venda_glstpswd></p>

<p>To manage your Gift List, please go to the <a href="<venda_dispview page=giftlist>">Gift List page</a> and follow the instructions.</p> 
<p>Kind regards</p>
<p><venda_ebizname></p>

</body>
</html>