<venda_detblock1>			
	<!-- spotlight for store no <venda_itemcount> -->
	<venda_block label=3,itemcount=1>			
	<venda_featstory template=neareststore,key1=<venda_pref>>
	
	<venda_block label=5,distmiles&gt;0><p>This store is <venda_distmiles> mile<venda_block label=401,distmiles!=1>s</venda_block label=401> away from <venda_searchzipc></p></venda_block label=5>
	<venda_block label=6,distmiles&lt;1><p>This search was based on <venda_searchzipc></p></venda_block label=6>
	</venda_block label=3>
	
	<venda_block label=4,itemcount&gt;1>
	<venda_block label=51,itemcount=2>
	<h1>Other nearby stores</h1>
	</venda_block label=51>
	<ul>
		<li><a href="#" onclick="document.storefinder.zipc.value='<venda_pref>'; document.storefinder.submit(); return false;"><venda_address> (Distance <venda_distmiles> mile<venda_block label=402,distmiles!=1>s</venda_block label=402>)</a></li>
	</ul>
	</venda_block label=4>

</venda_detblock1>
			
<script language="JavaScript">
function changezipcode() {
	document.storefinder.zipc.value=document.storefinder.elements["bytown"].options[document.storefinder.elements["bytown"].selectedIndex].value;
	document.storefinder.submit();
}
</script>

<div id="storelocatorresults">

	<h2>Your Nearest Store</h2>

	<form name="storefinder" id="storefinder" method="post" action="<venda_codehttp>">
	<input type="hidden" name="ex" value="co_wizr-postcodedistance">
	<input type="hidden" name="threshold" value="1">
	<input type="hidden" name="bsref" value="<venda_bsref>">
	<input type="hidden" name="itemsperpage" value="4">
	<input type="hidden" name="zipc2list" value="<venda_category rec=scat,ref=stores,temp=storepostcodes,cacheall=1>">	

	<fieldset>
		<legend>find another store</legend>
		<input type="text" name="zipc" id="zipc" value="by postcode" class="border" maxlength="11" onfocus="this.value='';">
		<p>(please enter the full postcode e.g WD24 6SH)</p>
		<p>OR</p>
		<select name="bytown" id="bytown" onchange="changezipcode();" class="town">
		<option selected value="postcode">find a store by town</option>
		<venda_category rec=scat,ref=stores,temp=bytown,cacheall=1>
		</select>
	</fieldset>	
	
	<input type="Submit" value="Submit">
	
	</form>
	<venda_block label=3,found=1>
	<venda_detail1>
	</venda_block label=3>
	
	<venda_block label=2,found=0>
	<p>Sorry, your postcode was not found. Please try again, ensuring that you enter the full postcode.</p>				
	</venda_block label=2>

</div>

<!--
page: wz_orzc-postcodedistance.html
param1: <venda_param1>
param2: <venda_param2>
workflow: <venda_workflow> -->
