<!-- mp_trans_remove_start -->    
<div id="venda">
<!-- mp_trans_remove_end -->
<!-- mp_trans_disable_start -->
<!-- mp_trans_add="FR" 
<div id="venda" class="fr">
 -->
<!-- mp_trans_add="DE"
<div id="venda" class="de">
--><!-- mp_trans_disable_end -->
    <a href="http://www.venda.com" rel="popup" target="_blank"><img
src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/en_cccccc.gif" alt="eCommerce solutions and eCommerce software powered by Venda" border="0"></a>
</div>
    
<br class="clear-all">