 <div id="footerlinks">
        <ul>
        	<li class="first">&copy; <venda_dateformat date=now,format=yyyy> Urban Outfitters Europe</li>
          	<li><a href="<venda_dispview page=privacypolicy>" title="Privacy Policy">Privacy</a></li>
            <li class="last"><a href="<venda_dispview page=termsandconditions>">Terms &amp; Conditions</a></li>
		</ul> 
	</div>  
    
    <div id="venda">
    <a href="http://www.venda.com" rel="popup" target="_blank"><img
src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/en_cccccc.gif" alt="eCommerce solutions and eCommerce software powered by Venda" border="0"></a>
    </div>
    
            <br class="clear-all">