<div class="lookbook main">
	<a class="prev left">Previous</a>
	<a class="next right">Next</a>
	<img class="lbRoundel" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/lboffer_uk.png" />
	
	<div class="lbContent">
		
		<!-- banner ref: lookstopbanner -->
		<venda_page page=lookstopbanner3>	
		
		<div class="counter"><venda_category temp=counter,ref=<venda_curcatref>,rec=icat></div>
		<venda_block label=31,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=31>
		<venda_block label=32,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull>
			<p id="addedmsg">
		    	<venda_addedmsg msg=You have added addedqty addedname to your basket>
		        <a class="goToCheckout" href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22">Go To Checkout</a>
		    </p>
		</venda_block label=32>

		<venda_media rec=invt,type=pict,key=large,class=large>
		<div class="lbProds">
			<venda_invtsub template=lookbooksubs>
		</div><!-- end .lbprods -->
		
		<div class="lbNav">
			<venda_page page=lookbooktxt>
			<venda_category temp=lookbookprods,ref=<venda_curcatref>,rec=icat>
		</div><!-- end .nav -->
	</div><!-- end .lbcontent -->
	<venda_page page=lookbook-terms> <!-- Terms & Conditions -->
</div><!-- end.lookbook -->

<venda_tpcomment>
<!--
This tpxt is used in Look Book products add to basket form(s) so as to keep user on lookbook parent sku when adding to basket
Also used for showing the currently active SKU in the bottom nav
Also used for showing the counter
-->
</venda_tpcomment>
<venda_tpxt mode=set,name=lbparentsku,value=<venda_invtref>>