<html>
<head>
<title>Gift List Confirmation</title>
</head>
<body>

<p>Dear <venda_ebizname></p>
<p><strong><venda_glstcreatortitle> <venda_glstcreatorfname> <venda_glstcreatorlname></strong><venda_block label=10,glstpartnerfname=notnull> and <strong><venda_glstpartnertitle> <venda_glstpartnerfname> <venda_glstpartnerlname></strong> have</venda_block label=10><venda_block label=11,glstpartnerfname=null> has</venda_block label=11> created:</p>
<h2>Gift List Details</h2>
<p><strong>Gift List ID:</strong> <venda_glstrfnbr></p>
<p><strong>Occasion:</strong> <venda_glsteventtype><venda_glsteventtypeother></p>
<p><strong>Occasion Date:</strong> <venda_glsteventdate></p>
<p><strong>Creator's Email Address:</strong> <venda_usemail></p>
<p>Many thanks</p>
<p>Venda</p>

</body>
</html>