<!-- IF INVALID SKUS ENTERED IN QUICKSHOP, CREATE THOSE SKUS HERE -->

<!-- 
	product detail row
	defined values will be editable where no value has been supplied for that field
-->

<venda_detblock1>
	<!-- table row for product information -->
		<!-- if an error message has been passed then drop in an additional table row displaying it -->
		<venda_block label=10,error=notnull>
		<tr>
			<td colspan="6">
				<p class="error"><venda_error></p>
				</td>
			<td>
			</td>
		</tr>
		</venda_block label=10>
		<!-- hidden fields applicable to both new and existing products -->
		<input type="hidden" name="quantity_<venda_recordID>" value="<venda_quantity>"> 

		<!-- where the item_id is provided assume this product is new and display input boxes as appropriate -->
		<venda_block label=11,item_id=notnull>
		<tr>
			<!-- hidden values for the current product -->
			<input type="hidden" name="item_id_<venda_recordID>" value="<venda_item_id>">
			<!-- unique id entered for product -->
			<td><venda_item_id></td>
			<!-- product ref entry box -->
			<td><input type="text" name="ref_<venda_recordID>" size="10" maxlength="25" value="<venda_ref>"></td>
			<!-- product name entry box -->
			<td><input type="text" name="name_<venda_recordID>" size="20" maxlength="100" value="<venda_name>"></td>
			<!-- product type dropdown -->
			<td><select name="ivtype_<venda_recordID>" size="0" class="admn_dropdownmenu"><venda_selectivtypes></select></td>
			<!-- product selling price of format 00000.00 -->
			<td><input type="text" name="sell1_<venda_recordID>" size="8" maxlength="8" value="<venda_sell1>" align="right"></td>
			<!-- limited stock dropdown -->
			<td>
                <select name="limitedstock_<venda_recordID>">
					<option value="" <venda_block label=111,limitedstock=null>selected</venda_block label=111>>select
					<option value="yes" <venda_block label=112,limitedstock=yes>selected</venda_block label=112>>yes
					<option value="no" <venda_block label=113,limitedstock=no>selected</venda_block label=113>>no
				</select>
			</td>
			<!-- removal checkbox -->
			<td><input type="checkbox" name="remove_<venda_recordID>" value="1" <venda_block label=114,remove=1>checked</venda_block label=114>></td>
		</venda_block label=11>
		<!-- where no item id supplied treat as existing product so just display supplied values -->
		<venda_block label=12,item_id=null>
		<tr>
			<!-- item id not applicable for this block -->
			<td><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/spacer.gif" alt="" width="1" height="1" border="0"></td>
			<!-- the sku defined for this product - non editable -->
			<td>
            <venda_ref>
			<input type="hidden" name="ref_<venda_recordID>" value="<venda_ref>">
			</td>
			<!-- the product name - non editable -->
			<td>
			<venda_name>
			<input type="hidden" name="name_<venda_recordID>" value="<venda_name>">
			</td>
			<!-- the product type - non editable -->
			<td>
			<venda_ivtype>
			<input type="hidden" name="ivtype_<venda_recordID>" value="<venda_ivtype>">
			</td>
			<!-- the selling price - non editable -->
			<td align="right">
			<venda_currsym><venda_sell1>
			<input type="hidden" name="sell1_<venda_recordID>" value="<venda_sell1>">
			</td>
			<!-- check box column - not applicable for this block -->
			<td><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/spacer.gif" alt="" width="1" height="1" border="0"></td>
			<!-- check box column - not applicable for this block -->
			<td><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/spacer.gif" alt="" width="1" height="1" border="0"></td>
		</venda_block label=12> 
        
	</tr>
</venda_detblock1>

<h1>Products Not Found</h1>
    <!-- enclose everything inside a form -->
    <venda_form>
	<!-- hidden fields to store values that apply to all data -->
	<input type="hidden" name="record_count" value="<venda_record_count>">
	<input type="hidden" name="search_field" value="<venda_search_field>">
	<!-- optional invt fields (not extended fields) in addition to mandatory invt fields -->
	<input type="hidden" name="additional_fields" value="<venda_additional_fields>">
	<!-- optional extended field names -->
	<input type="hidden" name="extended_fields" value="limitedstock">
    <!-- place all page content in a large table to center both horizontally and vertically -->

                <p>Some of the products you entered are not on the system.</p>
				
				<p>Please complete the details for these products using the form below.</p>
					

                <table cellspacing="0" cellpadding="0" border="0">
                   <thead>
                    <tr>
                        <th scope="col" valign="bottom">Barcode</td>
                        <th scope="col" valign="bottom">SKU</td>
                        <th scope="col" valign="bottom">Description</td>
                        <th scope="col" valign="bottom">Product Type</td>
                        <th scope="col" valign="bottom">Unit Price <venda_currsym></td>
                        <th scope="col" valign="bottom">Limited Stock</td>
                        <th scope="col" valign="bottom">Remove</td>
                    </thead>
                    </tr>
                    <tbody>
                    <venda_detail1>
                    </tbody>
                </table>
                <p><a href='#' onClick='<venda_wizbutton step=glstcreateproducts,param1=add,param2=,mode=process,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtogiftlist.gif" alt="Add to Gift List" border="0" class="righ"></a></p>

	</form>
