<venda_detblock>
 	<li>
    
    <venda_block label=1,catref01=menstees>
        <div class="leftnavsubsub">
            <a href="<venda_dispview icat=<venda_icatref1>>&bklist=icat,6,shop,mens,mensclothing,menstees,<venda_icatref1>" id="nav<venda_icatref1>"><div class="<venda_icatref1>leftnavsubsubsel"><venda_icatname1></div></a>
            <div class="clear-all"></div>
       	</div>
	</venda_block label=1>
    
    <venda_block label=2,catref01=wdenim>
        <div class="leftnavsubsub">
            <a href="<venda_dispview icat=<venda_icatref1>>&bklist=icat,6,shop,womens,womensclothing,wdenim,<venda_icatref1>" id="nav<venda_icatref1>"><div class="<venda_icatref1>leftnavsubsubsel"><venda_icatname1></div></a>
            <div class="clear-all"></div>
       	</div>
	</venda_block label=2>
    
    <venda_block label=3,catref01=books>
        <div class="leftnavsubsub">
            <a href="<venda_dispview icat=<venda_icatref1>>&bklist=icat,6,shop,home,homecategories,books,<venda_icatref1>" id="nav<venda_icatref1>"><div class="<venda_icatref1>leftnavsubsubsel"><venda_icatname1></div></a>
            <div class="clear-all"></div>
       	</div>
	</venda_block label=3>
    
    <venda_block label=4,catref01=mensdenim>
        <div class="leftnavsubsub">
            <a href="<venda_dispview icat=<venda_icatref1>>&bklist=icat,6,shop,mens,mensclothing,mensdenim,<venda_icatref1>" id="nav<venda_icatref1>"><div class="<venda_icatref1>leftnavsubsubsel"><venda_icatname1></div></a>
            <div class="clear-all"></div>
       	</div>
	</venda_block label=4>
    
   	<venda_block label=5,catref01=staffpicks>
        <div class="leftnavsubsub">
            <a href="<venda_dispview icat=<venda_icatref1>>&bklist=icat,6,shop,home,housecollections,staffpicks,<venda_icatref1>" id="nav<venda_icatref1>"><div class="<venda_icatref1>leftnavsubsubsel"><venda_icatname1></div></a>
            <div class="clear-all"></div>
       	</div>
	</venda_block label=5>
    
        
 	</li>
    
</venda_detblock>
<div id="height5"></div>
<ul id="<venda_icatref>">
    <venda_detail>
</ul>
<div id="height5"></div>
<style type="text/css">
.<venda_cattree index=-1,value=catref>leftnavsubsubsel { background-color:#FFFF00;}
.<venda_cattree index=-2,value=catref>leftnavsubsel { background-color:#FFFF00;}
</style>