<venda_detblock>
<venda_block label=10,med-medium=notnull>
	<venda_media rec=invt,type=movie-swf-pict,key=multi,dyn=yes,default=medium><!-- show "medium" key by default -->
</venda_block label=10>
<venda_block label=11,med-medium=null>
	<p>Sorry - No image available</p>
</venda_block label=11>

<p><strong>
<venda_block label=12,invtaltname=notnull><venda_invtaltname></venda_block label=12>
<venda_block label=13,invtaltname=null><venda_invtname></venda_block label=13>
</strong> x <venda_invtqty></p>

<p><venda_invtdesc1><br><a href="<venda_dispview invt=<venda_invtref>>">Details</a></p>
<hr>
</venda_detblock>

<h2>Details of products in this package:</h2>
<venda_detail>