<div id="musiccenter-detail" class="content-text">
<h1><venda_stryname></h1>
<div class="underline"><p></p></div>
<div>
	<div class="left">
		<venda_media rec=stry,type=movie-swf-pict,key=thumb>	
	</div>
	<div>
		<p><venda_strydesc1></p>
	</div>
</div>


<venda_block label=606,strydesc2=notnull>	
<p><venda_strydesc2></p>
</venda_block label=606>	

<venda_block label=609,strydesc3=notnull>	
<p><venda_strydesc3></p>
</venda_block label=609>	

<br class="clear-all">
<div align="right"><p><input type="Image" onclick="javascript:history.back();" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="PREVIOUS" border="0"></p></div>
</div>