<h1><venda_invtname></h1>

<venda_block label=32,mode=value,addedmsg=notnull><p><venda_addedmsg msg=You have added addedqty of addedname to your basket></p></venda_block label=32>

<venda_block label=10,med-medium=notnull>
<venda_media rec=invt,type=movie-swf-pict,key=multi,dyn=yes,default=medium><!-- show "medium" key by default -->
</venda_block label=10>
<venda_block label=11,med-medium=null>
<p>Sorry - No image available</p>
</venda_block label=11>

<venda_block label=88,pdxtimageware=1>
<!-- Imageware popup - remove if not used -->
<a href="#" onClick="popup('<venda_dispview invt=<venda_invtref>>?temp=imageware&layout=flashpopup','large','scrollbars=yes,resizable=yes,width=400,height=440');" title="Zoomable image">Zoomable image</a> 
<!-- end Imageware popup -->
</venda_block label=88>

<venda_block label=12,invtdesc1=notnull><p><venda_invtdesc1></p></venda_block label=12>
<venda_block label=13,invtdesc2=notnull><p><venda_invtdesc2></p></venda_block label=13>
<venda_block label=14,invtdesc3=notnull><p><venda_invtdesc3></p></venda_block label=14>
<venda_block label=15,invtdesc4=notnull><p><venda_invtdesc4></p></venda_block label=15>

<form name="form" action="<venda_codehttp>" method="get">
<input type="hidden" name="bsref" value="<venda_bsref>">
<input type="hidden" name="log" value="22">
<input type="hidden" name="mode" value="add">
<input type="hidden" name="curpage" value="">
<input type="hidden" name="next" value="">

<!-- "ex" sends user to basket if "co_wizr-shopcart" - or leaves on current page if "co_disp-shopc" -->
<!-- will sends user to basket by default - "Add to Basket" button changes "ex" value and leaves on current page (unless js disabled) -->
<input type="hidden" name="ex" value="co_wizr-shopcart">

<!-- "buy" defines sku to add if "ex" is "co_disp-shopc" -->
<input type="hidden" name="buy" value="<venda_invtref>">
<!-- "invt" defines next step if "ex" is "co_disp-shopc" (sends to home page without this field) - could be set to send to any icat or page instead -->
<input type="hidden" name="invt" value="<venda_invtref>">

<!-- "ivref" defines sku to add if "ex" is "co_wizr-shopcart" -->
<input type="hidden" name="ivref" value="<venda_invtref>">

<venda_block label=16,chkatt=null>
<!-- if product doesn't have attributes -->
<p>&pound;<venda_invtsell></p>
<venda_block label=17,invtwas=notnull><p>Was &pound;<venda_invtwas></p></venda_block label=17>
<venda_block label=18,invtsavingonwas=notnull><p>Save &pound;<venda_invtsavingonwas></p></venda_block label=18>
</venda_block label=16>

<venda_block label=20,chkatt=notnull>
<!-- if product does have attributes -->
<venda_javacodeimages type=medium><!-- need to use image keys "[att1name]_medium" -->
<venda_javacodeprice>
<venda_javacode>
<p id="priceDiv">
    <venda_block invtatrminsubsell&gt;0.00>From &pound;<venda_invtatrminsubsell></venda_block>
    <venda_block invtatrminsubsell=0.00><venda_invtsymsell></venda_block>
</p><!-- replaced by current selection's price unless js disabled -->
	<fieldset>
	<legend>Please select from the following options:</legend>
	<venda_block label=21,selatt1=notnull><label for="att1"><venda_att1>:</label> <select name="att1" id="att1" onChange="ChangePrice();changeImages();"><venda_selatt1></select><br></venda_block label=21>
	<venda_block label=22,selatt2=notnull><label for="att2"><venda_att2>:</label> <select name="att2" id="att2" onChange="ChangePrice();changeImages();"><venda_selatt2></select><br></venda_block label=22>
	<venda_block label=23,selatt3=notnull><label for="att3"><venda_att3>:</label> <select name="att3" id="att3" onChange="ChangePrice();changeImages();"><venda_selatt3></select><br></venda_block label=23>
	<venda_block label=24,selatt4=notnull><label for="att4"><venda_att4>:</label> <select name="att4" id="att4" onChange="ChangePrice();changeImages();"><venda_selatt4></select><br></venda_block label=24>
	</fieldset>
<script language="javascript" type="text/javascript">
<!-- 
window.onLoad = ChangePrice();
window.onLoad = changeImages();
// -->
</script>

<venda_block label=201,att2=notnull,att3=null>
<!-- If there are two attributes, link to choose size and colour: -->
<p><strong>Or use our <a href="<venda_codehttp>?ex=co_wizr-productgrid&bsref=<venda_bsref>&step=shopcartmulti&invt=<venda_invtref>&ordercol=alphanu"><venda_att1> and <venda_att2> grid</a></strong></p>
</venda_block label=201>

</venda_block label=20>

<venda_block label=25,invtavail&gt;0>
<!-- if in stock -->
<label for="qty">Qty:</label> <input name="qty" id="qty" type="text" value="1" size="3" maxlength="3">

<venda_block label=700,chkatt=null>
<!-- if product doesn't have attributes -->
<input type="image" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket.gif" alt="Add to Basket" onClick="document.form.ex.value='co_disp-shopc';">
<input type="image" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_buynow.gif" alt="Buy Now">
</venda_block label=700>

<venda_block label=701,chkatt=notnull>
<!-- if product does have attributes -->
<input type="image" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket.gif" alt="Add to Basket" onClick="document.form.ex.value='co_disp-shopc';CheckAtt(document.form,''); return false;">
<input type="image" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_buynow.gif" alt="Buy Now" onClick="CheckAtt(document.form,''); return false;">
</venda_block label=701>

</venda_block label=25>

<venda_block label=30,invtpreorder=notnull>
<!-- if future release date -->
<p>Not yet released</p>
<p>You can order now and receive it on the official release date of <venda_invtreleasedy>/<venda_invtreleasemn>/<venda_invtreleaseyr></p>
</venda_block label=30>

<venda_block label=26,invtavail&lt;1>
<!-- if out of stock -->
<p>Sorry - Out of stock</p>
<venda_block label=167,etadate=notnull><p>Expected back in stock on: <venda_invtetadatey>/<venda_invtetadatemn>/<venda_invtetadateyr></p></venda_block label=167>
<p><a href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock">Email me when this item is back in stock</a></p>
</venda_block label=26>

</form>

<!--START MULTIBUY STUFF-->
   <venda_block label=340,invtsell2=notnull>
   <div>
    <h3>Multiple-buy Savings</h3>
    <div>
    <p>Buy <venda_invtstartqty2><venda_block label=52,invtsell3=null>+</venda_block label=52> <venda_invtname> for <strong>&pound;<venda_invtsell2></strong> each</p>
    <venda_block label=341,invtsell3=notnull>
    <p>Buy <venda_invtstartqty3><venda_block label=53,invtsell4=null>+</venda_block label=53> <venda_invtname> for <strong>&pound;<venda_invtsell3></strong> each</p>
    </venda_block label=341>
    <venda_block label=342,invtsell4=notnull>
    <p>Buy <venda_invtstartqty4><venda_block label=54,invtsell5=null>+</venda_block label=54> <venda_invtname> for <strong>&pound;<venda_invtsell4></strong> each</p>
    </venda_block label=342>
    <venda_block label=343,invtsell5=notnull>
    <p>Buy <venda_invtstartqty5><venda_block label=55,invtsell6=null>+</venda_block label=55> <venda_invtname> for <strong>&pound;<venda_invtsell5></strong> each</p>
    </venda_block label=343>
    <venda_block label=344,invtsell6=notnull>
    <p>Buy <venda_invtstartqty6>+ <venda_invtname> for <strong>&pound;<venda_invtsell6></strong> each</p>
    </venda_block label=344>
    </div>
   </div>
  </venda_block label=340>
<!--END MULTIBUY STUFF-->

<!-- use following 2 lines if write and read a review are required -->
<p><a href="<venda_dispview invt=<venda_invtref>>&temp=writereview">Write A Review</a></p>
<venda_category temp=reviewlink,ref=<venda_invtref>,rec=scat>

<!-- use following line if tell a friend is required -->
<p><a href="<venda_dispview invt=<venda_invtref>>&temp=tellafriend">Tell a Friend about this product</a></p>

<venda_block label=27,invtacctot&gt;0>
<!-- accessories -->
<venda_invtacc template=accessories>
</venda_block label=27>

<venda_block label=28,invtacctot&lt;1>
<!-- related products (predictor) -->
<venda_invtrelated limit=4,threshold=2,template=related>
</venda_block label=28>

<venda_block label=29,invtsubtot&gt;0>
<!-- substitutes -->
<venda_invtsub template=substitutes>
</venda_block label=29>