<h1>Login to a Friend's Gift List</h1>
<venda_block label=201,errors=notnull><p class="error"><venda_errors></p></venda_block label=201>

<venda_form>
<input type="hidden" name="layout" value="default">

<h2>Buy from a friend's Gift List</h2>
<p>Please enter your friend's Gift List ID and password.</p>
<p>Fields with an asterisk (<span class="required">*</span>) must be completed.</p>

<fieldset>
<legend>Gift List Details</legend>
<div><label for="listNumber">Gift List ID:<span class="required">*</span></label><input type="text" name="glstrfnbr" id="listNumber" value="<venda_glstrfnbr>" maxlength="50"></div>
<div><label for="listPassword">Gift List Password:<span class="required">*</span></label><input type="password" name="glstpswd" id="listPassword" maxlength="50"></div>
</fieldset>

<p><input type="image" onClick='<venda_wizbutton step=glstlist,param1=,param2=,mode=process,callonly=yes> return false;' src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_go.gif" alt="Login" class="right"></p>


<!--
page: wz_glst-login.html
workflow: <venda_workflow>
step: <venda_curstep>
-->