<script type="text/javascript">
<!--
colourSwatch["<venda_invtuuid>"] = new Venda.Widget.ColourSwatch({
	configObjArea:{
		objProductArea: (document.getElementById("comp-image<venda_invtref>")) ? document.getElementById("comp-image<venda_invtref>") : "",
		objSwatchArea: (document.getElementById("swatch<venda_invtref>")) ? document.getElementById("swatch<venda_invtref>") : ""
	},
	configMainImage: {
		uuid: "<venda_invtuuid>",
		prodSKU: "<venda_invtref>",
		prodAlt: "<venda_invtname>",
		prodLink: "<venda_dispview invt=<venda_invtref>>",
		displayNotifyMsg: true,
		notifyText: "<venda_text id=desktop.info.colour_swatch_notify>",
		fadeOutTime: 3000, // Duration in seconds for fade out message
		<venda_block label=notsearch,mode=value,<venda_tpxt mode=get,name=activekeyword>=null>
		<venda_tpcomment>/* The image key for product list template*/</venda_tpcomment>
		defaultImage: "<venda_entmediaadd>/ebiz/<venda_bsref>/invt/<venda_invtref>/<venda_invtref>_<venda_medatrvalue>_sm1.jpg"
		</venda_block label=notsearch>
		<venda_block label=search,mode=value,<venda_tpxt mode=get,name=activekeyword>=notnull>
		<venda_tpcomment>/* The image key for search template*/</venda_tpcomment>
		defaultImage: "<venda_entmediaadd>/ebiz/<venda_bsref>/invt/<venda_invtref>/<venda_invtref>_<venda_medatrvalue>_sm1.jpg"
		</venda_block label=search>
	}
});
// -->
</script>