<div id="<venda_block label=505,workflow=manageaddresses>my_covContentZip</venda_block label=505><venda_block label=505,workflow!=manageaddresses>covMyContent</venda_block label=505>">
<venda_block label=22,param2=uk,param2=add,operator=or>
<venda_block label=222,workflow=manageaddresses><div class="heading-all"><h1>Add Delivery Address</h1></div>
</venda_block label=222>
<venda_block label=223,workflow!=manageaddresses><div class="heading-all"><h1>Add Delivery Address</h1></div>
</venda_block label=223>
</venda_block label=22>
<venda_block label=23,param2!=uk,param2!=add>
<venda_block label=224,workflow=manageaddresses><div class="heading-all"><h1>Edit Delivery Address</h1></div>
</venda_block label=224>
<venda_block label=225,workflow!=manageaddresses><div class="heading-all"><h1>Edit Delivery Address</h1></div>
</venda_block label=225>
</venda_block label=23>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>
<p>All deliveries require a signature.</p>
<p>Please provide an address where someone can sign for delivery.</p>
<p>Fields with an asterisk (<span class="required">*</span>) must be filled in.</p>
<venda_form>
<input type="hidden" name="default" value="1">
<input type="hidden" name="abrfnbr" value="<venda_abrfnbr>">

<fieldset class="inpform">
<legend class="hide">contact details at this address</legend>
<div id="pinkHeader">Contact Details</div>
<div><label for="title">Title:</label><select name="title" id="title">
	<option value="Mr" <venda_block label=121,title=Mr>selected</venda_block label=121>>Mr</option>
	<option value="Mrs" <venda_block label=111,title=Mrs>selected</venda_block label=111>>Mrs</option>
	<option value="Miss" <venda_block label=101,title=Miss>selected</venda_block label=101>>Miss</option>
	<option value="Ms" <venda_block label=121,title=Ms>selected</venda_block label=121>>Ms</option>
	<option value="" <venda_block label=131,title=Other>selected</venda_block label=131>>Other</option>
</select>
</div>
<div><label for="fname">First Name: <span class="required">*</span></label> <venda_fname field=text,size=25,maxlength=30,required=yes></div>
<div><label for="lname">Last Name: <span class="required">*</span></label> <venda_lname field=text,size=25,maxlength=30,required=yes></div>
<div class="phone"><div class="phonelabel"><label for="phone" class="dontFloat">Telephone Number:</label> <label for="area" class="dontFloat invisible">and Area Code:</label></div> <venda_area field=text,size=4,maxlength=6,class=w30><venda_phone field=text,size=18,maxlength=20,class=w123></div>
</fieldset>

<fieldset class="inpform">
<legend class="hide">Please complete your delivery address</legend>
<div id="pinkHeader">Please complete your delivery address</div>
<venda_block label=2,param2=uk>
	<div><label for="zcdropdown">Addresses Found: <span class="required">*</span></label> <venda_zcdropdown></div>
	<div>If the address was not found or is incorrectly listed, <a href='#' onClick='<venda_wizbutton step=editadd,mode=process,param1=delivery,param2=add,callonly=yes> return false;'>please enter it manually</a>.</div>
	<venda_city field=hidden><venda_state field=hidden><venda_zipc field=hidden><venda_cntry field=hidden>
</venda_block label=2>
<venda_block label=3,param2!=uk>
	<!-- fully editable if address couldn't be found -->
	<div><label for="company">Company:</label> <venda_company field=text,size=25,maxlength=20></div>
	<div><label for="num">House Name/Flat Number: <span class="required">*</span></label> <venda_num field=text,size=25,maxlength=20,required=yes></div>
	<div><label for="addr1">Address: <span class="required">*</span></label> <venda_addr1 field=text,size=25,maxlength=50,required=yes></div>
	<div><label for="addr2" class="invisible">Address Line 2:</label> <venda_addr2 field=text,size=25,maxlength=50></div>
	<div><label for="city">City: <span class="required">*</span></label> <venda_city field=text,size=25,maxlength=30,required=yes></div>
	<div><label for="state">County:</label> <venda_state field=text,size=25,maxlength=20></div>
	<div><label for="zipc">Post Code: <span id="addstar"></span></label> <venda_zipc field=text,size=25,maxlength=20></div>
	<div><label for="cntry">Country: <span class="required">*</span></label> <venda_cntry field=combo,required=yes,ship=1></div>
</venda_block label=3>
</fieldset>

<venda_block label=47,workflow!=instore>
<fieldset class="inpform">
<legend class="hide">You can also name this address, eg. Home or Work</legend>
<div id="pinkHeader">You can also name this address, eg. Home or Work</div>
<div><label for="addrname">Address Name:</label> <venda_addrname field=text,size=25,maxlength=30></div>
</fieldset>
</venda_block label=47>

<script language="javascript" type="text/javascript">
<!--
function nextPage () {
if (document.wizform.fname.value == '') {
				alert('Please enter a first name.');
				document.wizform.fname.focus();
				return;
			}
			if (document.wizform.lname.value == '') {
				alert('Please enter a last name.');
				document.wizform.lname.focus();
				return;
			}
			//Hack for step2, required=yes is not work.
			if (document.wizform.num.value == "") {
				alert("Please enter a house name or flat number.");
				document.wizform.num.focus();
				return;
			}

			if (document.wizform.addr1.value == "") {
				alert("Please enter an address.");
				document.wizform.addr1.focus();
				return;
			}
			if (document.wizform.city.value == "") {
				alert("Please enter a town or city.");
				document.wizform.city.focus();
				return;
			}
			if (document.wizform.cntry.value == "") {
				alert("Please select a country.");
				document.wizform.cntry.focus();
				return;
			}
			var seletedcnty = document.wizform.cntry.value
			if(seletedcnty=="Austria"||seletedcnty=="Belgium"||seletedcnty=="Netherlands"||seletedcnty=="France"||seletedcnty=="Germany"||seletedcnty=="Luxembourg"||seletedcnty=="Italy"||seletedcnty=="Spain"||seletedcnty=="Finland"||seletedcnty=="Portugal"||seletedcnty=="Denmark"||seletedcnty=="Sweden"||seletedcnty=="Norway"||seletedcnty=="Switzerland"||seletedcnty=="Greece"||seletedcnty=="UK Channel Islands"||seletedcnty=="UK Isle of Man"||seletedcnty=="UK Isle of Wight"||seletedcnty=="UK Jersey"||seletedcnty=="UK Northern Ireland"||seletedcnty=="UK Scottish Highlands"||seletedcnty=="United Kingdom"||seletedcnty=="United States"){
				if (document.wizform.zipc.value == ""){
					alert("Please enter a postcode.");
					document.getElementById("addstar").innerHTML = "<span class='required'>*</span>";
					document.wizform.zipc.focus();
					
				return;
				}			
			}else{document.getElementById("addstar").innerHTML = "";}
	<venda_block label=34,param2=uk,errors=null>
	if (document.wizform.zcdropdown.selectedIndex==0) {
		alert("Please select an address from those found");
		document.wizform.zcdropdown.focus();
	}
	else {
	</venda_block label=34>
		<venda_block label=36,workflow=manageaddresses>
		// if in manageaddresses workflow
		<venda_wizbutton step=shipadd,mode=process,check=yes,param2=password,callonly=yes>
		</venda_block label=36>
        <venda_block label=37,workflow=giftlist>
		// if in giftlist workflow
		<venda_wizbutton step=shipadd,mode=process,check=yes,param2=password,callonly=yes>
		</venda_block label=37>
		<venda_block label=38,workflow=shopcart,workflow=instore,operator=or>
		// if in shopcart workflow
		<venda_wizbutton step=confirm,mode=process,check=yes,param2=password,callonly=yes>
		</venda_block label=38>
		<venda_block label=39,workflow!=shopcart,workflow!=manageaddresses,workflow!=giftlist,workflow!=instore>
		// if in none of those workflows
		<venda_wizbutton step=next,mode=process,check=yes,param2=password,callonly=yes>
		</venda_block label=39>
        
	}
<venda_block label=39,param2=uk,errors=null>}</venda_block label=39>
// -->
</script>

<venda_block label=4,addr1=notnull,param2=uk>
	<p class="fontC"><a href="#" onClick='<venda_wizbutton step=editadd,mode=process,param1=<venda_abrfnbr>,param2=dontknow,callonly=yes> return false;'>Is this address incorrect? click here</a></p>
</venda_block label=4>

<div id="button_v3">
<input type="image" onClick="nextPage(); return false;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continue.gif" alt="CONTINUE" class="right">
</div>

</form>
</div>
<venda_block label=20,workflow=instore>
<venda_tpxt mode=set,name=instore,value=1>
</venda_block label=20>

<!-- 
step: <venda_curstep>
workflow: <venda_workflow>
param1: <venda_param1>
param2: <venda_param2>
page: orad-editadd
 -->
 
<venda_tpxt mode=set,name=track,value=orad-editadd>
