<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/mobile/jquery.mobile-1.1.0-rc.1.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/mobile/UrbanOutfittersTheme.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/mobile/base.css?v=4" type="text/css" media="all" />