<venda_detblock>
<venda_block label=78,invtref1!=giftcert>
<li>
<venda_block label=445,invtparef1=notnull>
	<a href="<venda_dispview invt=<venda_invtparef1>>">
</venda_block label=445>
<venda_block label=446,invtparef1=null>
	<a href="<venda_dispview invt=<venda_invtref1>>">
</venda_block label=446>
<venda_block label=4,med-thumb1=notnull>
	<venda_media rec=invt1,type=movie-swf-pict,key=thumb,border=0,alt=<venda_invtname1>><br>
</venda_block label=4>
<venda_block label=5,med-thumb1=null>
	<venda_invtname1><br>
</venda_block label=5>
</a>
</li>
</venda_block label=78>

<venda_block label=79,invtref1=giftcert>
<li>
<h3><venda_invtname1></h3>
<p>From <venda_currsym><venda_invtatrminsubsell1></p>
<p><a href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>">Details</a></p>
</li>
</venda_block label=79>
</venda_detblock>


<venda_block label=440,reltot!=0>
<h2>More Ideas</h2>
<ul id="productlist">
<venda_detail>
</ul>
</venda_block label=440>