<venda_block label=31,ustype=R>
<script language="javascript" type="text/javascript">
<!-- 
function validateFields() {
	if (document.wizform.agree.checked == '') {
		alert('Please confirm you have read and agreed to the Terms and Conditions for Refer a Friend.');
	}
	else if (document.wizform.name1.value == '' || document.wizform.email1.value == '') {
		alert("Please fill your friend's names and email addresses");
	}
	else {
		<venda_wizbutton step=next,mode=process,param1=<venda_bsref>,callonly=yes>;
	}
}
// -->
</script>
<div id="cov_colRightMyaccount">
<div id="grayHeader"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/hdr_refer_a_friend.gif" alt="REFER A FRIEND" border="0"></div>
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>

<venda_form>
<input type="hidden" name="ex" value="wz_orcp-refer">
<input type="hidden" name="bsref" value="<venda_bsref>">
<input type="hidden" name="subject" value=" A message from ">
<input type="hidden" name="subjectref" value=" Your refered friends ">
<input type="hidden" name="emailfrom" value="<venda_ebizemail>">

<venda_userinfo>
<p><venda_sesname>, you can earn vouchers when you tell your friends about <venda_ebizname>.</p>
</venda_userinfo>

<p>Every time you recommend a friend to us (who is not already a registered customer of <venda_ebizname>) we will send them a <venda_currsym><venda_coamtreferred> voucher so they can try out <venda_ebizname>.</p>
<p>Once their first order is shipped, as a thank you we will also send you a <venda_currsym><venda_coamtreferrer> voucher to use on your next purchase.</p>
<p>Tell as many friends as you like about us and keep earning your free vouchers*.</p>

<p>* <a href="#" onclick="popup('<venda_dispview page=termsforreferafriend>&layout=popups','650','600','popup','no'); return false;">Terms &amp; Conditions</a> apply</p>

<p>You have currently told <venda_qty> friend<venda_block label=24,qty!=1>s</venda_block label=24>.</p>

<p><a href="<venda_codehttp>?ex=co_disp-refer&bsref=<venda_bsref>&page=referlist&layout=myaccount">View the friends you have recommended</a> to <venda_ebizname>.</p>

<div id="pinkHeader2">YOUR DETAILS</div>
<div class="fontC bblack">You can edit your name, as you want it to appear on your email.</div><br>
<fieldset class="inpform">
<legend class="hide">Your name</legend>
<div class="fontC bblack">Your name</div>
<div><label for="fromname">From:</label> <input type="text" name="fromname" id="fromname" value="<venda_fname> <venda_lname>" size="30" maxsize="150"></div>
</fieldset>
<br>
<div id="pinkHeader2">YOUR FRIENDS' DETAILS</div>
<fieldset class="inpform">
<legend class="hide">Your friends' names and email addresses</legend>
<p class="fontC bblack">Your friends' names and email addresses</p>
<div><label for="name1">Name:</label> <input type="text" name="name" id="name1" value="" size="30" maxsize="100"></div>
<div><label for="email1">Email Address:</label> <input type="text" name="email" id="email1" value="" size="30" maxsize="100"></div>
<br>
<div><label for="name2">Name:</label> <input type="text" name="name" id="name2" value="" size="30" maxsize="100"></div>
<div><label for="email2">Email Address:</label> <input type="text" name="email" id="email2" value="" size="30" maxsize="100"></div>
<br>
<div><label for="name3">Name:</label> <input type="text" name="name" id="name3" value="" size="30" maxsize="100"></div>
<div><label for="email3">Email Address:</label> <input type="text" name="email" id="email3" value="" size="30" maxsize="100"></div>
<br>
<div><label for="name4">Name:</label> <input type="text" name="name" id="name4" value="" size="30" maxsize="100"></div>
<div><label for="email4">Email Address:</label> <input type="text" name="email" id="email4" value="" size="30" maxsize="100"></div>
<br>
<div><label for="name5">Name:</label> <input type="text" name="name" id="name5" value="" size="30" maxsize="100"></div>
<div><label for="email5">Email Address:</label> <input type="text" name="email" id="email5" value="" size="30" maxsize="100"></div>

</fieldset>

<!-- <p><a href="<venda_dispview page=referpreview>&layout=empty" target="_blank">Preview Email</a></p> -->
<div class="bblack fontC"><input type="checkbox" name="agree" id="agree" class="referTick"> <label for="agree">Please check this box once you have read and agreed to the <a href="#" onclick="popup('<venda_dispview page=termsforreferafriend>&layout=popups','650','600','popup','no'); return false;">Terms &amp; Conditions</a> for Refer a Friend.</label></div>

<div id="button_v2">
<a href="<venda_dispview page=myaccount>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_previous.gif" alt="PREVIOUS" border="0" class="left"></a>
<input type="image" onClick="validateFields(); return false;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continue.gif" alt="CONTINUE" class="right">
</div>

</form>
</div>
<!-- 
param1: <venda_param1>
param2: <venda_param2>
workflow: <venda_workflow>
page: wz_refr-names.html
 -->
</venda_block label=31>


<venda_block label=33,ustype!=R>                
<script language="javascript" type="text/javascript">
// forward to log in page   
location.href="<venda_codehttps>?ex=co_wizr-refer&bsref=<venda_bsref>&step=referlogin";
</script>                          
</venda_block label=33>
  <script language="JavaScript" type="text/javascript">
catID="MY ACCOUNT";
stepName="Refer+a+friend";
</script> 