<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<!-- IS HOME -->
<venda_block label=homedata,pageref=home>
	<!-- mp_trans_remove_start-->
    <meta name="description" content="Discover the latest in women's and men's fashion and lifestyle online at Urban Outfitters. Shop 1000s of products covering clothing, homewares and gifts.">
    <!-- mp_trans_remove_end-->
    <!-- mp_trans_disable_start-->
		<!-- mp_trans_add="FR" <meta name="description" content="Achetez les dernières tendances mode femme, homme et lifestyle sur Urban Outfitters France. Des milliers de vêtements, des marques exclusives, des articles maison, déco et accessoires à portée de clic."> -->
		<!-- mp_trans_add="DE" <meta name="description" content="Entdecke the neuesten Mode- und Lifestyletrends für Sie und Ihn online bei Urban Outfitters. Wir bieten 1000e Artikel in den Bereichen Kleidungsstücke und Haushalts- und Geschenkartikel."> -->
	<!-- mp_trans_disable_end-->
</venda_block label=homedata>
<!-- IS IVENTORY CATEGORY RECORD -->
<venda_block label=icatdata,rtype=icat>
    <link rel="canonical" href="<venda_dispview icat=<venda_icatref>>" />
    <!-- 	META DESCRIPTION 
        	CREATE a category extended field for metadescription data
            ICXT metadescription IS available -->
    <venda_block label=icxttrue,icxtmetadescription=notnull>
    	<!-- mp_trans_remove_start-->
    	<meta name="description" content="<venda_icxtmetadescription>">
    	<!-- mp_trans_remove_end-->
    	<!-- mp_trans_disable_start-->
			<!-- mp_trans_add="FR" <meta name="description" content="<venda_icxtmetadescription_fr>"> -->
			<!-- mp_trans_add="DE" <meta name="description" content="<venda_icxtmetadescription_de>"> -->
		<!-- mp_trans_disable_end-->
    </venda_block label=icxttrue>
    <!-- ICXT metadescription IS NOT available then use the default description if there is one -->
    <venda_block label=icxtfalse,icxtmetadescription=null>
        <!-- mp_trans_remove_start-->
        <meta name="description" content="Discover the latest in women's and men's fashion and lifestyle online at Urban Outfitters. Shop 1000s of products covering clothing, homewares and gifts.">
        <!-- mp_trans_remove_end-->
        <!-- mp_trans_disable_start-->
			<!-- mp_trans_add="FR" <meta name="description" content="Achetez les dernières tendances mode femme, homme et lifestyle sur Urban Outfitters France. Des milliers de vêtements, des marques exclusives, des articles maison, déco et accessoires à portée de clic."> -->
			<!-- mp_trans_add="DE" <meta name="description" content="Entdecke the neuesten Mode- und Lifestyletrends für Sie und Ihn online bei Urban Outfitters. Wir bieten 1000e Artikel in den Bereichen Kleidungsstücke und Haushalts- und Geschenkartikel."> -->
		<!-- mp_trans_disable_end-->
    </venda_block label=icxtfalse>
</venda_block label=icatdata>
<!-- IS INVENTORY RECORD -->
<venda_block label=invtdata,rtype=invt>
    <link rel="canonical" href="<venda_dispview invt=<venda_invtref>>" />
    <!-- mp_trans_remove_start-->
    <meta name="Description" content="Shop <venda_invtname> from urbanoutfitters.co.uk">
    <!-- mp_trans_remove_end-->
    <!-- mp_trans_disable_start-->
		<!-- mp_trans_add="FR" <meta name="Description" content="Shop <venda_invtname> from urbanoutfitters.fr"> -->
		<!-- mp_trans_add="DE" <meta name="Description" content="Shop <venda_invtname> from urbanoutfitters.de"> -->
	<!-- mp_trans_disable_end-->
	<!-- mp_trans_remove_start-->
    <meta property="fb:app_id" content="446238198771503" />
    <meta property="og:url" content="<venda_dispview invt=<venda_invtref>>" />
    <!-- mp_trans_remove_end-->
    <!-- mp_trans_disable_start-->
		<!-- mp_trans_add="FR" <meta property="fb:app_id" content="463689540334521" />
							   <meta property="og:url" content="http://www.urbanoutfitters.fr/invt/<venda_invtref>" />
		 -->
		<!-- mp_trans_add="DE" <meta property="fb:app_id" content="499735593390258" />
							   <meta property="og:url" content="http://www.urbanoutfitters.de/invt/<venda_invtref>" />
		-->
	<!-- mp_trans_disable_end-->
    <meta property="og:title" content="<venda_invtname>" />
    <meta property="og:type" content="product" />
    <meta property="og:image" content="<venda_media rec=invt,type=pict,key=small,img=no>" />
    <meta property="og:description" content="<venda_invtname> from Urban Outfitters" />
    <meta property="og:site_name" content="<venda_setting type=ebiz,name=name>" />
</venda_block label=invtdata>
<venda_block label=pageog,rtype=page>
	<!-- mp_trans_remove_start-->
	<meta property="fb:app_id" content="446238198771503" />
    <meta property="og:url" content="<venda_dispview page=<venda_pageref>>" />
    <!-- mp_trans_remove_end-->
    <!-- mp_trans_disable_start-->
		<!-- mp_trans_add="FR" <meta property="fb:app_id" content="463689540334521" />
							   <meta property="og:url" content="http://www.urbanoutfitters.fr/page/<venda_pageref>" />
		 -->
		<!-- mp_trans_add="DE" <meta property="fb:app_id" content="499735593390258" />
							   <meta property="og:url" content="http://www.urbanoutfitters.de/page/<venda_pageref>" />
		-->
	<!-- mp_trans_disable_end-->
	<meta property="og:title" content="<venda_pagename> <venda_text id=site.title.at.page> <venda_setting type=ebiz,name=name>" />
    <meta property="og:type" content="product" />
    <venda_block label=lookbook,pageref=furniturestore>
		<meta property="og:image" content="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/lookbook/slides/slide_uk_00.jpg" />
	</venda_block label=lookbook>
    <!-- mp_trans_remove_start-->
    <meta property="og:description" content="<venda_pagename> <venda_text id=site.title.at.page> <venda_setting type=ebiz,name=name>" />
    <!-- mp_trans_remove_end-->
    <!-- mp_trans_disable_start-->
		<!-- mp_trans_add="FR" <meta property="og:description" content="<venda_pagename> - urbanoutfitters.fr" /> -->
		<!-- mp_trans_add="DE" <meta property="og:description" content="<venda_pagename> - urbanoutfitters.de" /> -->
	<!-- mp_trans_disable_end-->
    <meta property="og:site_name" content="<venda_setting type=ebiz,name=name>" />
</venda_block label=pageog>
<venda_block label=hidestorypage,mode=value,rtype=home>
<!-- IS STORY CATEGORY RECORD -->
<venda_block label=scatdata,rtype=scat>
	<link rel="canonical" href="<venda_dispview scat=<venda_scatref>>" />
	<!-- mp_trans_remove_start-->
	<meta name="description" content="<venda_scatname>" />
	<!-- mp_trans_remove_end-->
    <!-- mp_trans_disable_start-->
		<!-- mp_trans_add="FR" <meta name="description" content="<venda_scatname>"> -->
		<!-- mp_trans_add="DE" <meta name="description" content="<venda_scatname>"> -->
	<!-- mp_trans_disable_end-->
</venda_block label=scatdata>
<!-- IS STORY RECORD -->
<venda_block label=strydata,stryref=notnull>
	<link rel="canonical" href="<venda_dispview stry=<venda_stryref>>" />
	<!-- mp_trans_remove_start-->
	<meta name="description" content="<venda_stryname>" />
	<!-- mp_trans_remove_end-->
    <!-- mp_trans_disable_start-->
		<!-- mp_trans_add="FR" <meta name="description" content="<venda_stryname>"> -->
		<!-- mp_trans_add="DE" <meta name="description" content="<venda_stryname>"> -->
	<!-- mp_trans_disable_end-->
</venda_block label=strydata>
<!-- IS PAGE CATEGORY RECORD -->
<venda_block label=pcatdata,rtype=pcat>
	<link rel="canonical" href="<venda_dispview pcat=<venda_pcatref>>" />
	<!-- mp_trans_remove_start-->
	<meta name="description" content="<venda_pcatname>">
	<!-- mp_trans_remove_end-->
    <!-- mp_trans_disable_start-->
		<!-- mp_trans_add="FR" <meta name="description" content="<venda_pcatname>"> -->
		<!-- mp_trans_add="DE" <meta name="description" content="<venda_pcatname>"> -->
	<!-- mp_trans_disable_end-->
</venda_block label=pcatdata>
<!-- IS PAGE RECORD -->
<venda_block label=pagedata,rtype=page,pageref!=home>
	<link rel="canonical" href="<venda_dispview page=<venda_pageref>>" />
	<!-- mp_trans_remove_start-->
	<meta name="description" content="<venda_pagename>">
	<!-- mp_trans_remove_end-->
    <!-- mp_trans_disable_start-->
		<!-- mp_trans_add="FR" <meta name="description" content="<venda_pagename>"> -->
		<!-- mp_trans_add="DE" <meta name="description" content="<venda_pagename>"> -->
	<!-- mp_trans_disable_end-->
</venda_block label=pagedata>
<!-- IS SEARCH RECORD -->
<venda_block label=searchdata,rtype!=invt,rtype!=icat,rtype!=scat,rtype!=page,rtype!=pcat,stryref=null>
	<!-- mp_trans_remove_start-->
	<meta name="description" content="<venda_search_terms template=searchkeyword>">
	<!-- mp_trans_remove_end-->
    <!-- mp_trans_disable_start-->
		<!-- mp_trans_add="FR" <meta name="description" content="<venda_search_terms template=searchkeyword>"> -->
		<!-- mp_trans_add="DE" <meta name="description" content="<venda_search_terms template=searchkeyword>"> -->
	<!-- mp_trans_disable_end-->
</venda_block label=searchdata>
</venda_block label=hidestorypage>
<!-- IS ROBOTS DATA -->
<venda_block label=robotsdata,mode=value,<venda_islive>=null>
	<meta name="robots" content="noindex" />
</venda_block label=robotsdata>