<script language="JavaScript">
<!--
function validate(){
	if (document.form1.field1.value == '') {
		alert("Please enter your name");
		document.form1.field1.focus();
		return false;
		}	
	
	// email address validation
	if (document.form1.from.value == '') {
		alert("Please enter your email address");
		document.form1.from.focus();
		return false;
		}
	var checkUserEmail = document.form1.from.value;
	if (checkUserEmail != '') {
		if ((checkUserEmail.indexOf('@') < 0) || ((checkUserEmail.charAt(checkUserEmail.length-4) != '.') && (checkUserEmail.charAt(checkUserEmail.length-3) != '.'))) {
			alert("Please enter a valid email address.");
			document.form1.from.focus();
			return false;
		}
	}
	
	// phone number validation
	//remove if not required
	// strip hyphens
	document.form1.field2.value=document.form1.field2.value.replace(/-/g,"");
	// strip whitespace
	document.form1.field2.value=document.form1.field2.value.replace(/ /g,"");
	// not alpha characters
	var filterNumber = /[^\d]/;
	if (filterNumber.test(document.form1.field2.value)==true) {
		alert('Please enter a phone number that contains no letters.');
		document.form1.field2.focus();
		return false;
	}
	// starts with 0
	var filter=/^0/;
	if (filter.test(document.form1.field2.value)==false) {
		alert('Please enter a phone number beginning 0.');
		document.form1.field2.focus();
		return false;
	}
	// is 10 or 11 characters
	if (document.form1.field2.value.length!=10) {
		if (document.form1.field2.value.length!=11) {
			alert('Please enter a phone number with 10 or 11 digits.');
			document.form1.field2.focus();
			return false;
		}
	}
	if (document.form1.field2.value.length!=11) {
		if (document.form1.field2.value.length!=10) {
			alert('Please enter a number with 10 or 11 digits.');
			document.form1.field2.focus();
			return false;
		}
	}
	if (document.form1.field2.value==''){
		alert("Please enter your phone number")
		document.form1.field2.focus();
		return false;
		}
		
	if (document.form1.field6.value==''){
		alert("Please select a rating")
		document.form1.field6.focus();
		return false;
		}
		
	if (document.form1.field3.value==''){
		alert("Please provide your review")
		document.form1.field3.focus();
		return false;
		}
	}
//-->
</script>

<form action="<venda_codehttp>" method="post" name="form1" onsubmit="return validate();">
<input type="hidden" name="ex" value="co_disp-eproc">
<input type="hidden" name="bsref" value="<venda_bsref>">
<input type="hidden" name="subject" value="<venda_ebizname> Product Review from Customer">
<input type="hidden" name="to" value="<venda_ebizemail>">
<input type="hidden" name="label1" value="Name:">
<input type="hidden" name="label2" value="Phone Number:">
<input type="hidden" name="label6" value="Rating out of 5:">
<input type="hidden" name="label3" value="Review:">
<input type="hidden" name="label4" value="Product Sku:">
<input type="hidden" name="field4" value="<venda_invtref>">
<input type="hidden" name="label5" value="Product Name:">
<input type="hidden" name="field5" value="<venda_invtname>">
<input type="hidden" name="temp" value="thankyou">
<input type="hidden" name="invt" value="<venda_invtref>">
<input type="hidden" name="layout" value="default">
<input type="hidden" name="htxt" value="<venda_htxt mode=make,foo=writereview>">

<div id="writereview">

	<h1>Write A Review</h1>

	<p>To send us a review of '<venda_invtname>', please follow these 3 easy steps.</p>
	<ol>
		<li>Enter your name, email address and phone number in the fields below.</li>
		<li>Use the space provided for your review.</li>
		<li>Click 'Continue'.</li>
	</ol>
	
	<fieldset>
	<legend>Please enter your details</legend>
	<div><label for="field1">Name:</label> <input type="text" name="field1" id="field1" maxlength="150"></div>
	<div><label for="from">Email:</label> <input type="text" name="from" id="from" maxlength="150"></div>
	<div><label for="field2">Phone number:</label> <input type="text" name="field2" id="field2" maxlength="30"></div>
	<div><label for="field6">Rating out of 5:</label>
	<select name="field6" id="field6">
		<option value="">Please select...</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
	</div>
	<textarea cols="45" name="field3" rows="6" wrap="virtual"></textarea>
	</fieldset>
	
	<input type="image" value="Submit" alt="Submit" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continue.gif" id="CONTINUE">

	<p><a href="<venda_dispview invt=<venda_invtref>>">Back</a></p>
	
</div>

</form>