<html>
<head>
	<title><venda_ebizname> Updated Details</title>
</head>
<body>

<venda_inctemplate name=htmlEmailCssEtc,type=includes>
<div id="logo">
<a href="<venda_ebizurl>"><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/logo_email.gif" alt="<venda_ebizname>" border="0"></a><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/hdr_email_update_details.gif" alt="U" border="0">
</div>

<p>Dear <venda_fname></p>
<p>Thank you for updating the details for your <venda_ebizname> account.</p>

<p>For any questions, please contact us at <a href="mailto:<venda_ebizemail>"><venda_ebizemail></a> or ring us at
<venda_ebizphone> Mon-Fri, 9:00 - 18:00.</p>

<venda_inctemplate name=htmlEmailFooter,type=includes>

</body>
</html>