<script type="text/javascript">
		oicount = 0;
		orddetail = "";
</script>
<venda_inctemplate name=orderDetblocks2,type=includes>

 <venda_inctemplate name=checkoutBegin,type=includes>
<!-- start columns 2 - 3 -->
<div id="col-two-three" class="font2">

<div class="font1"><div class="heading-all"><h1>YOUR RECEIPT</h1></div></div>

<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>

<div>
	<p class="font1">Thank you for your order. A confirmation email will be sent to you shortly.</p>
	<p class="font1">Your order reference number is <strong class="row-text"><venda_ohordnum></strong>.</p>
	<a href="#" id="print" onClick="window.print();"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/btn_print.gif" alt="PRINT THIS PAGE" border="0"></a>
</div>

<div>
	<!-- start payment details -->
	<div id="order-receipt-payment-details" class="left">
		<div class="receipt-header">Payment Details</div>
	  <venda_paymenttypes templatetype=paytype/frontend,template=paymenttypes_display,ohrfnbr=<venda_ohrfnbr>>
	</div>
	<!-- end payment details -->
	
	<!-- start contact details -->
	<div id="order-receipt-contact-details" class="left">
		<div class="receipt-header">Billing Details</div>
		<venda_inctemplate name=contactDetails,type=includes>
	</div>
	<!-- end contact details -->
</div>

<div class="clear-all"></div>
<!-- start package summary -->
<venda_detail1>
<!-- end package summary -->

<!-- start order summary -->
<div id="order-receipt-order-totals" class="left">
	<div class="receipt-header">Order Totals</div>
	<venda_inctemplate name=orderSummary,type=includes>
</div>
<!-- end order summary -->

<!-- start promotions -->
<!-- detblock9/detail9 needed here -->
<!-- end promotions -->

<div class="clear-all"></div>
<!--div id="buttons"-->
<div id="btn-order-receipt-continue-shopping">
<a href="<venda_dispview page=home>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continueshopping.gif" border="0" alt="CONTINUE SHOPPING" class="right"></a>
</div>
<div style="display:none;" class="orfn-order-sum">
<div style="display:none;" class="orderid"><venda_ohordnum></div>
<div style="display:none;" class="orderdiscount"><venda_ohdisc></div>
<div style="display:none;" class="ordersubtotal"><venda_ohsub></div>
<div style="display:none;" class="ordershipping"><venda_ohship></div>
<div style="display:none;" class="ordertax"><venda_block label=1220,ohtaxinc=0.00><venda_ohtax></venda_block label=1220><venda_block label=1221,ohtax=0.00><venda_ohtaxinc></venda_block label=1221></div>
<div style="display:none;" class="orderpaymenttype"><venda_ohcctype></div>
<div style="display:none;" class="ordertotal"><venda_ohtot></div>
<div style="display:none;" class="customeremail"><venda_ohemail></div>
</div>
<!-- 
workflow: <venda_workflow>
step: <venda_curstep>
param1: <venda_param1>
param2: <venda_param2>
page: wz_orfn-screen.html
 -->
<venda_inctemplate name=trackingReceipt,type=includes>
<venda_tpxt mode=set,name=track,value=orderreceipt>
<venda_inctemplate name=SiteWideTracking,type=includes>

 </div>
<!-- end columns 2 - 3 -->
<venda_tpxt mode=set,name=track,value=orderreceipt>
<venda_inctemplate name=affiliatewindows,type=includes>
<venda_inctemplate name=yahoosm,type=includes/tracking>
