<venda_media rec=invt,type=pict,key=thumb,class=left>
<div class="details">
	<h2><venda_invtname></h2>
	<venda_block label=16,chkatt=null>
		<p class="price">
			<venda_currsym><venda_invtsell>
			<venda_block label=161,invtwas=notnull,invtwas!=0.00,invtwas1&gt;invtsell>
				<span>Was: <venda_currsym><venda_invtwas></span>
			</venda_block label=161>
		</p>
	</venda_block label=16>
	<venda_block label=17,chkatt=notnull>
		<p class="price">
			<venda_currsym><venda_invtatrmaxsubsell>
				<venda_block label=171,mode=value,<venda_invtatrmaxsubwas>&gt;0.00,<venda_invtatrmaxsubwas>&gt;<venda_invtatrmaxsubsell>,operator=and>
				<span>Was: <venda_currsym><venda_invtwas></span>
			</venda_block label=171>
		</p>
	</venda_block label=17>
	<div class="lookbookattDetail">
	<a href="<venda_dispview invt=<venda_invtref>>&temp=quickBuyDetails-reDesign&layout=noheaders" id="<venda_invtref>" class="lookbookQuick quickBuyDetails" title="More Colours Available" alt="More Colours Available">MORE DETAILS</a>
	</div>
</div>