<!--<div id="availprodrecs" style="width:955px;font-size:1.1em;">
<div id="avail-emarkid" style="display:none;">8f6b6820-5425-11de-92c7-12313b0039c1</div>
<div class="recommendedProducts" style="display:block" id="h2availpd"></div>
<script type="text/javascript"> var accessorySKU = ""; </script>
<venda_invtacc template=avaccessories>
<venda_inctemplate name=availpd,type=includes>
</div>-->

<div id="__avail_log__" style="display:none"></div>
<venda_inctemplate type=includes,name=availjs>
<div id="avail">
<h2 class="header-avail" id="h2searchrecs">More Ideas</h2>
<div id="avail-panel-availpd" class="irecslist">
<!-- ajax content will go here -->
</div>
<!-- Avail function calls -->
</div>
<script type="text/javascript">
addEvent(window, 'load', function() { populateProductRecs("availpd"); }, false);
</script>