<venda_tpcomment><!-- tags read by Pennies.js --></venda_tpcomment>
<div id="tag-xml" style="display:none;">/content/ebiz/<venda_bsref>/resources/euro_rates.xml</div>
<div id="tag-currencycode" style="display:none;"><venda_currencycode></div>

<div class="grid_6 currencyConverter regionLangSwitch">
	<div><a href="#" id="flag" class="flag">Convert Currency (<span class="currently"><venda_currencycode></span>)<span class="arrow"></span></a></div>
	<div id="flagContent" class="flagContent" style="display: none; ">
		<div class="region">
		<p>Convert Currency:</p>
			<ul>
				<venda_block label=1,mode=value,<venda_currencycode>=USD>
					<li><a rel="USD" href="#" class="resetcurrency USD">US Dollar - $ USD</a></li>
				</venda_block label=1>
				<venda_block label=1a,mode=value,<venda_currencycode>!=USD>
					<li><a rel="USD" href="#" class="loadcurrency USD">US Dollar - $ USD</a></li>
				</venda_block label=1a>

				<venda_block label=2,mode=value,<venda_currencycode>=EUR>
					<li><a rel="EUR" href="#" class="resetcurrency EUR">Euro - € EUR</a></li>
				</venda_block label=2>
				<venda_block label=2a,mode=value,<venda_currencycode>!=EUR>
					<li><a rel="EUR" href="#" class="loadcurrency EUR">Euro - € EUR</a></li>
				</venda_block label=2a>

				<venda_block label=3,mode=value,<venda_currencycode>=GBP>
					<li><a rel="GBP" href="#" class="resetcurrency GBP">UK Pound - £ GBP</a></li>
				</venda_block label=3>
				<venda_block label=3a,mode=value,<venda_currencycode>!=GBP>
					<li><a rel="GBP" href="#" class="loadcurrency GBP">UK Pound - £ GBP</a></li>
				</venda_block label=3a>
			</ul>
		</div>
	</div>
</div>