<table summary="Summary of your order including tax, discounts, postage and packing etc" width="100%" border="0" id="ordersummary" cellpadding="0" cellspacing="0">
	<tr>
		<th scope="row">ITEMS:</th>
		<td><venda_ohcursym><venda_ohsub></td>
	</tr>
	<venda_block label=64,showdiscount=1>
	<!-- start discount -->
	<tr>
		<th scope="row">TOTALS DISCOUNT:</th>
		<td>-<venda_ohcursym><venda_ohdisc></td>
	</tr>
	<!-- end discount -->
	</venda_block label=64>
	<tr>
		<th scope="row">P&amp;P:</th>
		<td><venda_ohcursym><venda_ohship></td>
	</tr>
	<venda_block label=91,ohtax!=0.00,ohtax=notnull>
	<tr>
		<th scope="row">ESTIMATED TAX:</th>
		<td><venda_ohcursym><venda_ohtax></td>
	</tr>
	</venda_block label=91>
	<venda_block label=68,ohgwtot&gt;0>
		<tr>
			<th scope="row">GIFT BOX:</th>
			<td><venda_ohcursym><venda_ohgwtot></td>
		</tr>
	</venda_block label=68>
	<tr>
		<th scope="row">&nbsp;</th>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<th scope="row"><b>ORDER TOTAL  (including <venda_ohcursym><venda_ohtaxinc> VAT)</b></th>
		<td class="veryImportant"><strong><venda_ohcursym><venda_ohtot></strong></td>
	</tr>
	<venda_block label=65,showaccount=1,storecreditused&gt;0.00,creditused&gt;0.00,operator=or>
		<venda_block label=82,enablestorecredit=1,creditused&gt;0.00,operator=or>
			<venda_block label=80,showpayments=null>
				<input type="hidden" name="ohpaytype" value="4">
			</venda_block label=80>
			<input type="hidden" name="usestorecredit" value="1">
			<venda_block label=180,storecredit=notnull>
				<tr>
					<th scope="row">ACCOUNT CREDIT:</th>
					<td class="veryImportant"><venda_ohcursym><venda_storecredit></td>
				</tr>
			</venda_block label=180>
				
			<venda_block label=821,storecreditremain&gt;0.00>
				<tr>
					<th scope="row">CREDIT REMAINING:</th>
					<td class="veryImportant"><venda_ohcursym><venda_storecreditremain></td>
				</tr>
			</venda_block label=821>
			
			<venda_block label=70,creditused&gt;0.00>
				<tr>
					<th scope="row">ACCOUNT CREDIT USED:</th>
					<td class="veryImportant"><venda_ohcursym><venda_creditused></td>
				</tr>
			</venda_block label=70>
			<!--
			<venda_block label=40,ohftitle=notnull>
			<tr>
				<th scope="row">Balance Paid:</th>
				<td><venda_ohcursym><venda_ohbal></td>
			</tr>
			</venda_block label=40>
			-->
			<venda_block label=181,balance=notnull>
				<tr>
					<th scope="row">BALANCE TO PAY:</th>
					<td class="veryImportant"><strong><venda_ohcursym><venda_balance></strong></td>
				</tr>
			</venda_block label=181>
		</venda_block label=82>
	</venda_block label=65>
</table>