<h1>Thank you</h1>
	
<h2>Your unique Gift List ID is <venda_glstrfnbr></h2>
<p>Your Gift List will close 14 days before your occasion date. You will not be able to add any more items to your Gift List, and your guests will not be able to purchase items through the Gift List after it closes.</p>
<p>Please <a href="<venda_codehttp>?ex=co_wizr-giftlist&bsref=<venda_bsref>&step=glstmang">continue</a> to add products to your list.</p>

<p><a href="<venda_codehttp>?ex=co_wizr-giftlist&bsref=<venda_bsref>&step=glstmang"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_continue.gif" alt="CONTINUE" border="0" class="right"></a></p>


<!--
page: wz_glst-created.html
workflow: <venda_workflow>
step: <venda_curstep>
-->