
<venda_detblock>
	<venda_block label=15,mode=value,<venda_cattree index=-1,value=catref>=<venda_icatref1>,<venda_cattree index=-2,value=catref>=<venda_icatref1>,<venda_cattree index=-3,value=catref>=<venda_icatref1>,<venda_cattree index=-4,value=catref>=<venda_icatref1>,operator=or>
		<li<venda_block label=5502,resultcount1=1> class="noml"</venda_block label=5502>><a href="<venda_dispview icat=<venda_icatref1>>" title="<venda_icatname1>" class="current"><venda_icatname1></a>
     	</li>	
	</venda_block label=15>
    
        <venda_block label=16,mode=value,<venda_cattree index=-1,value=catref>!=<venda_icatref1>,<venda_cattree index=-2,value=catref>!=<venda_icatref1>,<venda_cattree index=-3,value=catref>!=<venda_icatref1>,<venda_cattree index=-4,value=catref>!=<venda_icatref1>,operator=and>
		<li<venda_block label=5503,resultcount1=1> class="noml"</venda_block label=5503>><a href="<venda_dispview icat=<venda_icatref1>>" title="<venda_icatname1>" class="<venda_icatname1>"><venda_icatname1></a>
        </li>
	</venda_block label=16>
</venda_detblock>

<!-- <h1><venda_icatname></h1> -->

<ul class="gwList">
<venda_detail>
</ul>