<venda_detblock3>
	<script language="javascript">
		j++;
		if (j > 1)
		{
			document.write('-');
		}
	</script>
	<venda_resultgrp maxnext=7,xptpl=wz_xapian_advanced,show=pages>
</venda_detblock3>

<script language="javascript">
i=0;
j=0;
</script>

<venda_detblock1>
	<venda_inctemplate name=productlistDetblock,type=includes>
	<script language="javascript">
		i++;
		
		if (i%4==0)
		{
			document.write('</ul><ul id="productlist">');
		}
	
	</script>
</venda_detblock1>

<venda_detblock2>
	<option value="<venda_ref1>"><venda_name1></option>
</venda_detblock2>
<venda_detblock4>
	<venda_block label=444,extfieldvalue=notnull>
		<option value="<venda_extfieldvalue>"><venda_extfieldvalue></option>
	</venda_block label=444>
</venda_detblock4>

<!--Edit this javascript so it references your product extended fields-->
<script language="JavaScript">
function PassBrandValue() {
	document.wizform.U.value = document.wizform.brand.options[document.wizform.brand.selectedIndex].value;
	RefineSearch();
	a = document.wizform.brand.options[document.wizform.brand.selectedIndex] ;
	alert(a);
}
function PassCategory() {
	document.wizform.C.value = document.wizform.category.options[document.wizform.category.selectedIndex].value;
	document.wizform.catname.value = document.wizform.category.options[document.wizform.category.selectedIndex].text;	
	RefineSearch();
	document.wizform.category.options[document.wizform.category.selectedIndex].selected = document.wizform.category;	
	document.wizform.category.disabled = document.wizform.category;
}
function PassProductType() {
	document.wizform.V.value = document.wizform.producttype.options[document.wizform.producttype.selectedIndex].value;
}
function Price() {
	document.wizform.maxprice.value = document.wizform.maxp.options[document.wizform.maxp.selectedIndex].value;
	RefineSearch();
	document.wizform.maxp.disabled = document.wizform.maxp;
}
function Passpdxt2() {
	document.wizform.F.value = document.wizform.pdxtfeature2.options[document.wizform.pdxtfeature2.selectedIndex].value;
}
function RefineSearch() {
	document.wizform.enctype="";
	document.wizform.method = "get";
	<venda_wizbutton step=xapian,callonly=yes>
}
</script>
<venda_form method=get>
<!-- Check the include template 'searchFields' to ensure all the correct fields are passed through --->
<venda_inctemplate name=searchFields,type=includes>
<venda_inctemplate name=advancedsearchFields,type=includes>
<input type="hidden" name="searchex" id="searchex" value="<venda_block query=notnull><venda_query></venda_block><venda_block label=336,query=null>*</venda_block label=336>">
<input type="hidden" name="sortname" id="sortname" value="<venda_block field_sortname=notnull><venda_field_sortname></venda_block>">
<input type="hidden" name="sortprice" id="sortprice" value="<venda_block field_sortprice=notnull><venda_field_sortprice></venda_block>">
<input type="hidden" name="sortrelease" id="sortrelease" value="<venda_block field_sortrelease=notnull><venda_field_sortrelease></venda_block>">
<input type="hidden" name="catname" id="catname" value="<venda_field_catname>">
<h1>SEARCH RESULTS</h1>
<venda_block label=104,spell=null,sertotal=notnull>
	<div class="sh-mes1">We found <span class="red"><venda_sertotal></span> products besed on your search for "<span class="red"><venda_block label=444,query=notnull><venda_query></venda_block label=444><venda_block label=445,query=null>*</venda_block label=445></span>" Refine your search by using the following dropdown menus. </div>
</venda_block label=104>
<venda_block label=101,spell=notnull,sertotal=notnull>
	<p>Your search for "<span class="red"><venda_block label=102,catname=notnull><venda_catname> </venda_block label=102><venda_query></span>" returned no results. The closest match was "<span class="red"><venda_spell></span>".</p>
</venda_block label=101>

<venda_block label=2,sertotal=null,query=notnull>
	<p>Sorry, we currently have no records related to "<span class="red"><venda_block label=102,catname=notnull><venda_catname> </venda_block label=102><venda_query></span>" that match your search.</p>
</venda_block label=2>

<venda_block label=63,sertotal=null,query=null>
	<p>You did not enter any search keywords, please try again.</p>
</venda_block label=63>

<venda_block label=1,sertotal=notnull>
<!-- For refine by brand to work, $field{brand} must be inserted into the *.loc template (systems should do this) -->


<venda_block label=122,field_U=null>
<label for="brand" class="hide">Brand</label>
<select name="brand" id="brand" onchange="PassBrandValue();">
    <option value="" selected>By Brand</option>
	   <venda_detail4 field=brand,capitalize>
</select>
</venda_block label=122>
<venda_block label=123,field_U=notnull>
<script language="JavaScript">
	document.wizform.brand.options[document.wizform.brand.selectedIndex].selected = document.wizform.brand;
	document.wizform.brand.disabled = document.wizform.brand;
</script>
</venda_block label=123>
<!-- Your extended field must be set up in the control panel, with the Boolean field values filled in as 'E' - if you choose another value, you must replace the field 'E' in this template and in the two include templates. Search and replace 'pdxtfeature1' with your extended field's tag name throughout this template. The tag name must also be inserted as $field(tagname) in the *.loc template (systems should do this)-->
<venda_block label=126,field_C=null>
<label for="category" class="hide">By Category</label>
<select name="category" id="category" onchange="PassCategory();">
    <option value="" selected>By Category</option>
    <venda_detail2 field=name1,capitalize>
</select>
</venda_block label=126>
<venda_block label=127,field_C=notnull>

</venda_block label=127>
<venda_block label=555,field_maxprice=null>
<select name="maxp" id="maxp" onchange="Price();">
	<option value="">By Price</option>
	<option value="10.00" <venda_block label=125,field_maxprice=10.00>selected</venda_block label=125>>Under <venda_currsym>10.00</option>
	<option value="30.00" <venda_block label=127,field_maxprice=30.00>selected</venda_block label=127>>Under <venda_currsym>30.00</option>
	<option value="50.00" <venda_block label=129,field_maxprice=50.00>selected</venda_block label=129>>Under <venda_currsym>50.00</option>
	<option value="100.00" <venda_block label=134,field_maxprice=100.00>selected</venda_block label=134>>Under <venda_currsym>100.00</option>
</select>
</venda_block label=555>
<venda_block label=665,field_maxprice=notnull>

</venda_block label=665>


<p>
	PAGE <venda_pagenum> (<venda_detail3>) / VIEW ALL
</p>

<ul id="productlist">
	<venda_detail1>
</ul>


</form>
<script language="javascript">
j=0;
</script>

<p>
	PAGE <venda_pagenum> (<venda_detail3>) / VIEW ALL
</p>
</venda_block label=1>

<!-- tell productlistDetblock include that this is advanced search -->
<venda_tpxt mode=set,name=template,value=advancedsearch> 