<venda_detblock>
<li class="nav<venda_icatref1>"><a href="<venda_dispview icat=<venda_icatref1>>" class="mm_icat<venda_icatref1>"><venda_icatname1></a>
  <div class="mm_fullwidth">
  	<div class="mm_sub clearfix">
  		<venda_category rec=icat,ref=<venda_icatref1>,temp=catnavSubcategories,itemsperpage=100>
  		<div class="mmpromo">
  		  <venda_page page=mmd<venda_icatref1>>
  		</div>
  	</div>
	</div>
</li>
</venda_detblock>

<venda_block label=50,cattot!=>
<div class="mm_fullbar"></div>
<ul id="mm_ul" class="mm_ul">
	<venda_detail>
	<!--<li class="uocommunity-link"><a href="<venda_dispview scat=community>">Community</a></li>-->
	<li class="uoblog-link"><a href="http://blog.urbanoutfitters.co.uk/">Blog</a></li>
</ul>
</venda_block label=50>