<!-- SEARCHFLD - LEAVE BLANK ( "") IF YOU WANT TO SEARCH ALL FIELDS -->
<input type="hidden" name="searchfld" id="searchfld" value="">
<!-- SEARCHPAGE - HAVE A VALUE OF 1 IF YOU WANT TO SEARCH ALL PAGES -->
<input type="hidden" name="searchpage" id="searchpage" value="0">
<!-- SEARCHINVT - HAVE A VALUE OF 1 IF YOU WANT TO SEARCH ALL INVENTORY (PRODUCTS)-->
<input type="hidden" name="searchinvt" id="searchinvt" value="1">
<!-- SEARCHSTRY - HAVE A VALUE OF 1 IF YOU WANT TO SEARCH ALL STORIES-->
<input type="hidden" name="searchstry" id="searchstry" value="0">
<!-- SEARCHICAT - HAVE A VALUE OF 1 IF YOU WANT TO SEARCH ALL PRODUCT CATEGORIES-->
<input type="hidden" name="searchicat" id="searchicat" value="0">
<!-- SEARCHLIKE - HAVE A VALUE OF 1 IF YOU WANT YOUR SEARCH TO BE TRUNCATED-->
<input type="hidden" name="searchlike" id="searchlike" value="1">
<!-- ITEMS PER PAGE - SPECIFY THE AMOUNT OF RESULTS PER PAGE IN THE VALUE-->
<input type="hidden" name="itemsperpage" id="itemsperpage" value="12">
<!-- THRESHOLD - A HIGHER VALUE WILL MAKE YOUR SEARCH RESULTS MORE RELEVANT (PERCENTAGE 0-100)-->
<input type="hidden" name="threshold" id="threshold" value="1">
<input type="hidden" name="filtercat" id="filtercat" value="shop">
<!--CARRYFIELDS - ALLOWS VALUES TO BE REUSED ON RESULTS PAGE-->
<!-- if not using advanced search, U,V,E,F,minprice,maxprice can be removed  -->
<input type="hidden" name="carryfields" id="carryfields" value="U,V,C,F,catname,minprice,maxprice,sortname,sortprice,sortrelease>">
