<venda_tpcomment>
<!-- 
To do:
- consider removing orxfields
- remove delivery comment (known problems)
- make it single column
- tracking needs moving into own file
-->
</venda_tpcomment>

<venda_form>
	<input type="hidden" name="rfrfnbr" value="<venda_defaultrefer>">
	<input type="hidden" name="exgroup" value="all">

	<script type="text/javascript">
	<!-- 
	<venda_block label=71,usgrref=instore><venda_block label=72,mode=value,<venda_glxt mode=get,name=addsnotdone>=1>
	<venda_tpcomment>// this was an instore user who was not logged in before checking out: send back to fill in addresses</venda_tpcomment>
	location.href='<venda_codehttps>?ex=co_wizr-instore&bsref=<venda_bsref>&step=searchuser&param1=details';
	</venda_block label=72></venda_block label=71>
	numberAddresses=0;
	// -->
	</script>

	<div id="orderconfirmation">
	<div class="checkoutorcf">
		<h1 class="hide"><venda_text id=site.order_confirmation.heading></h1>
		<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>
		<venda_tpcomment><!-- Start: Package summary --></venda_tpcomment>

            <venda_tpcomment><!-- Start: Contact Details --></venda_tpcomment>
			<venda_tpcomment><!-- Remove the contact details box if the payment type is PayPal (ohpaytype=12) --></venda_tpcomment>
			<venda_block label=255,ohpaytype!=12>
			<div id="contactdetails" class="order-summary-box grid_6">
				<div class="OrderSummaryHdr"><venda_text id=site.order_confirmation.contact_details></div>
				
				<venda_inctemplate name=contactDetails,type=includes>
				
				<venda_block label=notinstore,workflow!=instore>
						<a href="#" class="button edit" onClick='<venda_wizbutton step=billto,mode=process,param1=show,param2=edit,callonly=yes> return false;'><venda_text id=site.button.edit_contact_details></a>
				</venda_block label=notinstore>

				<div class="order-summary-box-footer"></div>
			</div>
			</venda_block label=255>
		<venda_tpcomment><!-- End: Contact Details --></venda_tpcomment>

			<venda_inctemplate name=orderDetblocks,type=includes>
			<venda_detblock3>
                <li class="<venda_shipmethod>">
                    <div class="shipMethod">
                        <input type="radio" name="shipmethod_<venda_pkrfnbr>" data-track="change-delivery-option" value="<venda_shipmethod>" id="<venda_shipmethod>" <venda_block label=100,shipcheck=1>checked</venda_block label=100> onClick='Step2(wizform,"confirm","","<venda_pkrfnbr>","changerate","","","_self","")'>
                        <label for="<venda_shipmethod>"><venda_shipname></label>
                    </div>
                    <venda_page page=<venda_shipmethod>>
                </li>
            </venda_detblock3>

			<venda_detail1>

			<!-- orxfields grp3&4 -->
			<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,group=3,template=orxtSet,type=exfields/order>
			<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,group=4,template=orxtSet,type=exfields/order>

		<venda_tpcomment><!-- End: Package summary --></venda_tpcomment>
		<venda_tpcomment><!-- Start: Additional Services --></venda_tpcomment>
			<venda_tpcomment><!-- Promotion error display --></venda_tpcomment>
			<div class="waitMsg loadingImg" style="display:none"><span style="display:none"><venda_text id=site.message.apply_promotion_code></span><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/redesign/loading_spinner.gif" alt="Loading"></div>
        <venda_block label=88,flgft=0,realpktot&gt;0,operator=or>
            <div id="orderTotals" class="box order-summary-box">
            <div class="OrderSummaryHdr"><venda_text id=site.order_confirmation.order_totals></div>

			
			<div id="additionalservices" class="redeemPromotionCode">
			<div class="coupon">
				<venda_tpcomment><!-- Promotion code input --></venda_tpcomment>
				<div><venda_inctemplate name=mediacodeinput,type=wizr/wz_orsc-screen></div>
				<venda_tpcomment><!-- Promotion code display --></venda_tpcomment>
				<venda_inctemplate name=mediacode,type=wizr/wz_orsc-screen>
			</div>
			<div id="ajax-error"></div>
			<venda_tpcomment><!-- Start: Promotions --></venda_tpcomment>
			<venda_detblock9>
				<div class="promotionItem"><venda_codesc></div>
				<venda_tpcomment><!-- Comment out the 'estimated discount' shows to three decimal places but the same promotion shows correctly on order summary to two decimal places.
				(-<venda_currsym><venda_coamt>)--></venda_tpcomment>
				<venda_tpcomment><!-- Comment out the ability to remove promotions as per RT#162128:
				<a href="?ex=co_wizr-shopcart&curstep=handle_vouchercode&step=handle_vouchercode&mode=process&action=delete"><venda_text id=site.order_confirmation.promotion_delete></a-->
				</venda_tpcomment>
			</venda_detblock9>

			<venda_block label=3,ohcodisc&gt;0,accdisc&gt;0,operator=or>
				<div id="promotions" class="promotionsBar">
					<h2 class="header"><venda_text id=site.order_confirmation.promotions_included></h2>
					<venda_detail9>
					<!-- <p>Your order includes <venda_currsym><venda_ohcodisc> voucher</p> -->
					<venda_block label=5,accdisc&gt;0><p><venda_text id=site.order_confirmation.accessory_discount></p></venda_block label=5>
				</div>
			</venda_block label=3>
			<venda_tpcomment><!-- End: Promotions --></venda_tpcomment>
		
			</div>

            <venda_tpcomment><!-- Start: Order summary --></venda_tpcomment>
            <div id="orderTotalsTable" class="box order-summary-box">
	            <div class="OrderSummaryHdr"><venda_text id=site.order_receipt.order_details></div>
	            <venda_inctemplate name=orderSummary,type=includes>
                <div class="order-summary-box-footer"></div>
	        </div>

			<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,group=5,template=orxtSet,type=exfields/order>
			<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,group=6,template=orxtSet,type=exfields/order>
		<venda_tpcomment><!-- End: Order summary --></venda_tpcomment>

            <div class="order-summary-box-footer"></div>
            </div>
            <div class="formSeparator"></div>
        </venda_block label=88>
		<venda_tpcomment><!-- End: Additional Services --></venda_tpcomment>
		

					
		<div id="deliveryrateMessage" class="hide"><venda_block label=14,realpktot&gt;1><venda_block label=15,ohship&gt;0.00><venda_text id=site.order_confirmation.js_validation.delivery_charge></venda_block label=15></venda_block label=14></div>
		<script type="text/javascript">
		var deliveryrateMessage = document.getElementById('deliveryrateMessage');
        if (deliveryrateMessage.innerHTML!=" " && deliveryrateMessage.innerHTML!="") {
            jQuery('#deliveryrateMessage').dialog({
                modal: true
            });
            jQuery(".ui-icon-closethick").hide();
		}
		</script>
		<div class="formSeparator"></div> 

		<div id="paymentdetailSection" class="box order-summary-box">
        <div class="OrderSummaryHdr"><venda_text id=site.order_confirmation.payment_details></div>
		<div class="paymentdetail boxContent clearfix">
		<venda_block label=181,flgft=0>
		<div class="redeemgift">
			<venda_tpcomment><!-- Start: the gift certificate field can be entered directly on the page --></venda_tpcomment>
			<label for="giftcode"><venda_text id=site.order_confirmation.redeem_gift_certificate></label>
			<input id="giftcode" type="text" name="giftcode" size="20" value="" class="textInput" />
			<input type="button" id="applyCode" class="button" value="<venda_text id=site.button.apply>" data-track="apply-gift-certificate" onclick="Venda.Ebiz.validateGiftcode('wizform','<venda_text id=site.redeem_giftcertificate_code.js_validation.enter_code>'); return false;">
			<venda_tpcomment><!-- End: the gift certificate field can be entered directly on the page --></venda_tpcomment>
		</div>
		<div class="formSeparator"></div> 
		</venda_block label=181>
		<venda_tpcomment><!-- Start: Payment Details --></venda_tpcomment>
			<venda_tpcomment><!-- showpayments is null when the user has store credit that is greater than the value of the order total. In this case store credit (ohpaytype 4) will be the payment method used automatically and there will be no payment --></venda_tpcomment>
			<venda_block label=11,showpayments=notnull>
			<venda_paymenttypes templatetype=paytype/frontend,template=paymenttypes_entry,ohrfnbr=<venda_ohrfnbr>,entry=1>
			</venda_block label=11>
		<venda_tpcomment><!-- End: Payment Details --></venda_tpcomment>
		</div>
        <div class="order-summary-box-footer"></div>
		<!-- Start: terms and conditions agreement -->
		<div class="tandc"><input name="tandc" id="tandc" value="1" type="checkbox"> <label for="tandc"><venda_text id=site.order_confirmation.terms_and_conditions> <a href="<venda_dispview page=termsandconditions>" rel="popup console 550 450" target="_blank" title="<venda_text id=site.order_confirmation.terms_and_conditions.title>"><venda_text id=site.order_confirmation.terms_and_conditions.link></a><venda_text id=site.order_confirmation.terms_and_conditions.fullstop></label></div>
		<!-- End: terms and conditions agreement -->
		</div>
			<script type="text/javascript">
			function tandcCheck(){
				if (document.wizform.ohpaytype[0].checked && document.wizform.ohccnum.value == "") {
					alert("<venda_text id=cc_no_required>");
					return;
				}
				if (document.wizform.ohpaytype[0].checked && document.wizform.ohccname.value == "") {
					alert("<venda_text id=ccholder_required>");
					return;
				}
				if (document.wizform.ohpaytype[0].checked == false && document.wizform.ohpaytype[1].checked == false) {
					alert("<venda_text id=paymenttype_required>");
					return;
				}
				if (!document.wizform.tandc.checked) {
					alert("<venda_text id=site.order_confirmation.terms_and_conditions.validation>");
					return;
				}
				<venda_wizbutton step=payment,mode=process,param1=process,check=yes,callonly=yes>
			}
			</script>
		<venda_tpcomment><!-- Start: JS Buttons --></venda_tpcomment>
			<div id="buttons" class="bottomButtons">
			<venda_block label=1555,workflow!=instore><a class="button continue" href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><venda_text id=site.button.back_to_basket></a></venda_block label=1555>
			<input type="submit" onClick='<venda_block label=256,mode=value,<venda_setting type=ebiz,name=tracktagvbm>=1>Venda.Widget.VBM.SetCheck(); </venda_block label=256> tandcCheck();return false;' value="<venda_text id=site.button.place_order>" class="button placeOrder">
			</div>
			<p class="paymentInstructions"><venda_text id=site.order_confirmation.final_step></p>		
		<venda_tpcomment><!-- End: JS Buttons --></venda_tpcomment>
	</div>
	</div>
</form>

<venda_block label=20,workflow=instore><venda_tpxt mode=set,name=instore,value=1></venda_block label=20>
<venda_tpxt mode=set,name=track,value=ordersummary>
<div style="display:none;" class="orfn-order-sum">
<div style="display:none;" class="orderid"><venda_ohordnum></div>
<div style="display:none;" class="orderdiscount"><venda_ohdisc></div>
<div style="display:none;" class="ordersubtotal"><venda_ohsub></div>
<div style="display:none;" class="ordershipping"><venda_ohship></div>
<div style="display:none;" class="ordertax"><venda_block label=1220,ohtaxinc=0.00><venda_ohtax></venda_block label=1220><venda_block label=1221,ohtax=0.00><venda_ohtaxinc></venda_block label=1221></div>
<div style="display:none;" class="orderpaymenttype"><venda_ohcctype></div>
<div style="display:none;" class="ordertotal"><venda_ohtot></div>
<div style="display:none;" class="customeremail"><venda_ohemail></div>
</div>
<!-- 
workflow: <venda_workflow>
step: <venda_curstep>
param1: <venda_param1>
param2: <venda_param2>
page: wz_orcf-screen.html
 -->
<venda_tpxt mode=set,name=track,value=orcf-screen> 
<venda_inctemplate name=hbxlocalvars1,type=includes/tracking>
<venda_inctemplate name=hitboxOrcf,type=includes/tracking>
<venda_inctemplate name=cmCreateRegistrationTag,type=includes/tracking/coremetrics>
<venda_inctemplate name=mycouponsSetCookie,type=includes/tracking/mycoupons>
