<venda_block label=45,invtpublish=1>
<venda_block label=78,invtref!=giftcert>
<!-- &bklist= is needed for search product list -->
<!-- Debug venda_bklist  : <venda_bklist> -->
<!-- Debug venda_bklist1 : <venda_bklist1> -->
<div class="imageUrl" style="display:none;"><venda_entmediaadd>/ebiz/<venda_bsref>/invt/</div>
<div id="comp-image<venda_invtref>" class="image">
	<a class="moredetail" href="<venda_dispview invt=<venda_invtref>>" id="<venda_invtref>" data-defaultImage="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/noimage_sm.jpg">
		    <venda_block label=4,med-setsmall=notnull>
		        <venda_media rec=invt,type=movie-swf-pict,key=setsmall,width=145,height=218>
		    </venda_block label=4>
		    <venda_block label=44,med-setsmall=null>
		        <venda_media rec=invt,type=movie-swf-pict,key=small,width=145,height=218>
		    </venda_block label=44>
		    <venda_block label=5,med-small=null>
		        <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/noimage_s.jpg" alt="<venda_invtname1>" title="<venda_invtname>" border="0" width="145px" height="218px">
		    </venda_block label=5>
		</a>
		<venda_block label=510,invtavail&gt;0>
		<div class="quickLinkBox"><a href="<venda_dispview invt=<venda_invtref>>&temp=quickBuyDetailsNew&layout=blank" id="<venda_invtref>" class="quickBuyDetails" data-track="open-quickbuy">Quick View</a></div>	
		</venda_block label=510>	
		<venda_mediagrid template=colourSwatch>		
	</div>

<div class="productlistinfo">
<span style="display:none;" class="productSku"><venda_invtref></span>
<p class="productname"><venda_invtname></p>
<venda_block label=10,invtatrtot&lt;1>
<!-- if product doesn't have attributes -->
	<venda_block label=11,invtsavingonwas=notnull,invtwas!=0.00,invtwas&gt;invtsell>
		<p class="price"><span class="saleprice"><venda_currsym><venda_invtsell></span><span class="wasprice">(was <venda_currsym><venda_invtwas>)</span></p>
	</venda_block label=11>
	
	<venda_block label=101,invtsavingonwas=null,invtwas1=0.00,invtwas&lt;=invtsell,operator=or>
		<p class="price"><venda_currsym><venda_invtsell></p>
	</venda_block label=101>
</venda_block label=10>
<venda_block label=20,invtatrtot&gt;0>
<!-- if product does have attributes -->
	<venda_block label=555,mode=value,<venda_invtatrmaxsubwas>=0.00,<venda_invtatrmaxsubwas>&lt;<venda_invtatrmaxsubsell>,<venda_invtatrmaxsubwas>=<venda_invtatrmaxsubsell>,operator=or><!-- if product doesn't have was price-->
		<venda_block label=211,mode=value,<venda_invtatrmaxsubsell>=<venda_invtatrminsubsell>>
			<p class="price"><venda_currsym><venda_invtatrmaxsubsell></p>
		</venda_block label=211>
		<venda_block label=221,mode=value,<venda_invtatrmaxsubsell>&gt;<venda_invtatrminsubsell>>
			<p class="price"><venda_currsym><venda_invtatrminsubsell> - <venda_currsym><venda_invtatrmaxsubsell></p>
		</venda_block label=221>
	</venda_block label=555>
	<venda_block label=666,mode=value,<venda_invtatrmaxsubwas>&gt;0.00,<venda_invtatrmaxsubwas>&gt;<venda_invtatrmaxsubsell>,operator=and><!-- if product does have was price -->
		<p class="price">
        <span class="saleprice">
			<venda_block label=211,mode=value,<venda_invtatrmaxsubsell>=<venda_invtatrminsubsell>>
				<venda_currsym><venda_invtatrmaxsubsell>
			</venda_block label=211>
			<venda_block label=221,mode=value,<venda_invtatrmaxsubsell>&gt;<venda_invtatrminsubsell>>
				<venda_currsym><venda_invtatrminsubsell> - <venda_currsym><venda_invtatrmaxsubsell>
			</venda_block label=221>
		</span>
        <span class="wasprice">(was <venda_currsym><venda_invtatrmaxsubwas>)</span>
		</p>
	</venda_block label=666>
</venda_block label=20>
<venda_block label=323,pdxtboutiqueimg=1><img class="boutique-pdxt" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/boutique-pdxt.png"/></venda_block label=323>
<venda_block label=55,pdxtonlinexcl=1><img class="online-pdxt" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/online-exclusive-pdxt.png"/></venda_block label=55>
</div>
<venda_block label=30,invtavail&gt;0,invtatrtot&lt;1>
<!-- if in stock and product doesn't have attributes -->
<venda_block label=43,mode=value,<venda_tpxt mode=get,name=template>!=advancedsearch>
<!-- generic advanced search uses compare form which this clashes with-->
<form name="form<venda_invtref>" action="<venda_codehttp>" method="get">
<input type="hidden" name="bsref" value="<venda_bsref>">
<input type="hidden" name="log" value="22">
<input type="hidden" name="mode" value="add">
<!-- "ex" sends user to basket if "co_wizr-shopcart" - or leaves on current page if "co_disp-shopc" -->
<!-- will leave on current page by default - "Buy Now" button changes "ex" value and sends to basket (unless js disabled) -->
<input type="hidden" name="ex" value="co_disp-shopc">
<!-- "buy" defines sku to add if "ex" is "co_disp-shopc" -->
<input type="hidden" name="buy" value="<venda_invtref1>">
<!-- "ivref" defines sku to add if "ex" is "co_wizr-shopcart" -->
<input type="hidden" name="ivref" value="<venda_invtref1>">
</venda_block label=43>
<venda_block label=61,mode=value,<venda_tpxt mode=get,name=template>=standardsearch>
<input type="hidden" name="curpage" value="search">
<input type="hidden" name="next" value="search">
<input type="hidden" name="param1" value="<venda_param1>">
<!-- Pass through all search fields -->
<venda_inctemplate name=searchFields,type=includes>
<!-- original search query below -->
<input type="hidden" name="searchexorigional" value="<venda_block label=111,mode=value,<venda_query>=notnull><venda_query></venda_block label=111>">
<input type="hidden" name="searchargs" value="<venda_block label=112,mode=value,<venda_query>=notnull><venda_query></venda_block label=112>">
<!-- values from carryfields below -->
<input type="hidden" name="sortname" id="sortname" value="<venda_block label=113,mode=value,<venda_field_sortname>=notnull><venda_field_sortname></venda_block label=113>">
<input type="hidden" name="sortprice" id="sortprice" value="<venda_block label=114,mode=value,<venda_field_sortprice>=notnull><venda_field_sortprice></venda_block label=114>">
<input type="hidden" name="sortrelease" id="sortrelease" value="<venda_block label=115,mode=value,<venda_field_sortrelease>=notnull><venda_field_sortrelease></venda_block label=115>">
</venda_block label=61>
<venda_block label=23,mode=value,<venda_tpxt mode=get,name=template>!=searchproductlist>
<!-- "icat" defines next step if "ex" is "co_disp-shopc" (sends to home page without this field) - could be set to send to any invt or page instead -->
<!-- this parameter is not needed on the search product list -->
<venda_block label=21,mode=value,<venda_tpxt mode=get,name=template>!=categorylist>
<input type="hidden" name="icat" value="<venda_icatref>">
</venda_block label=21>
<venda_block label=22,mode=value,<venda_tpxt mode=get,name=template>=categorylist>
<!-- category list does not have venda_icatref tag, so need to use cattree -->
<input type="hidden" name="icat" value="<venda_cattree index=1,value=catref>">
<input type="hidden" name="bklist" value="<venda_bklist>">
</venda_block label=22>
</venda_block label=23>
<venda_block label=24,mode=value,<venda_tpxt mode=get,name=template>=searchproductlist>
<!-- parameters for search product list -->
<input type="hidden" name="curpage" value="search">
<input type="hidden" name="next" value="search">
<input type="hidden" name="xptpl" value="wz_xapian_productlist">
<input type="hidden" name="bklist" value="<venda_bklist>">
<input type="hidden" name="filtercat" value="<venda_cattree index=-1,value=catref>">
<input type="hidden" name="param1" value="<venda_param1>">
</venda_block label=24>
<venda_block label=44,mode=value,<venda_tpxt mode=get,name=template>!=advancedsearch>
</form>
</venda_block label=44>


</venda_block label=30>
<venda_block label=104,invtsell2=notnull>
<p>Multiple-buy savings</p>
</venda_block label=104>
</venda_block label=78>
</venda_block label=45>

<venda_block label=79,invtref=giftcert>
<a href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>&bklist=icat,3,shop,home"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/noimage_sm.jpg" alt="<venda_invtname>" title="<venda_invtname>" border="0"></a>
<div>
	<p><strong><venda_invtname></strong></p>
	<p class="darkgray">
	    <venda_block label=35,invtatrminsubsell&gt;0.00><venda_currsym><venda_invtatrminsubsell> - <venda_invtatrmaxsubsell></venda_block label=35>
	    <venda_block label=36,invtatrminsubsell=0.00><venda_invtsymsell></venda_block label=36>
	</p>
</div>
</venda_block label=79>